Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml

Make error resposne format consistent
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
Labels: VisualCSharp, Test

Support compact logging of verbose requests/responses
  GetIntoTeachingApi/Middleware/IRequestResponseLoggingConfiguration.cs
  GetIntoTeachingApi/Middleware/RequestResponseLoggingConfiguration.cs
  GetIntoTeachingApi/Middleware/RequestResponseLoggingMiddleware.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Middleware/RequestResponseLoggingConfigurationTests.cs
  GetIntoTeachingApiTests/Middleware/RequestResponseLoggingMiddlewareTests.cs
Labels: VisualCSharp, Test

Support compact logging of verbose requests/responses
  GetIntoTeachingApi/Middleware/IRequestResponseLoggingConfiguration.cs
  GetIntoTeachingApi/Middleware/RequestResponseLoggingConfiguration.cs
  GetIntoTeachingApi/Middleware/RequestResponseLoggingMiddleware.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Middleware/RequestResponseLoggingConfigurationTests.cs
  GetIntoTeachingApiTests/Middleware/RequestResponseLoggingMiddlewareTests.cs
Labels: VisualCSharp, Test

Log postcode when we query Google Geocoding API
  GetIntoTeachingApi/Adapters/GeocodeClientAdapter.cs
Labels: VisualCSharp

Log postcode when we query Google Geocoding API
  GetIntoTeachingApi/Adapters/GeocodeClientAdapter.cs
Labels: VisualCSharp

Increase HighNotFound alert threshold
  monitoring/prometheus/alert.rules
Labels: Monitoring

Increase HighNotFound alert threshold
  monitoring/prometheus/alert.rules
Labels: Monitoring

In-memory cache postcodes that can't be geocoded
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

In-memory cache postcodes that can't be geocoded
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Moving to GHCR from Dockerhub
  .github/common_environment.yml
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
  terraform/paas/application.tf
  terraform/paas/data.tf
Labels: DevOps

Moving to GHCR from Dockerhub (#605)
  .github/common_environment.yml
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
  terraform/paas/application.tf
  terraform/paas/data.tf
Labels: DevOps

Moving to GHCR from Dockerhub (#605)
  .github/common_environment.yml
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
  terraform/paas/application.tf
  terraform/paas/data.tf
Labels: DevOps

Adding Deployments Dashboard
  monitoring/grafana/dashboards/deployments.yml
Labels: Monitoring

Adding Deployments Dashboard (#606)
  monitoring/grafana/dashboards/deployments.yml
Labels: Monitoring

Adding Deployments Dashboard (#606)
  monitoring/grafana/dashboards/deployments.yml
Labels: Monitoring

Allow overseas candidates to schedule a callback
  GetIntoTeachingApi/Models/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Allow overseas candidates to schedule a callback
  GetIntoTeachingApi/Models/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Update read-only queries to non-tracking
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

Update read-only queries to non-tracking
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

Run Books Added
  docs/runbooks/client-approaching-rate-limit.md
  docs/runbooks/client-approaching-rate-limit_create-access-token.md
  docs/runbooks/failed-jobs.md
  docs/runbooks/google-api-errors.md
  docs/runbooks/high-cpu.md
  docs/runbooks/high-database-connections.md
  docs/runbooks/high-google-api-calls.md
  docs/runbooks/high-memory.md
  docs/runbooks/too-many-requests.md
  monitoring/prometheus/tests.yml
Labels: Monitoring

wip
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

wip
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

wip
  GetIntoTeachingApi/Models/BaseModel.cs
Labels: VisualCSharp

wip
  GetIntoTeachingApi/Models/BaseModel.cs
Labels: VisualCSharp

wip
  GetIntoTeachingApi/Models/BaseModel.cs
Labels: VisualCSharp

wip
  GetIntoTeachingApi/Models/BaseModel.cs
Labels: VisualCSharp

wip
  GetIntoTeachingApi/Models/BaseModel.cs
Labels: VisualCSharp

wip
  GetIntoTeachingApi/Models/BaseModel.cs
Labels: VisualCSharp

dont run if dependabot
  .github/workflows/trello.yml
Labels: DevOps

dont run if dependabot
  .github/workflows/trello.yml
Labels: DevOps

Update Cloud Foundry Provider Version
  terraform/paas/provider.tf
Labels: DevOps

Update Cloud Foundry Provider Version (#612)
  terraform/paas/provider.tf
Labels: DevOps

Update Cloud Foundry Provider Version (#612)
  terraform/paas/provider.tf
Labels: DevOps

Fix engagement elasticsearch queries
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

Fix engagement elasticsearch queries
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

Run Books Added (#609)
  docs/runbooks/client-approaching-rate-limit.md
  docs/runbooks/client-approaching-rate-limit_create-access-token.md
  docs/runbooks/failed-jobs.md
  docs/runbooks/google-api-errors.md
  docs/runbooks/high-cpu.md
  docs/runbooks/high-database-connections.md
  docs/runbooks/high-google-api-calls.md
  docs/runbooks/high-memory.md
  docs/runbooks/too-many-requests.md
  monitoring/prometheus/tests.yml
Labels: Monitoring

Run Books Added (#609)
  docs/runbooks/client-approaching-rate-limit.md
  docs/runbooks/client-approaching-rate-limit_create-access-token.md
  docs/runbooks/failed-jobs.md
  docs/runbooks/google-api-errors.md
  docs/runbooks/high-cpu.md
  docs/runbooks/high-database-connections.md
  docs/runbooks/high-google-api-calls.md
  docs/runbooks/high-memory.md
  docs/runbooks/too-many-requests.md
  monitoring/prometheus/tests.yml
Labels: Monitoring

Create index.md
  docs/runbooks/index.md
Labels: none

Create index.md
  docs/runbooks/index.md
Labels: none

Set theme jekyll-theme-tactile
  docs/_config.yml
Labels: none
