Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApi/**/*.cs'

Test:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApiTests/**/*'

Monitoring:
- changed-files:
  - any-glob-to-any-file: 'monitoring/**/*'

DevOps:
- changed-files:
  - any-glob-to-any-file: 'terraform/**/*'
  - any-glob-to-any-file: '.github/**/*.yml'

Docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: 'docker-compose.yml'

Some naming changes
  GetIntoTeachingApi/Models/Crm/DomainServices/Common/Extensions/ChainEvaluationHandlerExtensions.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/DegreeStatusDomainServiceTests.cs
Labels: VisualCSharp, Test

Fixed merge issues on .net 8 upgrade
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
Labels: VisualCSharp

Update pull_request.yml
  .github/workflows/pull_request.yml
Labels: DevOps

Update sonarcloud.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Update ApiClientHandlerTests.cs
  GetIntoTeachingApiTests/Auth/ApiClientHandlerTests.cs
Labels: Test

Modified ApiClientHandlerTests to not use add to append headers
  GetIntoTeachingApiTests/Auth/ApiClientHandlerTests.cs
Labels: Test

So/7343 update .net version in git api (#1499)
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
  Dockerfile
  GetIntoTeachingApi/Adapters/NotificationClientAdapter.cs
  GetIntoTeachingApi/AppStart/ResponseHeaders.cs
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Auth/ApiClientHandler.cs
  GetIntoTeachingApi/Auth/HangfireDashboardEnvironmentAuthorizationFilter.cs
  GetIntoTeachingApi/Database/DbConfiguration.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApi/Mocks/MockModel.cs
  GetIntoTeachingApi/ModelBinders/TrimStringModelBinder.cs
  GetIntoTeachingApi/ModelBinders/TrimStringModelBinderProvider.cs
  GetIntoTeachingApi/Models/Crm/BaseModel.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/RateLimiting/ApiClientResolveContributor.cs
  GetIntoTeachingApi/Redis/RedisConfiguration.cs
  GetIntoTeachingApi/Services/CallbackBookingService.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApi/Services/ClientManager.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Utils/BombFoundException.cs
  GetIntoTeachingApiTests/Auth/ApiClientHandlerTests.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Models/Crm/BaseModelTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test, DevOps, Docker

So/7343 update .net version in git api (#1499)
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
  Dockerfile
  GetIntoTeachingApi/Adapters/NotificationClientAdapter.cs
  GetIntoTeachingApi/AppStart/ResponseHeaders.cs
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Auth/ApiClientHandler.cs
  GetIntoTeachingApi/Auth/HangfireDashboardEnvironmentAuthorizationFilter.cs
  GetIntoTeachingApi/Database/DbConfiguration.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApi/Mocks/MockModel.cs
  GetIntoTeachingApi/ModelBinders/TrimStringModelBinder.cs
  GetIntoTeachingApi/ModelBinders/TrimStringModelBinderProvider.cs
  GetIntoTeachingApi/Models/Crm/BaseModel.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/RateLimiting/ApiClientResolveContributor.cs
  GetIntoTeachingApi/Redis/RedisConfiguration.cs
  GetIntoTeachingApi/Services/CallbackBookingService.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApi/Services/ClientManager.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Utils/BombFoundException.cs
  GetIntoTeachingApiTests/Auth/ApiClientHandlerTests.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Models/Crm/BaseModelTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test, DevOps, Docker

wip
  GetIntoTeachingApi/Models/Crm/ContactChannelCreation.cs
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
Labels: VisualCSharp

wip
  GetIntoTeachingApi/Models/Crm/ContactChannelCreation.cs
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
Labels: VisualCSharp

Revert "Merge pull request #1497 from DFE-Digital/apply-candidate-channel-creation"
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Jobs/ContactChannelCandidateWrapper.cs
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_no_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Jobs/ApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/ContactChannelCandidateWrapperTests.cs
Labels: VisualCSharp, Test

Revert "Merge pull request #1497 from DFE-Digital/apply-candidate-channel-creation"
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Jobs/ContactChannelCandidateWrapper.cs
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_no_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Jobs/ApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/ContactChannelCandidateWrapperTests.cs
Labels: VisualCSharp, Test

rollback creation channels
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/ContactChannelCreation.cs
  GetIntoTeachingApi/Models/Crm/ICreateContactChannel.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/ContactChannelCreationValidator.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/GetIntoTeachingCallback.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
  GetIntoTeachingApiTests/Models/Crm/ContactChannelCreationTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ContactChannelCreationValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/GetIntoTeachingCallbackTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/GetIntoTeachingCallbackValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/MailingListAddMemberValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidatorTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/SchoolsExperienceSignUpValidatorTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

rollback creation channels
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/ContactChannelCreation.cs
  GetIntoTeachingApi/Models/Crm/ICreateContactChannel.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/ContactChannelCreationValidator.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/GetIntoTeachingCallback.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
  GetIntoTeachingApiTests/Models/Crm/ContactChannelCreationTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ContactChannelCreationValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/GetIntoTeachingCallbackTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/GetIntoTeachingCallbackValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/MailingListAddMemberValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidatorTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/SchoolsExperienceSignUpValidatorTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

Revert "Merge pull request #1500 from DFE-Digital/rollback-creation-channels"
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Jobs/ContactChannelCandidateWrapper.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/ContactChannelCreation.cs
  GetIntoTeachingApi/Models/Crm/ICreateContactChannel.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/ContactChannelCreationValidator.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/GetIntoTeachingCallback.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_no_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Jobs/ApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/ContactChannelCandidateWrapperTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
  GetIntoTeachingApiTests/Models/Crm/ContactChannelCreationTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ContactChannelCreationValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/GetIntoTeachingCallbackTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/GetIntoTeachingCallbackValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/MailingListAddMemberValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidatorTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/SchoolsExperienceSignUpValidatorTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

Revert "Merge pull request #1500 from DFE-Digital/rollback-creation-channels"
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Jobs/ContactChannelCandidateWrapper.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/ContactChannelCreation.cs
  GetIntoTeachingApi/Models/Crm/ICreateContactChannel.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/ContactChannelCreationValidator.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/GetIntoTeachingCallback.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_no_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Jobs/ApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/ContactChannelCandidateWrapperTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
  GetIntoTeachingApiTests/Models/Crm/ContactChannelCreationTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ContactChannelCreationValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/GetIntoTeachingCallbackTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/GetIntoTeachingCallbackValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/MailingListAddMemberValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidatorTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/SchoolsExperienceSignUpValidatorTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

Update get into teaching api workflows to use ga wif
  .github/workflows/actions/deploy_v2/action.yml
  .github/workflows/build-and-deploy.yml
  .github/workflows/build-no-cache.yml
  .github/workflows/manual.yml
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/trello.yml
  Makefile
  README.md
  global_config/development.sh
  global_config/production.sh
  global_config/test.sh
  terraform/aks/.terraform.lock.hcl
  terraform/aks/config/development.tfvars.json
  terraform/aks/config/production.tfvars.json
  terraform/aks/config/test.tfvars.json
  terraform/aks/provider.tf
  terraform/aks/variables.tf
Labels: DevOps

WIP - test build-out
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/CurrentYearProvider.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferAlreadyHasDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/ICurrentYearProvider.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/IDegreeStatusDomainService.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferAlreadyHasDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFinalYearOfDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFirstYearOfDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferHasDegreeCandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferSecondYearOfDegreeTests.cs
Labels: VisualCSharp, Test

WIP - test build-out
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/CurrentYearProvider.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferAlreadyHasDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/ICurrentYearProvider.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/IDegreeStatusDomainService.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferAlreadyHasDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFinalYearOfDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFirstYearOfDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferHasDegreeCandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferSecondYearOfDegreeTests.cs
Labels: VisualCSharp, Test

Update get into teaching api workflows to use ga wif
  .github/workflows/actions/deploy_v2/action.yml
  .github/workflows/build-and-deploy.yml
  .github/workflows/build-no-cache.yml
  .github/workflows/manual.yml
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/trello.yml
  Makefile
  README.md
  global_config/development.sh
  global_config/production.sh
  global_config/test.sh
  terraform/aks/.terraform.lock.hcl
  terraform/aks/config/development.tfvars.json
  terraform/aks/config/production.tfvars.json
  terraform/aks/config/test.tfvars.json
  terraform/aks/provider.tf
  terraform/aks/variables.tf
Labels: DevOps

Update get into teaching api workflows to use ga wif
  .github/workflows/actions/deploy_v2/action.yml
  .github/workflows/build-and-deploy.yml
  .github/workflows/build-no-cache.yml
  .github/workflows/manual.yml
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/trello.yml
  Makefile
  README.md
  global_config/development.sh
  global_config/production.sh
  global_config/test.sh
  terraform/aks/.terraform.lock.hcl
  terraform/aks/config/development.tfvars.json
  terraform/aks/config/production.tfvars.json
  terraform/aks/config/test.tfvars.json
  terraform/aks/provider.tf
  terraform/aks/variables.tf
Labels: DevOps

Update get into teaching api workflows to use ga wif
  .github/workflows/build-and-deploy.yml
Labels: DevOps

Update get into teaching api workflows to use ga wif
  .github/workflows/build-and-deploy.yml
Labels: DevOps

Update get into teaching api workflows to use ga wif
  .github/workflows/build-and-deploy.yml
Labels: DevOps

Update get into teaching api workflows to use ga wif
  .github/workflows/build-and-deploy.yml
Labels: DevOps

Update get into teaching api workflows to use ga wif
  .github/workflows/build-and-deploy.yml
Labels: DevOps

Update get into teaching api workflows to use ga wif
  .github/workflows/build-and-deploy.yml
Labels: DevOps

Update get into teaching api workflows to use ga wif
  .github/workflows/build-and-deploy.yml
Labels: DevOps

Update get into teaching api workflows to use ga wif
  .github/workflows/build-and-deploy.yml
Labels: DevOps

Update get into teaching api workflows to use ga wif
  .github/workflows/build-and-deploy.yml
Labels: DevOps

Update get into teaching api workflows to use ga wif
  .github/workflows/build-and-deploy.yml
Labels: DevOps

Update get into teaching api workflows to use ga wif
  .github/workflows/build-and-deploy.yml
Labels: DevOps

Update get into teaching api workflows to use ga wif
  .github/workflows/build-and-deploy.yml
Labels: DevOps

Update get into teaching api workflows to use ga wif
  .github/workflows/actions/deploy_v2/action.yml
  .github/workflows/build-and-deploy.yml
  .github/workflows/build-no-cache.yml
  .github/workflows/manual.yml
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/trello.yml
  Makefile
  README.md
  global_config/development.sh
  global_config/production.sh
  global_config/test.sh
  terraform/aks/.terraform.lock.hcl
  terraform/aks/config/development.tfvars.json
  terraform/aks/config/production.tfvars.json
  terraform/aks/config/test.tfvars.json
  terraform/aks/provider.tf
  terraform/aks/variables.tf
Labels: DevOps

Added tests for the degree status evaluation handlers
  GetIntoTeachingApi/Models/Crm/DomainServices/CompositionRoot.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/CurrentYearProvider.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/DegreeStatus.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/DegreeStatusDomainService.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/DegreeStatusInferenceRequest.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferAlreadyHasDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFinalYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFirstYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferSecondYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/GraduationYear.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/IDegreeStatusDomainService.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/Readme.txt
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferAlreadyHasDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFinalYearOfDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFirstYearOfDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferSecondYearOfDegreeTests.cs
Labels: VisualCSharp, Test

Added tests for the degree status evaluation handlers
  GetIntoTeachingApi/Models/Crm/DomainServices/CompositionRoot.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/CurrentYearProvider.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/DegreeStatus.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/DegreeStatusDomainService.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/DegreeStatusInferenceRequest.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferAlreadyHasDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFinalYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFirstYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferSecondYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/GraduationYear.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/IDegreeStatusDomainService.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/Readme.txt
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferAlreadyHasDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFinalYearOfDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFirstYearOfDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferSecondYearOfDegreeTests.cs
Labels: VisualCSharp, Test

Added some missing whitespace to the composition root.
  GetIntoTeachingApi/Models/Crm/DomainServices/CompositionRoot.cs
Labels: VisualCSharp

Added some missing whitespace to the composition root.
  GetIntoTeachingApi/Models/Crm/DomainServices/CompositionRoot.cs
Labels: VisualCSharp

Fixed tests
  GetIntoTeachingApi/Controllers/GetIntoTeaching/TeachingEventsController.cs
  GetIntoTeachingApi/Models/Crm/CandidateQualification.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatus.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/DegreeStatusDomainServiceTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferAlreadyHasDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFinalYearOfDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFirstYearOfDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferSecondYearOfDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/TestDoubles/ChainEvaluationHandlerStub.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TestDoubles/CurrentYearProviderTestDouble.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TestDoubles/DegreeStatusDomainServiceTestDouble.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidatorTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Fixed tests
  GetIntoTeachingApi/Controllers/GetIntoTeaching/TeachingEventsController.cs
  GetIntoTeachingApi/Models/Crm/CandidateQualification.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatus.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/DegreeStatusDomainServiceTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferAlreadyHasDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFinalYearOfDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFirstYearOfDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferSecondYearOfDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/TestDoubles/ChainEvaluationHandlerStub.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TestDoubles/CurrentYearProviderTestDouble.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TestDoubles/DegreeStatusDomainServiceTestDouble.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidatorTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test
