Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApi/**/*.cs'

Test:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApiTests/**/*'

Monitoring:
- changed-files:
  - any-glob-to-any-file: 'monitoring/**/*'

DevOps:
- changed-files:
  - any-glob-to-any-file: 'terraform/**/*'
  - any-glob-to-any-file: '.github/**/*.yml'

Docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: 'docker-compose.yml'

Added strongly typed object for add member degree status return type.
  GetIntoTeachingApi/Controllers/GetIntoTeaching/MailingListController.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DegreeStatusResponse.cs
Labels: VisualCSharp

Added a degree status response object to the add mailing list POST response
  GetIntoTeachingApi/Controllers/GetIntoTeaching/MailingListController.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DegreeStatusResponse.cs
Labels: VisualCSharp

Added a degree status response object to the add mailing list POST response
  GetIntoTeachingApi/Controllers/GetIntoTeaching/MailingListController.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DegreeStatusResponse.cs
Labels: VisualCSharp

REmoval of unused dependencies in API
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
Labels: none

Revised some dependencies
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
Labels: none

Correction to Fody package reference
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
Labels: none

Re-added Flurl.Http
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
Labels: none

Initial commit
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/Readme.md
Labels: none

remove old readme from degree inference
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/Readme.txt
Labels: none

Draft PR GIT APi
  .github/workflows/actions/deploy_v2/action.yml
  .github/workflows/build-and-deploy.yml
  .github/workflows/delete_review_app.yml
  Makefile
  global_config/review.sh
  terraform/aks/application.tf
  terraform/aks/config/review.tfvars.json
  terraform/aks/data.tf
  terraform/aks/databases.tf
  terraform/aks/dfe_analytics.tf
  terraform/aks/monitoring.tf
  terraform/aks/outputs.tf
  terraform/aks/provider.tf
  terraform/aks/terraform.tf
  terraform/aks/variables.tf
Labels: DevOps

Change to allow QTS status to be passed to the CRM if a candidate is returning to teaching.
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
Labels: VisualCSharp

Corrected HasQualifiedTeacherStatus property on Candidate object.
  GetIntoTeachingApi/Models/Crm/Candidate.cs
Labels: VisualCSharp

Added additional dfe_qtsstatus attribute to contract test responses
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_no_teacher_reference_number_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_teacher_reference_number_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_returning_existing_data_change_address.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
Labels: Test

Corrected test issue
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_returning_existing_data_change_address.json
Labels: Test

Fixed dodgy test code in contracts - request and snapshots not being compared correctly resulting in unreliable tests.
  GetIntoTeachingApiTests/Contracts/BaseTests.cs
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_no_teacher_reference_number_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_teacher_reference_number_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
  GetIntoTeachingApiTests/Contracts/TestUtilities/JsonComparer.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Draft PR GIT APi
  .github/workflows/actions/deploy_v2/action.yml
  .github/workflows/build-and-deploy.yml
  .github/workflows/delete_review_app.yml
  Makefile
  global_config/review.sh
  terraform/aks/.terraform.lock.hcl
  terraform/aks/config/review.tfvars.json
  terraform/aks/config/test.tfvars.json
  terraform/aks/data.tf
  terraform/aks/outputs.tf
  terraform/aks/provider.tf
  terraform/aks/terraform.tf
  terraform/aks/variables.tf
Labels: DevOps

Removal of unused dependencies in API (#1535)
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
Labels: none

Removal of unused dependencies in API (#1535)
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
Labels: none

So/7770 pass qts value to crm for return to teaching advisor signup (#1542)
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/Readme.md
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Contracts/BaseTests.cs
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_no_teacher_reference_number_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_teacher_reference_number_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_returning_existing_data_change_address.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
  GetIntoTeachingApiTests/Contracts/TestUtilities/JsonComparer.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: VisualCSharp, Test

So/7770 pass qts value to crm for return to teaching advisor signup (#1542)
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/Readme.md
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Contracts/BaseTests.cs
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_no_teacher_reference_number_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_teacher_reference_number_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_returning_existing_data_change_address.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
  GetIntoTeachingApiTests/Contracts/TestUtilities/JsonComparer.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: VisualCSharp, Test

Revised has qualified teacher status type to int
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_no_teacher_reference_number_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_teacher_reference_number_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_returning_existing_data_change_address.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
Labels: VisualCSharp, Test

Revert "So/7770 pass qts value to crm for return to teaching advisor signup (#1542)"
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/Readme.txt
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Contracts/BaseTests.cs
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_no_teacher_reference_number_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_teacher_reference_number_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_returning_existing_data_change_address.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
  GetIntoTeachingApiTests/Contracts/TestUtilities/JsonComparer.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: VisualCSharp, Test

Revert "So/7770 pass qts value to crm for return to teaching advisor signup (#1542)"
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/Readme.txt
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Contracts/BaseTests.cs
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_no_teacher_reference_number_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_teacher_reference_number_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_returning_existing_data_change_address.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
  GetIntoTeachingApiTests/Contracts/TestUtilities/JsonComparer.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: VisualCSharp, Test

Fixed contract tests
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_no_teacher_reference_number_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_teacher_reference_number_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_returning_existing_data_change_address.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
Labels: Test

Added validation to cover qts status flag
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
Labels: VisualCSharp

So/7770 pass qts value to crm for return to teaching advisor signup revision (#1544)
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_no_teacher_reference_number_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_teacher_reference_number_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_returning_existing_data_change_address.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
Labels: VisualCSharp, Test

So/7770 pass qts value to crm for return to teaching advisor signup revision (#1544)
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_no_teacher_reference_number_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_teacher_reference_number_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_returning_existing_data_change_address.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
Labels: VisualCSharp, Test

Add review app deployment to GitHub workflow
  .github/workflows/actions/deploy_v2/action.yml
  .github/workflows/build-and-deploy.yml
  .github/workflows/delete_review_app.yml
  .tool-versions
  GetIntoTeachingApi/env.review
  Makefile
  README.md
  global_config/review.sh
  terraform/aks/.terraform.lock.hcl
  terraform/aks/application.tf
  terraform/aks/config/review.tfvars.json
  terraform/aks/data.tf
  terraform/aks/databases.tf
  terraform/aks/locals.tf
  terraform/aks/outputs.tf
  terraform/aks/variables.tf
Labels: DevOps

Add review app deployment to GitHub workflow
  .github/workflows/actions/deploy_v2/action.yml
  .github/workflows/build-and-deploy.yml
  .github/workflows/delete_review_app.yml
  .tool-versions
  GetIntoTeachingApi/env.review
  Makefile
  README.md
  global_config/review.sh
  terraform/aks/.terraform.lock.hcl
  terraform/aks/application.tf
  terraform/aks/config/review.tfvars.json
  terraform/aks/data.tf
  terraform/aks/databases.tf
  terraform/aks/locals.tf
  terraform/aks/outputs.tf
  terraform/aks/variables.tf
Labels: DevOps

Update Startup.cs
  GetIntoTeachingApi/AppStart/Startup.cs
Labels: VisualCSharp

Update Startup.cs
  GetIntoTeachingApi/AppStart/Startup.cs
Labels: VisualCSharp

Initial commit
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
Labels: VisualCSharp, Test

Added placeholder for new sync pick list keys under store.
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

Revert "Merge pull request #1504 from DFE-Digital/temporary-revert-creation-channels"
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Jobs/ContactChannelCandidateWrapper.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/ContactChannelCreation.cs
  GetIntoTeachingApi/Models/Crm/ICreateContactChannel.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/ContactChannelCreationValidator.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/GetIntoTeachingCallback.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_no_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Jobs/ApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/ContactChannelCandidateWrapperTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
  GetIntoTeachingApiTests/Models/Crm/ContactChannelCreationTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ContactChannelCreationValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/GetIntoTeachingCallbackTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/GetIntoTeachingCallbackValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/MailingListAddMemberValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidatorTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/SchoolsExperienceSignUpValidatorTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

Revert "Merge pull request #1504 from DFE-Digital/temporary-revert-creation-channels"
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Jobs/ContactChannelCandidateWrapper.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/ContactChannelCreation.cs
  GetIntoTeachingApi/Models/Crm/ICreateContactChannel.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/ContactChannelCreationValidator.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/GetIntoTeachingCallback.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_no_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Jobs/ApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/ContactChannelCandidateWrapperTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
  GetIntoTeachingApiTests/Models/Crm/ContactChannelCreationTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ContactChannelCreationValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/GetIntoTeachingCallbackTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/GetIntoTeachingCallbackValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/MailingListAddMemberValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidatorTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/SchoolsExperienceSignUpValidatorTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

Only load the envFile if it exists
  GetIntoTeachingApi/AppStart/Startup.cs
Labels: VisualCSharp

Only load the envFile if it exists
  GetIntoTeachingApi/AppStart/Startup.cs
Labels: VisualCSharp

Added pick list keys after receiving confirmation from Narendra
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

Whoopsie ...fixed broken test
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
Labels: Test

bugfix
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp
