Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml

Upgrade Terraform (#559)
  terraform/paas/provider.tf
Labels: DevOps

Upgrade Terraform (#559)
  terraform/paas/provider.tf
Labels: DevOps

Include pending events in teaching event sync
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Include pending events in teaching event sync
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Annotate body bound parameter for Swagger
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
Labels: VisualCSharp

Update deploy.yml
  .github/workflows/deploy.yml
Labels: DevOps

Update deploy.yml
  .github/workflows/deploy.yml
Labels: DevOps

Set buildingId before saving in CRM
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
Labels: VisualCSharp, Test

Set buildingId before saving in CRM
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
Labels: VisualCSharp, Test

Establish link for existing entities
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
Labels: VisualCSharp, Test

Establish link for existing entities
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
Labels: VisualCSharp, Test

Fix TeachingEvent not linking to Buildings
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
Labels: VisualCSharp, Test

Fix TeachingEvent not linking to Buildings
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
Labels: VisualCSharp, Test

Correct TeachingEvent.BuildingId CRM reference
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
Labels: VisualCSharp, Test

Correct TeachingEvent.BuildingId CRM reference
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
Labels: VisualCSharp, Test

Reduce job lock durations
  GetIntoTeachingApi/Jobs/CrmSyncJob.cs
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
Labels: VisualCSharp

Reduce job lock durations
  GetIntoTeachingApi/Jobs/CrmSyncJob.cs
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
Labels: VisualCSharp

Increase HighNotFound threshold
  monitoring/prometheus/alert.rules
Labels: Monitoring

Increase HighNotFound threshold
  monitoring/prometheus/alert.rules
Labels: Monitoring

Remove event startAt > now validation criteria
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
Labels: VisualCSharp, Test

Remove event startAt > now validation criteria
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
Labels: VisualCSharp, Test

Added Infrastructure Alerts
  monitoring/prometheus/alert.rules
Labels: Monitoring

Added Infrastructure Alerts (#577)
  monitoring/prometheus/alert.rules
Labels: Monitoring

Added Infrastructure Alerts (#577)
  monitoring/prometheus/alert.rules
Labels: Monitoring

Bugfix, missing semi-colon
  monitoring/prometheus/alert.rules
Labels: Monitoring

Infrastructure Bug Fix (#578)
  monitoring/prometheus/alert.rules
Labels: Monitoring

Infrastructure Bug Fix (#578)
  monitoring/prometheus/alert.rules
Labels: Monitoring

BugFix - Alert Rules corrupt
  monitoring/prometheus/alert.rules
Labels: Monitoring

BugFix - Alert Rules corrupt
  monitoring/prometheus/alert.rules
Labels: Monitoring

Add dashboard for app page insights
  monitoring/grafana/dashboards/app_page_insights.json
Labels: Monitoring

Add dashboard for app page insights
  monitoring/grafana/dashboards/app_page_insights.json
Labels: Monitoring

Add HTTP Errors Dashboard
  monitoring/grafana/dashboards/http_errors.json
Labels: Monitoring

hadolint ignore DL3005
  Dockerfile
Labels: Docker

Add HTTP Errors Dashboard (#581)
  Dockerfile
  monitoring/grafana/dashboards/http_errors.json
Labels: Monitoring, Docker

Add HTTP Errors Dashboard (#581)
  Dockerfile
  monitoring/grafana/dashboards/http_errors.json
Labels: Monitoring, Docker

Remove GoogleApiErrors alert
  monitoring/prometheus/alert.rules
Labels: Monitoring

Remove GoogleApiErrors alert
  monitoring/prometheus/alert.rules
Labels: Monitoring

Revert "Remove GoogleApiErrors alert"
  monitoring/prometheus/alert.rules
Labels: Monitoring

Revert "Remove GoogleApiErrors alert"
  monitoring/prometheus/alert.rules
Labels: Monitoring

Only validate readableId of existing event when it has changed
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
Labels: VisualCSharp, Test
