Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

Revert "Bump azure/CLI from 1 to 2 (#1378)" (#1382)
  .github/workflows/build-and-deploy.yml
  .github/workflows/build-no-cache.yml
  .github/workflows/manual.yml
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/trello.yml
Labels: DevOps

Revert "Bump azure/CLI from 1 to 2 (#1378)" (#1382)
  .github/workflows/build-and-deploy.yml
  .github/workflows/build-no-cache.yml
  .github/workflows/manual.yml
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/trello.yml
Labels: DevOps

Added infra team group to statuscake WHY: It is essential that the infra team receive the alerts HOW: By adding the group number
  terraform/aks/statuscake.tf
Labels: DevOps

Added infra team group to statuscake WHY: It is essential that the infra team receive the alerts HOW: By adding the group number
  terraform/aks/statuscake.tf
Labels: DevOps

add link to swagger docs
  docs/index.md
Labels: none

add link to swagger docs
  docs/index.md
Labels: none

Update GetIntoTeachingApi.csproj
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
Labels: none

Update GetIntoTeachingApi.csproj
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
Labels: none

update obsolete code
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
Labels: VisualCSharp

update obsolete code
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
Labels: VisualCSharp

Update common_environment.yml
  .github/common_environment.yml
Labels: DevOps

Update common_environment.yml
  .github/common_environment.yml
Labels: DevOps

test update build step
  .github/workflows/pull_request.yml
Labels: DevOps

test update build step
  .github/workflows/pull_request.yml
Labels: DevOps

Add a blank Sentry DSN for build
  .github/common_environment.yml
Labels: DevOps

Add a blank Sentry DSN for build
  .github/common_environment.yml
Labels: DevOps

Revert "test update build step"
  .github/workflows/pull_request.yml
Labels: DevOps

Revert "test update build step"
  .github/workflows/pull_request.yml
Labels: DevOps

Case sensitive env var
  .github/common_environment.yml
Labels: DevOps

Case sensitive env var
  .github/common_environment.yml
Labels: DevOps

Case sensitive env var
  .github/common_environment.yml
Labels: DevOps

Case sensitive env var
  .github/common_environment.yml
Labels: DevOps

Update common_environment.yml
  .github/common_environment.yml
Labels: DevOps

Update common_environment.yml
  .github/common_environment.yml
Labels: DevOps

Update env.test
  GetIntoTeachingApi/env.test
Labels: none

Update env.test
  GetIntoTeachingApi/env.test
Labels: none

Update appsettings.json
  GetIntoTeachingApi/appsettings.json
Labels: none

Update appsettings.json
  GetIntoTeachingApi/appsettings.json
Labels: none

Revert "Update appsettings.json"
  GetIntoTeachingApi/appsettings.json
Labels: none

Revert "Update appsettings.json"
  GetIntoTeachingApi/appsettings.json
Labels: none

Update pull_request.yml
  .github/workflows/pull_request.yml
Labels: DevOps

Update pull_request.yml
  .github/workflows/pull_request.yml
Labels: DevOps

Update pull_request.yml
  .github/workflows/pull_request.yml
Labels: DevOps

Update pull_request.yml
  .github/workflows/pull_request.yml
Labels: DevOps

Update pull_request.yml
  .github/workflows/pull_request.yml
Labels: DevOps

Update pull_request.yml
  .github/workflows/pull_request.yml
Labels: DevOps

Update pull_request.yml
  .github/workflows/pull_request.yml
Labels: DevOps

Update pull_request.yml
  .github/workflows/pull_request.yml
Labels: DevOps

Update pull_request.yml
  .github/workflows/pull_request.yml
Labels: DevOps

Update pull_request.yml
  .github/workflows/pull_request.yml
Labels: DevOps

.github/labeler.yml:

---

VisualCSharp:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApi/**/*.cs'

Test:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApiTests/**/*'

Monitoring:
- changed-files:
  - any-glob-to-any-file: 'monitoring/**/*'

DevOps:
- changed-files:
  - any-glob-to-any-file: 'terraform/**/*'
  - any-glob-to-any-file: '.github/**/*.yml'

Docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: 'docker-compose.yml'
