Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml

Add panel for SE sign ups
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

Add panel for SE sign ups
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

Optimize candidate match back queries
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Optimize candidate match back queries
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

On match back failure log error to Sentry
  GetIntoTeachingApi/Controllers/CandidatesController.cs
Labels: VisualCSharp

On match back failure log error to Sentry
  GetIntoTeachingApi/Controllers/CandidatesController.cs
Labels: VisualCSharp

Enable GetIntoTeaching role on callback quotas
  GetIntoTeachingApi/Controllers/CallbackBookingQuotasController.cs
  GetIntoTeachingApiTests/Controllers/CallbackBookingQuotasControllerTests.cs
Labels: VisualCSharp, Test

Enable GetIntoTeaching role on callback quotas
  GetIntoTeachingApi/Controllers/CallbackBookingQuotasController.cs
  GetIntoTeachingApiTests/Controllers/CallbackBookingQuotasControllerTests.cs
Labels: VisualCSharp, Test

Apply rate limiting to event upsert endpoint
  GetIntoTeachingApi/appsettings.json
  GetIntoTeachingApiTests/Integration/RateLimitTests.cs
Labels: Test

Apply rate limiting to event upsert endpoint
  GetIntoTeachingApi/appsettings.json
  GetIntoTeachingApiTests/Integration/RateLimitTests.cs
Labels: Test

Add validator for request model
  GetIntoTeachingApi/Models/Validators/GetIntoTeachingCallbackValidator.cs
  GetIntoTeachingApiTests/Models/Validators/GetIntoTeachingCallbackValidatorTests.cs
Labels: VisualCSharp, Test

Add model for GetIntoTeachingCallback
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/GetIntoTeachingCallback.cs
  GetIntoTeachingApiTests/Models/GetIntoTeachingCallbackTests.cs
Labels: VisualCSharp, Test

Add controller for scheduling callbacks
  GetIntoTeachingApi/Controllers/GetIntoTeaching/CallbacksController.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/CallbacksControllerTests.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: VisualCSharp, Test

Add validator for request model
  GetIntoTeachingApi/Models/Validators/GetIntoTeachingCallbackValidator.cs
  GetIntoTeachingApiTests/Models/Validators/GetIntoTeachingCallbackValidatorTests.cs
Labels: VisualCSharp, Test

Add controller for scheduling callbacks
  GetIntoTeachingApi/Controllers/GetIntoTeaching/CallbacksController.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/CallbacksControllerTests.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: VisualCSharp, Test

Add model for GetIntoTeachingCallback
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/GetIntoTeachingCallback.cs
  GetIntoTeachingApiTests/Models/GetIntoTeachingCallbackTests.cs
Labels: VisualCSharp, Test

Rate limit callback bookings
  GetIntoTeachingApi/appsettings.json
  GetIntoTeachingApiTests/Integration/RateLimitTests.cs
Labels: Test

Rate limit callback bookings
  GetIntoTeachingApi/appsettings.json
  GetIntoTeachingApiTests/Integration/RateLimitTests.cs
Labels: Test

Attempt to speed up `UpsertTeachingEvent`
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Attempt to speed up `UpsertTeachingEvent`
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Run MagicLinkTokenGenerationJob hourly
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

Run MagicLinkTokenGenerationJob hourly
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

Store find/apply last sync date in Redis
  GetIntoTeachingApi/Models/AppSettings.cs
  GetIntoTeachingApi/Models/IAppSettings.cs
  GetIntoTeachingApiTests/Models/AppSettingsTests.cs
Labels: VisualCSharp, Test

Support match back on email address only
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Add job to sync a find/apply candidate with the CRM
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
Labels: VisualCSharp, Test

Add job to sync a find/apply candidate with the CRM
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
Labels: VisualCSharp, Test

Model response from find/apply API
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/FindApply/Candidate.cs
  GetIntoTeachingApi/Models/FindApply/CandidateAttributes.cs
  GetIntoTeachingApi/Models/FindApply/Response.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Models/FindApply/CandidateAttributesTests.cs
  GetIntoTeachingApiTests/Models/FindApply/CandidateTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ResponseTests.cs
Labels: VisualCSharp, Test

Model response from find/apply API
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/FindApply/Candidate.cs
  GetIntoTeachingApi/Models/FindApply/CandidateAttributes.cs
  GetIntoTeachingApi/Models/FindApply/Response.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Models/FindApply/CandidateAttributesTests.cs
  GetIntoTeachingApiTests/Models/FindApply/CandidateTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ResponseTests.cs
Labels: VisualCSharp, Test

Add FindApplyId to Candidate model
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
Labels: VisualCSharp, Test

Add FindApplyId to Candidate model
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
Labels: VisualCSharp, Test

Add find/apply API credentials
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Store find/apply last sync date in Redis
  GetIntoTeachingApi/Models/AppSettings.cs
  GetIntoTeachingApi/Models/IAppSettings.cs
  GetIntoTeachingApiTests/Models/AppSettingsTests.cs
Labels: VisualCSharp, Test

Add find/apply API credentials
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Support match back on email address only
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Run find/apply sync job on a schedule
  GetIntoTeachingApi/Jobs/JobConfiguration.cs
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

Add job to sync with find/apply API
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Jobs/FindApplySyncJob.cs
  GetIntoTeachingApi/Services/IMetricService.cs
  GetIntoTeachingApi/Services/MetricService.cs
  GetIntoTeachingApiTests/Jobs/FindApplySyncJobTests.cs
  GetIntoTeachingApiTests/Services/MetricServiceTests.cs
Labels: VisualCSharp, Test

Add job to sync with find/apply API
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Jobs/FindApplySyncJob.cs
  GetIntoTeachingApi/Services/IMetricService.cs
  GetIntoTeachingApi/Services/MetricService.cs
  GetIntoTeachingApiTests/Jobs/FindApplySyncJobTests.cs
  GetIntoTeachingApiTests/Services/MetricServiceTests.cs
Labels: VisualCSharp, Test

Run find/apply sync job on a schedule
  GetIntoTeachingApi/Jobs/JobConfiguration.cs
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

Tidy upsert teaching event action
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Tidy upsert teaching event action
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test
