Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml

Enable rate limiting in test environment
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

Revert "Enable rate limiting in test environment"
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

Revert "Enable rate limiting in test environment"
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

Fix Duplicate Tagging Issue
  .github/workflows/build.yml
Labels: DevOps

Fix Duplicate Tagging Issue (#414)
  .github/workflows/build.yml
Labels: DevOps

Fix Duplicate Tagging Issue (#414)
  .github/workflows/build.yml
Labels: DevOps

Better way to get PR
  .github/workflows/build.yml
Labels: DevOps

Better way to get PR (#415)
  .github/workflows/build.yml
Labels: DevOps

Better way to get PR (#415)
  .github/workflows/build.yml
Labels: DevOps

Release Creation Skipped
  .github/workflows/build.yml
Labels: DevOps

Comparison operator incorrect
  .github/workflows/build.yml
Labels: DevOps

Release Creation Skipped (#416)
  .github/workflows/build.yml
Labels: DevOps

Release Creation Skipped (#416)
  .github/workflows/build.yml
Labels: DevOps

Replaced process with library
  .github/workflows/build.yml
Labels: DevOps

Replaced process with library (#417)
  .github/workflows/build.yml
Labels: DevOps

Replaced process with library (#417)
  .github/workflows/build.yml
Labels: DevOps

Only hard code number of workers in hosted environments
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

Only hard code number of workers in hosted environments
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

Optimize postcocde sanitization
  GetIntoTeachingApi/Models/Location.cs
Labels: VisualCSharp

Optimize postcocde sanitization
  GetIntoTeachingApi/Models/Location.cs
Labels: VisualCSharp

Remove `LocationBatchJob` monitoring panel
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

Remove `LocationBatchJob` monitoring panel
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

Optimize LocationSyncJob
  GetIntoTeachingApi/Jobs/LocationBatchJob.cs
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApi/Services/IMetricService.cs
  GetIntoTeachingApi/Services/MetricService.cs
  GetIntoTeachingApiTests/Jobs/LocationBatchJobTests.cs
  GetIntoTeachingApiTests/Jobs/LocationSyncJobTests.cs
  GetIntoTeachingApiTests/Services/MetricServiceTests.cs
Labels: VisualCSharp, Test

Optimize LocationSyncJob
  GetIntoTeachingApi/Jobs/LocationBatchJob.cs
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApi/Services/IMetricService.cs
  GetIntoTeachingApi/Services/MetricService.cs
  GetIntoTeachingApiTests/Jobs/LocationBatchJobTests.cs
  GetIntoTeachingApiTests/Jobs/LocationSyncJobTests.cs
  GetIntoTeachingApiTests/Services/MetricServiceTests.cs
Labels: VisualCSharp, Test

Scope Source enum in Location model
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApi/Models/Location.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Jobs/LocationSyncJobTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Scope Source enum in Location model
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApi/Models/Location.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Jobs/LocationSyncJobTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Common code for release
  .github/workflows/build.yml
Labels: DevOps

Create publish_release.yml
  .github/workflows/publish_release.yml
Labels: DevOps

Rename type-related methods to avoid clashes
  GetIntoTeachingApi/Controllers/TypesController.cs
  GetIntoTeachingApi/Models/Validators/CandidatePastTeachingPositionValidator.cs
  GetIntoTeachingApi/Models/Validators/CandidateQualificationValidator.cs
  GetIntoTeachingApi/Models/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/Validators/PhoneCallValidator.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventRegistrationValidator.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventSearchRequestValidator.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/TypesControllerTests.cs
  GetIntoTeachingApiTests/Models/Validators/CandidatePastTeachingPositionValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/CandidateQualificationValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/PhoneCallValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventRegistrationValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventSearchRequestValidatorTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Rename type-related methods to avoid clashes
  GetIntoTeachingApi/Controllers/TypesController.cs
  GetIntoTeachingApi/Models/Validators/CandidatePastTeachingPositionValidator.cs
  GetIntoTeachingApi/Models/Validators/CandidateQualificationValidator.cs
  GetIntoTeachingApi/Models/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/Validators/PhoneCallValidator.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventRegistrationValidator.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventSearchRequestValidator.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/TypesControllerTests.cs
  GetIntoTeachingApiTests/Models/Validators/CandidatePastTeachingPositionValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/CandidateQualificationValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/PhoneCallValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventRegistrationValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventSearchRequestValidatorTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Add new LookupItem model
  GetIntoTeachingApi/Controllers/LookupItemsController.cs
  GetIntoTeachingApi/Database/GetIntoTeachingDbContext.cs
  GetIntoTeachingApi/Models/LookupItem.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TypeEntity.cs
  GetIntoTeachingApi/Models/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/LookupItemsControllerTests.cs
  GetIntoTeachingApiTests/Models/LookupItemTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Add new LookupItem model
  GetIntoTeachingApi/Controllers/LookupItemsController.cs
  GetIntoTeachingApi/Database/GetIntoTeachingDbContext.cs
  GetIntoTeachingApi/Models/LookupItem.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TypeEntity.cs
  GetIntoTeachingApi/Models/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/LookupItemsControllerTests.cs
  GetIntoTeachingApiTests/Models/LookupItemTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Migration to add LookupItem model
  GetIntoTeachingApi/GlobalSuppressions.cs
  GetIntoTeachingApi/Migrations/20201211141832_AddLookupItem.Designer.cs
  GetIntoTeachingApi/Migrations/20201211141832_AddLookupItem.cs
Labels: VisualCSharp

Migration to add LookupItem model
  GetIntoTeachingApi/GlobalSuppressions.cs
  GetIntoTeachingApi/Migrations/20201211141832_AddLookupItem.Designer.cs
  GetIntoTeachingApi/Migrations/20201211141832_AddLookupItem.cs
Labels: VisualCSharp

Common code for release (#422)
  .github/workflows/build.yml
  .github/workflows/publish_release.yml
Labels: DevOps

Common code for release (#422)
  .github/workflows/build.yml
  .github/workflows/publish_release.yml
Labels: DevOps

Inject ICrmService into the Store
  GetIntoTeachingApi/Jobs/CrmSyncJob.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Jobs/CrmSyncJobTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Inject ICrmService into the Store
  GetIntoTeachingApi/Jobs/CrmSyncJob.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Jobs/CrmSyncJobTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Add PickListItem model
  GetIntoTeachingApi/Database/GetIntoTeachingDbContext.cs
  GetIntoTeachingApi/Models/PickListItem.cs
  GetIntoTeachingApiTests/Models/PickListItemTests.cs
Labels: VisualCSharp, Test

Add PickListItem model
  GetIntoTeachingApi/Database/GetIntoTeachingDbContext.cs
  GetIntoTeachingApi/Models/PickListItem.cs
  GetIntoTeachingApiTests/Models/PickListItemTests.cs
Labels: VisualCSharp, Test
