Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

Update base image to .NET 10.0-alpine
  Dockerfile
Labels: Docker

Update base image to .NET 10.0-alpine
  Dockerfile
Labels: Docker

Update base image version in Dockerfile
  Dockerfile
Labels: Docker

Update base image version in Dockerfile
  Dockerfile
Labels: Docker

test review app
  test.file
Labels: none

test review app
  test.file
Labels: none

adding in new diagrams
  docs/architecture/architecture.mmd
  docs/architecture/testAutomation.mmd
Labels: none

adding in new diagrams
  docs/architecture/architecture.mmd
  docs/architecture/testAutomation.mmd
Labels: none

removing duplicate ref
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

removing duplicate ref
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Remving unused import breaking build
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: Test

Remving unused import breaking build
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: Test

updated swashbuckle and micro, refactoered depreicated calls
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Validators/CountryIdValidator.cs
  GetIntoTeachingApi/Validators/PickListItemIdValidator.cs
  GetIntoTeachingApi/Validators/TeachingSubjectIdValidator.cs
Labels: VisualCSharp

updated swashbuckle and micro, refactoered depreicated calls
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Validators/CountryIdValidator.cs
  GetIntoTeachingApi/Validators/PickListItemIdValidator.cs
  GetIntoTeachingApi/Validators/TeachingSubjectIdValidator.cs
Labels: VisualCSharp

updating to correct names
  GetIntoTeachingApiTests/Contracts/BaseTests.cs
  GetIntoTeachingApiTests/Jobs/LocationSyncJobTests.cs
Labels: Test

updating to correct names
  GetIntoTeachingApiTests/Contracts/BaseTests.cs
  GetIntoTeachingApiTests/Jobs/LocationSyncJobTests.cs
Labels: Test

Restore launch settings after purge
  GetIntoTeachingApi/Properties/launchSettings.json
Labels: none

Update launchSettings.json
  GetIntoTeachingApi/Properties/launchSettings.json
Labels: none

temp add to sort test
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApi/env.dev
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
  GetIntoTeachingApiTests/Helpers/ContractCrmService.cs
  GetIntoTeachingApiTests/Helpers/MockOrganizationServiceAdapter.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
  docs/architecture/architecture.mmd
Labels: VisualCSharp, Test

removing changes to the model as handled by CRM
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
Labels: VisualCSharp

Fixing tests before changing service layer
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: Test

adding in new field and removed from tracking and serialisation as not need beyond the api
  GetIntoTeachingApi/Models/Crm/BaseModel.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
Labels: VisualCSharp

fixing in trigger to CRM
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Helpers/ContractCrmService.cs
  GetIntoTeachingApiTests/Helpers/MockOrganizationServiceAdapter.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

adding back in serialisation as breaking checks
  GetIntoTeachingApi/Models/Crm/Candidate.cs
Labels: VisualCSharp

removing duplication
  GetIntoTeachingApi/Models/Crm/BaseModel.cs
Labels: VisualCSharp

Add teams channel notifications for gh workflows
  .github/workflows/build-and-deploy.yml
  .github/workflows/build-no-cache.yml
  .github/workflows/manual.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Update azurerm and terraform versions
  .tool-versions
  global_config/development.sh
  global_config/production.sh
  global_config/review.sh
  global_config/test.sh
  terraform/aks/.terraform.lock.hcl
  terraform/aks/provider.tf
Labels: DevOps

Exclude docs from CI/CD workflow triggers
  .github/workflows/build-and-deploy.yml
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Updating template desciption to return all templates for logging
  GetIntoTeachingApi/Services/NotifyService.cs
Labels: VisualCSharp

moving the sync time to the start of the process as this was causing a gap between record retrivals
  GetIntoTeachingApi/Jobs/ApplySyncJob.cs
Labels: VisualCSharp

Updating tests for additional template and error changes
  GetIntoTeachingApiTests/Services/NotifyServiceTests.cs
Labels: Test

Adding in inital diagrams
  docs/Flows/ApplySync.mmd
  docs/architecture/refactor.mmd
  docs/sequenceDiagrams/Controlers/LookupItems/Countries.mmd
  docs/sequenceDiagrams/Controlers/LookupItems/DegreeCountries.mmd
  docs/sequenceDiagrams/Controlers/LookupItems/TeachingSubjects.mmd
  docs/sequenceDiagrams/Controlers/Picklists/Picklist.mmd
  docs/sequenceDiagrams/Controlers/PrivacyPolicies/Id.mmd
  docs/sequenceDiagrams/Controlers/PrivacyPolicies/latest.mmd
  docs/sequenceDiagrams/Controlers/TeachingEvents/search.mmd
Labels: none

Return 200 with DegreeStatusResponse
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
Labels: VisualCSharp

Remove labeller workflow
  .github/workflows/labeler.yml
Labels: DevOps

Remove slack notifications from workflows
  .github/workflows/build-and-deploy.yml
  .github/workflows/build-no-cache.yml
  .github/workflows/check_alert_rules.yml
  .github/workflows/manual.yml
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Exclude docs from CI/CD workflow triggers
  .github/workflows/build-and-deploy.yml
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Switch back to the normal terraform-modules tags
  global_config/development.sh
  global_config/production.sh
  global_config/review.sh
  global_config/test.sh
Labels: none

Adding in sent to provider
  GetIntoTeachingApi/Models/Apply/ApplicationChoice.cs
  GetIntoTeachingApi/Models/Crm/ApplicationChoice.cs
Labels: VisualCSharp

Remove quotes from failure message
  .github/workflows/build-and-deploy.yml
Labels: DevOps

Updating to allow production for hangfire dashboard, added in url as a variable so enable easy changing
  GetIntoTeachingApi/AppStart/ApplicationBuilderExtensions.cs
  GetIntoTeachingApi/Auth/HangfireDashboardEnvironmentAuthorizationFilter.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Auth/HangfireDashboardEnvironmentAuthorizationFilterTests.cs
Labels: VisualCSharp, Test

.github/labeler.yml:

---

VisualCSharp:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApi/**/*.cs'

Test:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApiTests/**/*'

Monitoring:
- changed-files:
  - any-glob-to-any-file: 'monitoring/**/*'

DevOps:
- changed-files:
  - any-glob-to-any-file: 'terraform/**/*'
  - any-glob-to-any-file: '.github/**/*.yml'

Docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: 'docker-compose.yml'
