Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

Add PickListItemsController
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: VisualCSharp, Test

Add PickListItemsController
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: VisualCSharp, Test

Add migration for PickListItem table
  GetIntoTeachingApi/GlobalSuppressions.cs
  GetIntoTeachingApi/Migrations/20201214101842_AddPickListItem.Designer.cs
  GetIntoTeachingApi/Migrations/20201214101842_AddPickListItem.cs
Labels: VisualCSharp

Make Swagger tags consistent
  GetIntoTeachingApi/Controllers/LookupItemsController.cs
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
Labels: VisualCSharp

Sync PickListItems and return from Store
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Sync PickListItems and return from Store
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Add GetPickListItems method
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Add migration for PickListItem table
  GetIntoTeachingApi/GlobalSuppressions.cs
  GetIntoTeachingApi/Migrations/20201214101842_AddPickListItem.Designer.cs
  GetIntoTeachingApi/Migrations/20201214101842_AddPickListItem.cs
Labels: VisualCSharp

Add GetPickListItems method
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Make Swagger tags consistent
  GetIntoTeachingApi/Controllers/LookupItemsController.cs
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
Labels: VisualCSharp

Remove TypeEntity and associated endpoints
  GetIntoTeachingApi/Controllers/TypesController.cs
  GetIntoTeachingApi/Database/GetIntoTeachingDbContext.cs
  GetIntoTeachingApi/GlobalSuppressions.cs
  GetIntoTeachingApi/Migrations/20201215143559_DropTypeEntity.Designer.cs
  GetIntoTeachingApi/Migrations/20201215143559_DropTypeEntity.cs
  GetIntoTeachingApi/Models/TypeEntity.cs
  GetIntoTeachingApi/Models/Validators/CandidatePastTeachingPositionValidator.cs
  GetIntoTeachingApi/Models/Validators/CandidateQualificationValidator.cs
  GetIntoTeachingApi/Models/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/Validators/PhoneCallValidator.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventRegistrationValidator.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventSearchRequestValidator.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Controllers/TypesControllerTests.cs
  GetIntoTeachingApiTests/Models/TypeEntityTests.cs
  GetIntoTeachingApiTests/Models/Validators/CandidatePastTeachingPositionValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/CandidateQualificationValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/MailingListAddMemberValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/PhoneCallValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventAddAttendeeValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventRegistrationValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventSearchRequestValidatorTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Remove TypeEntity and associated endpoints
  GetIntoTeachingApi/Controllers/TypesController.cs
  GetIntoTeachingApi/Database/GetIntoTeachingDbContext.cs
  GetIntoTeachingApi/GlobalSuppressions.cs
  GetIntoTeachingApi/Migrations/20201215143559_DropTypeEntity.Designer.cs
  GetIntoTeachingApi/Migrations/20201215143559_DropTypeEntity.cs
  GetIntoTeachingApi/Models/TypeEntity.cs
  GetIntoTeachingApi/Models/Validators/CandidatePastTeachingPositionValidator.cs
  GetIntoTeachingApi/Models/Validators/CandidateQualificationValidator.cs
  GetIntoTeachingApi/Models/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/Validators/PhoneCallValidator.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventRegistrationValidator.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventSearchRequestValidator.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Controllers/TypesControllerTests.cs
  GetIntoTeachingApiTests/Models/TypeEntityTests.cs
  GetIntoTeachingApiTests/Models/Validators/CandidatePastTeachingPositionValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/CandidateQualificationValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/MailingListAddMemberValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/PhoneCallValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventAddAttendeeValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventRegistrationValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventSearchRequestValidatorTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Create common_environment.yml
  .github/common_environment.yml
Labels: DevOps

Create common_environment.yml
  .github/common_environment.yml
Labels: DevOps

Add custom property validators for pick list/lookup item ids
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Validators/LookupItemIdValidator.cs
  GetIntoTeachingApi/Validators/PickListItemIdValidator.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Validators/LookupItemIdValidatorTests.cs
  GetIntoTeachingApiTests/Validators/PickListItemIdValidatorTests.cs
Labels: VisualCSharp, Test

Add custom property validators for pick list/lookup item ids
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Validators/LookupItemIdValidator.cs
  GetIntoTeachingApi/Validators/PickListItemIdValidator.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Validators/LookupItemIdValidatorTests.cs
  GetIntoTeachingApiTests/Validators/PickListItemIdValidatorTests.cs
Labels: VisualCSharp, Test

Update validation rules to use PickList/LookupItemIdValidator
  GetIntoTeachingApi/Models/Validators/CandidatePastTeachingPositionValidator.cs
  GetIntoTeachingApi/Models/Validators/CandidateQualificationValidator.cs
  GetIntoTeachingApi/Models/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/Validators/PhoneCallValidator.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventRegistrationValidator.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventSearchRequestValidator.cs
  GetIntoTeachingApi/Validators/LookupItemIdValidator.cs
  GetIntoTeachingApi/Validators/PickListItemIdValidator.cs
Labels: VisualCSharp

Update validation rules to use PickList/LookupItemIdValidator
  GetIntoTeachingApi/Models/Validators/CandidatePastTeachingPositionValidator.cs
  GetIntoTeachingApi/Models/Validators/CandidateQualificationValidator.cs
  GetIntoTeachingApi/Models/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/Validators/PhoneCallValidator.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventRegistrationValidator.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventSearchRequestValidator.cs
  GetIntoTeachingApi/Validators/LookupItemIdValidator.cs
  GetIntoTeachingApi/Validators/PickListItemIdValidator.cs
Labels: VisualCSharp

Slack Notification on Release
  .github/image.png
  .github/workflows/build.yml
Labels: DevOps

Review Comments actioned
  .github/workflows/build.yml
Labels: DevOps

Common Environment File Fixed incorrect tag label moved common slack settings
  .github/common_environment.yml
  .github/workflows/build.yml
  .github/workflows/cve.yml
  .github/workflows/deploy.yml
  .github/workflows/manual.yml
  .github/workflows/publish_release.yml
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Only publish production deployments to SLACK Changed quote style
  .github/workflows/manual.yml
Labels: DevOps

increased timeout on turnstyle Only attempt to update the deployment if successful Check for input environment rather than just production Changed to spit out right environment
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/manual.yml
Labels: DevOps

Fixed double Slash
  .github/common_environment.yml
Labels: DevOps

Slack Deploy and Notifiy on Release (#425)
  .github/common_environment.yml
  .github/image.png
  .github/workflows/build.yml
  .github/workflows/cve.yml
  .github/workflows/deploy.yml
  .github/workflows/manual.yml
  .github/workflows/publish_release.yml
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Slack Deploy and Notifiy on Release (#425)
  .github/common_environment.yml
  .github/image.png
  .github/workflows/build.yml
  .github/workflows/cve.yml
  .github/workflows/deploy.yml
  .github/workflows/manual.yml
  .github/workflows/publish_release.yml
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Add test for validation error messages
  GetIntoTeachingApi/Validators/LookupItemIdValidator.cs
  GetIntoTeachingApi/Validators/PickListItemIdValidator.cs
  GetIntoTeachingApiTests/Validators/LookupItemIdValidatorTests.cs
  GetIntoTeachingApiTests/Validators/PickListItemIdValidatorTests.cs
Labels: VisualCSharp, Test

Add test for validation error messages
  GetIntoTeachingApi/Validators/LookupItemIdValidator.cs
  GetIntoTeachingApi/Validators/PickListItemIdValidator.cs
  GetIntoTeachingApiTests/Validators/LookupItemIdValidatorTests.cs
  GetIntoTeachingApiTests/Validators/PickListItemIdValidatorTests.cs
Labels: VisualCSharp, Test

bugfix
  .github/workflows/build.yml
Labels: DevOps

bugfix
  .github/workflows/build.yml
Labels: DevOps

Stop release to production
  .github/workflows/build.yml
Labels: DevOps

Stop release to production
  .github/workflows/build.yml
Labels: DevOps

Ensure set-environment is configured
  .github/workflows/build.yml
  .github/workflows/publish_release.yml
Labels: DevOps

Ensure set-environment is configured (#427)
  .github/workflows/build.yml
  .github/workflows/publish_release.yml
Labels: DevOps

Ensure set-environment is configured (#427)
  .github/workflows/build.yml
  .github/workflows/publish_release.yml
Labels: DevOps

Add ability to generate long-lived access tokens for candidates
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
Labels: VisualCSharp, Test

Add ability to generate long-lived access tokens for candidates
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
Labels: VisualCSharp, Test

Exchange long lived access token for mailing list sign up
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Exchange long lived access token for mailing list sign up
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Move subscription logic into separate class
  GetIntoTeachingApi/Models/MailingListAddMember.cs
  GetIntoTeachingApi/Models/SubscriptionConfigurer.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeachingEventAddAttendee.cs
Labels: VisualCSharp

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml
