Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApi/**/*.cs'

Test:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApiTests/**/*'

Monitoring:
- changed-files:
  - any-glob-to-any-file: 'monitoring/**/*'

DevOps:
- changed-files:
  - any-glob-to-any-file: 'terraform/**/*'
  - any-glob-to-any-file: '.github/**/*.yml'

Docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: 'docker-compose.yml'

bugfix and extra tests
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Jobs/ContactChannelCandidateWrapper.cs
  GetIntoTeachingApiTests/Jobs/ContactChannelCandidateWrapperTests.cs
Labels: VisualCSharp, Test

bugfix and extra tests
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Jobs/ContactChannelCandidateWrapper.cs
  GetIntoTeachingApiTests/Jobs/ContactChannelCandidateWrapperTests.cs
Labels: VisualCSharp, Test

WIP - added code comments as tests are built out
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/Common/CorrelationPropertyKeys.cs
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/CorrelationIdLogEnricher.cs
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/LogEventExtensions.cs
Labels: VisualCSharp

WIP - completed tests for LogEventExtensions
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/LogEventExtensions.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/CorrelationIdLogEnricherTests.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/LogEventExtensionsTests.cs
Labels: VisualCSharp, Test

Update ApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/ApplyCandidateSyncJobTests.cs
Labels: Test

Update ApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/ApplyCandidateSyncJobTests.cs
Labels: Test

Tests completed
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/HttpContextCorrelationIdProvider.cs
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/IHttpContextCorrelationIdProvider.cs
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/Serilog/Middleware/SerilogCorrelationIdMiddleware.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/CorrelationIdLogEnricherTests.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/TestDoubles/LogEventPropertyFactoryTestDouble.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/HttpContextCorrelationIdProviderTests.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/Middleware/SerilogCorrelationIdMiddlewareTests.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/Shared/TestDoubles/HttpContextAccessorTestDouble.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/Shared/TestDoubles/HttpContextTestDouble.cs
Labels: VisualCSharp, Test

Fix contract tests
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_no_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_fully_populated_application_form.json
Labels: Test

Fix contract tests
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_no_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_fully_populated_application_form.json
Labels: Test

Pushed last tests changes
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/IHttpContextCorrelationIdProvider.cs
  GetIntoTeachingApi/Jobs/FilterAttributes/CorrelationIdFilter.cs
  GetIntoTeachingApiTests/Jobs/FilterAttributes/CorrelationIdFilterTests.cs
Labels: VisualCSharp, Test

Removed cofigured file logging
  GetIntoTeachingApi/appsettings.json
Labels: none

Fixed upsert candidate tests
  GetIntoTeachingApi/Jobs/BaseJob.cs
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
Labels: VisualCSharp

Removed whitespace
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
Labels: VisualCSharp

Removed unused correlation Id on PerformContextAdapter
  GetIntoTeachingApi/Adapters/IPerformContextAdapter.cs
  GetIntoTeachingApi/Adapters/PerformContextAdapter.cs
  GetIntoTeachingApi/appsettings.json
Labels: VisualCSharp

Removed code-smells based on SonarQube recommendations
  GetIntoTeachingApi/Jobs/BaseJob.cs
  GetIntoTeachingApi/Jobs/FilterAttributes/CorrelationIdFilterAttribute.cs
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/HttpContextCorrelationIdProviderTests.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/Middleware/SerilogCorrelationIdMiddlewareTests.cs
Labels: VisualCSharp, Test

Corrected attribute usage restrictions on CorrelationIdFilterAttribute
  GetIntoTeachingApi/Jobs/FilterAttributes/CorrelationIdFilterAttribute.cs
Labels: VisualCSharp

Removed commented out code from Program.cs to keep SonarQube happy
  GetIntoTeachingApi/Program.cs
Labels: VisualCSharp

Initial commit
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusDomainService.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/GraduationYear.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/IDegreeStatusDomainService.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusDomainServiceTests.cs
Labels: VisualCSharp, Test

Initial commit
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusDomainService.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/GraduationYear.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/IDegreeStatusDomainService.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusDomainServiceTests.cs
Labels: VisualCSharp, Test

WIP - begin build-out and TDD of domain service
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/Models/Crm/CandidateQualification.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/CurrentAcademicYear.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusDomainService.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/GraduationYear.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusDomainServiceTests.cs
Labels: VisualCSharp, Test

WIP - begin build-out and TDD of domain service
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/Models/Crm/CandidateQualification.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/CurrentAcademicYear.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusDomainService.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/GraduationYear.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusDomainServiceTests.cs
Labels: VisualCSharp, Test

WIP - added inference rules (evaluators) for domain service.
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/Models/Crm/CandidateQualification.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/Common/ChainEvaluationHandler.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/Common/Extensions/ChainEvaluationHandlerExtensions.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/Common/IChainEvaluationHandler.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/Common/IEvaluator.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/CompositionRoot.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/CurrentAcademicYear.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusDomainService.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/DegreeStatus.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/DegreeStatusDomainService.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferAlreadyHasDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFinalYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFirstYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferSecondYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/GraduationYear.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/IDegreeStatusDomainService.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/GraduationYear.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/DegreeStatusDomainServiceTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFirstYearDegreeCandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferHasDegreeCandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferSecondYearDegreeCandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferThirdYearDegreeCandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/GraduationYearTests.cs
Labels: VisualCSharp, Test

WIP - added inference rules (evaluators) for domain service.
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/Models/Crm/CandidateQualification.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/Common/ChainEvaluationHandler.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/Common/Extensions/ChainEvaluationHandlerExtensions.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/Common/IChainEvaluationHandler.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/Common/IEvaluator.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/CompositionRoot.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/CurrentAcademicYear.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusDomainService.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/DegreeStatus.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/DegreeStatusDomainService.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferAlreadyHasDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFinalYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFirstYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferSecondYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/GraduationYear.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/IDegreeStatusDomainService.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/GraduationYear.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/DegreeStatusDomainServiceTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFirstYearDegreeCandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferHasDegreeCandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferSecondYearDegreeCandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferThirdYearDegreeCandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/GraduationYearTests.cs
Labels: VisualCSharp, Test

WIP - degree status inference evaluators
  GetIntoTeachingApi/Models/Crm/CandidateQualification.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/Common/ChainEvaluationHandler.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/CompositionRoot.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/CurrentYearProvider.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/DegreeStatusDomainService.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/DegreeStatusInferenceRequest.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferAlreadyHasDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFinalYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFirstYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferSecondYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/GraduationYear.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/ICurrentYearProvider.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/DegreeStatusDomainServiceTests.cs
Labels: VisualCSharp, Test

WIP - degree status inference evaluators
  GetIntoTeachingApi/Models/Crm/CandidateQualification.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/Common/ChainEvaluationHandler.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/CompositionRoot.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/CurrentYearProvider.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/DegreeStatusDomainService.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/DegreeStatusInferenceRequest.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferAlreadyHasDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFinalYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFirstYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferSecondYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/GraduationYear.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/ICurrentYearProvider.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/DegreeStatusDomainServiceTests.cs
Labels: VisualCSharp, Test

WIP - fixed build issues
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/CurrentYearProvider.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFinalYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFirstYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferSecondYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/ICurrentYearProvider.cs
Labels: VisualCSharp

WIP - fixed build issues
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/CurrentYearProvider.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFinalYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFirstYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferSecondYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/ICurrentYearProvider.cs
Labels: VisualCSharp

WIP - added current year provider to GraduationYear
  GetIntoTeachingApi/Models/Crm/CandidateQualification.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/DegreeStatusDomainService.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFirstYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/GraduationYear.cs
Labels: VisualCSharp

WIP - added current year provider to GraduationYear
  GetIntoTeachingApi/Models/Crm/CandidateQualification.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/DegreeStatusDomainService.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFirstYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/GraduationYear.cs
Labels: VisualCSharp

Made changes recommended by MW in associated PR
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/CorrelationIdLogEnricher.cs
  GetIntoTeachingApi/Jobs/BaseJob.cs
  GetIntoTeachingApi/Jobs/FilterAttributes/CorrelationIdFilter.cs
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/appsettings.json
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/CorrelationIdLogEnricherTests.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/Extensions/LogEventExtensions.cs
Labels: VisualCSharp, Test

Corrected a couple of issues flagged by SonarQube
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/CorrelationIdLogEnricherTests.cs
Labels: VisualCSharp, Test

Partial integration tests completed over the degree status domain service
  GetIntoTeachingApi/Models/Crm/CandidateQualification.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/CurrentYearProvider.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/DegreeStatusDomainService.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferAlreadyHasDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFinalYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFirstYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferSecondYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/GraduationYear.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/IDegreeStatusDomainService.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/DegreeStatusDomainServiceTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFinalYearOfDegreeCandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/TestDoubles/ChainEvaluationHandlerStub.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/TestDoubles/CurrentYearProviderTestDouble.cs
Labels: VisualCSharp, Test

Partial integration tests completed over the degree status domain service
  GetIntoTeachingApi/Models/Crm/CandidateQualification.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/CurrentYearProvider.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/DegreeStatusDomainService.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferAlreadyHasDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFinalYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFirstYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferSecondYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/GraduationYear.cs
  GetIntoTeachingApi/Models/Crm/DomainServices/DegreeStatusInference/IDegreeStatusDomainService.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/DegreeStatusDomainServiceTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFinalYearOfDegreeCandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/TestDoubles/ChainEvaluationHandlerStub.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/TestDoubles/CurrentYearProviderTestDouble.cs
Labels: VisualCSharp, Test

Converted codebase to .Net 8 and aligned NuGet package dependencies accordingly.
  GetIntoTeachingApi/Auth/ApiClientHandler.cs
Labels: VisualCSharp

Upgraded to .Net 8 and aligned NuGet package dependencies accordingly.
  GetIntoTeachingApi/Adapters/NotificationClientAdapter.cs
  GetIntoTeachingApi/AppStart/ResponseHeaders.cs
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Auth/ApiClientHandler.cs
  GetIntoTeachingApi/Auth/HangfireDashboardEnvironmentAuthorizationFilter.cs
  GetIntoTeachingApi/Database/DbConfiguration.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApi/Mocks/MockModel.cs
  GetIntoTeachingApi/ModelBinders/TrimStringModelBinder.cs
  GetIntoTeachingApi/ModelBinders/TrimStringModelBinderProvider.cs
  GetIntoTeachingApi/Models/Crm/BaseModel.cs
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/RateLimiting/ApiClientResolveContributor.cs
  GetIntoTeachingApi/Redis/RedisConfiguration.cs
  GetIntoTeachingApi/Services/CallbackBookingService.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApi/Services/ClientManager.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Utils/BombFoundException.cs
  GetIntoTeachingApiTests/Auth/ApiClientHandlerTests.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Models/Crm/BaseModelTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

So/review sentry exception logging in the api (#1498)
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/Common/CorrelationPropertyKeys.cs
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/HttpContextCorrelationIdProvider.cs
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/IHttpContextCorrelationIdProvider.cs
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/CorrelationIdLogEnricher.cs
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/LogEventExtensions.cs
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/Serilog/Middleware/SerilogCorrelationIdMiddleware.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Jobs/BaseJob.cs
  GetIntoTeachingApi/Jobs/FilterAttributes/CorrelationIdFilter.cs
  GetIntoTeachingApi/Jobs/FilterAttributes/CorrelationIdFilterAttribute.cs
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/appsettings.json
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/CorrelationIdLogEnricherTests.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/Extensions/LogEventExtensions.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/LogEventExtensionsTests.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/TestDoubles/HttpContextCorrelationIdProviderTestDouble.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/TestDoubles/LogEventPropertyFactoryTestDouble.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/TestDoubles/LogEventTestDouble.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/HttpContextCorrelationIdProviderTests.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/Middleware/SerilogCorrelationIdMiddlewareTests.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/Shared/TestDoubles/HttpContextAccessorTestDouble.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/Shared/TestDoubles/HttpContextTestDouble.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: VisualCSharp, Test

So/review sentry exception logging in the api (#1498)
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/Common/CorrelationPropertyKeys.cs
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/HttpContextCorrelationIdProvider.cs
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/IHttpContextCorrelationIdProvider.cs
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/CorrelationIdLogEnricher.cs
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/LogEventExtensions.cs
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/Serilog/Middleware/SerilogCorrelationIdMiddleware.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Jobs/BaseJob.cs
  GetIntoTeachingApi/Jobs/FilterAttributes/CorrelationIdFilter.cs
  GetIntoTeachingApi/Jobs/FilterAttributes/CorrelationIdFilterAttribute.cs
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/appsettings.json
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/CorrelationIdLogEnricherTests.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/Extensions/LogEventExtensions.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/LogEventExtensionsTests.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/TestDoubles/HttpContextCorrelationIdProviderTestDouble.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/TestDoubles/LogEventPropertyFactoryTestDouble.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/TestDoubles/LogEventTestDouble.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/HttpContextCorrelationIdProviderTests.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/Middleware/SerilogCorrelationIdMiddlewareTests.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/Shared/TestDoubles/HttpContextAccessorTestDouble.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/Shared/TestDoubles/HttpContextTestDouble.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: VisualCSharp, Test

Update Dockerfile
  Dockerfile
Labels: Docker

fix envvar
  Dockerfile
Labels: Docker

Some naming changes
  GetIntoTeachingApi/Models/Crm/DomainServices/Common/Extensions/ChainEvaluationHandlerExtensions.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/DegreeStatusDomainServiceTests.cs
Labels: VisualCSharp, Test
