Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml

Deploy Redis
  terraform/aks/config/development_aks.tfvars.json
  terraform/aks/databases.tf
  terraform/aks/variables.tf
Labels: DevOps

Deploy Redis
  terraform/aks/config/development_aks.tfvars.json
  terraform/aks/databases.tf
  terraform/aks/variables.tf
Labels: DevOps

Add google localised domains to white list them from the alert rule
  monitoring/prometheus/alert.rules
Labels: Monitoring

Add google localised domains to white list them from the alert rule
  monitoring/prometheus/alert.rules
Labels: Monitoring

Deploy Infra and App Key Vaults
  Makefile
Labels: none

Deploy Infra and App Key Vaults
  Makefile
Labels: none

Add pgconnstring config var for aks deployment
  GetIntoTeachingApi/Database/DbConfiguration.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Add pgconnstring config var for aks deployment
  GetIntoTeachingApi/Database/DbConfiguration.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Add aks env name for new config structure
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
Labels: VisualCSharp

Add aks env name for new config structure
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
Labels: VisualCSharp

Add some logging for pg conn string env var
  GetIntoTeachingApi/Database/DbConfiguration.cs
Labels: VisualCSharp

Add some logging for pg conn string env var
  GetIntoTeachingApi/Database/DbConfiguration.cs
Labels: VisualCSharp

add temp build push
  .github/workflows/build.yml
Labels: DevOps

add temp build push
  .github/workflows/build.yml
Labels: DevOps

Add redis connection string for aks
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/Database/DbConfiguration.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
Labels: VisualCSharp

Add redis connection string for aks
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/Database/DbConfiguration.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
Labels: VisualCSharp

Update build.yml
  .github/workflows/build.yml
Labels: DevOps

Update build.yml
  .github/workflows/build.yml
Labels: DevOps

Add additiona env var to disable prometheus metrics
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
Labels: VisualCSharp

Add additiona env var to disable prometheus metrics
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
Labels: VisualCSharp

Update build.yml
  .github/workflows/build.yml
Labels: DevOps

Update build.yml
  .github/workflows/build.yml
Labels: DevOps

Add clarity to exclusion domain in the alert rule
  monitoring/prometheus/alert.rules
Labels: Monitoring

Add clarity to exclusion domain in the alert rule
  monitoring/prometheus/alert.rules
Labels: Monitoring

Fi redis configuration in case redis connection string is used for aks
  GetIntoTeachingApi/Services/RedisService.cs
Labels: VisualCSharp

Fi redis configuration in case redis connection string is used for aks
  GetIntoTeachingApi/Services/RedisService.cs
Labels: VisualCSharp

Update RedisService.cs
  GetIntoTeachingApi/Services/RedisService.cs
Labels: VisualCSharp

Update RedisService.cs
  GetIntoTeachingApi/Services/RedisService.cs
Labels: VisualCSharp

Fix null pointer as the order incorrect
  GetIntoTeachingApi/Services/RedisService.cs
Labels: VisualCSharp

Fix null pointer as the order incorrect
  GetIntoTeachingApi/Services/RedisService.cs
Labels: VisualCSharp

Bump up versions of the libraries
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Bump up versions of the libraries
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Update build.yml
  .github/workflows/build.yml
Labels: DevOps

Update build.yml
  .github/workflows/build.yml
Labels: DevOps

Add healthcheck for aks probe
  GetIntoTeachingApi/Controllers/OperationsController.cs
Labels: VisualCSharp

Add healthcheck for aks probe
  GetIntoTeachingApi/Controllers/OperationsController.cs
Labels: VisualCSharp

Add health check to startup routes
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Controllers/OperationsController.cs
Labels: VisualCSharp

Add health check to startup routes
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Controllers/OperationsController.cs
Labels: VisualCSharp

Deploy this branch to dev
  .github/workflows/build.yml
Labels: DevOps

Deploy this branch to dev
  .github/workflows/build.yml
Labels: DevOps
