Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

Use fallback booking quotas when CRM is unavailable
  GetIntoTeachingApi/Controllers/CallbackBookingQuotasController.cs
  GetIntoTeachingApi/Services/CallbackBookingService.cs
  GetIntoTeachingApi/Services/ICallbackBookingService.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Controllers/CallbackBookingQuotasControllerTests.cs
  GetIntoTeachingApiTests/Helpers/LoggerTestHelpers.cs
  GetIntoTeachingApiTests/Services/CallbackBookingServiceTests.cs
Labels: VisualCSharp, Test

Use fallback booking quotas when CRM is unavailable
  GetIntoTeachingApi/Controllers/CallbackBookingQuotasController.cs
  GetIntoTeachingApi/Services/CallbackBookingService.cs
  GetIntoTeachingApi/Services/ICallbackBookingService.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Controllers/CallbackBookingQuotasControllerTests.cs
  GetIntoTeachingApiTests/Helpers/LoggerTestHelpers.cs
  GetIntoTeachingApiTests/Services/CallbackBookingServiceTests.cs
Labels: VisualCSharp, Test

Update postcode regex to match app
  GetIntoTeachingApi/Models/Location.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventSearchRequestValidatorTests.cs
Labels: VisualCSharp, Test

Update postcode regex to match app
  GetIntoTeachingApi/Models/Location.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventSearchRequestValidatorTests.cs
Labels: VisualCSharp, Test

Use correct coordinate system in GeocodeClientAdapter
  GetIntoTeachingApi/Adapters/GeocodeClientAdapter.cs
Labels: VisualCSharp

Use correct coordinate system in GeocodeClientAdapter
  GetIntoTeachingApi/Adapters/GeocodeClientAdapter.cs
Labels: VisualCSharp

Add source column to Location table
  GetIntoTeachingApi/Migrations/20201203132339_AddSourceColumnToLocation.Designer.cs
  GetIntoTeachingApi/Migrations/20201203132339_AddSourceColumnToLocation.cs
  GetIntoTeachingApi/Migrations/GetIntoTeachingDbContextModelSnapshot.cs
  GetIntoTeachingApi/Models/Location.cs
Labels: VisualCSharp

Add source column to Location table
  GetIntoTeachingApi/Migrations/20201203132339_AddSourceColumnToLocation.Designer.cs
  GetIntoTeachingApi/Migrations/20201203132339_AddSourceColumnToLocation.cs
  GetIntoTeachingApi/Migrations/GetIntoTeachingDbContextModelSnapshot.cs
  GetIntoTeachingApi/Models/Location.cs
Labels: VisualCSharp

Set Location Source when running CSV batch job
  GetIntoTeachingApi/Jobs/LocationBatchJob.cs
  GetIntoTeachingApi/Models/Location.cs
Labels: VisualCSharp

Set Location Source when running CSV batch job
  GetIntoTeachingApi/Jobs/LocationBatchJob.cs
  GetIntoTeachingApi/Models/Location.cs
Labels: VisualCSharp

Allow GET requests to be cached privately for 5m
  GetIntoTeachingApi/Attributes/PrivateShortTermResponseCacheAttribute.cs
  GetIntoTeachingApi/Controllers/PrivacyPoliciesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Controllers/TypesController.cs
  GetIntoTeachingApiTests/Attributes/PrivateShortTermResponseCacheAttributeTests.cs
  GetIntoTeachingApiTests/Controllers/PrivacyPoliciesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TypesControllerTests.cs
Labels: VisualCSharp, Test

Allow GET requests to be cached privately for 5m
  GetIntoTeachingApi/Attributes/PrivateShortTermResponseCacheAttribute.cs
  GetIntoTeachingApi/Controllers/PrivacyPoliciesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Controllers/TypesController.cs
  GetIntoTeachingApiTests/Attributes/PrivateShortTermResponseCacheAttributeTests.cs
  GetIntoTeachingApiTests/Controllers/PrivacyPoliciesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TypesControllerTests.cs
Labels: VisualCSharp, Test

Add endpoint to manually trigger location sync job
  GetIntoTeachingApi/Controllers/OperationsController.cs
Labels: VisualCSharp

Add endpoint to manually trigger location sync job
  GetIntoTeachingApi/Controllers/OperationsController.cs
Labels: VisualCSharp

Bind to Redis
  terraform/paas/application.tf
Labels: DevOps

Update geocode request to specify postcode
  GetIntoTeachingApi/Adapters/GeocodeClientAdapter.cs
Labels: VisualCSharp

Update geocode request to specify postcode
  GetIntoTeachingApi/Adapters/GeocodeClientAdapter.cs
Labels: VisualCSharp

Bind to Redis (#393)
  terraform/paas/application.tf
Labels: DevOps

Bind to Redis (#393)
  terraform/paas/application.tf
Labels: DevOps

Add authorisation to Trigger LocationSync controller
  GetIntoTeachingApi/Controllers/OperationsController.cs
Labels: VisualCSharp

Add authorisation to Trigger LocationSync controller
  GetIntoTeachingApi/Controllers/OperationsController.cs
Labels: VisualCSharp

Add tests for batch location source and trigger batch job endpoint
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Jobs/LocationBatchJobTests.cs
Labels: Test

Add tests for batch location source and trigger batch job endpoint
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Jobs/LocationBatchJobTests.cs
Labels: Test

Add temporary method to correct locations with unknown source
  GetIntoTeachingApi/Jobs/LocationBatchJob.cs
Labels: VisualCSharp

Add temporary method to correct locations with unknown source
  GetIntoTeachingApi/Jobs/LocationBatchJob.cs
Labels: VisualCSharp

Add source to locations that come from Google Geocoding
  GetIntoTeachingApi/Models/Location.cs
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

Add source to locations that come from Google Geocoding
  GetIntoTeachingApi/Models/Location.cs
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

Add test to check if postcode from Geocoding is tagged correctly
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test

Add test to check if postcode from Geocoding is tagged correctly
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test

Add test to ensure location sync job is queued when endpoint is called
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/Contants.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
Labels: VisualCSharp, Test

Add test to ensure location sync job is queued when endpoint is called
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/Contants.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
Labels: VisualCSharp, Test

Add test to ensure unknown source locations are updated with sync job
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/Contants.cs
  GetIntoTeachingApiTests/Jobs/LocationBatchJobTests.cs
Labels: VisualCSharp, Test

Add test to ensure unknown source locations are updated with sync job
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/Contants.cs
  GetIntoTeachingApiTests/Jobs/LocationBatchJobTests.cs
Labels: VisualCSharp, Test

Add endpoint to remove locations of unknown source
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Add endpoint to remove locations of unknown source
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Increase rate limit thresholds
  GetIntoTeachingApi/appsettings.json
  GetIntoTeachingApiTests/Integration/RateLimitingTests.cs
  monitoring/grafana/dashboards/get_into_teaching_api.json
  monitoring/prometheus/alert.rules
Labels: Test, Monitoring

Increase rate limit thresholds
  GetIntoTeachingApi/appsettings.json
  GetIntoTeachingApiTests/Integration/RateLimitingTests.cs
  monitoring/grafana/dashboards/get_into_teaching_api.json
  monitoring/prometheus/alert.rules
Labels: Test, Monitoring

Update based on PR comments
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Update based on PR comments
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Revert "Add endpoint to remove locations of unknown source"
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml
