Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml

Fix bug in CandidateUpserter
  GetIntoTeachingApi/Services/CandidateUpserter.cs
Labels: VisualCSharp

Fix bug in CandidateUpserter
  GetIntoTeachingApi/Services/CandidateUpserter.cs
Labels: VisualCSharp

Enable new matchback features in test
  GetIntoTeachingApi/env.test
Labels: none

Enable new matchback features in test
  GetIntoTeachingApi/env.test
Labels: none

Enabled country codes in test
  GetIntoTeachingApi/env.test
Labels: none

Enabled country codes in test
  GetIntoTeachingApi/env.test
Labels: none

Update adviser assignment logic
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

Update adviser assignment logic
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

Disable ApplySyncJob in production
  GetIntoTeachingApi/AppStart/HangfireJobs.cs
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/env.prod
Labels: VisualCSharp

Disable ApplySyncJob in production
  GetIntoTeachingApi/AppStart/HangfireJobs.cs
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/env.prod
Labels: VisualCSharp

Enable country codes in production
  GetIntoTeachingApi/env.prod
Labels: none

Enable country codes in production
  GetIntoTeachingApi/env.prod
Labels: none

Enable Hangfire dashboard in production
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Auth/HangfireDashboardEnvironmentAuthorizationFilter.cs
  GetIntoTeachingApiTests/Auth/HangfireDashboardEnvironmentAuthorizationFilterTests.cs
Labels: VisualCSharp, Test

Enable Hangfire dashboard in production
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Auth/HangfireDashboardEnvironmentAuthorizationFilter.cs
  GetIntoTeachingApiTests/Auth/HangfireDashboardEnvironmentAuthorizationFilterTests.cs
Labels: VisualCSharp, Test

Clear down all apply jobs
  GetIntoTeachingApi/Jobs/ApplyBackfillJob.cs
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Jobs/UpsertApplicationFormJob.cs
  GetIntoTeachingApiTests/Contracts/ApplyCandidateApiTests.cs
  GetIntoTeachingApiTests/Jobs/ApplyBackfillJobTests.cs
  GetIntoTeachingApiTests/Jobs/ApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertApplicationFormJobTests.cs
Labels: VisualCSharp, Test

Clear down all apply jobs
  GetIntoTeachingApi/Jobs/ApplyBackfillJob.cs
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Jobs/UpsertApplicationFormJob.cs
  GetIntoTeachingApiTests/Contracts/ApplyCandidateApiTests.cs
  GetIntoTeachingApiTests/Jobs/ApplyBackfillJobTests.cs
  GetIntoTeachingApiTests/Jobs/ApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertApplicationFormJobTests.cs
Labels: VisualCSharp, Test

Revert "Clear down all apply jobs"
  GetIntoTeachingApi/Jobs/ApplyBackfillJob.cs
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Jobs/UpsertApplicationFormJob.cs
  GetIntoTeachingApiTests/Contracts/ApplyCandidateApiTests.cs
  GetIntoTeachingApiTests/Jobs/ApplyBackfillJobTests.cs
  GetIntoTeachingApiTests/Jobs/ApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertApplicationFormJobTests.cs
Labels: VisualCSharp, Test

Revert "Clear down all apply jobs"
  GetIntoTeachingApi/Jobs/ApplyBackfillJob.cs
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Jobs/UpsertApplicationFormJob.cs
  GetIntoTeachingApiTests/Contracts/ApplyCandidateApiTests.cs
  GetIntoTeachingApiTests/Jobs/ApplyBackfillJobTests.cs
  GetIntoTeachingApiTests/Jobs/ApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertApplicationFormJobTests.cs
Labels: VisualCSharp, Test

Daisy-chain ApplyBackfillJob
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApi/Jobs/ApplyBackfillJob.cs
  GetIntoTeachingApi/Jobs/BaseJob.cs
  GetIntoTeachingApi/Services/IPaginatorClient.cs
  GetIntoTeachingApi/Services/PaginatorClient.cs
  GetIntoTeachingApiTests/Jobs/ApplyBackfillJobTests.cs
  GetIntoTeachingApiTests/Services/PaginatorClientTests.cs
Labels: VisualCSharp, Test

Daisy-chain ApplyBackfillJob
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApi/Jobs/ApplyBackfillJob.cs
  GetIntoTeachingApi/Jobs/BaseJob.cs
  GetIntoTeachingApi/Services/IPaginatorClient.cs
  GetIntoTeachingApi/Services/PaginatorClient.cs
  GetIntoTeachingApiTests/Jobs/ApplyBackfillJobTests.cs
  GetIntoTeachingApiTests/Services/PaginatorClientTests.cs
Labels: VisualCSharp, Test

Consolidate matchbacks for consistency
  GetIntoTeachingApi/Models/ExistingCandidateRequest.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Models/ExistingCandidateRequestTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Consolidate matchbacks for consistency
  GetIntoTeachingApi/Models/ExistingCandidateRequest.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Models/ExistingCandidateRequestTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Disable Hanfire Prometheus metrics exporter
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Disable Hanfire Prometheus metrics exporter
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Re-enable Apply sync in production
  GetIntoTeachingApi/env.prod
Labels: none

Re-enable Apply sync in production
  GetIntoTeachingApi/env.prod
Labels: none

Enable v2 matchback rules in production
  GetIntoTeachingApi/env.prod
Labels: none

Enable v2 matchback rules in production
  GetIntoTeachingApi/env.prod
Labels: none

Add logging to track TTA sign ups
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

Add logging to track TTA sign ups
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

Add apply adviser sign ups panel
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

Add apply adviser sign ups panel
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

Remove feature flags
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Models/Country.cs
  GetIntoTeachingApi/Models/Crm/ApplicationForm.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/TeachingEvent.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApi/Utils/EmailReconciler.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/env.dev
  GetIntoTeachingApi/env.prod
  GetIntoTeachingApi/env.test
  GetIntoTeachingApiTests/Contracts/ApplyCandidateApiTests.cs
  GetIntoTeachingApiTests/Jobs/ApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Models/CountryTests.cs
  GetIntoTeachingApiTests/Models/Crm/ApplicationFormTests.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
  GetIntoTeachingApiTests/Utils/EmailReconcilerTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Remove feature flags
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Models/Country.cs
  GetIntoTeachingApi/Models/Crm/ApplicationForm.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/TeachingEvent.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApi/Utils/EmailReconciler.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/env.dev
  GetIntoTeachingApi/env.prod
  GetIntoTeachingApi/env.test
  GetIntoTeachingApiTests/Contracts/ApplyCandidateApiTests.cs
  GetIntoTeachingApiTests/Jobs/ApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Models/CountryTests.cs
  GetIntoTeachingApiTests/Models/Crm/ApplicationFormTests.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
  GetIntoTeachingApiTests/Utils/EmailReconcilerTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Disable Hangfire dashboard in production
  GetIntoTeachingApi/Auth/HangfireDashboardEnvironmentAuthorizationFilter.cs
  GetIntoTeachingApiTests/Auth/HangfireDashboardEnvironmentAuthorizationFilterTests.cs
Labels: VisualCSharp, Test

Disable Hangfire dashboard in production
  GetIntoTeachingApi/Auth/HangfireDashboardEnvironmentAuthorizationFilter.cs
  GetIntoTeachingApiTests/Auth/HangfireDashboardEnvironmentAuthorizationFilterTests.cs
Labels: VisualCSharp, Test

Revert "Disable Hanfire Prometheus metrics exporter"
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Revert "Disable Hanfire Prometheus metrics exporter"
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Various dependency updates
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Various dependency updates
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test
