Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

Increase HighNotFound alert threshold
  monitoring/prometheus/alert.rules
Labels: Monitoring

Increase HighNotFound alert threshold
  monitoring/prometheus/alert.rules
Labels: Monitoring

Fix recursion
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Fix recursion
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Sync Question Time events as Train to Teach
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Sync Question Time events as Train to Teach
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Fix flakey contract tests
  GetIntoTeachingApiTests/Helpers/ContractTestOrganizationServiceAdapter.cs
Labels: Test

Fix flakey contract tests
  GetIntoTeachingApiTests/Helpers/ContractTestOrganizationServiceAdapter.cs
Labels: Test

Add Swagger definitions filter
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/AppStart/SwaggerDefinitionsFilter.cs
  GetIntoTeachingApi/Attributes/SwaggerIgnoreAttribute.cs
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/CandidatePastTeachingPosition.cs
  GetIntoTeachingApi/Models/CandidatePrivacyPolicy.cs
  GetIntoTeachingApi/Models/CandidateQualification.cs
  GetIntoTeachingApi/Models/PhoneCall.cs
  GetIntoTeachingApiTests/Models/CandidatePastTeachingPositionTests.cs
  GetIntoTeachingApiTests/Models/CandidatePrivacyPolicyTests.cs
  GetIntoTeachingApiTests/Models/CandidateQualificationTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/PhoneCallTests.cs
Labels: VisualCSharp, Test

Add Swagger definitions filter
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/AppStart/SwaggerDefinitionsFilter.cs
  GetIntoTeachingApi/Attributes/SwaggerIgnoreAttribute.cs
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/CandidatePastTeachingPosition.cs
  GetIntoTeachingApi/Models/CandidatePrivacyPolicy.cs
  GetIntoTeachingApi/Models/CandidateQualification.cs
  GetIntoTeachingApi/Models/PhoneCall.cs
  GetIntoTeachingApiTests/Models/CandidatePastTeachingPositionTests.cs
  GetIntoTeachingApiTests/Models/CandidatePrivacyPolicyTests.cs
  GetIntoTeachingApiTests/Models/CandidateQualificationTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/PhoneCallTests.cs
Labels: VisualCSharp, Test

Explain that the `BaseModel` no longer maps relationships in `ToEntity`
  README.md
Labels: none

Explain that the `BaseModel` no longer maps relationships in `ToEntity`
  README.md
Labels: none

Swagger ignore TeachingEventRegistration
  GetIntoTeachingApi/Models/TeachingEventRegistration.cs
  GetIntoTeachingApiTests/Models/TeachingEventRegistrationTests.cs
Labels: VisualCSharp, Test

Swagger ignore TeachingEventRegistration
  GetIntoTeachingApi/Models/TeachingEventRegistration.cs
  GetIntoTeachingApiTests/Models/TeachingEventRegistrationTests.cs
Labels: VisualCSharp, Test

Add extension to surface related model errors
  GetIntoTeachingApi/Utils/ValidationResultExtensions.cs
  GetIntoTeachingApiTests/Utils/ValidationResultExtensionsTests.cs
Labels: VisualCSharp, Test

Add extension to surface related model errors
  GetIntoTeachingApi/Utils/ValidationResultExtensions.cs
  GetIntoTeachingApiTests/Utils/ValidationResultExtensionsTests.cs
Labels: VisualCSharp, Test

Update the validation for any request models with a hidden `Candidate`
  GetIntoTeachingApi/Controllers/GetIntoTeaching/CallbacksController.cs
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Models/Validators/GetIntoTeachingCallbackValidator.cs
  GetIntoTeachingApi/Models/Validators/MailingListAddMemberValidator.cs
  GetIntoTeachingApi/Models/Validators/SchoolsExperienceSignUpValidator.cs
  GetIntoTeachingApi/Models/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventAddAttendeeValidator.cs
Labels: VisualCSharp

Update the validation for any request models with a hidden `Candidate`
  GetIntoTeachingApi/Controllers/GetIntoTeaching/CallbacksController.cs
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Models/Validators/GetIntoTeachingCallbackValidator.cs
  GetIntoTeachingApi/Models/Validators/MailingListAddMemberValidator.cs
  GetIntoTeachingApi/Models/Validators/SchoolsExperienceSignUpValidator.cs
  GetIntoTeachingApi/Models/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventAddAttendeeValidator.cs
Labels: VisualCSharp

Update validation error mapping advise
  README.md
Labels: none

Update validation error mapping advise
  README.md
Labels: none

Re-introduce OperationId
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
Labels: VisualCSharp

Re-introduce OperationId
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
Labels: VisualCSharp

Move and namespace `MailingListController` under `GetIntoTeaching`
  GetIntoTeachingApi/Controllers/GetIntoTeaching/MailingListController.cs
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
Labels: VisualCSharp, Test

Move and namespace `MailingListController` under `GetIntoTeaching`
  GetIntoTeachingApi/Controllers/GetIntoTeaching/MailingListController.cs
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
Labels: VisualCSharp, Test

Reorder and remove unused `using` statements
  GetIntoTeachingApi/Models/CandidateMagicLinkExchangeResult.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidatePastTeachingPositionValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidatePrivacyPolicyValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateQualificationValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/PhoneCallValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/TeachingEventRegistrationValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/TeachingEventValidator.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventUpsertOperation.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventsByType.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/GetIntoTeachingCallbackValidator.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/MailingListAddMemberValidator.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidator.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/TeachingEventSearchRequestValidator.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/TeachingEventUpsertOperationValidator.cs
  GetIntoTeachingApi/Models/MappingInfo.cs
  GetIntoTeachingApi/Models/SchoolsExperience/Validators/ClassroomExperienceNoteValidator.cs
  GetIntoTeachingApi/Models/SchoolsExperience/Validators/SchoolsExperienceSignUpValidator.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Auth/ApiClientHandlerTests.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/TeachingEventBuildingsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/LookupItemsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PrivacyPoliciesControllerTests.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/LocationSyncJobTests.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidatePrivacyPolicyValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/TeachingEventValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/GetIntoTeachingCallbackTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventSearchRequestTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventUpsertOperationTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventUpsertOperationValidatorTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/ClassroomExperienceNoteTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/ClassroomExperienceNoteValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/ClientValidatorTests.cs
  GetIntoTeachingApiTests/Services/SubscriptionManagerTests.cs
Labels: VisualCSharp, Test

Reorder and remove unused `using` statements
  GetIntoTeachingApi/Models/CandidateMagicLinkExchangeResult.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidatePastTeachingPositionValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidatePrivacyPolicyValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateQualificationValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/PhoneCallValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/TeachingEventRegistrationValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/TeachingEventValidator.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventUpsertOperation.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventsByType.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/GetIntoTeachingCallbackValidator.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/MailingListAddMemberValidator.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidator.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/TeachingEventSearchRequestValidator.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/TeachingEventUpsertOperationValidator.cs
  GetIntoTeachingApi/Models/MappingInfo.cs
  GetIntoTeachingApi/Models/SchoolsExperience/Validators/ClassroomExperienceNoteValidator.cs
  GetIntoTeachingApi/Models/SchoolsExperience/Validators/SchoolsExperienceSignUpValidator.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Auth/ApiClientHandlerTests.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/TeachingEventBuildingsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/LookupItemsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PrivacyPoliciesControllerTests.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/LocationSyncJobTests.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidatePrivacyPolicyValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/TeachingEventValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/GetIntoTeachingCallbackTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventSearchRequestTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventUpsertOperationTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventUpsertOperationValidatorTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/ClassroomExperienceNoteTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/ClassroomExperienceNoteValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/ClientValidatorTests.cs
  GetIntoTeachingApiTests/Services/SubscriptionManagerTests.cs
Labels: VisualCSharp, Test

Update PhoneCall Channel for GiT callback
  GetIntoTeachingApi/Models/Crm/PhoneCall.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/GetIntoTeachingCallback.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/GetIntoTeachingCallbackTests.cs
Labels: VisualCSharp, Test

Update PhoneCall Channel for GiT callback
  GetIntoTeachingApi/Models/Crm/PhoneCall.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/GetIntoTeachingCallback.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/GetIntoTeachingCallbackTests.cs
Labels: VisualCSharp, Test

Add talking points to callback request
  GetIntoTeachingApi/Models/Crm/PhoneCall.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/GetIntoTeachingCallback.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/GetIntoTeachingCallbackValidator.cs
  GetIntoTeachingApiTests/Models/Crm/PhoneCallTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/GetIntoTeachingCallbackTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/GetIntoTeachingCallbackValidatorTests.cs
Labels: VisualCSharp, Test

Add talking points to callback request
  GetIntoTeachingApi/Models/Crm/PhoneCall.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/GetIntoTeachingCallback.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/GetIntoTeachingCallbackValidator.cs
  GetIntoTeachingApiTests/Models/Crm/PhoneCallTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/GetIntoTeachingCallbackTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/GetIntoTeachingCallbackValidatorTests.cs
Labels: VisualCSharp, Test

wip
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Utils/AutoMapperUtil.cs
Labels: VisualCSharp

wip
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Utils/AutoMapperUtil.cs
Labels: VisualCSharp

Add API client for external pen testers
  GetIntoTeachingApi/Fixtures/clients.yml
  GetIntoTeachingApi/Properties/launchSettings.json
Labels: none

Add API client for external pen testers
  GetIntoTeachingApi/Fixtures/clients.yml
Labels: none

Check if candidate can re-subcsribe based on adviser status
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

Check if candidate can re-subcsribe based on adviser status
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

Remove unused AlreadySubscribedToTeacherTrainingAdviser field
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

Remove unused AlreadySubscribedToTeacherTrainingAdviser field
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

Rename AdviserStatus to AdviserStatusId
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

Rename AdviserStatus to AdviserStatusId
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml
