Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

Revert "Update CdsServiceClient"
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/PickListItem.cs
  GetIntoTeachingApiTests/Models/PickListItemTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Format international phone numbers
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

Format international phone numbers
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

Update CdsServiceClient
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/CandidatePastTeachingPosition.cs
  GetIntoTeachingApi/Models/CandidateQualification.cs
  GetIntoTeachingApi/Models/PickListItem.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Models/CandidatePastTeachingPositionTests.cs
  GetIntoTeachingApiTests/Models/CandidateQualificationTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/PickListItemTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Update CdsServiceClient
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/CandidatePastTeachingPosition.cs
  GetIntoTeachingApi/Models/CandidateQualification.cs
  GetIntoTeachingApi/Models/PickListItem.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Models/CandidatePastTeachingPositionTests.cs
  GetIntoTeachingApiTests/Models/CandidateQualificationTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/PickListItemTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Revert "Update CdsServiceClient (take 2)"
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/CandidatePastTeachingPosition.cs
  GetIntoTeachingApi/Models/CandidateQualification.cs
  GetIntoTeachingApi/Models/PickListItem.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Models/CandidatePastTeachingPositionTests.cs
  GetIntoTeachingApiTests/Models/CandidateQualificationTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/PickListItemTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Revert "Update CdsServiceClient (take 2)"
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/CandidatePastTeachingPosition.cs
  GetIntoTeachingApi/Models/CandidateQualification.cs
  GetIntoTeachingApi/Models/PickListItem.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Models/CandidatePastTeachingPositionTests.cs
  GetIntoTeachingApiTests/Models/CandidateQualificationTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/PickListItemTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Update CdsServiceClient
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/CandidatePastTeachingPosition.cs
  GetIntoTeachingApi/Models/CandidateQualification.cs
  GetIntoTeachingApi/Models/PickListItem.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Models/CandidatePastTeachingPositionTests.cs
  GetIntoTeachingApiTests/Models/CandidateQualificationTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/PickListItemTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Update CdsServiceClient
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/CandidatePastTeachingPosition.cs
  GetIntoTeachingApi/Models/CandidateQualification.cs
  GetIntoTeachingApi/Models/PickListItem.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Models/CandidatePastTeachingPositionTests.cs
  GetIntoTeachingApiTests/Models/CandidateQualificationTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/PickListItemTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Make logical name explicit for all EntityReference attributes
  GetIntoTeachingApi/Models/TeachingEventRegistration.cs
  GetIntoTeachingApiTests/Models/TeachingEventRegistrationTests.cs
Labels: VisualCSharp, Test

Make logical name explicit for all EntityReference attributes
  GetIntoTeachingApi/Models/TeachingEventRegistration.cs
  GetIntoTeachingApiTests/Models/TeachingEventRegistrationTests.cs
Labels: VisualCSharp, Test

Add logging for when UpsertCandidateJob throws
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
Labels: VisualCSharp, Test

Add logging for when UpsertCandidateJob throws
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
Labels: VisualCSharp, Test

Revert "Update CdsServiceClient (take 3)"
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/CandidatePastTeachingPosition.cs
  GetIntoTeachingApi/Models/CandidateQualification.cs
  GetIntoTeachingApi/Models/PickListItem.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Models/CandidatePastTeachingPositionTests.cs
  GetIntoTeachingApiTests/Models/CandidateQualificationTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/PickListItemTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Revert "Update CdsServiceClient (take 3)"
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/CandidatePastTeachingPosition.cs
  GetIntoTeachingApi/Models/CandidateQualification.cs
  GetIntoTeachingApi/Models/PickListItem.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Models/CandidatePastTeachingPositionTests.cs
  GetIntoTeachingApiTests/Models/CandidateQualificationTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/PickListItemTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Tweak telephone validation length
  GetIntoTeachingApi/Models/Validators/CandidateValidator.cs
  GetIntoTeachingApiTests/Models/Validators/CandidateValidatorTests.cs
Labels: VisualCSharp, Test

Tweak telephone validation length
  GetIntoTeachingApi/Models/Validators/CandidateValidator.cs
  GetIntoTeachingApiTests/Models/Validators/CandidateValidatorTests.cs
Labels: VisualCSharp, Test

Update CdsServiceClient
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/CandidatePastTeachingPosition.cs
  GetIntoTeachingApi/Models/CandidatePrivacyPolicy.cs
  GetIntoTeachingApi/Models/CandidateQualification.cs
  GetIntoTeachingApi/Models/PickListItem.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Models/CandidatePastTeachingPositionTests.cs
  GetIntoTeachingApiTests/Models/CandidatePrivacyPolicyTests.cs
  GetIntoTeachingApiTests/Models/CandidateQualificationTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/PickListItemTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Update CdsServiceClient
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/CandidatePastTeachingPosition.cs
  GetIntoTeachingApi/Models/CandidatePrivacyPolicy.cs
  GetIntoTeachingApi/Models/CandidateQualification.cs
  GetIntoTeachingApi/Models/PickListItem.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Models/CandidatePastTeachingPositionTests.cs
  GetIntoTeachingApiTests/Models/CandidatePrivacyPolicyTests.cs
  GetIntoTeachingApiTests/Models/CandidateQualificationTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/PickListItemTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Conditionally set teaching event sign up attributes
  GetIntoTeachingApi/Models/TeachingEventAddAttendee.cs
  GetIntoTeachingApiTests/Models/TeachingEventAddAttendeeTests.cs
Labels: VisualCSharp, Test

Conditionally set teaching event sign up attributes
  GetIntoTeachingApi/Models/TeachingEventAddAttendee.cs
  GetIntoTeachingApiTests/Models/TeachingEventAddAttendeeTests.cs
Labels: VisualCSharp, Test

Support malformed UK numbers
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

Support malformed UK numbers
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

Strip exit code before serving existing sign ups
  GetIntoTeachingApi/Models/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Utils/StringExtensions.cs
  GetIntoTeachingApiTests/Models/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Utils/StringExtensionsTests.cs
Labels: VisualCSharp, Test

Strip exit code before serving existing sign ups
  GetIntoTeachingApi/Models/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Utils/StringExtensions.cs
  GetIntoTeachingApiTests/Models/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Utils/StringExtensionsTests.cs
Labels: VisualCSharp, Test

DNS Scrapes
  monitoring/prometheus/scrapes.yml.tmpl
  terraform/paas/dev.env.tfvars
  terraform/paas/monitoring.tf
  terraform/paas/production.env.tfvars
Labels: Monitoring, DevOps

DNS Scrapes (#661)
  monitoring/prometheus/scrapes.yml.tmpl
  terraform/paas/dev.env.tfvars
  terraform/paas/monitoring.tf
  terraform/paas/production.env.tfvars
Labels: Monitoring, DevOps

DNS Scrapes (#661)
  monitoring/prometheus/scrapes.yml.tmpl
  terraform/paas/dev.env.tfvars
  terraform/paas/monitoring.tf
  terraform/paas/production.env.tfvars
Labels: Monitoring, DevOps

Fix new event error
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Fix new event error
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Link event to building by ID only when saving in the CRM
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
Labels: VisualCSharp

Link event to building by ID only when saving in the CRM
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
Labels: VisualCSharp

Don't set null option set values on SE sign up
  GetIntoTeachingApi/Models/SchoolsExperienceSignUp.cs
  GetIntoTeachingApiTests/Models/SchoolsExperienceSignUpTests.cs
Labels: VisualCSharp, Test

Don't set null option set values on SE sign up
  GetIntoTeachingApi/Models/SchoolsExperienceSignUp.cs
  GetIntoTeachingApiTests/Models/SchoolsExperienceSignUpTests.cs
Labels: VisualCSharp, Test

Have CandidateUpserter queue jobs for sub-tasks
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

Add generic UpsertModelJob
  GetIntoTeachingApi/Jobs/UpsertModelJob.cs
  GetIntoTeachingApi/Models/CandidatePastTeachingPosition.cs
  GetIntoTeachingApi/Models/CandidatePrivacyPolicy.cs
  GetIntoTeachingApi/Models/CandidateQualification.cs
  GetIntoTeachingApi/Models/IHasCandidateId.cs
  GetIntoTeachingApi/Models/PhoneCall.cs
  GetIntoTeachingApi/Models/TeachingEventRegistration.cs
  GetIntoTeachingApi/Services/NotifyService.cs
  GetIntoTeachingApiTests/Jobs/UpsertModelJobTests.cs
Labels: VisualCSharp, Test

Add generic UpsertModelJob
  GetIntoTeachingApi/Jobs/UpsertModelJob.cs
  GetIntoTeachingApi/Models/CandidatePastTeachingPosition.cs
  GetIntoTeachingApi/Models/CandidatePrivacyPolicy.cs
  GetIntoTeachingApi/Models/CandidateQualification.cs
  GetIntoTeachingApi/Models/IHasCandidateId.cs
  GetIntoTeachingApi/Models/PhoneCall.cs
  GetIntoTeachingApi/Models/TeachingEventRegistration.cs
  GetIntoTeachingApi/Services/NotifyService.cs
  GetIntoTeachingApiTests/Jobs/UpsertModelJobTests.cs
Labels: VisualCSharp, Test

Add job to claim a callback booking quota slot
  GetIntoTeachingApi/Jobs/ClaimCallbackBookingSlotJob.cs
  GetIntoTeachingApiTests/Jobs/ClaimCallbackBookingSlotJobTests.cs
Labels: VisualCSharp, Test

Add job to claim a callback booking quota slot
  GetIntoTeachingApi/Jobs/ClaimCallbackBookingSlotJob.cs
  GetIntoTeachingApiTests/Jobs/ClaimCallbackBookingSlotJobTests.cs
Labels: VisualCSharp, Test

Have CandidateUpserter queue jobs for sub-tasks
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml
