Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

feat(2447): add ptr workflow - temporary
  .github/workflows/postgres-ptr.yml
Labels: DevOps

feat(2447): add ptr workflow - temporary
  .github/workflows/postgres-ptr.yml
Labels: DevOps

feat(2447): amends to recover deleted workflow
  .github/workflows/postgres-recover-deleted-db.yml
Labels: DevOps

feat(2447): amends to recover deleted workflow
  .github/workflows/postgres-recover-deleted-db.yml
Labels: DevOps

feat(2447): amends to recover deleted workflow
  .github/workflows/postgres-recover-deleted-db.yml
Labels: DevOps

feat(2447): amends to recover deleted workflow
  .github/workflows/postgres-recover-deleted-db.yml
Labels: DevOps

feat(2447): amends to recover deleted workflow
  .github/workflows/restore-deleted-postgres.yml
Labels: DevOps

feat(2447): amends to recover deleted workflow
  .github/workflows/restore-deleted-postgres.yml
Labels: DevOps

Add non root for git api container
  .claude/settings.local.json
  Dockerfile
  terraform/aks/application.tf
  terraform/aks/variables.tf
Labels: DevOps, Docker

feat(2447): feat(2447): gitapi - add new workflow to restore a deleted postgres db
  .github/workflows/postgres-recover-deleted-db.yml
Labels: DevOps

Add non root for git api container
  Dockerfile
  terraform/aks/application.tf
  terraform/aks/variables.tf
Labels: DevOps, Docker

Add non root for git api container
  Dockerfile
  terraform/aks/application.tf
  terraform/aks/variables.tf
Labels: DevOps, Docker

feat(2447): gitapi - add new workflow to restore a deleted postgres db
  .github/workflows/postgres-recover-deleted-db.yml
Labels: DevOps

feat(2447): gitapi - add new workflow to restore a deleted postgres db
  .github/workflows/postgres-recover-deleted-db.yml
Labels: DevOps

dropping validation on path
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
Labels: VisualCSharp

dropping validation on path
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
Labels: VisualCSharp

feat(2128): testing a sample project specifying postgis version
  global_config/review.sh
  terraform/aks/databases.tf
Labels: DevOps

feat(2128): testing a sample project specifying postgis version
  terraform/aks/databases.tf
  terraform/aks/outputs.tf
Labels: DevOps

feat(2128): testing a sample project specifying postgis version
  terraform/aks/locals.tf
  terraform/aks/outputs.tf
Labels: DevOps

feat(2128): manage postgis in tf-modules - testing
  global_config/review.sh
  terraform/aks/databases.tf
Labels: DevOps

Adding in Trait so can filter out tests
  GetIntoTeachingApiTests/Contracts/ApplyCandidateApiTests.cs
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
  GetIntoTeachingApiTests/Integration/RateLimitTests.cs
  GetIntoTeachingApiTests/Jobs/LocationSyncJobTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
  GetIntoTeachingApiTests/readme.MD
Labels: Test

Adding in Trait so can filter out tests
  GetIntoTeachingApiTests/Contracts/ApplyCandidateApiTests.cs
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
  GetIntoTeachingApiTests/Integration/RateLimitTests.cs
  GetIntoTeachingApiTests/Jobs/LocationSyncJobTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
  GetIntoTeachingApiTests/readme.MD
Labels: Test

Adding in test and logic to keep 4 fields from being overwritten with null
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

Adding in test and logic to keep 4 fields from being overwritten with null
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

Simplified tests and included overwrite test, moved capture local as not used elsewhere
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: Test

Simplified tests and included overwrite test, moved capture local as not used elsewhere
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: Test

Update readme.MD
  GetIntoTeachingApiTests/readme.MD
Labels: Test

Update readme.MD
  GetIntoTeachingApiTests/readme.MD
Labels: Test

Refactoring the logic for updating values for readibility
  GetIntoTeachingApi/Services/CandidateUpserter.cs
Labels: VisualCSharp

Refactoring the logic for updating values for readibility
  GetIntoTeachingApi/Services/CandidateUpserter.cs
Labels: VisualCSharp

Adding in null gaurding around existing as we don't need to set if not in use
  GetIntoTeachingApi/Services/CandidateUpserter.cs
Labels: VisualCSharp

Adding in null gaurding around existing as we don't need to set if not in use
  GetIntoTeachingApi/Services/CandidateUpserter.cs
Labels: VisualCSharp

refactor to improve flow and update tests
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

refactor to improve flow and update tests
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

Adding other into degree validation
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
Labels: VisualCSharp

Adding other into degree validation
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
Labels: VisualCSharp

Addiing intial Architexture rewrites
  docs/architecture/GITArchitecture2.drawio
  docs/architecture/architecture.mmd
Labels: none

Addiing intial Architexture rewrites
  docs/architecture/GITArchitecture2.drawio
  docs/architecture/architecture.mmd
Labels: none

Update base image version in Dockerfile
  Dockerfile
Labels: Docker

Update base image version in Dockerfile
  Dockerfile
Labels: Docker

.github/labeler.yml:

---

VisualCSharp:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApi/**/*.cs'

Test:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApiTests/**/*'

Monitoring:
- changed-files:
  - any-glob-to-any-file: 'monitoring/**/*'

DevOps:
- changed-files:
  - any-glob-to-any-file: 'terraform/**/*'
  - any-glob-to-any-file: '.github/**/*.yml'

Docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: 'docker-compose.yml'
