Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApi/**/*.cs'

Test:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApiTests/**/*'

Monitoring:
- changed-files:
  - any-glob-to-any-file: 'monitoring/**/*'

DevOps:
- changed-files:
  - any-glob-to-any-file: 'terraform/**/*'
  - any-glob-to-any-file: '.github/**/*.yml'

Docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: 'docker-compose.yml'

Test completion and code consolidation - ready for review.
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/CandidateContactChannelCreationsCrmRepository.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/ContactChannelCreationSaveRequest.cs
  GetIntoTeachingApi/Jobs/UpsertModelWithCandidateIdJob.cs
  GetIntoTeachingApi/Jobs/UpsertStrategies/ContactChannelCreationSanitisationUpsertStrategy.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/CandidateSanitisationDeduplicateApplyChannelRuleTests.DELETEME
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationDuplicateSanitisationRuleTests.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationSanitisationRulesHandlerTests.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/CandidateContactChannelCreationsCrmRepositoryTests.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/TestDoubles/CandidateContactChannelCreationsCrmRepositoryTestDoubles.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/TestDoubles/ContactChannelCreationDuplicateSanitisationRulesHandlerTestDouble.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/TestDoubles/CrmServiceTestDouble.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/TestDoubles/SaveResultBuilder.cs
  GetIntoTeachingApiTests/Jobs/UpsertModelWithCandidateIdJobTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertStrategies/ContactChannelCreationSanitisationUpsertStrategyTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

fix contract tests
  GetIntoTeachingApi/Jobs/UpsertContactCreationChannelsJob.cs
  GetIntoTeachingApi/Jobs/UpsertStrategies/ContactChannelCreationSanitisationUpsertStrategy.cs
  GetIntoTeachingApiTests/Contracts/Data/contact_creation_channels.json
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Helpers/ContractCrmService.cs
  GetIntoTeachingApiTests/Helpers/MockOrganizationServiceAdapter.cs
Labels: VisualCSharp, Test

fix contract tests
  GetIntoTeachingApi/Jobs/UpsertContactCreationChannelsJob.cs
  GetIntoTeachingApi/Jobs/UpsertStrategies/ContactChannelCreationSanitisationUpsertStrategy.cs
  GetIntoTeachingApiTests/Contracts/Data/contact_creation_channels.json
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Helpers/ContractCrmService.cs
  GetIntoTeachingApiTests/Helpers/MockOrganizationServiceAdapter.cs
Labels: VisualCSharp, Test

Removed unused ICrmService dependency.
  GetIntoTeachingApi/Jobs/UpsertStrategies/ContactChannelCreationSanitisationUpsertStrategy.cs
Labels: VisualCSharp

Removed unused ICrmService dependency.
  GetIntoTeachingApi/Jobs/UpsertStrategies/ContactChannelCreationSanitisationUpsertStrategy.cs
Labels: VisualCSharp

Fixed tests after dependency removal
  GetIntoTeachingApiTests/Jobs/UpsertStrategies/ContactChannelCreationSanitisationUpsertStrategyTests.cs
Labels: Test

Fixed tests after dependency removal
  GetIntoTeachingApiTests/Jobs/UpsertStrategies/ContactChannelCreationSanitisationUpsertStrategyTests.cs
Labels: Test

Consolidated a bit more and added tests to the CrmService for creationChannels.
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/ContactChannelCreationSaveRequest.cs
  GetIntoTeachingApi/Jobs/UpsertStrategies/ContactChannelCreationSanitisationUpsertStrategy.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Consolidated a bit more and added tests to the CrmService for creationChannels.
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/ContactChannelCreationSaveRequest.cs
  GetIntoTeachingApi/Jobs/UpsertStrategies/ContactChannelCreationSanitisationUpsertStrategy.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Remove trailing blank line from README
  README.md
Labels: none

Remove trailing blank line from README
  README.md
Labels: none

re-instate query criteria
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Services/CrmService.cs
Labels: VisualCSharp

re-instate query criteria
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Services/CrmService.cs
Labels: VisualCSharp

Add Query Builder and tests
  GetIntoTeachingApi/Services/Builders/QueryExpressionBuilder.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Services/Builders/QueryExpressionBuilderTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Add Query Builder and tests
  GetIntoTeachingApi/Services/Builders/QueryExpressionBuilder.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Services/Builders/QueryExpressionBuilderTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Use build-docker-image action
  .github/workflows/build-and-deploy.yml
  .github/workflows/build-no-cache.yml
  Dockerfile
Labels: DevOps, Docker

Use build-docker-image action
  .github/workflows/build-and-deploy.yml
  .github/workflows/build-no-cache.yml
  Dockerfile
Labels: DevOps, Docker

Adding in 3 new fields and refactor on the tests to allow checking with fakes
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/Fakes/FakePickListItem.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Adding in 3 new fields and refactor on the tests to allow checking with fakes
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/Fakes/FakePickListItem.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Updating tests to pass back the picklists more inline with how the iStore does
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Updating tests to pass back the picklists more inline with how the iStore does
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Returning to simple test as testing in wrong space and need to confirm in the store tests
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
Labels: Test

Returning to simple test as testing in wrong space and need to confirm in the store tests
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
Labels: Test

Refactor and removing now redundant faker
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/Fakes/FakePickListItem.cs
Labels: VisualCSharp, Test

Refactor and removing now redundant faker
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/Fakes/FakePickListItem.cs
Labels: VisualCSharp, Test

fixing broken location check as not required
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: Test

fixing broken location check as not required
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: Test

Adding into candidate creator to pass to CRM and updated tests
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_no_teacher_reference_number_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_teacher_reference_number_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_returning_existing_data_change_address.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
Labels: VisualCSharp, Test

Adding into candidate creator to pass to CRM and updated tests
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_no_teacher_reference_number_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_teacher_reference_number_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_returning_existing_data_change_address.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
Labels: VisualCSharp, Test

remove additional attribute
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
Labels: Test

remove additional attribute
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
Labels: Test

updating picklists and adding new items into tests
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/citizenship.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/location.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/situation.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/visastatus.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_no_teacher_reference_number_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_teacher_reference_number_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_returning_existing_data_change_address.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_no_teacher_reference_number_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_teacher_reference_number_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_returning_existing_data_change_address.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
Labels: Test

updating picklists and adding new items into tests
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/citizenship.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/location.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/situation.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/visastatus.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_no_teacher_reference_number_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_teacher_reference_number_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_returning_existing_data_change_address.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_no_teacher_reference_number_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_teacher_reference_number_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_returning_existing_data_change_address.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
Labels: Test

adding the new seed files to copy everytime
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

adding the new seed files to copy everytime
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Correcting situation validation
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
Labels: VisualCSharp

Correcting situation validation
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
Labels: VisualCSharp

adding back removed field
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
Labels: VisualCSharp

adding back removed field
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
Labels: VisualCSharp

changing Situation to HasQualifiedTeacherStatus
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
Labels: VisualCSharp
