Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml

Only validate readableId of existing event when it has changed
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
Labels: VisualCSharp, Test

Tweak ReadableIdHasChanged logic
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
Labels: VisualCSharp, Test

Tweak ReadableIdHasChanged logic
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
Labels: VisualCSharp, Test

Remove PLAN
  .github/workflows/deploy.yml
Labels: DevOps

Add CrmName property to TeachingEvent
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
Labels: VisualCSharp, Test

Add CrmName property to TeachingEvent
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
Labels: VisualCSharp, Test

Update validator to use TeachingEventExistsWithReadableId store method
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Update validator to use TeachingEventExistsWithReadableId store method
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Remove PLAN (#586)
  .github/workflows/deploy.yml
Labels: DevOps

Remove PLAN (#586)
  .github/workflows/deploy.yml
Labels: DevOps

Add TTA service feedback dashboard
  monitoring/grafana/dashboards/service_feedback.json
Labels: Monitoring

Add TTA service feedback dashboard
  monitoring/grafana/dashboards/service_feedback.json
Labels: Monitoring

Restrict Alerts to Production
  monitoring/prometheus/alert.rules
Labels: Monitoring

Restrict Alerts to Production (#589)
  monitoring/prometheus/alert.rules
Labels: Monitoring

Restrict Alerts to Production (#589)
  monitoring/prometheus/alert.rules
Labels: Monitoring

Remove unique readable id validation
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
Labels: VisualCSharp, Test

Remove unique readable id validation
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
Labels: VisualCSharp, Test

Only validate ReadableId on upsert action
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Models/TeachingEventUpsertOperation.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventUpsertOperationValidator.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventUpsertOperationTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventUpsertOperationValidatorTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Only validate ReadableId on upsert action
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Models/TeachingEventUpsertOperation.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventUpsertOperationValidator.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventUpsertOperationTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventUpsertOperationValidatorTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Add CRM time zone property
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
Labels: VisualCSharp, Test

Add CRM time zone property
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
Labels: VisualCSharp, Test

Remove CrmETag
  GetIntoTeachingApi/Attributes/CrmETagAttribute.cs
  GetIntoTeachingApi/Controllers/LookupItemsController.cs
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Controllers/PrivacyPoliciesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventBuildingsController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApiTests/Attributes/CrmETagAttributeTests.cs
  GetIntoTeachingApiTests/Controllers/LookupItemsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PrivacyPoliciesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventBuildingsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
Labels: VisualCSharp, Test

Remove CrmETag
  GetIntoTeachingApi/Attributes/CrmETagAttribute.cs
  GetIntoTeachingApi/Controllers/LookupItemsController.cs
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Controllers/PrivacyPoliciesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventBuildingsController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApiTests/Attributes/CrmETagAttributeTests.cs
  GetIntoTeachingApiTests/Controllers/LookupItemsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PrivacyPoliciesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventBuildingsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
Labels: VisualCSharp, Test

only notify on master
  .github/workflows/pull_request.yml
Labels: DevOps

Only notify on master
  .github/workflows/sonarcloud.yml
Labels: DevOps

Add preset labels to all custom metrics
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Helpers/DatabaseTests.cs
  GetIntoTeachingApiTests/Services/MetricServiceTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Add preset labels to all custom metrics
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Helpers/DatabaseTests.cs
  GetIntoTeachingApiTests/Services/MetricServiceTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Switch off logging to logit.io is development
  terraform/paas/dev.env.tfvars
Labels: DevOps

Correct VCAP_APPLICATION env var name
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApiTests/Helpers/DatabaseTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Correct VCAP_APPLICATION env var name
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApiTests/Helpers/DatabaseTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Improve logging around potential duplicate Candidates
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

Improve logging around potential duplicate Candidates
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

Switch off logging to logit.io is development (#596)
  terraform/paas/dev.env.tfvars
Labels: DevOps

Switch off logging to logit.io is development (#596)
  terraform/paas/dev.env.tfvars
Labels: DevOps

Only notify slack on master branch changes (#595)
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Only notify slack on master branch changes (#595)
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Use master branch of Prometheus
  terraform/paas/monitoring.tf
Labels: DevOps

Use master branch of Prometheus (#599)
  terraform/paas/monitoring.tf
Labels: DevOps

Use master branch of Prometheus (#599)
  terraform/paas/monitoring.tf
Labels: DevOps

Make error resposne format consistent
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
Labels: VisualCSharp, Test
