Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

Add API client for Apply service
  GetIntoTeachingApi/Fixtures/clients.yml
Labels: none

Add API client for Apply service
  GetIntoTeachingApi/Fixtures/clients.yml
Labels: none

Rename folder from FindApply to Apply
  GetIntoTeachingApiTests/Models/Apply/ApplicationChoiceTests.cs
  GetIntoTeachingApiTests/Models/Apply/ApplicationFormTests.cs
  GetIntoTeachingApiTests/Models/Apply/ApplicationResponseTests.cs
  GetIntoTeachingApiTests/Models/Apply/CandidateAttributesTests.cs
  GetIntoTeachingApiTests/Models/Apply/CandidateTests.cs
  GetIntoTeachingApiTests/Models/Apply/CourseTests.cs
  GetIntoTeachingApiTests/Models/Apply/InterviewTests.cs
  GetIntoTeachingApiTests/Models/Apply/ProviderTests.cs
  GetIntoTeachingApiTests/Models/Apply/ReferenceTests.cs
  GetIntoTeachingApiTests/Models/Apply/ResponseTests.cs
Labels: Test

Rename folder from FindApply to Apply
  GetIntoTeachingApiTests/Models/Apply/ApplicationChoiceTests.cs
  GetIntoTeachingApiTests/Models/Apply/ApplicationFormTests.cs
  GetIntoTeachingApiTests/Models/Apply/ApplicationResponseTests.cs
  GetIntoTeachingApiTests/Models/Apply/CandidateAttributesTests.cs
  GetIntoTeachingApiTests/Models/Apply/CandidateTests.cs
  GetIntoTeachingApiTests/Models/Apply/CourseTests.cs
  GetIntoTeachingApiTests/Models/Apply/InterviewTests.cs
  GetIntoTeachingApiTests/Models/Apply/ProviderTests.cs
  GetIntoTeachingApiTests/Models/Apply/ReferenceTests.cs
  GetIntoTeachingApiTests/Models/Apply/ResponseTests.cs
Labels: Test

Add final year student contract test
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Add final year student contract test
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Add feature flag for country codes
  GetIntoTeachingApi/env.dev
  GetIntoTeachingApi/env.prod
  GetIntoTeachingApi/env.test
Labels: none

Add feature flag for country codes
  GetIntoTeachingApi/env.dev
  GetIntoTeachingApi/env.prod
  GetIntoTeachingApi/env.test
Labels: none

Refactor to use new Country/TeachingSubject models
  GetIntoTeachingApi/Controllers/LookupItemsController.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidatePastTeachingPositionValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateSchoolExperienceValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/LookupItem.cs
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApi/Validators/LookupItemIdValidator.cs
  GetIntoTeachingApiTests/Contracts/BaseTests.cs
  GetIntoTeachingApiTests/Controllers/LookupItemsControllerTests.cs
  GetIntoTeachingApiTests/Helpers/ContractCrmService.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidatePastTeachingPositionValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateSchoolExperienceValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/LookupItemTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
  GetIntoTeachingApiTests/Validators/LookupItemIdValidatorTests.cs
Labels: VisualCSharp, Test

Add migration from LookupItem to Country/TeachingSubject
  GetIntoTeachingApi/AppStart/DatabaseUtility.cs
  GetIntoTeachingApi/AppStart/Startup.cs
Labels: VisualCSharp

Add migration from LookupItem to Country/TeachingSubject
  GetIntoTeachingApi/AppStart/DatabaseUtility.cs
  GetIntoTeachingApi/AppStart/Startup.cs
Labels: VisualCSharp

Fix typo in validator filename
  GetIntoTeachingApi/Validators/TeachingSubjectIdValidator.cs
Labels: VisualCSharp

Add individual Country/TeachingSubject models
  GetIntoTeachingApi/Database/GetIntoTeachingDbContext.cs
  GetIntoTeachingApi/Migrations/20230203122811_AddCountryTeachingSubjectTables.Designer.cs
  GetIntoTeachingApi/Migrations/20230203122811_AddCountryTeachingSubjectTables.cs
  GetIntoTeachingApi/Models/Country.cs
  GetIntoTeachingApi/Models/TeachingSubject.cs
  GetIntoTeachingApiTests/Models/CountryTests.cs
  GetIntoTeachingApiTests/Models/TeachingSubjectTests.cs
Labels: VisualCSharp, Test

Add individual Country/TeachingSubject models
  GetIntoTeachingApi/Database/GetIntoTeachingDbContext.cs
  GetIntoTeachingApi/Migrations/20230203122811_AddCountryTeachingSubjectTables.Designer.cs
  GetIntoTeachingApi/Migrations/20230203122811_AddCountryTeachingSubjectTables.cs
  GetIntoTeachingApi/Models/Country.cs
  GetIntoTeachingApi/Models/TeachingSubject.cs
  GetIntoTeachingApiTests/Models/CountryTests.cs
  GetIntoTeachingApiTests/Models/TeachingSubjectTests.cs
Labels: VisualCSharp, Test

Add Id validators for new models
  GetIntoTeachingApi/Validators/CountryIdValidator.cs
  GetIntoTeachingApi/Validators/TeachingSubjectIdValodator.cs
  GetIntoTeachingApiTests/Validators/CountryIdValidatorTests.cs
  GetIntoTeachingApiTests/Validators/TeachingSubjectIdValidatorTests.cs
Labels: VisualCSharp, Test

Fix typo in validator filename
  GetIntoTeachingApi/Validators/TeachingSubjectIdValidator.cs
Labels: VisualCSharp

Refactor to use new Country/TeachingSubject models
  GetIntoTeachingApi/Controllers/LookupItemsController.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidatePastTeachingPositionValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateSchoolExperienceValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/LookupItem.cs
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApi/Validators/LookupItemIdValidator.cs
  GetIntoTeachingApiTests/Contracts/BaseTests.cs
  GetIntoTeachingApiTests/Controllers/LookupItemsControllerTests.cs
  GetIntoTeachingApiTests/Helpers/ContractCrmService.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidatePastTeachingPositionValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateSchoolExperienceValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/LookupItemTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
  GetIntoTeachingApiTests/Validators/LookupItemIdValidatorTests.cs
Labels: VisualCSharp, Test

Add Id validators for new models
  GetIntoTeachingApi/Validators/CountryIdValidator.cs
  GetIntoTeachingApi/Validators/TeachingSubjectIdValodator.cs
  GetIntoTeachingApiTests/Validators/CountryIdValidatorTests.cs
  GetIntoTeachingApiTests/Validators/TeachingSubjectIdValidatorTests.cs
Labels: VisualCSharp, Test

Grant Apply access to adviser sign up
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

Setup rate limits for Apply service
  GetIntoTeachingApi/appsettings.json
  GetIntoTeachingApiTests/Integration/RateLimitTests.cs
Labels: Test

Grant Apply access to adviser sign up
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

Add endpoint to retrieve existing candidate id
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Models/CandidateMatchbackResponse.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Models/CandidateMatchbackResponseTests.cs
Labels: VisualCSharp, Test

Add endpoint to retrieve existing candidate id
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Models/CandidateMatchbackResponse.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Models/CandidateMatchbackResponseTests.cs
Labels: VisualCSharp, Test

Setup rate limits for Apply service
  GetIntoTeachingApi/appsettings.json
  GetIntoTeachingApiTests/Integration/RateLimitTests.cs
Labels: Test

Add adviser matchback endpoint for Apply service
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Models/CandidateMatchbackResponse.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Models/CandidateMatchbackResponseTests.cs
Labels: VisualCSharp, Test

Add adviser matchback endpoint for Apply service
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Models/CandidateMatchbackResponse.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Models/CandidateMatchbackResponseTests.cs
Labels: VisualCSharp, Test

Fix tag for matchback endpoint
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
Labels: VisualCSharp

Fix tag for matchback endpoint
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
Labels: VisualCSharp

Relax GCSE science validation
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Relax GCSE science validation
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Increase memory capacity for monitoring
  terraform/paas/monitoring.tf
Labels: DevOps

Increase memory capacity for monitoring
  terraform/paas/monitoring.tf
Labels: DevOps

Remove Microsoft.CodeAnalysis.NetAnalyzers
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
Labels: none

Remove Microsoft.CodeAnalysis.NetAnalyzers
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
Labels: none

Various dependency updates
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Various dependency updates
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Revert "Various dependency updates"
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Revert "Various dependency updates"
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

f
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
Labels: none

f
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
Labels: none

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml
