Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml

Expose AdviserStatusId on TeacherTrainingAdviserSignUp
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

Expose AdviserStatusId on TeacherTrainingAdviserSignUp
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

Handle candidates with closed adviser status
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

Handle candidates with closed adviser status
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

Revert "Handle candidates re-signing up with a closed adviser status"
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

Revert "Handle candidates re-signing up with a closed adviser status"
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

Revert "Revert "Handle candidates re-signing up with a closed adviser status""
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

Revert "Revert "Handle candidates re-signing up with a closed adviser status""
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

Don't swallow CRM exceptions on token generation
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

Don't swallow CRM exceptions on token generation
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

Add IsWalkIn attribute to TeachingEventAddAttendee
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
Labels: VisualCSharp

Add IsWalkIn attribute to TeachingEventAddAttendee
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
Labels: VisualCSharp

Set event registration channel for walk-ins
  GetIntoTeachingApi/Models/Crm/TeachingEventRegistration.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
Labels: VisualCSharp, Test

Set event registration channel for walk-ins
  GetIntoTeachingApi/Models/Crm/TeachingEventRegistration.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
Labels: VisualCSharp, Test

Add callbacks grafana panel
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

Add callbacks grafana panel
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

Map AdviserStatusId from Candidate
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

Map AdviserStatusId from Candidate
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

Remove pen test client
  GetIntoTeachingApi/Fixtures/clients.yml
  GetIntoTeachingApi/Properties/launchSettings.json
Labels: none

Remove pen test client
  GetIntoTeachingApi/Fixtures/clients.yml
Labels: none

Bug fix to support empty array in GetCandidates method
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Bug fix to support empty array in GetCandidates method
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Remove redundant AlreadySubscribedToTeacherTrainingAdviser attribute
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

Remove redundant AlreadySubscribedToTeacherTrainingAdviser attribute
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

Rate limit admin role
  GetIntoTeachingApi/appsettings.json
  GetIntoTeachingApiTests/Integration/RateLimitTests.cs
Labels: Test

Rate limit admin role
  GetIntoTeachingApi/appsettings.json
  GetIntoTeachingApiTests/Integration/RateLimitTests.cs
Labels: Test

Fix flakey contract tests
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
Labels: Test

Fix flakey contract tests
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
Labels: Test

Remove Server header from response
  GetIntoTeachingApi/Program.cs
Labels: VisualCSharp

Remove Server header from response
  GetIntoTeachingApi/Program.cs
Labels: VisualCSharp

Add security headers
  GetIntoTeachingApi/AppStart/ResponseHeaders.cs
  GetIntoTeachingApi/AppStart/Startup.cs
Labels: VisualCSharp

Add security headers
  GetIntoTeachingApi/AppStart/ResponseHeaders.cs
  GetIntoTeachingApi/AppStart/Startup.cs
Labels: VisualCSharp

Disable HTTP -> HTTPS redirection
  GetIntoTeachingApi/Properties/launchSettings.json
Labels: none

Revert "Disable HTTP -> HTTPS redirection"
  GetIntoTeachingApi/Properties/launchSettings.json
Labels: none

Allow multiple event types in event search
  GetIntoTeachingApi/Controllers/GetIntoTeaching/TeachingEventsController.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventSearchRequest.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/TeachingEventSearchRequestValidator.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApi/Validators/PickListItemIdsValidator.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventSearchRequestTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventSearchRequestValidatorTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
  GetIntoTeachingApiTests/Validators/PickListItemIdsValidatorTests.cs
Labels: VisualCSharp, Test

Allow multiple event types in event search
  GetIntoTeachingApi/Controllers/GetIntoTeaching/TeachingEventsController.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventSearchRequest.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/TeachingEventSearchRequestValidator.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApi/Validators/PickListItemIdsValidator.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventSearchRequestTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventSearchRequestValidatorTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
  GetIntoTeachingApiTests/Validators/PickListItemIdsValidatorTests.cs
Labels: VisualCSharp, Test

Improve wait logic around contract test job queue
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
Labels: Test

Improve wait logic around contract test job queue
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
Labels: Test

Add contract test for re-subscribing to a TTA
  GetIntoTeachingApiTests/Contracts/Data/teacher_training_adviser/candidates.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Add contract test for re-subscribing to a TTA
  GetIntoTeachingApiTests/Contracts/Data/teacher_training_adviser/candidates.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test
