Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml

Add StringExtensions for formatting postcodes
  GetIntoTeachingApi/Models/Location.cs
  GetIntoTeachingApi/Utils/StringExtensions.cs
  GetIntoTeachingApiTests/Utils/StringExtensionsTests.cs
Labels: VisualCSharp, Test

Format postcodes from request models
  GetIntoTeachingApi/Models/MailingListAddMember.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeachingEventAddAttendee.cs
  GetIntoTeachingApiTests/Models/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Utils/StringExtensionsTests.cs
Labels: VisualCSharp, Test

Add event search dashboard
  monitoring/grafana/dashboards/get_into_teaching_api_event_search.json
Labels: Monitoring

Add event search dashboard
  monitoring/grafana/dashboards/get_into_teaching_api_event_search.json
Labels: Monitoring

Remove event search panels from main API dashboard
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

Remove event search panels from main API dashboard
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

Use Newtonsoft.Json for Hangfire payloads
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/JsonExtensions.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
Labels: VisualCSharp, Test

Add Json serializer details to README
  README.md
Labels: none

Use Newtonsoft.Json for Hangfire payloads
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/JsonExtensions.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
Labels: VisualCSharp, Test

Add Json serializer details to README
  README.md
Labels: none

Moved ELK Datasource for Grafana to common module
  monitoring/grafana/datasources/elasticsearch.yml.tmpl
  terraform/paas/monitoring.tf
Labels: Monitoring, DevOps

Remove telephone from MailingListAddMember
  GetIntoTeachingApi/Models/MailingListAddMember.cs
  GetIntoTeachingApiTests/Models/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/Validators/MailingListAddMemberValidatorTests.cs
Labels: VisualCSharp, Test

Remove telephone from MailingListAddMember
  GetIntoTeachingApi/Models/MailingListAddMember.cs
  GetIntoTeachingApiTests/Models/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/Validators/MailingListAddMemberValidatorTests.cs
Labels: VisualCSharp, Test

Basic Logs from logit.io
  monitoring/grafana/dashboards/logit_logs.json
Labels: Monitoring

Updated Resources
  monitoring/grafana/dashboards/resources.json
Labels: Monitoring

Logit logs (#537)
  monitoring/grafana/dashboards/logit_logs.json
  monitoring/grafana/dashboards/resources.json
Labels: Monitoring

Logit logs (#537)
  monitoring/grafana/dashboards/logit_logs.json
  monitoring/grafana/dashboards/resources.json
Labels: Monitoring

Moved ELK Datasource for Grafana to common module (#535)
  monitoring/grafana/datasources/elasticsearch.yml.tmpl
  terraform/paas/monitoring.tf
Labels: Monitoring, DevOps

Moved ELK Datasource for Grafana to common module (#535)
  monitoring/grafana/datasources/elasticsearch.yml.tmpl
  terraform/paas/monitoring.tf
Labels: Monitoring, DevOps

DRY up StoreTests
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test

Fix GetTeachingEventsBuildings test
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test

Load teaching event buildings into memory before filtering
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

Split out teaching event building into separate controller
  GetIntoTeachingApi/Controllers/TeachingEventBuildingsController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventBuildingsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
Labels: VisualCSharp, Test

Fix GetTeachingEventsBuildings test
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test

Add CRM query for teaching event buildings
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Add test for buildingId attribute
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
Labels: Test

Add endpoint to get teaching event buildings
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Load teaching event buildings into memory before filtering
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

Split out teaching event building into separate controller
  GetIntoTeachingApi/Controllers/TeachingEventBuildingsController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventBuildingsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
Labels: VisualCSharp, Test

Add CRM query for teaching event buildings
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Remove link from query
  GetIntoTeachingApi/Services/CrmService.cs
Labels: VisualCSharp

Add endpoint to get teaching event buildings
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Sync buildings and events separately
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Sync buildings and events separately
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Add test for buildingId attribute
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
Labels: Test

Remove link from query
  GetIntoTeachingApi/Services/CrmService.cs
Labels: VisualCSharp

DRY up StoreTests
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test

Test building event syncs separately
  GetIntoTeachingApi/Controllers/TeachingEventBuildingsController.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Test building event syncs separately
  GetIntoTeachingApi/Controllers/TeachingEventBuildingsController.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Collect metric on in person event result counts
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApi/Services/IMetricService.cs
  GetIntoTeachingApi/Services/MetricService.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
  GetIntoTeachingApiTests/Services/MetricServiceTests.cs
Labels: VisualCSharp, Test
