Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

Make zip file checker configurable so that it can be tested easily
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApi/Utils/ZipFileChecker.cs
  GetIntoTeachingApiTests/Fixtures/zip-bomb-fixtures/25kb-uncompressed_1kb-compressed.zip
  GetIntoTeachingApiTests/Fixtures/zip-bomb-fixtures/contains-two-files.zip
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Utils/ZipFileCheckerTests.cs
Labels: VisualCSharp, Test

Format logging in JSON with Serilog
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/appsettings.Development.json
  GetIntoTeachingApi/appsettings.json
Labels: VisualCSharp

Format logging in JSON with Serilog
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/appsettings.Development.json
  GetIntoTeachingApi/appsettings.json
Labels: VisualCSharp

Allow multiple event types in event search
  GetIntoTeachingApi/Controllers/GetIntoTeaching/TeachingEventsController.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventSearchRequest.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/TeachingEventSearchRequestValidator.cs
  GetIntoTeachingApi/Services/MetricService.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApi/Validators/PickListItemIdValidator.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventSearchRequestTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventSearchRequestValidatorTests.cs
  GetIntoTeachingApiTests/Services/MetricServiceTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Allow multiple event types in event search
  GetIntoTeachingApi/Controllers/GetIntoTeaching/TeachingEventsController.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventSearchRequest.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/TeachingEventSearchRequestValidator.cs
  GetIntoTeachingApi/Services/MetricService.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApi/Validators/PickListItemIdValidator.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventSearchRequestTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventSearchRequestValidatorTests.cs
  GetIntoTeachingApiTests/Services/MetricServiceTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Increase GoogleApiErrors alert threshold
  monitoring/prometheus/alert.rules
Labels: Monitoring

Increase GoogleApiErrors alert threshold
  monitoring/prometheus/alert.rules
Labels: Monitoring

Remove TypeId parameter from events search
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventSearchRequest.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/TeachingEventSearchRequestValidator.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventSearchRequestTests.cs
Labels: VisualCSharp, Test

Remove TypeId parameter from events search
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventSearchRequest.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/TeachingEventSearchRequestValidator.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventSearchRequestTests.cs
Labels: VisualCSharp, Test

Extend comma separated attribute so that it can handle complex types
  GetIntoTeachingApi/Attributes/CommaSeparatedAttribute.cs
  GetIntoTeachingApi/Attributes/CommaSeparatedQueryStringAttribute.cs
  GetIntoTeachingApi/Controllers/GetIntoTeaching/TeachingEventsController.cs
  GetIntoTeachingApi/Utils/CommaSeparatedQueryStringConvention.cs
  GetIntoTeachingApi/Utils/CommaSeparatedQueryStringValueProvider.cs
  GetIntoTeachingApi/Utils/CommaSeparatedQueryStringValueProviderFactory.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Utils/CommaSeparatedQueryStringValueProviderFactoryTests.cs
  GetIntoTeachingApiTests/Utils/CommaSeparatedQueryStringValueProviderTests.cs
Labels: VisualCSharp, Test

Extend comma separated attribute so that it can handle complex types
  GetIntoTeachingApi/Attributes/CommaSeparatedAttribute.cs
  GetIntoTeachingApi/Attributes/CommaSeparatedQueryStringAttribute.cs
  GetIntoTeachingApi/Controllers/GetIntoTeaching/TeachingEventsController.cs
  GetIntoTeachingApi/Utils/CommaSeparatedQueryStringConvention.cs
  GetIntoTeachingApi/Utils/CommaSeparatedQueryStringValueProvider.cs
  GetIntoTeachingApi/Utils/CommaSeparatedQueryStringValueProviderFactory.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Utils/CommaSeparatedQueryStringValueProviderFactoryTests.cs
  GetIntoTeachingApiTests/Utils/CommaSeparatedQueryStringValueProviderTests.cs
Labels: VisualCSharp, Test

Map phase/status to FindApply application forms
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Models/Crm/ApplicationForm.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/Validators/ApplicationFormValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/FindApply/ApplicationForm.cs
  GetIntoTeachingApi/Models/FindApply/CandidateAttributes.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Models/Crm/ApplicationFormTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ApplicationFormValidatorTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ApplicationFormTests.cs
  GetIntoTeachingApiTests/Models/FindApply/CandidateAttributesTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Map phase/status to FindApply application forms
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Models/Crm/ApplicationForm.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/Validators/ApplicationFormValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/FindApply/ApplicationForm.cs
  GetIntoTeachingApi/Models/FindApply/CandidateAttributes.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Models/Crm/ApplicationFormTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ApplicationFormValidatorTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ApplicationFormTests.cs
  GetIntoTeachingApiTests/Models/FindApply/CandidateAttributesTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Bulk update dependencies
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Bulk update dependencies
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Switch to AddHangfireServer
  GetIntoTeachingApi/AppStart/ApplicationBuilderExtensions.cs
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/AppStart/Startup.cs
Labels: VisualCSharp

Switch to AddHangfireServer
  GetIntoTeachingApi/AppStart/ApplicationBuilderExtensions.cs
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/AppStart/Startup.cs
Labels: VisualCSharp

Update with client configuration recommendations
  README.md
Labels: none

Update with client configuration recommendations
  README.md
Labels: none

Revert "Bulk update dependencies"
  GetIntoTeachingApi/AppStart/ApplicationBuilderExtensions.cs
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: VisualCSharp, Test

Revert "Bulk update dependencies"
  GetIntoTeachingApi/AppStart/ApplicationBuilderExtensions.cs
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: VisualCSharp, Test

Revert "Revert "Bulk update dependencies""
  GetIntoTeachingApi/AppStart/ApplicationBuilderExtensions.cs
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: VisualCSharp, Test

Revert "Revert "Bulk update dependencies""
  GetIntoTeachingApi/AppStart/ApplicationBuilderExtensions.cs
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: VisualCSharp, Test

Run Books
  monitoring/prometheus/alert.rules
Labels: Monitoring

Undo remapping of QT events to TTT
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Undo remapping of QT events to TTT
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Make first/last name optional on Candidate
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidatorTests.cs
Labels: VisualCSharp, Test

Make first/last name optional on Candidate
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidatorTests.cs
Labels: VisualCSharp, Test

Sync new Apply candidates to the CRM
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
Labels: VisualCSharp, Test

Sync new Apply candidates to the CRM
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
Labels: VisualCSharp, Test

Set channel for new Apply candidates
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
Labels: VisualCSharp, Test

Set channel for new Apply candidates
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
Labels: VisualCSharp, Test

Fallback to matching on email only
  GetIntoTeachingApi/Models/ExistingCandidateRequest.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Models/Crm/BaseModelTests.cs
  GetIntoTeachingApiTests/Models/ExistingCandidateRequestTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Fallback to matching on email only
  GetIntoTeachingApi/Models/ExistingCandidateRequest.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Models/Crm/BaseModelTests.cs
  GetIntoTeachingApiTests/Models/ExistingCandidateRequestTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Terraform Statuscake Provider Change
  terraform/paas/provider.tf
Labels: DevOps

Terraform Statuscake Provider Change (#793)
  terraform/paas/provider.tf
Labels: DevOps

Terraform Statuscake Provider Change (#793)
  terraform/paas/provider.tf
Labels: DevOps

Use FluentAssertions.Json in contract test assertion
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Use FluentAssertions.Json in contract test assertion
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Sort entities and attributes prior to comparison
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
Labels: Test

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml
