Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml

Return NoResult instead of Failure when Authorization header missing
  GetIntoTeachingApi/Auth/ApiClientHandler.cs
  GetIntoTeachingApiTests/Auth/ApiClientHandlerTests.cs
Labels: VisualCSharp, Test

Devops/rationalise db (#509)
  terraform/paas/dev.env.tfvars
  terraform/paas/production.env.tfvars
  terraform/paas/sandbox.env.tfvars
  terraform/paas/services.tf
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps

Devops/rationalise db (#509)
  terraform/paas/dev.env.tfvars
  terraform/paas/production.env.tfvars
  terraform/paas/sandbox.env.tfvars
  terraform/paas/services.tf
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps

Update deploy.yml
  .github/workflows/deploy.yml
Labels: DevOps

Update deploy.yml
  .github/workflows/deploy.yml
Labels: DevOps

Make TypeId required on TeacherTrainingAdviserSignUp
  GetIntoTeachingApi/Models/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Make TypeId required on TeacherTrainingAdviserSignUp
  GetIntoTeachingApi/Models/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Stop inferring candidate type in TeacherTrainingAdviserSignUp
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
  GetIntoTeachingApiTests/Services/SubscriptionManagerTests.cs
Labels: VisualCSharp, Test

Stop inferring candidate type in TeacherTrainingAdviserSignUp
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
  GetIntoTeachingApiTests/Services/SubscriptionManagerTests.cs
Labels: VisualCSharp, Test

Re-structure the TTA sign up validation
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Re-structure the TTA sign up validation
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Clean up TeacherTrainingAdviserSignUpValidatorTests
  GetIntoTeachingApi/Models/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Clean up TeacherTrainingAdviserSignUpValidatorTests
  GetIntoTeachingApi/Models/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Update validation message to read better
  GetIntoTeachingApi/Models/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Update validation message to read better
  GetIntoTeachingApi/Models/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Remove manually clearing of invalid candidate postcodes
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
Labels: VisualCSharp, Test

Remove manually clearing of invalid candidate postcodes
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
Labels: VisualCSharp, Test

Update README to clarify validation during mapping phase
  README.md
Labels: none

Update README to clarify validation during mapping phase
  README.md
Labels: none

Update base model validators to be less strict
  GetIntoTeachingApi/Models/Validators/CandidatePastTeachingPositionValidator.cs
  GetIntoTeachingApi/Models/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/Validators/PhoneCallValidator.cs
  GetIntoTeachingApi/Models/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/Validators/CandidatePastTeachingPositionValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/PhoneCallValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Validate models mapped from CRM entities
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApi/Models/CallbackBookingQuota.cs
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/CandidatePastTeachingPosition.cs
  GetIntoTeachingApi/Models/CandidatePrivacyPolicy.cs
  GetIntoTeachingApi/Models/CandidateQualification.cs
  GetIntoTeachingApi/Models/PhoneCall.cs
  GetIntoTeachingApi/Models/PrivacyPolicy.cs
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApi/Models/TeachingEventBuilding.cs
  GetIntoTeachingApi/Models/TeachingEventRegistration.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Mocks/Models.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Update base model validators to be less strict
  GetIntoTeachingApi/Models/Validators/CandidatePastTeachingPositionValidator.cs
  GetIntoTeachingApi/Models/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/Validators/PhoneCallValidator.cs
  GetIntoTeachingApi/Models/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/Validators/CandidatePastTeachingPositionValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/PhoneCallValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Validate models mapped from CRM entities
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApi/Models/CallbackBookingQuota.cs
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/CandidatePastTeachingPosition.cs
  GetIntoTeachingApi/Models/CandidatePrivacyPolicy.cs
  GetIntoTeachingApi/Models/CandidateQualification.cs
  GetIntoTeachingApi/Models/PhoneCall.cs
  GetIntoTeachingApi/Models/PrivacyPolicy.cs
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApi/Models/TeachingEventBuilding.cs
  GetIntoTeachingApi/Models/TeachingEventRegistration.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Mocks/Models.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Added Google-sheets Data Source
  terraform/paas/data.tf
  terraform/paas/monitoring.tf
Labels: DevOps

Added Google-sheets Data Source (#516)
  terraform/paas/data.tf
  terraform/paas/monitoring.tf
Labels: DevOps

Added Google-sheets Data Source (#516)
  terraform/paas/data.tf
  terraform/paas/monitoring.tf
Labels: DevOps

Move mock models into main project
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Mocks/MockModel.cs
  GetIntoTeachingApi/Mocks/MockRelatedModel.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
  GetIntoTeachingApiTests/Models/MappingInfoTests.cs
Labels: VisualCSharp, Test

Move mock models into main project
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Mocks/MockModel.cs
  GetIntoTeachingApi/Mocks/MockRelatedModel.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
  GetIntoTeachingApiTests/Models/MappingInfoTests.cs
Labels: VisualCSharp, Test

Track property changes on models
  GetIntoTeachingApi/FodyWeavers.xml
  GetIntoTeachingApi/FodyWeavers.xsd
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Mocks/MockModel.cs
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
Labels: VisualCSharp, Test

Don't change channel for existing candidates
  GetIntoTeachingApi/Models/MailingListAddMember.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeachingEventAddAttendee.cs
  GetIntoTeachingApiTests/Models/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventAddAttendeeTests.cs
Labels: VisualCSharp, Test

Don't change channel for existing candidates
  GetIntoTeachingApi/Models/MailingListAddMember.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeachingEventAddAttendee.cs
  GetIntoTeachingApiTests/Models/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventAddAttendeeTests.cs
Labels: VisualCSharp, Test

Only write changed attributes back to the CRM
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
Labels: VisualCSharp, Test

Only write changed attributes back to the CRM
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
Labels: VisualCSharp, Test

Track property changes on models
  GetIntoTeachingApi/FodyWeavers.xml
  GetIntoTeachingApi/FodyWeavers.xsd
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Mocks/MockModel.cs
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
Labels: VisualCSharp, Test

New Chart to add resource display
  monitoring/grafana/dashboards/resources.json
Labels: Monitoring

New Chart to add resource display (#518)
  monitoring/grafana/dashboards/resources.json
Labels: Monitoring

New Chart to add resource display (#518)
  monitoring/grafana/dashboards/resources.json
Labels: Monitoring

Record metrics on event search results
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Services/IMetricService.cs
  GetIntoTeachingApi/Services/MetricService.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Services/MetricServiceTests.cs
Labels: VisualCSharp, Test

Record metrics on event search results
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Services/IMetricService.cs
  GetIntoTeachingApi/Services/MetricService.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Services/MetricServiceTests.cs
Labels: VisualCSharp, Test

Improved Export of Chart
  monitoring/grafana/dashboards/resources.json
Labels: Monitoring
