Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml

Convert empty strings to null on serialize/deserialize operations
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/EmptyStringToNullJsonConverter.cs
  GetIntoTeachingApiTests/Utils/EmptyStringToNullJsonConverterTests.cs
Labels: VisualCSharp, Test

Update manual.yml
  .github/workflows/manual.yml
Labels: DevOps

Update manual.yml
  .github/workflows/manual.yml
Labels: DevOps

Update manual.yml
  .github/workflows/manual.yml
Labels: DevOps

Update manual.yml (#502)
  .github/workflows/manual.yml
Labels: DevOps

Update manual.yml (#502)
  .github/workflows/manual.yml
Labels: DevOps

Sanitize invalid postcodes coming back from the CRM
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
Labels: VisualCSharp, Test

Sanitize invalid postcodes coming back from the CRM
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
Labels: VisualCSharp, Test

Extract postcode validation into property validator
  GetIntoTeachingApi/Models/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Validators/PostcodeValidator.cs
  GetIntoTeachingApiTests/Validators/PostcodeValidatorTests.cs
Labels: VisualCSharp, Test

Extract postcode validation into property validator
  GetIntoTeachingApi/Models/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Validators/PostcodeValidator.cs
  GetIntoTeachingApiTests/Validators/PostcodeValidatorTests.cs
Labels: VisualCSharp, Test

Move existing json converter into subdir
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/JsonConverters/EmptyStringToNullJsonConverter.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/JsonConverters/EmptyStringToNullJsonConverterTests.cs
Labels: VisualCSharp, Test

Move existing json converter into subdir
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/JsonConverters/EmptyStringToNullJsonConverter.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/JsonConverters/EmptyStringToNullJsonConverterTests.cs
Labels: VisualCSharp, Test

Add TrimStringJsonConverter
  GetIntoTeachingApi/JsonConverters/TrimStringJsonConverter.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/JsonConverters/TrimStringJsonConverterTests.cs
Labels: VisualCSharp, Test

Add TrimStringJsonConverter
  GetIntoTeachingApi/JsonConverters/TrimStringJsonConverter.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/JsonConverters/TrimStringJsonConverterTests.cs
Labels: VisualCSharp, Test

Trim strings coming back from the CRM
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
Labels: VisualCSharp, Test

Trim strings coming back from the CRM
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
Labels: VisualCSharp, Test

Add integration tests for rate limit behaviour
  GetIntoTeachingApiTests/Integration/RateLimitTests.cs
Labels: Test

Add WebApplicationFactory to run app in test env
  GetIntoTeachingApiTests/Helpers/GitWebApplicationFactory.cs
Labels: Test

Support isolated integration tests against a postgres DB
  GetIntoTeachingApiTests/Helpers/DatabaseFixture.cs
Labels: Test

Add WebApplicationFactory to run app in test env
  GetIntoTeachingApiTests/Helpers/GitWebApplicationFactory.cs
Labels: Test

Support isolated integration tests against a postgres DB
  GetIntoTeachingApiTests/Helpers/DatabaseFixture.cs
Labels: Test

Update Startup to enable app to boot in test env
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

Add integration tests for rate limit behaviour
  GetIntoTeachingApiTests/Integration/RateLimitTests.cs
Labels: Test

Update Startup to enable app to boot in test env
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

Update services.tf
  terraform/paas/services.tf
Labels: DevOps

Update variables.tf
  terraform/paas/variables.tf
Labels: DevOps

Added New Database
  terraform/paas/application.tf
  terraform/paas/dev.env.tfvars
  terraform/paas/production.env.tfvars
  terraform/paas/sandbox.env.tfvars
  terraform/paas/test.env.tfvars
Labels: DevOps

Rationalise DB - Create Database (#505)
  terraform/paas/application.tf
  terraform/paas/dev.env.tfvars
  terraform/paas/production.env.tfvars
  terraform/paas/sandbox.env.tfvars
  terraform/paas/services.tf
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps

Rationalise DB - Create Database (#505)
  terraform/paas/application.tf
  terraform/paas/dev.env.tfvars
  terraform/paas/production.env.tfvars
  terraform/paas/sandbox.env.tfvars
  terraform/paas/services.tf
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps

Remove action to simulate an error
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
Labels: VisualCSharp, Test

Remove action to simulate an error
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
Labels: VisualCSharp, Test

Repointed application to new database
  terraform/paas/application.tf
Labels: DevOps

Run DB migration earlier in startup
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

Run DB migration earlier in startup
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

Devops/rationalise db (#507)
  terraform/paas/application.tf
Labels: DevOps

Devops/rationalise db (#507)
  terraform/paas/application.tf
Labels: DevOps

Delete old databases
  terraform/paas/dev.env.tfvars
  terraform/paas/production.env.tfvars
  terraform/paas/sandbox.env.tfvars
  terraform/paas/services.tf
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps

Support explicitly setting the type on the sign up request model
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

Support explicitly setting the type on the sign up request model
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

Return NoResult instead of Failure when Authorization header missing
  GetIntoTeachingApi/Auth/ApiClientHandler.cs
  GetIntoTeachingApiTests/Auth/ApiClientHandlerTests.cs
Labels: VisualCSharp, Test
