Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

Configure DataProtection to persist in Redis
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

Configure DataProtection to persist in Redis
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

Only write FindApplyId on sync job
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
Labels: VisualCSharp

Only write FindApplyId on sync job
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
Labels: VisualCSharp

Fix MagicLinkTokenGenerationJob
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
  GetIntoTeachingApiTests/Jobs/MagicLinkTokenGenerationJobTests.cs
Labels: VisualCSharp, Test

Fix MagicLinkTokenGenerationJob
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
  GetIntoTeachingApiTests/Jobs/MagicLinkTokenGenerationJobTests.cs
Labels: VisualCSharp, Test

Reduce magic link batch size
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
  GetIntoTeachingApiTests/Jobs/MagicLinkTokenGenerationJobTests.cs
Labels: VisualCSharp, Test

Reduce magic link batch size
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
  GetIntoTeachingApiTests/Jobs/MagicLinkTokenGenerationJobTests.cs
Labels: VisualCSharp, Test

Optimize magic link candidate query
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Optimize magic link candidate query
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Rename HangfireDashboardAuthorizationFilter
  GetIntoTeachingApi/Auth/HangfireDashboardEnvironmentAuthorizationFilter.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Auth/HangfireDashboardEnvironmentAuthorizationFilterTests.cs
Labels: VisualCSharp, Test

Rename HangfireDashboardAuthorizationFilter
  GetIntoTeachingApi/Auth/HangfireDashboardEnvironmentAuthorizationFilter.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Auth/HangfireDashboardEnvironmentAuthorizationFilterTests.cs
Labels: VisualCSharp, Test

wip
  GetIntoTeachingApi/AppStart/DatabaseUtility.cs
  GetIntoTeachingApi/AppStart/Extensions/ApplicationBuilderExtensions.cs
  GetIntoTeachingApi/AppStart/Extensions/ServicesCollectionExtensions.cs
  GetIntoTeachingApi/AppStart/Hangfire/HangfireJobs.cs
  GetIntoTeachingApi/AppStart/Prometheus/PrometheusMetricLabels.cs
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/AppStart/StartupDevelopment.cs
  GetIntoTeachingApi/AppStart/StartupProduction.cs
  GetIntoTeachingApi/AppStart/StartupStaging.cs
  GetIntoTeachingApi/AppStart/StartupTest.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Jobs/MagicLinkTokenGenerationJobTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

wip
  GetIntoTeachingApi/AppStart/DatabaseUtility.cs
  GetIntoTeachingApi/AppStart/Extensions/ApplicationBuilderExtensions.cs
  GetIntoTeachingApi/AppStart/Extensions/ServicesCollectionExtensions.cs
  GetIntoTeachingApi/AppStart/Hangfire/HangfireJobs.cs
  GetIntoTeachingApi/AppStart/Prometheus/PrometheusMetricLabels.cs
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/AppStart/StartupDevelopment.cs
  GetIntoTeachingApi/AppStart/StartupProduction.cs
  GetIntoTeachingApi/AppStart/StartupStaging.cs
  GetIntoTeachingApi/AppStart/StartupTest.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Jobs/MagicLinkTokenGenerationJobTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Add basic auth to Hangfire dashboard
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Add basic auth to Hangfire dashboard
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

wip2
  GetIntoTeachingApi/AppStart/DatabaseUtility.cs
  GetIntoTeachingApi/AppStart/Extensions/ApplicationBuilderExtensions.cs
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/AppStart/StartupDevelopment.cs
  GetIntoTeachingApi/AppStart/StartupProduction.cs
  GetIntoTeachingApi/AppStart/StartupStaging.cs
  GetIntoTeachingApi/AppStart/StartupTest.cs
Labels: VisualCSharp

wip2
  GetIntoTeachingApi/AppStart/DatabaseUtility.cs
  GetIntoTeachingApi/AppStart/Extensions/ApplicationBuilderExtensions.cs
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/AppStart/StartupDevelopment.cs
  GetIntoTeachingApi/AppStart/StartupProduction.cs
  GetIntoTeachingApi/AppStart/StartupStaging.cs
  GetIntoTeachingApi/AppStart/StartupTest.cs
Labels: VisualCSharp

Revert "Add basic auth to Hangfire dashboard"
  GetIntoTeachingApi/Auth/HangfireDashboardAuthorizationFilter.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Auth/HangfireDashboardAuthorizationFilterTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Revert "Add basic auth to Hangfire dashboard"
  GetIntoTeachingApi/Auth/HangfireDashboardAuthorizationFilter.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Auth/HangfireDashboardAuthorizationFilterTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Remove un-necessary load of subscription relation
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Remove un-necessary load of subscription relation
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Upgrade to .NET Core 5/all dependencies
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Upgrade to .NET Core 5/all dependencies
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Ignore FindApplyId in production
  GetIntoTeachingApi/Models/Candidate.cs
Labels: VisualCSharp

Ignore FindApplyId in production
  GetIntoTeachingApi/Models/Candidate.cs
Labels: VisualCSharp

Update BaseModel validation
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
Labels: VisualCSharp, Test

Change disposed context exception text
  GetIntoTeachingApiTests/Services/ClientManagerTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test

Update Docker to use .NET Core 5
  .github/workflows/pull_request.yml
  Dockerfile
Labels: DevOps, Docker

Make property validators generic
  GetIntoTeachingApi/Models/Validators/CandidatePastTeachingPositionValidator.cs
  GetIntoTeachingApi/Models/Validators/CandidateQualificationValidator.cs
  GetIntoTeachingApi/Models/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/Validators/PhoneCallValidator.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventRegistrationValidator.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventSearchRequestValidator.cs
  GetIntoTeachingApi/Validators/LookupItemIdValidator.cs
  GetIntoTeachingApi/Validators/PickListItemIdValidator.cs
  GetIntoTeachingApi/Validators/PostcodeValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
  GetIntoTeachingApiTests/Validators/LookupItemIdValidatorTests.cs
  GetIntoTeachingApiTests/Validators/PickListItemIdValidatorTests.cs
  GetIntoTeachingApiTests/Validators/PostcodeValidatorTests.cs
Labels: VisualCSharp, Test

Support latest AspNetCoreRateLimit lib
  GetIntoTeachingApi/RateLimiting/ApiClientRateLimitConfiguration.cs
  GetIntoTeachingApi/RateLimiting/ApiClientResolveContributor.cs
  GetIntoTeachingApi/Redis/RedisRateLimitCounterStore.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Helpers/GitWebApplicationFactory.cs
Labels: VisualCSharp, Test

Update Docker to use .NET Core 5
  .github/workflows/pull_request.yml
  Dockerfile
Labels: DevOps, Docker

Change disposed context exception text
  GetIntoTeachingApiTests/Services/ClientManagerTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test

Update BaseModel validation
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
Labels: VisualCSharp, Test

Make property validators generic
  GetIntoTeachingApi/Models/Validators/CandidatePastTeachingPositionValidator.cs
  GetIntoTeachingApi/Models/Validators/CandidateQualificationValidator.cs
  GetIntoTeachingApi/Models/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/Validators/PhoneCallValidator.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventRegistrationValidator.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventSearchRequestValidator.cs
  GetIntoTeachingApi/Validators/LookupItemIdValidator.cs
  GetIntoTeachingApi/Validators/PickListItemIdValidator.cs
  GetIntoTeachingApi/Validators/PostcodeValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
  GetIntoTeachingApiTests/Validators/LookupItemIdValidatorTests.cs
  GetIntoTeachingApiTests/Validators/PickListItemIdValidatorTests.cs
  GetIntoTeachingApiTests/Validators/PostcodeValidatorTests.cs
Labels: VisualCSharp, Test

Support latest AspNetCoreRateLimit lib
  GetIntoTeachingApi/RateLimiting/ApiClientRateLimitConfiguration.cs
  GetIntoTeachingApi/RateLimiting/ApiClientResolveContributor.cs
  GetIntoTeachingApi/Redis/RedisRateLimitCounterStore.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Helpers/GitWebApplicationFactory.cs
Labels: VisualCSharp, Test

Rename HangfireDashboardAuthorizationFilter
  GetIntoTeachingApi/Auth/HangfireDashboardEnvironmentAuthorizationFilter.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Auth/HangfireDashboardEnvironmentAuthorizationFilterTests.cs
Labels: VisualCSharp, Test

Rename HangfireDashboardAuthorizationFilter
  GetIntoTeachingApi/Auth/HangfireDashboardEnvironmentAuthorizationFilter.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Auth/HangfireDashboardEnvironmentAuthorizationFilterTests.cs
Labels: VisualCSharp, Test

Add Hangfire credentials to Env
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Add Hangfire credentials to Env
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml
