Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml

Update dependencies
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Update dependencies
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Remove feature flag for candidate sign up when CRM integration paused
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

Remove feature flag for candidate sign up when CRM integration paused
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

Reduce event archive size to 4 months
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

Reduce event archive size to 4 months
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

Add JsonIgnore attribute to `HasUpfrontId` property
  GetIntoTeachingApi/Models/Crm/BaseModel.cs
Labels: VisualCSharp

Add JsonIgnore attribute to `HasUpfrontId` property
  GetIntoTeachingApi/Models/Crm/BaseModel.cs
Labels: VisualCSharp

Fix engagement panels
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

Fix engagement panels
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

Relax event readable id validation
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/TeachingEventUpsertOperationValidator.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventUpsertOperationValidatorTests.cs
Labels: VisualCSharp, Test

Relax event readable id validation
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/TeachingEventUpsertOperationValidator.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventUpsertOperationValidatorTests.cs
Labels: VisualCSharp, Test

Add Reference attribute to ExistingCandidateRequest
  GetIntoTeachingApi/Models/ExistingCandidateRequest.cs
Labels: VisualCSharp

Add Reference attribute to ExistingCandidateRequest
  GetIntoTeachingApi/Models/ExistingCandidateRequest.cs
Labels: VisualCSharp

Add reference label to TOTP metrics
  GetIntoTeachingApi/Services/CandidateAccessTokenService.cs
  GetIntoTeachingApi/Services/MetricService.cs
  GetIntoTeachingApiTests/Services/CandidateAccessTokenServiceTests.cs
  GetIntoTeachingApiTests/Services/MetricServiceTests.cs
Labels: VisualCSharp, Test

Add reference label to TOTP metrics
  GetIntoTeachingApi/Services/CandidateAccessTokenService.cs
  GetIntoTeachingApi/Services/MetricService.cs
  GetIntoTeachingApiTests/Services/CandidateAccessTokenServiceTests.cs
  GetIntoTeachingApiTests/Services/MetricServiceTests.cs
Labels: VisualCSharp, Test

Add a new claim to store the client name
  GetIntoTeachingApi/Auth/ApiClientHandler.cs
  GetIntoTeachingApiTests/Auth/ApiClientHandlerTests.cs
Labels: VisualCSharp, Test

Populate ExistingCandidateRequest reference
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Controllers/GetIntoTeaching/CallbacksController.cs
  GetIntoTeachingApi/Controllers/GetIntoTeaching/MailingListController.cs
  GetIntoTeachingApi/Controllers/GetIntoTeaching/TeachingEventsController.cs
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/CallbacksControllerTests.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Helpers/ControllerBaseExtensions.cs
Labels: VisualCSharp, Test

Populate ExistingCandidateRequest reference
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Controllers/GetIntoTeaching/CallbacksController.cs
  GetIntoTeachingApi/Controllers/GetIntoTeaching/MailingListController.cs
  GetIntoTeachingApi/Controllers/GetIntoTeaching/TeachingEventsController.cs
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/CallbacksControllerTests.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Helpers/ControllerBaseExtensions.cs
Labels: VisualCSharp, Test

Add a new claim to store the client name
  GetIntoTeachingApi/Auth/ApiClientHandler.cs
  GetIntoTeachingApiTests/Auth/ApiClientHandlerTests.cs
Labels: VisualCSharp, Test

Add new panels for TOTP success rates
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

Add new panels for TOTP success rates
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

Replace deprecated crypto service
  GetIntoTeachingApi/Services/CandidateMagicLinkTokenService.cs
Labels: VisualCSharp

Bump ASP.NET Core version to 6
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Update to use HttpClient
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
Labels: VisualCSharp

Bump ASP.NET Core version to 6
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Replace deprecated crypto service
  GetIntoTeachingApi/Services/CandidateMagicLinkTokenService.cs
Labels: VisualCSharp

Update to use HttpClient
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
Labels: VisualCSharp

Upgrade to latest Docker image
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
  Dockerfile
Labels: DevOps, Docker

Upgrade to latest Docker image
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
  Dockerfile
Labels: DevOps, Docker

Add panels for per-transaction verification code success rates
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

Add panels for per-transaction verification code success rates
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

Take latest application form for contact-level
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
Labels: VisualCSharp, Test

Take latest application form for contact-level
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
Labels: VisualCSharp, Test

Add new CandidatesSchoolExperience model
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/CandidateSchoolExperience.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateSchoolExperienceValidator.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateSchoolExperienceTests.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateSchoolExperienceValidatorTests.cs
Labels: VisualCSharp, Test

Add new endpoint for CandidatesSchoolExperience
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/CandidateSchoolExperience.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Jobs/AddClassroomExperienceNoteJobTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

Add new CandidatesSchoolExperience model
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/CandidateSchoolExperience.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateSchoolExperienceValidator.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateSchoolExperienceTests.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateSchoolExperienceValidatorTests.cs
Labels: VisualCSharp, Test

Add new endpoint for CandidatesSchoolExperience
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/CandidateSchoolExperience.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Jobs/AddClassroomExperienceNoteJobTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

bleh
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Models/Crm/CandidateSchoolExperience.cs
Labels: VisualCSharp

bleh
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Models/Crm/CandidateSchoolExperience.cs
Labels: VisualCSharp
