Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml

rollback git action build config
  .github/workflows/build.yml
Labels: DevOps

rollback git action build config
  .github/workflows/build.yml
Labels: DevOps

Update build.yml
  .github/workflows/build.yml
Labels: DevOps

Update build.yml
  .github/workflows/build.yml
Labels: DevOps

Update build.yml
  .github/workflows/build.yml
Labels: DevOps

Update build.yml
  .github/workflows/build.yml
Labels: DevOps

Deploy application
  .gitignore
  Makefile
  terraform/aks/.terraform.lock.hcl
  terraform/aks/application.tf
  terraform/aks/config/development_aks.tfvars.json
  terraform/aks/databases.tf
  terraform/aks/provider.tf
  terraform/aks/variables.tf
Labels: DevOps

Deploy application
  .gitignore
  Makefile
  terraform/aks/.terraform.lock.hcl
  terraform/aks/application.tf
  terraform/aks/config/development_aks.tfvars.json
  terraform/aks/databases.tf
  terraform/aks/provider.tf
  terraform/aks/variables.tf
Labels: DevOps

Update Azure Redis Max Memory policy
  terraform/aks/databases.tf
Labels: DevOps

Update Azure Redis Max Memory policy
  terraform/aks/databases.tf
Labels: DevOps

Deploy workflow
  .github/workflows/actions/deploy_v2/action.yml
Labels: DevOps

fix
  .github/workflows/actions/deploy_v2/action.yml
Labels: DevOps

fix2
  .github/workflows/actions/deploy_v2/action.yml
Labels: DevOps

fix3
  .github/workflows/actions/deploy_v2/action.yml
Labels: DevOps

Add Deploy workflow
  .github/workflows/actions/deploy_v2/action.yml
  .github/workflows/build-and-deploy.yml
  Makefile
  terraform/aks/.terraform.lock.hcl
Labels: DevOps

Add Deploy workflow
  .github/workflows/actions/deploy_v2/action.yml
  .github/workflows/build-and-deploy.yml
  Makefile
  terraform/aks/.terraform.lock.hcl
Labels: DevOps

test deploy workflow
  .github/workflows/manual.yml
Labels: DevOps

test deploy workflow
  .github/workflows/manual.yml
Labels: DevOps

Dependency update:
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Dependency update:
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Deploy Test AKS
  .github/workflows/actions/deploy_v2/action.yml
  .github/workflows/build-and-deploy.yml
  Makefile
  global_config/development.sh
  global_config/development_aks.sh
  global_config/test_aks.sh
  terraform/aks/config/test_aks.tfvars.json
  terraform/aks/config/test_aks_Terrafile
Labels: DevOps

Deploy Test AKS
  .github/workflows/actions/deploy_v2/action.yml
  .github/workflows/build-and-deploy.yml
  Makefile
  global_config/development.sh
  global_config/development_aks.sh
  global_config/test_aks.sh
  terraform/aks/config/test_aks.tfvars.json
  terraform/aks/config/test_aks_Terrafile
Labels: DevOps

Migrate local secrets
  Makefile
  README.md
Labels: none

Migrate local secrets
  Makefile
  README.md
Labels: none

Update product tag
  Makefile
Labels: none

Update product tag
  Makefile
Labels: none

Update product tag
  Makefile
Labels: none

Update product tag
  Makefile
Labels: none

Replicate Production environment
  .github/workflows/build-and-deploy.yml
  Makefile
  global_config/production_aks.sh
  terraform/aks/config/production_aks.tfvars.json
  terraform/aks/config/production_aks_Terrafile
Labels: DevOps

Replicate Production environment
  .github/workflows/build-and-deploy.yml
  Makefile
  global_config/production_aks.sh
  terraform/aks/config/production_aks.tfvars.json
  terraform/aks/config/production_aks_Terrafile
Labels: DevOps

Add StatusCake Monitoring
  terraform/aks/config/production_aks.tfvars.json
  terraform/aks/provider.tf
  terraform/aks/secrets.tf
  terraform/aks/statuscake.tf
  terraform/aks/variables.tf
Labels: DevOps

Add StatusCake Monitoring
  terraform/aks/config/production_aks.tfvars.json
  terraform/aks/provider.tf
  terraform/aks/secrets.tf
  terraform/aks/statuscake.tf
  terraform/aks/variables.tf
Labels: DevOps

test webhook
  .github/workflows/build-and-deploy.yml
Labels: DevOps

test webhook
  .github/workflows/build-and-deploy.yml
Labels: DevOps

test webhook
  .github/workflows/build-and-deploy.yml
Labels: DevOps

test webhook
  .github/workflows/build-and-deploy.yml
Labels: DevOps

update cmdlet
  .github/workflows/build-and-deploy.yml
Labels: DevOps

update cmdlet
  .github/workflows/build-and-deploy.yml
Labels: DevOps

Update Retrieve Slack webhook from KV Steps
  .github/workflows/build-and-deploy.yml
Labels: DevOps

Update Retrieve Slack webhook from KV Steps
  .github/workflows/build-and-deploy.yml
Labels: DevOps
