Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

Update job alerts for Sidekiq
  monitoring/prometheus/alert.rules
Labels: Monitoring

Update job alerts for Sidekiq
  monitoring/prometheus/alert.rules
Labels: Monitoring

Add Prometheus target for sidekiq production
  terraform/paas/production.env.tfvars
Labels: DevOps

Add Prometheus target for sidekiq production
  terraform/paas/production.env.tfvars
Labels: DevOps

Support Get into Teaching events
  GetIntoTeachingApi/Models/Crm/TeachingEvent.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Support Get into Teaching events
  GetIntoTeachingApi/Models/Crm/TeachingEvent.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Add RegionId to TeachingEvent
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Migrations/20220915115624_AddRegionIdToTeachingEvent.Designer.cs
  GetIntoTeachingApi/Migrations/20220915115624_AddRegionIdToTeachingEvent.cs
  GetIntoTeachingApi/Models/Crm/TeachingEvent.cs
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApi/env.dev
  GetIntoTeachingApi/env.prod
  GetIntoTeachingApi/env.test
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Add RegionId to TeachingEvent
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Migrations/20220915115624_AddRegionIdToTeachingEvent.Designer.cs
  GetIntoTeachingApi/Migrations/20220915115624_AddRegionIdToTeachingEvent.cs
  GetIntoTeachingApi/Models/Crm/TeachingEvent.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApi/env.dev
  GetIntoTeachingApi/env.prod
  GetIntoTeachingApi/env.test
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Enable Get into Teaching events in test/production
  GetIntoTeachingApi/env.prod
  GetIntoTeachingApi/env.test
Labels: none

Enable Get into Teaching events in test/production
  GetIntoTeachingApi/env.prod
  GetIntoTeachingApi/env.test
Labels: none

Re-instate stricter TeachingEvent.ReadableId validation
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/TeachingEventUpsertOperationValidator.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventUpsertOperationValidatorTests.cs
Labels: VisualCSharp, Test

Re-instate stricter TeachingEvent.ReadableId validation
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/TeachingEventUpsertOperationValidator.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventUpsertOperationValidatorTests.cs
Labels: VisualCSharp, Test

Attempt to make the health check more robust
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Attempt to make the health check more robust
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Remove terraform from dependabot checks
  .github/dependabot.yml
Labels: DevOps

Remove terraform from dependabot checks
  .github/dependabot.yml
Labels: DevOps

Pin github actions to major version
  .github/workflows/actions/deploy/action.yml
  .github/workflows/build-no-cache.yml
  .github/workflows/build.yml
Labels: DevOps

Pin github actions to major version
  .github/workflows/actions/deploy/action.yml
  .github/workflows/build-no-cache.yml
  .github/workflows/build.yml
Labels: DevOps

Add a GSE alert for CSRF token errors
  monitoring/prometheus/alert.rules
Labels: Monitoring

Add a GSE alert for CSRF token errors
  monitoring/prometheus/alert.rules
Labels: Monitoring

Allow radius without postcode
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/TeachingEventSearchRequestValidator.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventSearchRequestValidatorTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Allow radius without postcode
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/TeachingEventSearchRequestValidator.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventSearchRequestValidatorTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Various dependency updates
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Various dependency updates
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Update Fody/PropertyChangedNotification
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
Labels: none

Update Dataverse client
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
Labels: none

Update Fody/PropertyChangedNotification
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
Labels: none

Update Dataverse client
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
Labels: none

Update FluentValidation
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Mocks/MockModel.cs
  GetIntoTeachingApi/Mocks/MockRelatedModel.cs
  GetIntoTeachingApi/Models/Crm/ApplicationChoice.cs
  GetIntoTeachingApi/Models/Crm/ApplicationForm.cs
  GetIntoTeachingApi/Models/Crm/ApplicationInterview.cs
  GetIntoTeachingApi/Models/Crm/ApplicationReference.cs
  GetIntoTeachingApi/Models/Crm/BaseModel.cs
  GetIntoTeachingApi/Models/Crm/CallbackBookingQuota.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/CandidatePastTeachingPosition.cs
  GetIntoTeachingApi/Models/Crm/CandidatePrivacyPolicy.cs
  GetIntoTeachingApi/Models/Crm/CandidateQualification.cs
  GetIntoTeachingApi/Models/Crm/CandidateSchoolExperience.cs
  GetIntoTeachingApi/Models/Crm/PhoneCall.cs
  GetIntoTeachingApi/Models/Crm/PrivacyPolicy.cs
  GetIntoTeachingApi/Models/Crm/TeachingEvent.cs
  GetIntoTeachingApi/Models/Crm/TeachingEventBuilding.cs
  GetIntoTeachingApi/Models/Crm/TeachingEventRegistration.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Helpers/ContractTestOrganizationServiceAdapter.cs
  GetIntoTeachingApiTests/Helpers/GitWebApplicationFactory.cs
  GetIntoTeachingApiTests/Helpers/MockOrganizationServiceAdapter.cs
  GetIntoTeachingApiTests/Models/Crm/BaseModelTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Update FluentValidation
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Mocks/MockModel.cs
  GetIntoTeachingApi/Mocks/MockRelatedModel.cs
  GetIntoTeachingApi/Models/Crm/ApplicationChoice.cs
  GetIntoTeachingApi/Models/Crm/ApplicationForm.cs
  GetIntoTeachingApi/Models/Crm/ApplicationInterview.cs
  GetIntoTeachingApi/Models/Crm/ApplicationReference.cs
  GetIntoTeachingApi/Models/Crm/BaseModel.cs
  GetIntoTeachingApi/Models/Crm/CallbackBookingQuota.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/CandidatePastTeachingPosition.cs
  GetIntoTeachingApi/Models/Crm/CandidatePrivacyPolicy.cs
  GetIntoTeachingApi/Models/Crm/CandidateQualification.cs
  GetIntoTeachingApi/Models/Crm/CandidateSchoolExperience.cs
  GetIntoTeachingApi/Models/Crm/PhoneCall.cs
  GetIntoTeachingApi/Models/Crm/PrivacyPolicy.cs
  GetIntoTeachingApi/Models/Crm/TeachingEvent.cs
  GetIntoTeachingApi/Models/Crm/TeachingEventBuilding.cs
  GetIntoTeachingApi/Models/Crm/TeachingEventRegistration.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Helpers/ContractTestOrganizationServiceAdapter.cs
  GetIntoTeachingApiTests/Helpers/GitWebApplicationFactory.cs
  GetIntoTeachingApiTests/Helpers/MockOrganizationServiceAdapter.cs
  GetIntoTeachingApiTests/Models/Crm/BaseModelTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Remove unused event search endpoint
  GetIntoTeachingApi/Controllers/GetIntoTeaching/TeachingEventsController.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/TeachingEventsControllerTests.cs
Labels: VisualCSharp, Test

Remove unused event search endpoint
  GetIntoTeachingApi/Controllers/GetIntoTeaching/TeachingEventsController.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/TeachingEventsControllerTests.cs
Labels: VisualCSharp, Test

Stop using set-output in workflows
  .github/workflows/actions/deploy/action.yml
  .github/workflows/build-no-cache.yml
  .github/workflows/build.yml
Labels: DevOps

Stop using set-output in workflows
  .github/workflows/actions/deploy/action.yml
  .github/workflows/build-no-cache.yml
  .github/workflows/build.yml
Labels: DevOps

Increase CSP violation threshold in app
  monitoring/prometheus/alert.rules
Labels: Monitoring

Increase CSP violation threshold in app
  monitoring/prometheus/alert.rules
Labels: Monitoring

Various dependency updates
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Various dependency updates
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Upgrade to .NET Core 7
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
  Dockerfile
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test, DevOps, Docker

Upgrade to .NET Core 7
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
  Dockerfile
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml
