Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml

Add basic auth to Hangfire in staging
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

Add basic auth to Hangfire in staging
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

Run dev/test deployments in parallel
  .github/workflows/build.yml
Labels: DevOps

Run dev/test deployments in parallel
  .github/workflows/build.yml
Labels: DevOps

Update build.yml
  .github/workflows/build.yml
Labels: DevOps

Update build.yml
  .github/workflows/build.yml
Labels: DevOps

Implement more Dependabot
  .github/dependabot.yml
Labels: DevOps

Implement more Dependabot (#695)
  .github/dependabot.yml
Labels: DevOps

Implement more Dependabot (#695)
  .github/dependabot.yml
Labels: DevOps

Update dependabot.yml
  .github/dependabot.yml
Labels: DevOps

Update dependabot.yml
  .github/dependabot.yml
Labels: DevOps

Update dependabot.yml
  .github/dependabot.yml
Labels: DevOps

Update dependabot.yml
  .github/dependabot.yml
Labels: DevOps

Update dependabot.yml
  .github/dependabot.yml
Labels: DevOps

Update dependabot.yml
  .github/dependabot.yml
Labels: DevOps

Save related entities in `CrmService` instead of mapping in `BaseModel`
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Save related entities in `CrmService` instead of mapping in `BaseModel`
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Single Save
  GetIntoTeachingApi/Attributes/EntityForeignKeyAttribute.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Single Save
  GetIntoTeachingApi/Attributes/EntityForeignKeyAttribute.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Walk through related models recursively
  GetIntoTeachingApi/Services/CrmService.cs
Labels: VisualCSharp

Walk through related models recursively
  GetIntoTeachingApi/Services/CrmService.cs
Labels: VisualCSharp

Move Prometheus extension from `Utils` to `AppStart`
  GetIntoTeachingApi/AppStart/ApplicationBuilderExtensions.cs
  GetIntoTeachingApi/Utils/ApplicationExtensions.cs
Labels: VisualCSharp

Tidy up `Startup`
  GetIntoTeachingApi/AppStart/ApplicationBuilderExtensions.cs
  GetIntoTeachingApi/AppStart/DatabaseUtility.cs
  GetIntoTeachingApi/AppStart/HangfireJobs.cs
  GetIntoTeachingApi/AppStart/PrometheusMetricLabels.cs
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Integration/RateLimitTests.cs
Labels: VisualCSharp, Test

Tidy up `Startup`
  GetIntoTeachingApi/AppStart/ApplicationBuilderExtensions.cs
  GetIntoTeachingApi/AppStart/DatabaseUtility.cs
  GetIntoTeachingApi/AppStart/HangfireJobs.cs
  GetIntoTeachingApi/AppStart/PrometheusMetricLabels.cs
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Integration/RateLimitTests.cs
Labels: VisualCSharp, Test

Move Prometheus extension from `Utils` to `AppStart`
  GetIntoTeachingApi/AppStart/ApplicationBuilderExtensions.cs
  GetIntoTeachingApi/Utils/ApplicationExtensions.cs
Labels: VisualCSharp

Remove unused and sort all `using`statements
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Models/CandidateMagicLinkExchangeResult.cs
  GetIntoTeachingApi/Models/Crm/PhoneCall.cs
  GetIntoTeachingApi/Models/MappingInfo.cs
  GetIntoTeachingApi/Models/TeachingEventUpsertOperation.cs
  GetIntoTeachingApi/Models/TeachingEventsByType.cs
  GetIntoTeachingApi/Models/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Auth/ApiClientHandlerTests.cs
  GetIntoTeachingApiTests/Controllers/LookupItemsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PrivacyPoliciesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventBuildingsControllerTests.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/LocationSyncJobTests.cs
  GetIntoTeachingApiTests/Models/Validators/ClientValidatorTests.cs
  GetIntoTeachingApiTests/Services/SubscriptionManagerTests.cs
Labels: VisualCSharp, Test

Remove unused and sort all `using`statements
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Models/CandidateMagicLinkExchangeResult.cs
  GetIntoTeachingApi/Models/Crm/PhoneCall.cs
  GetIntoTeachingApi/Models/MappingInfo.cs
  GetIntoTeachingApi/Models/TeachingEventUpsertOperation.cs
  GetIntoTeachingApi/Models/TeachingEventsByType.cs
  GetIntoTeachingApi/Models/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Auth/ApiClientHandlerTests.cs
  GetIntoTeachingApiTests/Controllers/LookupItemsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PrivacyPoliciesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventBuildingsControllerTests.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/LocationSyncJobTests.cs
  GetIntoTeachingApiTests/Models/Validators/ClientValidatorTests.cs
  GetIntoTeachingApiTests/Services/SubscriptionManagerTests.cs
Labels: VisualCSharp, Test

Remove relationship entity mapping from `BaseModel`
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
Labels: VisualCSharp, Test

Remove relationship entity mapping from `BaseModel`
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
Labels: VisualCSharp, Test

Map related model validation errors to request model
  GetIntoTeachingApi/Models/Validators/GetIntoTeachingCallbackValidator.cs
  GetIntoTeachingApi/Utils/ValidationResultExtensions.cs
  GetIntoTeachingApiTests/Utils/ValidationResultExtensionsTests.cs
Labels: VisualCSharp, Test

Add shared contract testing data
  GetIntoTeachingApiTests/Contracts/Data/callback_booking_quotas.json
  GetIntoTeachingApiTests/Contracts/Data/lookup_items/countries.json
  GetIntoTeachingApiTests/Contracts/Data/lookup_items/teaching_subjects.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/adviser_eligibilities.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/adviser_requirements.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/assignment_status.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/channels.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/event_subscription_channels.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/gcse_status.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/initial_teacher_training_years.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/journey_stages.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/mailing_list_subscription_channels.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/preferred_education_phases.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/retake_gcse_status.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/types.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/past_teaching_position/education_phases.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/phone_call/channels.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/qualification/degree_status.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/qualification/types.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/qualification/uk_degree_grades.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/subscription/types.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/teaching_event/status.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/teaching_event/types.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/teaching_event_registration/channels.json
  GetIntoTeachingApiTests/Contracts/Data/privacy_policy.json
  GetIntoTeachingApiTests/Contracts/Data/state.json
  GetIntoTeachingApiTests/Contracts/Data/teacher_training_adviser/candidates.json
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Add shared contract testing data
  GetIntoTeachingApiTests/Contracts/Data/callback_booking_quotas.json
  GetIntoTeachingApiTests/Contracts/Data/lookup_items/countries.json
  GetIntoTeachingApiTests/Contracts/Data/lookup_items/teaching_subjects.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/adviser_eligibilities.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/adviser_requirements.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/assignment_status.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/channels.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/event_subscription_channels.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/gcse_status.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/initial_teacher_training_years.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/journey_stages.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/mailing_list_subscription_channels.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/preferred_education_phases.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/retake_gcse_status.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/types.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/past_teaching_position/education_phases.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/phone_call/channels.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/qualification/degree_status.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/qualification/types.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/qualification/uk_degree_grades.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/subscription/types.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/teaching_event/status.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/teaching_event/types.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/teaching_event_registration/channels.json
  GetIntoTeachingApiTests/Contracts/Data/privacy_policy.json
  GetIntoTeachingApiTests/Contracts/Data/state.json
  GetIntoTeachingApiTests/Contracts/Data/teacher_training_adviser/candidates.json
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Add input contrats from TTA
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_primary_has_retaking_gcses_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_no_teacher_reference_number_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_teacher_reference_number_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_returning_existing_data_change_address.json
Labels: Test

Add input contrats from TTA
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_primary_has_retaking_gcses_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_no_teacher_reference_number_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_teacher_reference_number_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_returning_existing_data_change_address.json
Labels: Test

Add contract test
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_primary_has_retaking_gcses_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_no_teacher_reference_number_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_teacher_reference_number_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_returning_existing_data_change_address.json
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Helpers/ContractCallbackBookingService.cs
  GetIntoTeachingApiTests/Helpers/ContractTestGitWebApplicationFactory.cs
  GetIntoTeachingApiTests/Helpers/ContractTestInputDataAttributep.cs
  GetIntoTeachingApiTests/Helpers/ContractTestOrganizationServiceAdapter.cs
  GetIntoTeachingApiTests/Helpers/ContractTestState.cs
Labels: Test

Update README with contract test details
  README.md
Labels: none

Update README with contract test details
  README.md
Labels: none

Add contract test
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_primary_has_retaking_gcses_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_no_teacher_reference_number_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_teacher_reference_number_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_returning_existing_data_change_address.json
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Helpers/ContractCallbackBookingService.cs
  GetIntoTeachingApiTests/Helpers/ContractTestGitWebApplicationFactory.cs
  GetIntoTeachingApiTests/Helpers/ContractTestInputDataAttributep.cs
  GetIntoTeachingApiTests/Helpers/ContractTestOrganizationServiceAdapter.cs
  GetIntoTeachingApiTests/Helpers/ContractTestState.cs
Labels: Test

Sync teaching events up to 9 months old
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

Sync teaching events up to 9 months old
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp
