Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml

Workflow/enhancements (#901)
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/fix-network-policy.yml
  .github/workflows/manual.yml
  .github/workflows/restart_prometheus.yml
Labels: DevOps

Workflow/enhancements (#901)
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/fix-network-policy.yml
  .github/workflows/manual.yml
  .github/workflows/restart_prometheus.yml
Labels: DevOps

Ignore assets in HighNotFound app alert
  monitoring/prometheus/alert.rules
Labels: Monitoring

Ignore assets in HighNotFound app alert
  monitoring/prometheus/alert.rules
Labels: Monitoring

Add new event search endpoint (ungrouped)
  GetIntoTeachingApi/Controllers/GetIntoTeaching/TeachingEventsController.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/TeachingEventsControllerTests.cs
Labels: VisualCSharp, Test

Add new event search endpoint (ungrouped)
  GetIntoTeachingApi/Controllers/GetIntoTeaching/TeachingEventsController.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/TeachingEventsControllerTests.cs
Labels: VisualCSharp, Test

Remove feature flag from endpoint to add a new CandidateSchoolExperience
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

Remove feature flag from endpoint to add a new CandidateSchoolExperience
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

Add app_instance to all metric labels
  GetIntoTeachingApi/AppStart/PrometheusMetricLabels.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Add app_instance to all metric labels
  GetIntoTeachingApi/AppStart/PrometheusMetricLabels.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Remove ClassroomExperienceNote model and endpoint
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Jobs/AddClassroomExperienceNoteJob.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/SchoolsExperience/ClassroomExperienceNote.cs
  GetIntoTeachingApi/Models/SchoolsExperience/Validators/ClassroomExperienceNoteValidator.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Jobs/AddClassroomExperienceNoteJobTests.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/ClassroomExperienceNoteTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/ClassroomExperienceNoteValidatorTests.cs
Labels: VisualCSharp, Test

Remove ClassroomExperienceNote model and endpoint
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Jobs/AddClassroomExperienceNoteJob.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/SchoolsExperience/ClassroomExperienceNote.cs
  GetIntoTeachingApi/Models/SchoolsExperience/Validators/ClassroomExperienceNoteValidator.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Jobs/AddClassroomExperienceNoteJobTests.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/ClassroomExperienceNoteTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/ClassroomExperienceNoteValidatorTests.cs
Labels: VisualCSharp, Test

Use compact JSON in production logs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/appsettings.Production.json
  GetIntoTeachingApi/appsettings.json
Labels: VisualCSharp

Use compact JSON in production logs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/appsettings.Production.json
  GetIntoTeachingApi/appsettings.json
Labels: VisualCSharp

Revert "Use compact JSON in production logs"
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/appsettings.Production.json
  GetIntoTeachingApi/appsettings.json
Labels: VisualCSharp

Revert "Use compact JSON in production logs"
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/appsettings.Production.json
  GetIntoTeachingApi/appsettings.json
Labels: VisualCSharp

Use compact JSON in production logs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/appsettings.Production.json
  GetIntoTeachingApi/appsettings.Staging.json
  GetIntoTeachingApi/appsettings.json
Labels: VisualCSharp

Use compact JSON in production logs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/appsettings.Production.json
  GetIntoTeachingApi/appsettings.Staging.json
  GetIntoTeachingApi/appsettings.json
Labels: VisualCSharp

Connect to Docker with username to prevent rate limits
  terraform/paas/monitoring.tf
Labels: DevOps

Connect to Docker with username to prevent rate limits (#912)
  terraform/paas/monitoring.tf
Labels: DevOps

Connect to Docker with username to prevent rate limits (#912)
  terraform/paas/monitoring.tf
Labels: DevOps

Improve workflows
  .github/workflows/actions/deploy/action.yml
  .github/workflows/build.yml
  .github/workflows/fix-network-policy.yml
  .github/workflows/manual.yml
  .github/workflows/pull_request.yml
  .github/workflows/restart_prometheus.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/trello.yml
Labels: DevOps

Improve workflows (#913)
  .github/workflows/actions/deploy/action.yml
  .github/workflows/build.yml
  .github/workflows/fix-network-policy.yml
  .github/workflows/manual.yml
  .github/workflows/pull_request.yml
  .github/workflows/restart_prometheus.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/trello.yml
Labels: DevOps

Improve workflows (#913)
  .github/workflows/actions/deploy/action.yml
  .github/workflows/build.yml
  .github/workflows/fix-network-policy.yml
  .github/workflows/manual.yml
  .github/workflows/pull_request.yml
  .github/workflows/restart_prometheus.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/trello.yml
Labels: DevOps

Fix indent
  .github/workflows/actions/deploy/action.yml
Labels: DevOps

Fix indent
  .github/workflows/actions/deploy/action.yml
Labels: DevOps

Composite workflows need shell
  .github/workflows/actions/deploy/action.yml
Labels: DevOps

Composite workflows need shell
  .github/workflows/actions/deploy/action.yml
Labels: DevOps

QA needs to have environment set on deployment
  .github/workflows/build.yml
Labels: DevOps

QA needs to have environment set on deployment
  .github/workflows/build.yml
Labels: DevOps

Deduplicate UpsertCandidateJobs
  GetIntoTeachingApi/Jobs/BaseJob.cs
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
Labels: VisualCSharp, Test

Update other jobs to adhere to BaseJob interface
  GetIntoTeachingApi/Jobs/ClaimCallbackBookingSlotJob.cs
  GetIntoTeachingApi/Jobs/CrmSyncJob.cs
  GetIntoTeachingApi/Jobs/FindApplyBackfillJob.cs
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Jobs/FindApplySyncJob.cs
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
  GetIntoTeachingApi/Jobs/UpsertModelJob.cs
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApiTests/Jobs/ClaimCallbackBookingSlotJobTests.cs
  GetIntoTeachingApiTests/Jobs/CrmSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/FindApplyBackfillJobTests.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/FindApplySyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/LocationSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/MagicLinkTokenGenerationJobTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertModelJobTests.cs
Labels: VisualCSharp, Test

Deduplicate UpsertCandidateJobs
  GetIntoTeachingApi/Jobs/BaseJob.cs
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
Labels: VisualCSharp, Test

Update other jobs to adhere to BaseJob interface
  GetIntoTeachingApi/Jobs/ClaimCallbackBookingSlotJob.cs
  GetIntoTeachingApi/Jobs/CrmSyncJob.cs
  GetIntoTeachingApi/Jobs/FindApplyBackfillJob.cs
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Jobs/FindApplySyncJob.cs
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
  GetIntoTeachingApi/Jobs/UpsertModelJob.cs
  GetIntoTeachingApiTests/Jobs/ClaimCallbackBookingSlotJobTests.cs
  GetIntoTeachingApiTests/Jobs/CrmSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/FindApplyBackfillJobTests.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/FindApplySyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/LocationSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/MagicLinkTokenGenerationJobTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertModelJobTests.cs
Labels: VisualCSharp, Test

Use new email template on create access token
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Fixtures/clients.yml
  GetIntoTeachingApi/Services/NotifyService.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

Use new email template on create access token
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Fixtures/clients.yml
  GetIntoTeachingApi/Services/NotifyService.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

Gather School Experience Metrics
  terraform/paas/dev.env.tfvars
  terraform/paas/production.env.tfvars
Labels: DevOps

Gather School Experience Metrics (#927)
  terraform/paas/dev.env.tfvars
  terraform/paas/production.env.tfvars
Labels: DevOps

Gather School Experience Metrics (#927)
  terraform/paas/dev.env.tfvars
  terraform/paas/production.env.tfvars
Labels: DevOps

Improve Network Policies
  .github/workflows/build.yml
  .github/workflows/manual.yml
  terraform/paas/dev.env.tfvars
  terraform/paas/monitoring.tf
  terraform/paas/network.tf
  terraform/paas/production.env.tfvars
  terraform/paas/provider.tf
  terraform/paas/sandbox.env.tfvars
  terraform/paas/space.tf
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps
