Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml

Combine tests to remove duplication
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
Labels: Test

Add ReadableId to validator
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
Labels: VisualCSharp, Test

Update teaching event upsert action and tests
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Update teaching event upsert action and tests
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Update email validator
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
Labels: VisualCSharp

Update email validator
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
Labels: VisualCSharp

Remove validation for fields
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
Labels: VisualCSharp, Test

Remove validation for fields
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
Labels: VisualCSharp, Test

Handle non-unique partial URL
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Handle non-unique partial URL
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Upgrade Terraform
  terraform/paas/.gitignore
  terraform/paas/provider.tf
Labels: DevOps

Don't run recurring jobs in test environment
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

Don't run recurring jobs in test environment
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

Point integration tests at per-test database
  GetIntoTeachingApiTests/Helpers/DatabaseFixture.cs
  GetIntoTeachingApiTests/Helpers/DatabaseTests.cs
Labels: Test

Point integration tests at per-test database
  GetIntoTeachingApiTests/Helpers/DatabaseFixture.cs
  GetIntoTeachingApiTests/Helpers/DatabaseTests.cs
Labels: Test

Fix flakey rate limit specs
  GetIntoTeachingApiTests/Integration/RateLimitTests.cs
Labels: Test

Fix flakey rate limit specs
  GetIntoTeachingApiTests/Integration/RateLimitTests.cs
Labels: Test

Terraform Upgrade
  .github/workflows/deploy.yml
Labels: DevOps

Add CRM client
  GetIntoTeachingApi/Fixtures/clients.yml
Labels: none

Add CRM client
  GetIntoTeachingApi/Fixtures/clients.yml
Labels: none

Add AppSettings model
  GetIntoTeachingApi/Models/AppSettings.cs
  GetIntoTeachingApi/Models/IAppSettings.cs
  GetIntoTeachingApi/Services/IRedisService.cs
  GetIntoTeachingApi/Services/RedisService.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Models/AppSettingsTests.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
Labels: VisualCSharp, Test

Add AppSettings model
  GetIntoTeachingApi/Models/AppSettings.cs
  GetIntoTeachingApi/Models/IAppSettings.cs
  GetIntoTeachingApi/Services/IRedisService.cs
  GetIntoTeachingApi/Services/RedisService.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Models/AppSettingsTests.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
Labels: VisualCSharp, Test

Skip sync/magic link generation jobs when CRM integration paused
  GetIntoTeachingApi/Jobs/CrmSyncJob.cs
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
  GetIntoTeachingApiTests/Jobs/CrmSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/MagicLinkTokenGenerationJobTests.cs
Labels: VisualCSharp, Test

Allow CRM integration to be paused/resumed
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApi/Models/HealthCheckResponse.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Skip sync/magic link generation jobs when CRM integration paused
  GetIntoTeachingApi/Jobs/CrmSyncJob.cs
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
  GetIntoTeachingApiTests/Jobs/CrmSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/MagicLinkTokenGenerationJobTests.cs
Labels: VisualCSharp, Test

Don't call CRM if the integration is paused
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

Don't call CRM if the integration is paused
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

Abort UpsertCandidateJob when CRM integration paused
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
Labels: VisualCSharp, Test

Abort UpsertCandidateJob when CRM integration paused
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
Labels: VisualCSharp, Test

Allow CRM integration to be paused/resumed
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApi/Models/HealthCheckResponse.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Add status filter to teaching event search
  GetIntoTeachingApi/Models/TeachingEventSearchRequest.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Add status filter to teaching event search
  GetIntoTeachingApi/Models/TeachingEventSearchRequest.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Add closed events to default filter
  GetIntoTeachingApi/Models/TeachingEventSearchRequest.cs
  GetIntoTeachingApiTests/Models/TeachingEventSearchRequestTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Add closed events to default filter
  GetIntoTeachingApi/Models/TeachingEventSearchRequest.cs
  GetIntoTeachingApiTests/Models/TeachingEventSearchRequestTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Save teaching event/building independently
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Save teaching event/building independently
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Add netowrk fix for pagespeed
  .github/workflows/fix-network-policy.yml
Labels: DevOps

Added Pagespeed application
  monitoring/prometheus/scrapes.yml.tmpl
  terraform/paas/.gitignore
  terraform/paas/data.tf
  terraform/paas/dev.env.tfvars
  terraform/paas/monitoring.tf
  terraform/paas/production.env.tfvars
  terraform/paas/provider.tf
  terraform/paas/sandbox.env.tfvars
  terraform/paas/services.tf
  terraform/paas/statuscake.tf
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
Labels: Monitoring, DevOps

Add network fix for page speed (#566)
  .github/workflows/fix-network-policy.yml
  monitoring/prometheus/scrapes.yml.tmpl
  terraform/paas/.gitignore
  terraform/paas/data.tf
  terraform/paas/dev.env.tfvars
  terraform/paas/monitoring.tf
  terraform/paas/production.env.tfvars
  terraform/paas/provider.tf
  terraform/paas/sandbox.env.tfvars
  terraform/paas/services.tf
  terraform/paas/statuscake.tf
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
Labels: Monitoring, DevOps

Add network fix for page speed (#566)
  .github/workflows/fix-network-policy.yml
  monitoring/prometheus/scrapes.yml.tmpl
  terraform/paas/.gitignore
  terraform/paas/data.tf
  terraform/paas/dev.env.tfvars
  terraform/paas/monitoring.tf
  terraform/paas/production.env.tfvars
  terraform/paas/provider.tf
  terraform/paas/sandbox.env.tfvars
  terraform/paas/services.tf
  terraform/paas/statuscake.tf
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
Labels: Monitoring, DevOps
