Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

changing Situation to HasQualifiedTeacherStatus
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
Labels: VisualCSharp

adding in QTS-status options into test
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/qualified_teacher_status.json
Labels: Test

adding in QTS-status options into test
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/qualified_teacher_status.json
Labels: Test

Adding test file to copy
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Adding test file to copy
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

feat(2447): add new workflow to restore a deleted postgres db and amend envt var files accordinly
  .github/workflows/restore-deleted-postgres.yml
  global_config/development.sh
  global_config/production.sh
  global_config/test.sh
Labels: DevOps

feat(2447): remove temporary workflow trigger
  .github/workflows/restore-deleted-postgres.yml
Labels: DevOps

Add ProspectiveEvents CCC service and map additional CCC to it
  GetIntoTeachingApi/Models/Crm/AdditionalEventsContactChannel.cs
  GetIntoTeachingApi/Models/Crm/ContactChannelCreation.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
Labels: VisualCSharp, Test

Add ProspectiveEvents CCC service and map additional CCC to it
  GetIntoTeachingApi/Models/Crm/AdditionalEventsContactChannel.cs
  GetIntoTeachingApi/Models/Crm/ContactChannelCreation.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
Labels: VisualCSharp, Test

Update ContactChannelCreation.cs
  GetIntoTeachingApi/Models/Crm/ContactChannelCreation.cs
Labels: VisualCSharp

Update ContactChannelCreation.cs
  GetIntoTeachingApi/Models/Crm/ContactChannelCreation.cs
Labels: VisualCSharp

Add picklist for HasQTS to support internal candidate validation
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

Add picklist for HasQTS to support internal candidate validation
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

Adding in new dfe_accessibilityneedsforevent
  GetIntoTeachingApi/Models/Crm/TeachingEventRegistration.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
Labels: VisualCSharp, Test

Adding in new dfe_accessibilityneedsforevent
  GetIntoTeachingApi/Models/Crm/TeachingEventRegistration.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
Labels: VisualCSharp, Test

Adding in new field for CRM
  GetIntoTeachingApi/Models/Crm/CountryConsts.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
Labels: VisualCSharp

Adding in new field for CRM
  GetIntoTeachingApi/Models/Crm/CountryConsts.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
Labels: VisualCSharp

Adding in picklist for degree country an tests
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
Labels: VisualCSharp, Test

Adding in picklist for degree country an tests
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
Labels: VisualCSharp, Test

Adding in new endpoint for degree countries
  GetIntoTeachingApi/Controllers/LookupItemsController.cs
  GetIntoTeachingApi/Models/Country.cs
  GetIntoTeachingApiTests/Controllers/LookupItemsControllerTests.cs
Labels: VisualCSharp, Test

Adding in new endpoint for degree countries
  GetIntoTeachingApi/Controllers/LookupItemsController.cs
  GetIntoTeachingApi/Models/Country.cs
  GetIntoTeachingApiTests/Controllers/LookupItemsControllerTests.cs
Labels: VisualCSharp, Test

adding in field and validators
  GetIntoTeachingApi/Models/Crm/CandidateQualification.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateQualificationValidator.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateQualificationValidatorTests.cs
Labels: VisualCSharp, Test

adding in field and validators
  GetIntoTeachingApi/Models/Crm/CandidateQualification.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateQualificationValidator.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateQualificationValidatorTests.cs
Labels: VisualCSharp, Test

refactor locations for the code and updating tests
  GetIntoTeachingApi/Controllers/LookupItemsController.cs
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Models/Crm/CandidateQualification.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
  GetIntoTeachingApiTests/Controllers/LookupItemsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Fakes/FakeCountryGenerators.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

refactor locations for the code and updating tests
  GetIntoTeachingApi/Controllers/LookupItemsController.cs
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Models/Crm/CandidateQualification.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
  GetIntoTeachingApiTests/Controllers/LookupItemsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Fakes/FakeCountryGenerators.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Updating to imutable list
  GetIntoTeachingApi/Models/Country.cs
Labels: VisualCSharp

Updating to imutable list
  GetIntoTeachingApi/Models/Country.cs
Labels: VisualCSharp

Add recover db workflow
  .github/workflows/postgres-recover-deleted-db.yml
Labels: DevOps

Updating validator to check the level of qualification
  GetIntoTeachingApi/Models/Crm/CandidateQualification.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateQualificationValidator.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateQualificationValidatorTests.cs
Labels: VisualCSharp, Test

Updating validator to check the level of qualification
  GetIntoTeachingApi/Models/Crm/CandidateQualification.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateQualificationValidator.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateQualificationValidatorTests.cs
Labels: VisualCSharp, Test

Updating the contracts to valid selection
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
Labels: Test

Updating the contracts to valid selection
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
Labels: Test

initial refactor for testing picklists with DB
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/Contracts/BaseTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerSpec.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

initial refactor for testing picklists with DB
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/Contracts/BaseTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerSpec.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

refactor on tests, renamed files to match the picklists
  GetIntoTeachingApiTests/Contracts/BaseTests.cs
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/citizenships.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/consideration_journey_stages.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/has_qualified_teacher_statuses.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/locations.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/situations.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/visa_statuses.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/service_subscription/types.json
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerSpec.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Helpers/DatabaseFixture.cs
Labels: Test

refactor on tests, renamed files to match the picklists
  GetIntoTeachingApiTests/Contracts/BaseTests.cs
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/citizenships.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/consideration_journey_stages.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/has_qualified_teacher_statuses.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/locations.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/situations.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/visa_statuses.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/service_subscription/types.json
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerSpec.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Helpers/DatabaseFixture.cs
Labels: Test

moving validation into TTA
  GetIntoTeachingApi/Models/Crm/CandidateQualification.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateQualificationValidator.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

moving validation into TTA
  GetIntoTeachingApi/Models/Crm/CandidateQualification.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateQualificationValidator.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

feat(2447): add ptr workflow - temporary
  .github/workflows/postgres-ptr.yml
Labels: DevOps

feat(2447): add ptr workflow - temporary
  .github/workflows/postgres-ptr.yml
Labels: DevOps

.github/labeler.yml:

---

VisualCSharp:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApi/**/*.cs'

Test:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApiTests/**/*'

Monitoring:
- changed-files:
  - any-glob-to-any-file: 'monitoring/**/*'

DevOps:
- changed-files:
  - any-glob-to-any-file: 'terraform/**/*'
  - any-glob-to-any-file: '.github/**/*.yml'

Docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: 'docker-compose.yml'
