Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApi/**/*.cs'

Test:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApiTests/**/*'

Monitoring:
- changed-files:
  - any-glob-to-any-file: 'monitoring/**/*'

DevOps:
- changed-files:
  - any-glob-to-any-file: 'terraform/**/*'
  - any-glob-to-any-file: '.github/**/*.yml'

Docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: 'docker-compose.yml'

Update pull_request.yml
  .github/workflows/pull_request.yml
Labels: DevOps

Update pull_request.yml
  .github/workflows/pull_request.yml
Labels: DevOps

Update pull_request.yml
  .github/workflows/pull_request.yml
Labels: DevOps

Update pull_request.yml
  .github/workflows/pull_request.yml
Labels: DevOps

Update pull_request.yml
  .github/workflows/pull_request.yml
Labels: DevOps

Update pull_request.yml
  .github/workflows/pull_request.yml
Labels: DevOps

Set DSN to "" in tests
  .github/common_environment.yml
  .github/workflows/pull_request.yml
  GetIntoTeachingApi/env.test
  GetIntoTeachingApiTests/Helpers/ContractTestGitWebApplicationFactory.cs
  GetIntoTeachingApiTests/Helpers/GitWebApplicationFactory.cs
Labels: Test, DevOps

Set DSN to "" in tests
  .github/common_environment.yml
  .github/workflows/pull_request.yml
  GetIntoTeachingApi/env.test
  GetIntoTeachingApiTests/Helpers/ContractTestGitWebApplicationFactory.cs
  GetIntoTeachingApiTests/Helpers/GitWebApplicationFactory.cs
Labels: Test, DevOps

Update common_environment.yml
  .github/common_environment.yml
Labels: DevOps

Update common_environment.yml
  .github/common_environment.yml
Labels: DevOps

Update common_environment.yml
  .github/common_environment.yml
Labels: DevOps

Update common_environment.yml
  .github/common_environment.yml
Labels: DevOps

hardcode azurerm version to 3.104.2
  terraform/aks/provider.tf
Labels: DevOps

hardcode azurerm version to 3.104.2
  terraform/aks/provider.tf
Labels: DevOps

update docs + sentry_dsn for dev
  GetIntoTeachingApi/Properties/launchSettings.json
  README.md
Labels: none

update docs + sentry_dsn for dev
  README.md
Labels: none

Add trello key to workflow action
  .github/workflows/trello.yml
Labels: DevOps

Add trello key to workflow action
  .github/workflows/trello.yml
Labels: DevOps

work in progress
  GetIntoTeachingApiTests/Contracts/ApplyCandidateApiTests.cs
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_a_new_candidaite_and_no_application_form.json.OLD
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_a_new_candidate_and_fully_populated_application_form.json.OLD
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_an_existing_candidate_and_application_form.json.OLD
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_an_existing_candidate_and_fully_populated_application_form.json.OLD
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

work in progress
  GetIntoTeachingApiTests/Contracts/ApplyCandidateApiTests.cs
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_a_new_candidaite_and_no_application_form.json.OLD
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_a_new_candidate_and_fully_populated_application_form.json.OLD
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_an_existing_candidate_and_application_form.json.OLD
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_an_existing_candidate_and_fully_populated_application_form.json.OLD
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Enforce use of FlurlHttp.Clients.UseNewtonsoft
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Jobs/ApplyBackfillJob.cs
  GetIntoTeachingApi/Jobs/ApplySyncJob.cs
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApiTests/Contracts/ApplyCandidateApiTests.cs
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_a_new_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_a_new_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_a_new_candidate_and_no_application_form.json
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_an_existing_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_an_existing_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_no_application_form.json
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: VisualCSharp, Test

Enforce use of FlurlHttp.Clients.UseNewtonsoft
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Jobs/ApplyBackfillJob.cs
  GetIntoTeachingApi/Jobs/ApplySyncJob.cs
  GetIntoTeachingApiTests/Contracts/ApplyCandidateApiTests.cs
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_a_new_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_a_new_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_a_new_candidate_and_no_application_form.json
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_an_existing_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_an_existing_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_no_application_form.json
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: VisualCSharp, Test

limit entity framework db commands to warnings and errors
  GetIntoTeachingApi/appsettings.json
Labels: none

limit entity framework db commands to warnings and errors
  GetIntoTeachingApi/appsettings.json
Labels: none

Onboard test envs to logit
  terraform/aks/application.tf
  terraform/aks/config/development_aks.tfvars.json
  terraform/aks/config/test_aks.tfvars.json
  terraform/aks/variables.tf
Labels: DevOps

Onboard test envs to logit
  terraform/aks/application.tf
  terraform/aks/config/development_aks.tfvars.json
  terraform/aks/config/test_aks.tfvars.json
  terraform/aks/variables.tf
Labels: DevOps

Onboard prod env to logit
  terraform/aks/config/production_aks.tfvars.json
Labels: DevOps

Onboard prod env to logit
  terraform/aks/config/production_aks.tfvars.json
Labels: DevOps

update async void to Task
  GetIntoTeachingApiTests/Auth/ApiClientHandlerTests.cs
  GetIntoTeachingApiTests/Contracts/ApplyCandidateApiTests.cs
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/LookupItemsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PrivacyPoliciesControllerTests.cs
  GetIntoTeachingApiTests/Jobs/ApplyBackfillJobTests.cs
  GetIntoTeachingApiTests/Jobs/ApplySyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/CrmSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/LocationSyncJobTests.cs
  GetIntoTeachingApiTests/Middleware/RequestResponseLoggingMiddlewareTests.cs
  GetIntoTeachingApiTests/Services/NotifyServiceTests.cs
  GetIntoTeachingApiTests/Services/PaginatorClientTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test

update async void to Task
  GetIntoTeachingApiTests/Auth/ApiClientHandlerTests.cs
  GetIntoTeachingApiTests/Contracts/ApplyCandidateApiTests.cs
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/LookupItemsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PrivacyPoliciesControllerTests.cs
  GetIntoTeachingApiTests/Jobs/ApplyBackfillJobTests.cs
  GetIntoTeachingApiTests/Jobs/ApplySyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/CrmSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/LocationSyncJobTests.cs
  GetIntoTeachingApiTests/Middleware/RequestResponseLoggingMiddlewareTests.cs
  GetIntoTeachingApiTests/Services/NotifyServiceTests.cs
  GetIntoTeachingApiTests/Services/PaginatorClientTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test

add delay to ensure empty queue between tests
  GetIntoTeachingApiTests/Contracts/BaseTests.cs
Labels: Test

Update github actions versions
  .github/workflows/actions/deploy_v2/action.yml
Labels: DevOps

Update github actions versions
  .github/workflows/actions/deploy_v2/action.yml
Labels: DevOps

Scrape custom metrics
  terraform/aks/application.tf
  terraform/aks/config/development_aks.tfvars.json
  terraform/aks/config/production_aks.tfvars.json
  terraform/aks/config/test_aks.tfvars.json
  terraform/aks/variables.tf
Labels: DevOps

Scrape custom metrics
  terraform/aks/application.tf
  terraform/aks/config/development_aks.tfvars.json
  terraform/aks/config/production_aks.tfvars.json
  terraform/aks/config/test_aks.tfvars.json
  terraform/aks/variables.tf
Labels: DevOps

Added maintenance window for prod postgress
  terraform/aks/config/production_aks.tfvars.json
Labels: DevOps

Added maintenance window for prod postgress
  terraform/aks/config/production_aks.tfvars.json
Labels: DevOps

Added maintenance window for prod postgress
  terraform/aks/config/production_aks.tfvars.json
Labels: DevOps

Added maintenance window for prod postgress
  terraform/aks/config/production_aks.tfvars.json
Labels: DevOps

update docker-compose to docker compose
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
  README.md
Labels: DevOps
