Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

Improved Export of Chart
  monitoring/grafana/dashboards/resources.json
Labels: Monitoring

Ignore change tracking on relationships
  GetIntoTeachingApi/Models/BaseModel.cs
Labels: VisualCSharp

Ignore change tracking on relationships
  GetIntoTeachingApi/Models/BaseModel.cs
Labels: VisualCSharp

Remove custom Newtonsoft.Json deserialization logic
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
Labels: VisualCSharp, Test

Remove custom Newtonsoft.Json deserialization logic
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
Labels: VisualCSharp, Test

Validate Azure Keys
  .github/workflows/deploy.yml
Labels: DevOps

Manually serialize/deserialize UpsertCandidateJob payload
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Jobs/MagicLinkTokenGenerationJobTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
Labels: VisualCSharp, Test

Mark properties defined with a value as changed
  GetIntoTeachingApi/Mocks/MockModel.cs
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
Labels: VisualCSharp, Test

Fix bug in deserializing ChangedPropertyNames
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
Labels: VisualCSharp, Test

Fix bug in deserializing ChangedPropertyNames
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
Labels: VisualCSharp, Test

Mark properties defined with a value as changed
  GetIntoTeachingApi/Mocks/MockModel.cs
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
Labels: VisualCSharp, Test

Manually serialize/deserialize UpsertCandidateJob payload
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Jobs/MagicLinkTokenGenerationJobTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
Labels: VisualCSharp, Test

Validate Azure Keys (#521)
  .github/workflows/deploy.yml
Labels: DevOps

Validate Azure Keys (#521)
  .github/workflows/deploy.yml
Labels: DevOps

Add convenience extensions for serializing/deserializing change tracked models
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
  GetIntoTeachingApi/Utils/JsonExtensions.cs
  GetIntoTeachingApiTests/Jobs/MagicLinkTokenGenerationJobTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
Labels: VisualCSharp, Test

Add convenience extensions for serializing/deserializing change tracked models
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
  GetIntoTeachingApi/Utils/JsonExtensions.cs
  GetIntoTeachingApiTests/Jobs/MagicLinkTokenGenerationJobTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
Labels: VisualCSharp, Test

Remove serializer config for ChangedPropertyNames support
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

Remove serializer config for ChangedPropertyNames support
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

Swap Newtonsoft.Json to System.Text.Json
  GetIntoTeachingApi/Database/DbConfiguration.cs
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApi/Redis/RedisConfiguration.cs
  GetIntoTeachingApi/Redis/RedisRateLimitCounterStore.cs
  GetIntoTeachingApiTests/Helpers/DatabaseFixture.cs
Labels: VisualCSharp, Test

Swap Newtonsoft.Json to System.Text.Json
  GetIntoTeachingApi/Database/DbConfiguration.cs
  GetIntoTeachingApi/Redis/RedisConfiguration.cs
  GetIntoTeachingApi/Redis/RedisRateLimitCounterStore.cs
  GetIntoTeachingApiTests/Helpers/DatabaseFixture.cs
Labels: VisualCSharp, Test

Provide a Makefile to help Developers handle Secrets
  Makefile
Labels: none

Added Makefile which will help with secrets
  Makefile
Labels: none

Make the fetch_config.rb file permanently ignored
  .gitignore
Labels: none

Influx DB Upgraded to SMALL in Production
  terraform/paas/application.tf
  terraform/paas/data.tf
  terraform/paas/monitoring.tf
  terraform/paas/production.env.tfvars
  terraform/paas/services.tf
  terraform/paas/variables.tf
Labels: DevOps

Added Makefile which will help with secrets (#526)
  .gitignore
  Makefile
Labels: none

Added Makefile which will help with secrets (#526)
  .gitignore
  Makefile
Labels: none

Update action return types to use AspNetCore.Http.StatusCodes
  GetIntoTeachingApi/Controllers/CallbackBookingQuotasController.cs
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Controllers/LookupItemsController.cs
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Controllers/PrivacyPoliciesController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
Labels: VisualCSharp

Update action return types to use AspNetCore.Http.StatusCodes
  GetIntoTeachingApi/Controllers/CallbackBookingQuotasController.cs
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Controllers/LookupItemsController.cs
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Controllers/PrivacyPoliciesController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
Labels: VisualCSharp

Add panel showing event search results by search radius
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

Add panel showing event search results by search radius
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

Influx DB Upgraded to SMALL in Production (#529)
  terraform/paas/application.tf
  terraform/paas/data.tf
  terraform/paas/monitoring.tf
  terraform/paas/production.env.tfvars
  terraform/paas/services.tf
  terraform/paas/variables.tf
Labels: DevOps

Influx DB Upgraded to SMALL in Production (#529)
  terraform/paas/application.tf
  terraform/paas/data.tf
  terraform/paas/monitoring.tf
  terraform/paas/production.env.tfvars
  terraform/paas/services.tf
  terraform/paas/variables.tf
Labels: DevOps

Remove high cardinality metric labels
  GetIntoTeachingApi/Adapters/GeocodeClientAdapter.cs
  GetIntoTeachingApi/Services/CandidateAccessTokenService.cs
  GetIntoTeachingApi/Services/MetricService.cs
  GetIntoTeachingApiTests/Services/CandidateAccessTokenServiceTests.cs
  GetIntoTeachingApiTests/Services/MetricServiceTests.cs
Labels: VisualCSharp, Test

Remove high cardinality metric labels
  GetIntoTeachingApi/Adapters/GeocodeClientAdapter.cs
  GetIntoTeachingApi/Services/CandidateAccessTokenService.cs
  GetIntoTeachingApi/Services/MetricService.cs
  GetIntoTeachingApiTests/Services/CandidateAccessTokenServiceTests.cs
  GetIntoTeachingApiTests/Services/MetricServiceTests.cs
Labels: VisualCSharp, Test

Remove panel using high-cardinality label
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

Remove panel using high-cardinality label
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

Rename extension for clarity
  GetIntoTeachingApi/Utils/ApplicationExtensions.cs
Labels: VisualCSharp

Rename extension for clarity
  GetIntoTeachingApi/Utils/ApplicationExtensions.cs
Labels: VisualCSharp

Format postcodes from request models
  GetIntoTeachingApi/Models/MailingListAddMember.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeachingEventAddAttendee.cs
  GetIntoTeachingApiTests/Models/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Utils/StringExtensionsTests.cs
Labels: VisualCSharp, Test

Add StringExtensions for formatting postcodes
  GetIntoTeachingApi/Models/Location.cs
  GetIntoTeachingApi/Utils/StringExtensions.cs
  GetIntoTeachingApiTests/Utils/StringExtensionsTests.cs
Labels: VisualCSharp, Test

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml
