Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

Remove reference to completed
  GetIntoTeachingApi/Models/Apply/ApplicationForm.cs
  GetIntoTeachingApi/Models/Crm/ApplicationChoice.cs
Labels: VisualCSharp

Remove more references of completed field
  GetIntoTeachingApiTests/Jobs/ApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Models/Apply/ApplicationFormTests.cs
Labels: Test

Remove completed field and add send to provider at
  GetIntoTeachingApi/Models/Apply/ApplicationChoice.cs
  GetIntoTeachingApi/Models/Apply/ApplicationResponse.cs
  GetIntoTeachingApi/Models/Crm/ApplicationChoice.cs
Labels: VisualCSharp

Remove more references of completed field
  GetIntoTeachingApiTests/Jobs/ApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Models/Apply/ApplicationFormTests.cs
Labels: Test

Remove completed field from the test
  GetIntoTeachingApiTests/Models/Apply/ApplicationResponseTests.cs
Labels: Test

Remove completed field and add send to provider at
  GetIntoTeachingApi/Models/Apply/ApplicationChoice.cs
  GetIntoTeachingApi/Models/Apply/ApplicationResponse.cs
  GetIntoTeachingApi/Models/Crm/ApplicationChoice.cs
Labels: VisualCSharp

Fix tests
  GetIntoTeachingApi/Models/Apply/ApplicationChoice.cs
  GetIntoTeachingApi/Models/Apply/ApplicationForm.cs
  GetIntoTeachingApi/Models/Apply/ApplicationResponse.cs
  GetIntoTeachingApi/Models/Crm/ApplicationChoice.cs
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidaite_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Jobs/ApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Models/Apply/ApplicationFormTests.cs
  GetIntoTeachingApiTests/Models/Apply/ApplicationResponseTests.cs
Labels: VisualCSharp, Test

Remove reference to completed
  GetIntoTeachingApi/Models/Apply/ApplicationForm.cs
  GetIntoTeachingApi/Models/Crm/ApplicationChoice.cs
Labels: VisualCSharp

Fix tests
  GetIntoTeachingApi/Models/Apply/ApplicationChoice.cs
  GetIntoTeachingApi/Models/Apply/ApplicationForm.cs
  GetIntoTeachingApi/Models/Apply/ApplicationResponse.cs
  GetIntoTeachingApi/Models/Crm/ApplicationChoice.cs
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidaite_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Jobs/ApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Models/Apply/ApplicationFormTests.cs
  GetIntoTeachingApiTests/Models/Apply/ApplicationResponseTests.cs
Labels: VisualCSharp, Test

Remove completed field from the test
  GetIntoTeachingApiTests/Models/Apply/ApplicationResponseTests.cs
Labels: Test

Fix field values in the test data
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_fully_populated_application_form.json
Labels: Test

Fix issue with annotation
  GetIntoTeachingApi/Models/Apply/ApplicationChoice.cs
  GetIntoTeachingApi/Models/Crm/ApplicationChoice.cs
Labels: VisualCSharp

Fix issue with annotation
  GetIntoTeachingApi/Models/Apply/ApplicationChoice.cs
  GetIntoTeachingApi/Models/Crm/ApplicationChoice.cs
Labels: VisualCSharp

Fix field values in the test data
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_fully_populated_application_form.json
Labels: Test

Upgrade redis server
  terraform/aks/config/production_aks.tfvars.json
  terraform/aks/databases.tf
  terraform/aks/variables.tf
Labels: DevOps

Upgrade redis server
  terraform/aks/config/production_aks.tfvars.json
  terraform/aks/databases.tf
  terraform/aks/variables.tf
Labels: DevOps

Remove default IMAGE_TAG
  Makefile
Labels: none

Remove default IMAGE_TAG
  Makefile
Labels: none

Update the buildx action
  .github/workflows/build-and-deploy.yml
Labels: DevOps

Update the buildx action
  .github/workflows/build-and-deploy.yml
Labels: DevOps

Application Choice chages
  GetIntoTeachingApi/Models/Apply/ApplicationChoice.cs
  GetIntoTeachingApi/Models/Crm/ApplicationChoice.cs
  GetIntoTeachingApiTests/Models/Apply/ApplicationChoiceTests.cs
Labels: VisualCSharp, Test

Application Choice chages
  GetIntoTeachingApi/Models/Apply/ApplicationChoice.cs
  GetIntoTeachingApi/Models/Crm/ApplicationChoice.cs
  GetIntoTeachingApiTests/Models/Apply/ApplicationChoiceTests.cs
Labels: VisualCSharp, Test

Add support for Primary education phase
  GetIntoTeachingApi/Models/Crm/CandidatePastTeachingPosition.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Add support for Primary education phase
  GetIntoTeachingApi/Models/Crm/CandidatePastTeachingPosition.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Updates to resolve linting errors
  GetIntoTeachingApi/Adapters/NotificationClientAdapter.cs
  GetIntoTeachingApi/Controllers/GetIntoTeaching/TeachingEventsController.cs
Labels: VisualCSharp

Updates to resolve linting errors
  GetIntoTeachingApi/Adapters/NotificationClientAdapter.cs
  GetIntoTeachingApi/Controllers/GetIntoTeaching/TeachingEventsController.cs
Labels: VisualCSharp

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml
