Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml

Extract upsert logic into CandidateUpserter service
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApi/Services/ICandidateUpserter.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

Extract upsert logic into CandidateUpserter service
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApi/Services/ICandidateUpserter.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

Update SE upsert operation to be synchronous
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

Update SE upsert operation to be synchronous
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

Fix return type of SE upsert method
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

Fix return type of SE upsert method
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

Create check_alert_rules.yml
  .github/workflows/check_alert_rules.yml
Labels: DevOps

Update check_alert_rules.yml
  .github/workflows/check_alert_rules.yml
Labels: DevOps

Update check_alert_rules.yml
  .github/workflows/check_alert_rules.yml
Labels: DevOps

Create check_alert_rules.yml (#636)
  .github/workflows/check_alert_rules.yml
Labels: DevOps

Create check_alert_rules.yml (#636)
  .github/workflows/check_alert_rules.yml
Labels: DevOps

Add SwaggerRequestBody annotation
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
Labels: VisualCSharp

Add SwaggerRequestBody annotation
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
Labels: VisualCSharp

Improved Deployments Chart
  monitoring/grafana/dashboards/deployments.yml
Labels: Monitoring

Improved Deployments Chart
  monitoring/grafana/dashboards/deployments.yml
Labels: Monitoring

Validate against array of strings instead of regex
  GetIntoTeachingApi/Models/Validators/ClassroomExperienceNoteValidator.cs
Labels: VisualCSharp

Validate against array of strings instead of regex
  GetIntoTeachingApi/Models/Validators/ClassroomExperienceNoteValidator.cs
Labels: VisualCSharp

Support retrieving multiple SE sign ups
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Support retrieving multiple SE sign ups
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Add FullName property to SE sign up
  GetIntoTeachingApi/Models/SchoolsExperienceSignUp.cs
  GetIntoTeachingApiTests/Models/SchoolsExperienceSignUpTests.cs
Labels: VisualCSharp, Test

Add FullName property to SE sign up
  GetIntoTeachingApi/Models/SchoolsExperienceSignUp.cs
  GetIntoTeachingApiTests/Models/SchoolsExperienceSignUpTests.cs
Labels: VisualCSharp, Test

Expose MasterId for SE sign up
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/SchoolsExperienceSignUp.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperienceSignUpTests.cs
Labels: VisualCSharp, Test

Expose MasterId for SE sign up
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/SchoolsExperienceSignUp.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperienceSignUpTests.cs
Labels: VisualCSharp, Test

Add merged attribute to SchoolsExperienceSignUp
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/SchoolsExperienceSignUp.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperienceSignUpTests.cs
Labels: VisualCSharp, Test

Add merged attribute to SchoolsExperienceSignUp
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/SchoolsExperienceSignUp.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperienceSignUpTests.cs
Labels: VisualCSharp, Test

Change SchoolUrn to be 6 digit int
  GetIntoTeachingApi/Models/ClassroomExperienceNote.cs
  GetIntoTeachingApi/Models/Validators/ClassroomExperienceNoteValidator.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/ClassroomExperienceNoteTests.cs
  GetIntoTeachingApiTests/Models/Validators/ClassroomExperienceNoteValidatorTests.cs
Labels: VisualCSharp, Test

Change SchoolUrn to be 6 digit int
  GetIntoTeachingApi/Models/ClassroomExperienceNote.cs
  GetIntoTeachingApi/Models/Validators/ClassroomExperienceNoteValidator.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/ClassroomExperienceNoteTests.cs
  GetIntoTeachingApiTests/Models/Validators/ClassroomExperienceNoteValidatorTests.cs
Labels: VisualCSharp, Test

Make date optional in ClassroomExperienceNote
  GetIntoTeachingApi/Models/ClassroomExperienceNote.cs
  GetIntoTeachingApi/Models/Validators/ClassroomExperienceNoteValidator.cs
  GetIntoTeachingApiTests/Models/ClassroomExperienceNoteTests.cs
  GetIntoTeachingApiTests/Models/Validators/ClassroomExperienceNoteValidatorTests.cs
Labels: VisualCSharp, Test

Make date optional in ClassroomExperienceNote
  GetIntoTeachingApi/Models/ClassroomExperienceNote.cs
  GetIntoTeachingApi/Models/Validators/ClassroomExperienceNoteValidator.cs
  GetIntoTeachingApiTests/Models/ClassroomExperienceNoteTests.cs
  GetIntoTeachingApiTests/Models/Validators/ClassroomExperienceNoteValidatorTests.cs
Labels: VisualCSharp, Test

Add support for comma-separated query string values
  GetIntoTeachingApi/Attributes/CommaSeparatedAttribute.cs
  GetIntoTeachingApi/Attributes/CommaSeparatedQueryStringAttribute.cs
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/CommaSeparatedQueryStringConvention.cs
  GetIntoTeachingApi/Utils/CommaSeparatedQueryStringValueProvider.cs
  GetIntoTeachingApi/Utils/CommaSeparatedQueryStringValueProviderFactory.cs
  GetIntoTeachingApiTests/Utils/CommaSeparatedQueryStringValueProviderFactoryTests.cs
  GetIntoTeachingApiTests/Utils/CommaSeparatedQueryStringValueProviderTests.cs
Labels: VisualCSharp, Test

Add support for comma-separated query string values
  GetIntoTeachingApi/Attributes/CommaSeparatedAttribute.cs
  GetIntoTeachingApi/Attributes/CommaSeparatedQueryStringAttribute.cs
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/CommaSeparatedQueryStringConvention.cs
  GetIntoTeachingApi/Utils/CommaSeparatedQueryStringValueProvider.cs
  GetIntoTeachingApi/Utils/CommaSeparatedQueryStringValueProviderFactory.cs
  GetIntoTeachingApiTests/Utils/CommaSeparatedQueryStringValueProviderFactoryTests.cs
  GetIntoTeachingApiTests/Utils/CommaSeparatedQueryStringValueProviderTests.cs
Labels: VisualCSharp, Test

Get teaching event building along with teaching event
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Add OrganizationServiceContext DeleteLink method
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Get teaching event building along with teaching event
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Add OrganizationServiceContext DeleteLink method
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Update CdsServiceClient
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/PickListItem.cs
  GetIntoTeachingApiTests/Models/PickListItemTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Update CdsServiceClient
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/PickListItem.cs
  GetIntoTeachingApiTests/Models/PickListItemTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Call `DeleteLink` on `TeachingEvent` when `Building` is removed
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Call `DeleteLink` on `TeachingEvent` when `Building` is removed
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Revert "Update CdsServiceClient"
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/PickListItem.cs
  GetIntoTeachingApiTests/Models/PickListItemTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test
