Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml

Use differernt channel for unverified walk-in registrations
  GetIntoTeachingApi/Models/Crm/TeachingEventRegistration.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidator.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidatorTests.cs
Labels: VisualCSharp, Test

Paginate Apply API sync job
  GetIntoTeachingApi/Jobs/FindApplySyncJob.cs
  GetIntoTeachingApi/Services/IPaginatorClient.cs
  GetIntoTeachingApi/Services/PaginatorClient.cs
  GetIntoTeachingApiTests/Jobs/FindApplySyncJobTests.cs
  GetIntoTeachingApiTests/Services/PaginatorClientTests.cs
Labels: VisualCSharp, Test

Paginate Apply API sync job
  GetIntoTeachingApi/Jobs/FindApplySyncJob.cs
  GetIntoTeachingApi/Services/IPaginatorClient.cs
  GetIntoTeachingApi/Services/PaginatorClient.cs
  GetIntoTeachingApiTests/Jobs/FindApplySyncJobTests.cs
  GetIntoTeachingApiTests/Services/PaginatorClientTests.cs
Labels: VisualCSharp, Test

Add operations endpoint to run Find/Apply backfill
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
Labels: VisualCSharp, Test

Add Find/Apply candidate backfill job
  GetIntoTeachingApi/Jobs/FindApplyBackfillJob.cs
  GetIntoTeachingApiTests/Jobs/FindApplyBackfillJobTests.cs
Labels: VisualCSharp, Test

Add flag to check if Find/Apply backfill is in progress
  GetIntoTeachingApi/Models/AppSettings.cs
  GetIntoTeachingApi/Models/IAppSettings.cs
  GetIntoTeachingApiTests/Models/AppSettingsTests.cs
Labels: VisualCSharp, Test

Add operations endpoint to run Find/Apply backfill
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
Labels: VisualCSharp, Test

Add flag to check if Find/Apply backfill is in progress
  GetIntoTeachingApi/Models/AppSettings.cs
  GetIntoTeachingApi/Models/IAppSettings.cs
  GetIntoTeachingApiTests/Models/AppSettingsTests.cs
Labels: VisualCSharp, Test

Add Find/Apply candidate backfill job
  GetIntoTeachingApi/Jobs/FindApplyBackfillJob.cs
  GetIntoTeachingApiTests/Jobs/FindApplyBackfillJobTests.cs
Labels: VisualCSharp, Test

Fix swagger documentation for backfill endpoint
  GetIntoTeachingApi/Controllers/OperationsController.cs
Labels: VisualCSharp

Fix swagger documentation for backfill endpoint
  GetIntoTeachingApi/Controllers/OperationsController.cs
Labels: VisualCSharp

Update README to correct the note about ignoring CRM fields
  README.md
Labels: none

Update README to correct the note about ignoring CRM fields
  README.md
Labels: none

Upgrade influxdb from small to medium
  terraform/paas/production.env.tfvars
Labels: DevOps

Schedule backfill jobs in the future
  GetIntoTeachingApi/Jobs/FindApplyBackfillJob.cs
  GetIntoTeachingApiTests/Jobs/FindApplyBackfillJobTests.cs
Labels: VisualCSharp, Test

Schedule backfill jobs in the future
  GetIntoTeachingApi/Jobs/FindApplyBackfillJob.cs
  GetIntoTeachingApiTests/Jobs/FindApplyBackfillJobTests.cs
Labels: VisualCSharp, Test

Remove Google CSP violation rule
  monitoring/prometheus/alert.rules
Labels: Monitoring

Remove Google CSP violation rule
  monitoring/prometheus/alert.rules
Labels: Monitoring

Upgrade influxdb from small to medium (#820)
  terraform/paas/production.env.tfvars
Labels: DevOps

Upgrade influxdb from small to medium (#820)
  terraform/paas/production.env.tfvars
Labels: DevOps

Enable filtering by online/in-person events
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventSearchRequest.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Enable filtering by online/in-person events
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventSearchRequest.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Default FindApplyStatusId when no application forms
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
Labels: VisualCSharp, Test

Default FindApplyStatusId when no application forms
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
Labels: VisualCSharp, Test

Add `Candidate` cache
  GetIntoTeachingApi/Database/GetIntoTeachingDbContext.cs
  GetIntoTeachingApi/Migrations/20211025104327_AddTemporaryCandidateTables.Designer.cs
  GetIntoTeachingApi/Migrations/20211025104327_AddTemporaryCandidateTables.cs
  GetIntoTeachingApi/Models/CandidateIntermediateKeys.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
Labels: VisualCSharp

Add `Candidate` cache
  GetIntoTeachingApi/Database/GetIntoTeachingDbContext.cs
  GetIntoTeachingApi/Migrations/20211025104327_AddTemporaryCandidateTables.Designer.cs
  GetIntoTeachingApi/Migrations/20211025104327_AddTemporaryCandidateTables.cs
  GetIntoTeachingApi/Models/CandidateIntermediateKeys.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
Labels: VisualCSharp

Queue candidate CRM job
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

Queue candidate CRM job
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

Cache `Candidate` in store if CRM integration paused
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
Labels: VisualCSharp

Cache `Candidate` in store if CRM integration paused
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
Labels: VisualCSharp

Add endpoint to get candidate by intermediate ID
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Models/CandidateIntermediateKeys.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

Add endpoint to get candidate by intermediate ID
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Models/CandidateIntermediateKeys.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

Correct spelling mistakes
  README.md
Labels: none

Correct spelling mistakes
  README.md
Labels: none

Correctly handle when Redis key is not yet set
  GetIntoTeachingApi/Models/AppSettings.cs
  GetIntoTeachingApiTests/Models/AppSettingsTests.cs
Labels: VisualCSharp, Test

Correctly handle when Redis key is not yet set
  GetIntoTeachingApi/Models/AppSettings.cs
  GetIntoTeachingApiTests/Models/AppSettingsTests.cs
Labels: VisualCSharp, Test

Make date of birth optional for School Experience sign up
  GetIntoTeachingApi/Models/SchoolsExperience/Validators/SchoolsExperienceSignUpValidator.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/SchoolsExperienceSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Make date of birth optional for School Experience sign up
  GetIntoTeachingApi/Models/SchoolsExperience/Validators/SchoolsExperienceSignUpValidator.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/SchoolsExperienceSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Remove date of birth from Schools Experience sign up
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/SchoolsExperienceSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Remove date of birth from Schools Experience sign up
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/SchoolsExperienceSignUpValidatorTests.cs
Labels: VisualCSharp, Test
