Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

Enable magic links in production
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
Labels: VisualCSharp, Test

Enable magic links in production
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
Labels: VisualCSharp, Test

Add instructions on per-environment field mapping
  README.md
Labels: none

Add instructions on per-environment field mapping
  README.md
Labels: none

Database Migration
  terraform/paas/sandbox.bk.vars
  terraform/paas/sandbox.env.tfvars
  terraform/paas/services.tf
  terraform/paas/variables.tf
Labels: DevOps

Add panels for magic link generation/usage
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

Add panels for magic link generation/usage
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

production changes
  terraform/paas/production.env.tfvars
Labels: DevOps

Update sonarcloud.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Update sonarcloud.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Update sonarcloud.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Update sonarcloud.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Update sonarcloud.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Database Migration (#493)
  terraform/paas/production.env.tfvars
  terraform/paas/sandbox.bk.vars
  terraform/paas/sandbox.env.tfvars
  terraform/paas/services.tf
  terraform/paas/variables.tf
Labels: DevOps

Database Migration (#493)
  terraform/paas/production.env.tfvars
  terraform/paas/sandbox.bk.vars
  terraform/paas/sandbox.env.tfvars
  terraform/paas/services.tf
  terraform/paas/variables.tf
Labels: DevOps

Update sonarcloud.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Update sonarcloud.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Update sonarcloud.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Update sonarcloud.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Update sonarcloud.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Update sonarcloud.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Update sonarcloud.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Update sonarcloud.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Update sonarcloud.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Update sonarcloud.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Update sonarcloud.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Update sonarcloud.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Update sonarcloud.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Update pull_request.yml
  .github/workflows/pull_request.yml
Labels: DevOps

Fix build error in pipeline (#499)
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Fix build error in pipeline (#499)
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Share context when loading related entities
  GetIntoTeachingApi/Services/CrmService.cs
Labels: VisualCSharp

Share context when loading related entities
  GetIntoTeachingApi/Services/CrmService.cs
Labels: VisualCSharp

Persist candidate after exchanging magic link token
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
Labels: VisualCSharp, Test

Persist candidate after exchanging magic link token
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
Labels: VisualCSharp, Test

Increase magic link token generation batch size
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
  GetIntoTeachingApiTests/Jobs/MagicLinkTokenGenerationJobTests.cs
Labels: VisualCSharp, Test

Increase magic link token generation batch size
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
  GetIntoTeachingApiTests/Jobs/MagicLinkTokenGenerationJobTests.cs
Labels: VisualCSharp, Test

Relex validation on returning teacher sign ups
  GetIntoTeachingApi/Models/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Relex validation on returning teacher sign ups
  GetIntoTeachingApi/Models/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Convert empty strings to null on serialize/deserialize operations
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/EmptyStringToNullJsonConverter.cs
  GetIntoTeachingApiTests/Utils/EmptyStringToNullJsonConverterTests.cs
Labels: VisualCSharp, Test

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml
