Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml

Update cve.yml
  .github/workflows/cve.yml
Labels: DevOps

Update cve.yml
  .github/workflows/cve.yml
Labels: DevOps

Remove old monitoring Terraform and add fix for Policies
  .github/workflows/fix-network-policy.yml
  terraform/monitoring/applications.tf
  terraform/monitoring/backend.tf
  terraform/monitoring/dev.bk.vars
  terraform/monitoring/dev.env.tfvars
  terraform/monitoring/domain.tf
  terraform/monitoring/modules.tf
  terraform/monitoring/monitor.bk.vars
  terraform/monitoring/monitor.env.tfvars
  terraform/monitoring/network.tf
  terraform/monitoring/routes.tf
  terraform/monitoring/variables.tf
Labels: DevOps

Remove old monitoring Terraform and add fix for Policies (#453)
  .github/workflows/fix-network-policy.yml
  terraform/monitoring/applications.tf
  terraform/monitoring/backend.tf
  terraform/monitoring/dev.bk.vars
  terraform/monitoring/dev.env.tfvars
  terraform/monitoring/domain.tf
  terraform/monitoring/modules.tf
  terraform/monitoring/monitor.bk.vars
  terraform/monitoring/monitor.env.tfvars
  terraform/monitoring/network.tf
  terraform/monitoring/routes.tf
  terraform/monitoring/variables.tf
Labels: DevOps

Remove old monitoring Terraform and add fix for Policies (#453)
  .github/workflows/fix-network-policy.yml
  terraform/monitoring/applications.tf
  terraform/monitoring/backend.tf
  terraform/monitoring/dev.bk.vars
  terraform/monitoring/dev.env.tfvars
  terraform/monitoring/domain.tf
  terraform/monitoring/modules.tf
  terraform/monitoring/monitor.bk.vars
  terraform/monitoring/monitor.env.tfvars
  terraform/monitoring/network.tf
  terraform/monitoring/routes.tf
  terraform/monitoring/variables.tf
Labels: DevOps

Automatically run Fix network Policies
  .github/workflows/build.yml
Labels: DevOps

Automatic Run Fix Network Policies
  .github/workflows/manual.yml
Labels: DevOps

Automatic Run Fix Network Policies (#455)
  .github/workflows/manual.yml
Labels: DevOps

Automatic Run Fix Network Policies (#455)
  .github/workflows/manual.yml
Labels: DevOps

Automatically run Fix network Policies (#454)
  .github/workflows/build.yml
Labels: DevOps

Automatically run Fix network Policies (#454)
  .github/workflows/build.yml
Labels: DevOps

Add TOTP metrics to engagement row
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

Add TOTP metrics to engagement row
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

Temp to work locally
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

Temp to work locally
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

Extract subscription management logic from request models
  GetIntoTeachingApi/Models/MailingListAddMember.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Services/SubscriptionManager.cs
  GetIntoTeachingApiTests/Models/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Services/SubscriptionManagerTests.cs
Labels: VisualCSharp, Test

Extract candidate consent into SubscriptionManager
  GetIntoTeachingApi/Models/MailingListAddMember.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Services/SubscriptionManager.cs
  GetIntoTeachingApiTests/Models/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Services/SubscriptionManagerTests.cs
Labels: VisualCSharp, Test

Extract subscription management logic from request models
  GetIntoTeachingApi/Models/MailingListAddMember.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Services/SubscriptionManager.cs
  GetIntoTeachingApiTests/Models/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Services/SubscriptionManagerTests.cs
Labels: VisualCSharp, Test

Extract candidate consent into SubscriptionManager
  GetIntoTeachingApi/Models/MailingListAddMember.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Services/SubscriptionManager.cs
  GetIntoTeachingApiTests/Models/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Services/SubscriptionManagerTests.cs
Labels: VisualCSharp, Test

Update production.bk.vars
  terraform/paas/production.bk.vars
Labels: DevOps

Update production.bk.vars
  terraform/paas/production.bk.vars
Labels: DevOps

Rename GovPaas Organisation
  terraform/paas/variables.tf
Labels: DevOps

Automated Housekeeper
  .github/workflows/main.yml
Labels: DevOps

Rename GovPaas Organisation (#458)
  terraform/paas/variables.tf
Labels: DevOps

Rename GovPaas Organisation (#458)
  terraform/paas/variables.tf
Labels: DevOps

Update build.yml
  .github/workflows/build.yml
Labels: DevOps

Update build.yml
  .github/workflows/build.yml
Labels: DevOps

Better Release Body (#460)
  .github/workflows/build.yml
Labels: DevOps

Better Release Body (#460)
  .github/workflows/build.yml
Labels: DevOps

Update build.yml
  .github/workflows/build.yml
Labels: DevOps

Update build.yml
  .github/workflows/build.yml
Labels: DevOps

Update README.md
  README.md
Labels: none

Update README.md (#461)
  README.md
Labels: none

Update README.md (#461)
  README.md
Labels: none

Remove the word CONTENT
  .github/workflows/build.yml
Labels: DevOps

Use CopyPRtoRelease
  .github/workflows/build.yml
Labels: DevOps

Use CopyPRtoRelease (#463)
  .github/workflows/build.yml
Labels: DevOps

Use CopyPRtoRelease (#463)
  .github/workflows/build.yml
Labels: DevOps

Abstract master index check from DbConfiguration
  GetIntoTeachingApi/Database/DbConfiguration.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Abstract master index check from DbConfiguration
  GetIntoTeachingApi/Database/DbConfiguration.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test
