Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml

Remove feature flag for new School Experience endpoint
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

Remove feature flag for new School Experience endpoint
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

Fix various linting warnings
  GetIntoTeachingApi/Adapters/GeocodeClientAdapter.cs
  GetIntoTeachingApi/AppStart/SwaggerDefinitionsFilter.cs
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Controllers/GetIntoTeaching/TeachingEventsController.cs
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Database/GetIntoTeachingDbContextFactory.cs
  GetIntoTeachingApi/Jobs/ClaimCallbackBookingSlotJob.cs
  GetIntoTeachingApi/Jobs/FindApplyBackfillJob.cs
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Jobs/FindApplySyncJob.cs
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Jobs/UpsertModelJob.cs
  GetIntoTeachingApi/Middleware/RequestResponseLoggingMiddleware.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/ExistingCandidateRequest.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/NotifyService.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApi/Services/SubscriptionManager.cs
  GetIntoTeachingApi/Utils/BombFoundException.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/GeometryExtensions.cs
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Helpers/DatabaseTests.cs
  GetIntoTeachingApiTests/Helpers/QueryableExtensions.cs
  GetIntoTeachingApiTests/Jobs/ClaimCallbackBookingSlotJobTests.cs
  GetIntoTeachingApiTests/Jobs/FindApplySyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertModelJobTests.cs
  GetIntoTeachingApiTests/Middleware/RequestResponseLoggingMiddlewareTests.cs
  GetIntoTeachingApiTests/Models/Crm/BaseModelTests.cs
  GetIntoTeachingApiTests/Services/CandidateMagicLinkTokenServiceTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
  GetIntoTeachingApiTests/Services/SubscriptionManagerTests.cs
Labels: VisualCSharp, Test

Fix various linting warnings
  GetIntoTeachingApi/Adapters/GeocodeClientAdapter.cs
  GetIntoTeachingApi/AppStart/SwaggerDefinitionsFilter.cs
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Controllers/GetIntoTeaching/TeachingEventsController.cs
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Database/GetIntoTeachingDbContextFactory.cs
  GetIntoTeachingApi/Jobs/ClaimCallbackBookingSlotJob.cs
  GetIntoTeachingApi/Jobs/FindApplyBackfillJob.cs
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Jobs/FindApplySyncJob.cs
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Jobs/UpsertModelJob.cs
  GetIntoTeachingApi/Middleware/RequestResponseLoggingMiddleware.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/ExistingCandidateRequest.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/NotifyService.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApi/Services/SubscriptionManager.cs
  GetIntoTeachingApi/Utils/BombFoundException.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/GeometryExtensions.cs
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Helpers/DatabaseTests.cs
  GetIntoTeachingApiTests/Helpers/QueryableExtensions.cs
  GetIntoTeachingApiTests/Jobs/ClaimCallbackBookingSlotJobTests.cs
  GetIntoTeachingApiTests/Jobs/FindApplySyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertModelJobTests.cs
  GetIntoTeachingApiTests/Middleware/RequestResponseLoggingMiddlewareTests.cs
  GetIntoTeachingApiTests/Models/Crm/BaseModelTests.cs
  GetIntoTeachingApiTests/Services/CandidateMagicLinkTokenServiceTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
  GetIntoTeachingApiTests/Services/SubscriptionManagerTests.cs
Labels: VisualCSharp, Test

Minor linting fixes
  GetIntoTeachingApiTests/Services/PaginatorClientTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: Test

Minor linting fixes
  GetIntoTeachingApiTests/Services/PaginatorClientTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: Test

Enable NETAnalyzers
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
Labels: none

Enable NETAnalyzers
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
Labels: none

Grafana directory traversal
  terraform/paas/monitoring.tf
Labels: DevOps

Grafana directory traversal (#885)
  terraform/paas/monitoring.tf
Labels: DevOps

Grafana directory traversal (#885)
  terraform/paas/monitoring.tf
Labels: DevOps

Fix various static code analysis warnings
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/Adapters/GeocodeClientAdapter.cs
  GetIntoTeachingApi/AppStart/SwaggerDefinitionsFilter.cs
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Controllers/GetIntoTeaching/TeachingEventsController.cs
  GetIntoTeachingApi/GlobalSuppressions.cs
  GetIntoTeachingApi/Jobs/BaseJob.cs
  GetIntoTeachingApi/Jobs/ClaimCallbackBookingSlotJob.cs
  GetIntoTeachingApi/Jobs/FindApplyBackfillJob.cs
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Jobs/FindApplySyncJob.cs
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Jobs/UpsertModelJob.cs
  GetIntoTeachingApi/Middleware/RequestResponseLoggingMiddleware.cs
  GetIntoTeachingApi/Models/ExistingCandidateRequest.cs
  GetIntoTeachingApi/Models/Location.cs
  GetIntoTeachingApi/Models/SchoolsExperience/ClassroomExperienceNote.cs
  GetIntoTeachingApi/Services/ClientManager.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/NotifyService.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApi/Utils/StringExtensions.cs
  GetIntoTeachingApiTests/Services/ClientManagerTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Fix various static code analysis warnings
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/Adapters/GeocodeClientAdapter.cs
  GetIntoTeachingApi/AppStart/SwaggerDefinitionsFilter.cs
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Controllers/GetIntoTeaching/TeachingEventsController.cs
  GetIntoTeachingApi/GlobalSuppressions.cs
  GetIntoTeachingApi/Jobs/BaseJob.cs
  GetIntoTeachingApi/Jobs/ClaimCallbackBookingSlotJob.cs
  GetIntoTeachingApi/Jobs/FindApplyBackfillJob.cs
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Jobs/FindApplySyncJob.cs
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Jobs/UpsertModelJob.cs
  GetIntoTeachingApi/Middleware/RequestResponseLoggingMiddleware.cs
  GetIntoTeachingApi/Models/ExistingCandidateRequest.cs
  GetIntoTeachingApi/Models/Location.cs
  GetIntoTeachingApi/Models/SchoolsExperience/ClassroomExperienceNote.cs
  GetIntoTeachingApi/Services/ClientManager.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/NotifyService.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApi/Utils/StringExtensions.cs
  GetIntoTeachingApiTests/Services/ClientManagerTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Add cookie opt-in panel to apps dashboard
  monitoring/grafana/dashboards/get_into_teaching_apps.json
Labels: Monitoring

Add cookie opt-in panel to apps dashboard
  monitoring/grafana/dashboards/get_into_teaching_apps.json
Labels: Monitoring

Add new CandidatesSchoolExperience model
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/CandidateSchoolExperience.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateSchoolExperienceValidator.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateSchoolExperienceTests.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateSchoolExperienceValidatorTests.cs
Labels: VisualCSharp, Test

Add new CandidatesSchoolExperience model
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/CandidateSchoolExperience.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateSchoolExperienceValidator.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateSchoolExperienceTests.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateSchoolExperienceValidatorTests.cs
Labels: VisualCSharp, Test

Add new endpoint for CandidatesSchoolExperience
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/CandidateSchoolExperience.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Jobs/AddClassroomExperienceNoteJobTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

Add new endpoint for CandidatesSchoolExperience
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/CandidateSchoolExperience.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Jobs/AddClassroomExperienceNoteJobTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

Get candidates with different primary and secondary phone numbers
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Get candidates with different primary and secondary phone numbers
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Remove unused fields from the SchoolExperienceSignUp
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/Models/SchoolsExperience/Validators/SchoolsExperienceSignUpValidator.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/SchoolsExperienceSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Remove unused fields from the SchoolExperienceSignUp
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/Models/SchoolsExperience/Validators/SchoolsExperienceSignUpValidator.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/SchoolsExperienceSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Output v3 Open API specification
  GetIntoTeachingApi/AppStart/Startup.cs
Labels: VisualCSharp

Output v3 Open API specification
  GetIntoTeachingApi/AppStart/Startup.cs
Labels: VisualCSharp

Add candidate ID parameter to add school experience action
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

Add candidate ID parameter to add school experience action
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

Add architecture documentation
  docs/architecture/architecture.drawio
  docs/architecture/architecture.md
  docs/architecture/architecture.png
Labels: none

Fix markdown formatting and restore links
  docs/runbooks/client-approaching-rate-limit.md
  docs/runbooks/client-approaching-rate-limit_create-access-token.md
  docs/runbooks/failed-jobs.md
  docs/runbooks/google-api-errors.md
  docs/runbooks/high-cpu.md
  docs/runbooks/high-database-connections.md
  docs/runbooks/high-google-api-calls.md
  docs/runbooks/high-memory.md
  docs/runbooks/too-many-requests.md
Labels: none

Fix markdown formatting and restore links
  docs/runbooks/client-approaching-rate-limit.md
  docs/runbooks/client-approaching-rate-limit_create-access-token.md
  docs/runbooks/failed-jobs.md
  docs/runbooks/google-api-errors.md
  docs/runbooks/high-cpu.md
  docs/runbooks/high-database-connections.md
  docs/runbooks/high-google-api-calls.md
  docs/runbooks/high-memory.md
  docs/runbooks/too-many-requests.md
Labels: none

Add architecture documentation
  docs/architecture/architecture.drawio
  docs/architecture/architecture.md
  docs/architecture/architecture.png
Labels: none

Revert "Get candidates with different primary and secondary phone numbers"
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Revert "Get candidates with different primary and secondary phone numbers"
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Use other phone numbers when primary is null
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
Labels: VisualCSharp, Test

Use other phone numbers when primary is null
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
Labels: VisualCSharp, Test

Use address telephone instead of telephone as primary number
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/SchoolsExperienceSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Use address telephone instead of telephone as primary number
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/SchoolsExperienceSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Changed input type to Environment
  .github/workflows/deploy.yml
  .github/workflows/fix-network-policy.yml
  .github/workflows/manual.yml
Labels: DevOps

Implement GitHub Concurrency
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/fix-network-policy.yml
  .github/workflows/manual.yml
  .github/workflows/restart_prometheus.yml
Labels: DevOps

Change name from Docker hub to GHCR
  .github/workflows/build.yml
Labels: DevOps
