Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApi/**/*.cs'

Test:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApiTests/**/*'

Monitoring:
- changed-files:
  - any-glob-to-any-file: 'monitoring/**/*'

DevOps:
- changed-files:
  - any-glob-to-any-file: 'terraform/**/*'
  - any-glob-to-any-file: '.github/**/*.yml'

Docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: 'docker-compose.yml'

update docker-compose to docker compose
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
  README.md
Labels: DevOps

Specify SwggerIgnore attribute
  GetIntoTeachingApi/Models/Crm/Candidate.cs
Labels: VisualCSharp

Specify SwggerIgnore attribute
  GetIntoTeachingApi/Models/Crm/Candidate.cs
Labels: VisualCSharp

new endpoint for synchronising by candidate ID
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApi/Jobs/ApplyBackfillJob.cs
  GetIntoTeachingApi/Models/CandidateIdsRequest.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Jobs/ApplyBackfillJobTests.cs
  GetIntoTeachingApiTests/Models/CandidateIdsRequestTests.cs
Labels: VisualCSharp, Test

new endpoint for synchronising by candidate ID
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApi/Jobs/ApplyBackfillJob.cs
  GetIntoTeachingApi/Models/CandidateIdsRequest.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Jobs/ApplyBackfillJobTests.cs
  GetIntoTeachingApiTests/Models/CandidateIdsRequestTests.cs
Labels: VisualCSharp, Test

Update ApplyBackfillJob.cs
  GetIntoTeachingApi/Jobs/ApplyBackfillJob.cs
Labels: VisualCSharp

Update ApplyBackfillJob.cs
  GetIntoTeachingApi/Jobs/ApplyBackfillJob.cs
Labels: VisualCSharp

Updated terraform provider versions
  terraform/aks/.terraform.lock.hcl
  terraform/aks/provider.tf
Labels: DevOps

Updated terraform provider versions
  terraform/aks/.terraform.lock.hcl
  terraform/aks/provider.tf
Labels: DevOps

Add duplication checks to qualification record sync
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Helpers/ContractCrmService.cs
Labels: VisualCSharp, Test

Add duplication checks to qualification record sync
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Helpers/ContractCrmService.cs
Labels: VisualCSharp, Test

Change qualification creation from queued to immediate
  GetIntoTeachingApi/Services/CandidateUpserter.cs
Labels: VisualCSharp

Change qualification creation from queued to immediate
  GetIntoTeachingApi/Services/CandidateUpserter.cs
Labels: VisualCSharp

Update CandidateUpserterTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: Test

Update CandidateUpserterTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: Test

Update ApplicationChoice.cs
  GetIntoTeachingApi/Models/Crm/ApplicationChoice.cs
Labels: VisualCSharp

Update ApplicationChoice.cs
  GetIntoTeachingApi/Models/Crm/ApplicationChoice.cs
Labels: VisualCSharp

Remove request logging from API
  GetIntoTeachingApi/Middleware/RequestResponseLoggingMiddleware.cs
  GetIntoTeachingApiTests/Middleware/RequestResponseLoggingMiddlewareTests.cs
Labels: VisualCSharp, Test

Remove request logging from API
  GetIntoTeachingApi/Middleware/RequestResponseLoggingMiddleware.cs
  GetIntoTeachingApiTests/Middleware/RequestResponseLoggingMiddlewareTests.cs
Labels: VisualCSharp, Test

Redact postcode in JSON serialization
  GetIntoTeachingApi/Utils/Redactor.cs
  GetIntoTeachingApiTests/Utils/RedactorTests.cs
Labels: VisualCSharp, Test

Redact postcode in JSON serialization
  GetIntoTeachingApi/Utils/Redactor.cs
  GetIntoTeachingApiTests/Utils/RedactorTests.cs
Labels: VisualCSharp, Test

test fix
  GetIntoTeachingApiTests/Middleware/RequestResponseLoggingMiddlewareTests.cs
Labels: Test

test fix
  GetIntoTeachingApiTests/Middleware/RequestResponseLoggingMiddlewareTests.cs
Labels: Test

Replace terrafile
  .gitignore
  Makefile
  global_config/development_aks.sh
  global_config/production_aks.sh
  global_config/test_aks.sh
  terraform/aks/config/development_aks_Terrafile
  terraform/aks/config/production_aks_Terrafile
  terraform/aks/config/test_aks_Terrafile
Labels: DevOps

Replace terrafile
  .gitignore
  Makefile
  global_config/development_aks.sh
  global_config/production_aks.sh
  global_config/test_aks.sh
  terraform/aks/config/development_aks_Terrafile
  terraform/aks/config/production_aks_Terrafile
  terraform/aks/config/test_aks_Terrafile
Labels: DevOps

ignore end of support message
  .github/workflows/pull_request.yml
Labels: DevOps

ignore end of support message
  .github/workflows/pull_request.yml
Labels: DevOps

add new models and picklists fo contact_channel_creation
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Models/Crm/ContactChannelCreation.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
Labels: VisualCSharp, Test

add new models and picklists fo contact_channel_creation
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Models/Crm/ContactChannelCreation.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
Labels: VisualCSharp, Test

add tests for creation channel
  GetIntoTeachingApi/Models/Crm/ContactChannelCreation.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Models/Crm/ContactChannelCreationTests.cs
Labels: VisualCSharp, Test

add tests for creation channel
  GetIntoTeachingApi/Models/Crm/ContactChannelCreation.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Models/Crm/ContactChannelCreationTests.cs
Labels: VisualCSharp, Test

work in progress
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Database/GetIntoTeachingDbContext.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/ContactChannelCreation.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/ContactChannelCreationValidator.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Models/Crm/ContactChannelCreationTests.cs
Labels: VisualCSharp, Test

work in progress
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Database/GetIntoTeachingDbContext.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/ContactChannelCreation.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/ContactChannelCreationValidator.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Models/Crm/ContactChannelCreationTests.cs
Labels: VisualCSharp, Test

Minor update to text in architecture diagram for GIT Website
  docs/architecture/architecture.drawio
  docs/architecture/architecture.png
Labels: none

Minor update to text in architecture diagram for GIT Website
  docs/architecture/architecture.drawio
  docs/architecture/architecture.png
Labels: none

test fixes
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
Labels: VisualCSharp, Test

test fixes
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
Labels: VisualCSharp, Test

remove extra logging
  GetIntoTeachingApi/Database/GetIntoTeachingDbContext.cs
Labels: VisualCSharp

remove extra logging
  GetIntoTeachingApi/Database/GetIntoTeachingDbContext.cs
Labels: VisualCSharp

Initisl commit
  GetIntoTeaching/GetIntoTeaching.csproj
  GetIntoTeaching/Infrastructure/Persistence/CandidateManagement/Common/DynamicsCrmQueryHandler.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateManagement/Common/ICommandHandler.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateManagement/Common/IQueryHandler.cs
  GetIntoTeachingApi.sln
Labels: none
