Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApi/**/*.cs'

Test:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApiTests/**/*'

Monitoring:
- changed-files:
  - any-glob-to-any-file: 'monitoring/**/*'

DevOps:
- changed-files:
  - any-glob-to-any-file: 'terraform/**/*'
  - any-glob-to-any-file: '.github/**/*.yml'

Docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: 'docker-compose.yml'

Move workflow secrets to github
  .github/workflows/build-and-deploy.yml
  .github/workflows/build-no-cache.yml
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/trello.yml
Labels: DevOps

Move workflow secrets to github
  .github/workflows/build-and-deploy.yml
  .github/workflows/build-no-cache.yml
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/trello.yml
Labels: DevOps

Added typeof(OptionSetValue)
  GetIntoTeachingApi/Models/Crm/Candidate.cs
Labels: VisualCSharp

Added validation checks for situation
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
Labels: VisualCSharp, Test

Removed defaults from situation id if null.
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
Labels: VisualCSharp

So/so/7577 update api to pass life stage data to crm new (#1509)
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
Labels: VisualCSharp, Test

So/so/7577 update api to pass life stage data to crm new (#1509)
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
Labels: VisualCSharp, Test

Modified service collection extensions to reduce concurrent hangfire background processes to 1, and changed DbContext to transient. (#1508)
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
Labels: VisualCSharp

Modified service collection extensions to reduce concurrent hangfire background processes to 1, and changed DbContext to transient. (#1508)
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
Labels: VisualCSharp

Revert "Modified service collection extensions to reduce concurrent hangfire background processes to 1, and changed DbContext to transient. (#1508)"
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
Labels: VisualCSharp

Revert "Modified service collection extensions to reduce concurrent hangfire background processes to 1, and changed DbContext to transient. (#1508)" (#1515)
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
Labels: VisualCSharp

Revert "Modified service collection extensions to reduce concurrent hangfire background processes to 1, and changed DbContext to transient. (#1508)" (#1515)
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
Labels: VisualCSharp

Reapply "Modified service collection extensions to reduce concurrent hangfire background processes to 1, and changed DbContext to transient. (#1508)" (#1515)
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
Labels: VisualCSharp

Reapply "Modified service collection extensions to reduce concurrent hangfire background processes to 1, and changed DbContext to transient. (#1508)" (#1515) (#1516)
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
Labels: VisualCSharp

Reapply "Modified service collection extensions to reduce concurrent hangfire background processes to 1, and changed DbContext to transient. (#1508)" (#1515) (#1516)
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
Labels: VisualCSharp

Revised logic in degree status evaluators to deal with academic year.
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/CurrentYearProvider.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Evaluators/InferAlreadyHasDegree.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Evaluators/InferFinalYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Evaluators/InferFirstYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Evaluators/InferSecondYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/GraduationYear.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/ICurrentYearProvider.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/PartialIntegration/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/CurrentYearProviderTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/DegreeStatusDomainServiceTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferAlreadyHasDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFinalYearOfDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFirstYearOfDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferSecondYearOfDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/GraduationYearTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/TestDoubles/CurrentYearProviderTestDouble.cs
Labels: VisualCSharp, Test

Added tests to bookend final year of degree with dates behind and ahead
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFinalYearOfDegreeTests.cs
Labels: Test

Revised logic in degree status evaluators to deal with academic year. (#1520)
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/CurrentYearProvider.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Evaluators/InferAlreadyHasDegree.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Evaluators/InferFinalYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Evaluators/InferFirstYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Evaluators/InferSecondYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/GraduationYear.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/ICurrentYearProvider.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/PartialIntegration/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/CurrentYearProviderTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/DegreeStatusDomainServiceTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferAlreadyHasDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFinalYearOfDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFirstYearOfDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferSecondYearOfDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/GraduationYearTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/TestDoubles/CurrentYearProviderTestDouble.cs
Labels: VisualCSharp, Test

Revised logic in degree status evaluators to deal with academic year. (#1520)
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/CurrentYearProvider.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Evaluators/InferAlreadyHasDegree.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Evaluators/InferFinalYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Evaluators/InferFirstYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Evaluators/InferSecondYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/GraduationYear.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/ICurrentYearProvider.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/PartialIntegration/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/CurrentYearProviderTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/DegreeStatusDomainServiceTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferAlreadyHasDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFinalYearOfDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFirstYearOfDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferSecondYearOfDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/GraduationYearTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/TestDoubles/CurrentYearProviderTestDouble.cs
Labels: VisualCSharp, Test

Restructured and added more narrative around the background processing and database sections.
  README.md
Labels: none

Changed unicode character from dash to colon due to rendering issues in GitHub
  README.md
Labels: none

Removed another dodgy character
  README.md
Labels: none

Restructured and added more narrative around the background processin… (#1522)
  README.md
Labels: none

Restructured and added more narrative around the background processin… (#1522)
  README.md
Labels: none

Added more detailed readme commentary for rate limiting.
  README.md
Labels: none

Added more narrative around testing
  README.md
Labels: none

Added more detailed readme commentary for rate limiting. (#1523)
  README.md
Labels: none

Added more detailed readme commentary for rate limiting. (#1523)
  README.md
Labels: none

Added more narrative around testing (#1524)
  README.md
Labels: none

Added more narrative around testing (#1524)
  README.md
Labels: none

Added new section on service recovery
  README.md
Labels: none

Added new section on service recovery (#1525)
  README.md
Labels: none

Added new section on service recovery (#1525)
  README.md
Labels: none

Changes to allow degree status (inferred or otherwise) to be returned by the service endpoint.
  GetIntoTeachingApi/Controllers/GetIntoTeaching/MailingListController.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/IInferDegreeStatus.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/Readme.txt
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/PartialIntegration/MailingListControllerTests.cs
Labels: VisualCSharp, Test

Changes to allow degree status (inferred or otherwise) to be returned by the service endpoint.
  GetIntoTeachingApi/Controllers/GetIntoTeaching/MailingListController.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/IInferDegreeStatus.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/Readme.txt
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/PartialIntegration/MailingListControllerTests.cs
Labels: VisualCSharp, Test

Some small changes to the readme based on suggestions from CM PR feedback.
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/Readme.txt
Labels: none

Some small changes to the readme based on suggestions from CM PR feedback.
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/Readme.txt
Labels: none

Changes to allow degree status (inferred or otherwise) to be returned by the service endpoint. (#1526)
  GetIntoTeachingApi/Controllers/GetIntoTeaching/MailingListController.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/IInferDegreeStatus.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/Readme.txt
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/PartialIntegration/MailingListControllerTests.cs
Labels: VisualCSharp, Test

Changes to allow degree status (inferred or otherwise) to be returned by the service endpoint. (#1526)
  GetIntoTeachingApi/Controllers/GetIntoTeaching/MailingListController.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/IInferDegreeStatus.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/Readme.txt
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/PartialIntegration/MailingListControllerTests.cs
Labels: VisualCSharp, Test

Added strongly typed object for add member degree status return type.
  GetIntoTeachingApi/Controllers/GetIntoTeaching/MailingListController.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DegreeStatusResponse.cs
Labels: VisualCSharp
