Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

Adds optional param to TeachingEventAddAttendee - Adds `Channel_id` to the model
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
Labels: VisualCSharp

Upgrade postgres to B_Standard_B2s
  terraform/aks/config/production_aks.tfvars.json
Labels: DevOps

Upgrade postgres to B_Standard_B2s
  terraform/aks/config/production_aks.tfvars.json
Labels: DevOps

Adds Unit test
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
Labels: Test

Adds optional param `channel_id` to TeachingEventAddAttendee (#1330)
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
Labels: VisualCSharp, Test

Adds optional param `channel_id` to TeachingEventAddAttendee (#1330)
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
Labels: VisualCSharp, Test

Enable DB monitoring
  terraform/aks/config/production_aks.tfvars.json
Labels: DevOps

Enable DB monitoring
  terraform/aks/config/production_aks.tfvars.json
Labels: DevOps

Test terraform module changes
  terraform/aks/config/development_aks_Terrafile
  terraform/aks/config/test_aks_Terrafile
Labels: DevOps

Test terraform module changes
  terraform/aks/config/development_aks_Terrafile
  terraform/aks/config/test_aks_Terrafile
Labels: DevOps

Postgress server SKU updated to GP_Standard_D2ds_v4 and Enabled high availability
  terraform/aks/config/production_aks.tfvars.json
Labels: DevOps

Postgress server SKU updated to GP_Standard_D2ds_v4 and Enabled high availability
  terraform/aks/config/production_aks.tfvars.json
Labels: DevOps

Remove paas Github environments
  .github/workflows/manual.yml
  .github/workflows/trello.yml
  README.md
Labels: DevOps

Remove paas Github environments
  .github/workflows/manual.yml
  .github/workflows/trello.yml
  README.md
Labels: DevOps

Set up java for sonarcloud
  .github/workflows/sonarcloud.yml
Labels: DevOps

Set up java for sonarcloud
  .github/workflows/sonarcloud.yml
Labels: DevOps

wip
  .github/workflows/sonarcloud.yml
Labels: DevOps

wip
  .github/workflows/sonarcloud.yml
Labels: DevOps

Update dotnet-sonarscanner to 5.15.0
  .github/workflows/sonarcloud.yml
Labels: DevOps

Update dotnet-sonarscanner to 5.15.0
  .github/workflows/sonarcloud.yml
Labels: DevOps

Sonarcloud fix indentation
  .github/workflows/sonarcloud.yml
Labels: DevOps

Sonarcloud fix indentation
  .github/workflows/sonarcloud.yml
Labels: DevOps

high availability disabled
  terraform/aks/config/production_aks.tfvars.json
Labels: DevOps

high availability disabled
  terraform/aks/config/production_aks.tfvars.json
Labels: DevOps

Fixed webhook failures on slack notifications
  .github/workflows/manual.yml
Labels: DevOps

Fixed webhook failures on slack notifications
  .github/workflows/manual.yml
Labels: DevOps

Added RBAC to project WHY: RBAC is a requisite feature to enhance security HOW: By make the authentication and authorisation go through the new RBAC feature in MAKEFILE
  .github/workflows/actions/deploy_v2/action.yml
  Makefile
  terraform/aks/.terraform.lock.hcl
  terraform/aks/provider.tf
Labels: DevOps

Added RBAC to project WHY: RBAC is a requisite feature to enhance security HOW: By make the authentication and authorisation go through the new RBAC feature in MAKEFILE
  .github/workflows/actions/deploy_v2/action.yml
  Makefile
  terraform/aks/.terraform.lock.hcl
  terraform/aks/provider.tf
Labels: DevOps

Action review comments
  docs/architecture/architecture.drawio
  docs/architecture/architecture.png
Labels: none

Action review comments
  docs/architecture/architecture.drawio
  docs/architecture/architecture.png
Labels: none

Update architecture diagram following merge it GiT Website and Get an Adviser funnel
  docs/architecture/architecture.drawio
  docs/architecture/architecture.png
Labels: none

Update architecture diagram following merge it GiT Website and Get an Adviser funnel
  docs/architecture/architecture.drawio
  docs/architecture/architecture.png
Labels: none

Revert "Bump dotnet/sdk from 7.0-alpine to 8.0-alpine (#1323)"
  Dockerfile
Labels: Docker

Revert "Bump dotnet/aspnet from 7.0-alpine to 8.0-alpine (#1322)"
  Dockerfile
Labels: Docker

Reverts alpine:8.0 upgrade (#1380)
  Dockerfile
Labels: Docker

Reverts alpine:8.0 upgrade (#1380)
  Dockerfile
Labels: Docker

Refactor model binder and notify service tests
  GetIntoTeachingApiTests/ModelBinders/TrimStringModelBinderTests.cs
  GetIntoTeachingApiTests/Services/NotifyServiceTests.cs
Labels: Test

'NpgsqlConnectionStringBuilder.TrustServerCertificate' is obsolete: 'The TrustServerCertificate parameter is no longer needed and does nothing.
  GetIntoTeachingApi/Database/DbConfiguration.cs
Labels: VisualCSharp

Revert "Bump azure/CLI from 1 to 2 (#1378)"
  .github/workflows/build-and-deploy.yml
  .github/workflows/build-no-cache.yml
  .github/workflows/manual.yml
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/trello.yml
Labels: DevOps

Update DbConfigurationTests.cs
  GetIntoTeachingApiTests/Database/DbConfigurationTests.cs
Labels: Test

.github/labeler.yml:

---

VisualCSharp:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApi/**/*.cs'

Test:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApiTests/**/*'

Monitoring:
- changed-files:
  - any-glob-to-any-file: 'monitoring/**/*'

DevOps:
- changed-files:
  - any-glob-to-any-file: 'terraform/**/*'
  - any-glob-to-any-file: '.github/**/*.yml'

Docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: 'docker-compose.yml'
