Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml

Add manual migration/rollback instructions for production
  README.md
Labels: none

Add manual migration/rollback instructions for production
  README.md
Labels: none

Add TeachingEventsByType response model
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Models/TeachingEventsByType.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventsByTypeTests.cs
Labels: VisualCSharp, Test

Add TeachingEventsByType response model
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Models/TeachingEventsByType.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventsByTypeTests.cs
Labels: VisualCSharp, Test

Remove upcoming_grouped_by_type
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
Labels: VisualCSharp, Test

Remove upcoming_grouped_by_type
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
Labels: VisualCSharp, Test

set all variables to default
  terraform/paas/variables.tf
Labels: DevOps

set all variables to default (#444)
  terraform/paas/variables.tf
Labels: DevOps

set all variables to default (#444)
  terraform/paas/variables.tf
Labels: DevOps

Added missing variable
  terraform/paas/monitoring.tf
Labels: DevOps

Added missing variable (#445)
  terraform/paas/monitoring.tf
Labels: DevOps

Added missing variable (#445)
  terraform/paas/monitoring.tf
Labels: DevOps

Delete network.tf
  terraform/paas/network.tf
Labels: DevOps

Delete network.tf
  terraform/paas/network.tf
Labels: DevOps

Network file reintroduced
  terraform/paas/network.tf
Labels: DevOps

If Influx is not set prevent error
  terraform/paas/monitoring.tf
Labels: DevOps

Added Policies for APP and TTA
  terraform/paas/network.tf
Labels: DevOps

Terraform Fmt applied
  terraform/paas/network.tf
  terraform/paas/variables.tf
Labels: DevOps

Remove x_teaching_events_indexed_by_type endpoints
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Remove x_teaching_events_indexed_by_type endpoints
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Devops/monitoring/networks (#446)
  terraform/paas/monitoring.tf
  terraform/paas/network.tf
  terraform/paas/variables.tf
Labels: DevOps

Devops/monitoring/networks (#446)
  terraform/paas/monitoring.tf
  terraform/paas/network.tf
  terraform/paas/variables.tf
Labels: DevOps

Use ID rather than BLUE/GREEN ID
  terraform/paas/network.tf
Labels: DevOps

Use ID rather than BLUE/GREEN ID (#449)
  terraform/paas/network.tf
Labels: DevOps

Use ID rather than BLUE/GREEN ID (#449)
  terraform/paas/network.tf
Labels: DevOps

Added depends on
  terraform/paas/network.tf
Labels: DevOps

Devops/fix deploy (#450)
  terraform/paas/network.tf
Labels: DevOps

Devops/fix deploy (#450)
  terraform/paas/network.tf
Labels: DevOps

Add metrics for TOTP generation/verification
  GetIntoTeachingApi/Services/IMetricService.cs
  GetIntoTeachingApi/Services/MetricService.cs
  GetIntoTeachingApiTests/Services/MetricServiceTests.cs
Labels: VisualCSharp, Test

Add metrics for TOTP generation/verification
  GetIntoTeachingApi/Services/IMetricService.cs
  GetIntoTeachingApi/Services/MetricService.cs
  GetIntoTeachingApiTests/Services/MetricServiceTests.cs
Labels: VisualCSharp, Test

Increment TOTP generated/verified metrics
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Services/CandidateAccessTokenService.cs
  GetIntoTeachingApi/Services/ICandidateAccessTokenService.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Services/CandidateAccessTokenServiceTests.cs
Labels: VisualCSharp, Test

Increment TOTP generated/verified metrics
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Services/CandidateAccessTokenService.cs
  GetIntoTeachingApi/Services/ICandidateAccessTokenService.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Services/CandidateAccessTokenServiceTests.cs
Labels: VisualCSharp, Test

Delete network.tf
  terraform/paas/network.tf
Labels: DevOps

Delete network.tf
  terraform/paas/network.tf
Labels: DevOps

Switched monitoring deployment on
  terraform/paas/production.env.tfvars
Labels: DevOps

Switched monitoring deployment on (#451)
  terraform/paas/production.env.tfvars
Labels: DevOps

Switched monitoring deployment on (#451)
  terraform/paas/production.env.tfvars
Labels: DevOps

Snaffle Secrets
  .github/workflows/cve.yml
Labels: DevOps

Update cve.yml
  .github/workflows/cve.yml
Labels: DevOps

Update cve.yml
  .github/workflows/cve.yml
Labels: DevOps
