Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml

Upgrade to latest version of FluentValidation
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Mocks/MockModel.cs
  GetIntoTeachingApi/Mocks/MockRelatedModel.cs
  GetIntoTeachingApi/Models/Crm/ApplicationChoice.cs
  GetIntoTeachingApi/Models/Crm/ApplicationForm.cs
  GetIntoTeachingApi/Models/Crm/ApplicationInterview.cs
  GetIntoTeachingApi/Models/Crm/ApplicationReference.cs
  GetIntoTeachingApi/Models/Crm/BaseModel.cs
  GetIntoTeachingApi/Models/Crm/CallbackBookingQuota.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/CandidatePastTeachingPosition.cs
  GetIntoTeachingApi/Models/Crm/CandidatePrivacyPolicy.cs
  GetIntoTeachingApi/Models/Crm/CandidateQualification.cs
  GetIntoTeachingApi/Models/Crm/CandidateSchoolExperience.cs
  GetIntoTeachingApi/Models/Crm/PhoneCall.cs
  GetIntoTeachingApi/Models/Crm/PrivacyPolicy.cs
  GetIntoTeachingApi/Models/Crm/TeachingEvent.cs
  GetIntoTeachingApi/Models/Crm/TeachingEventBuilding.cs
  GetIntoTeachingApi/Models/Crm/TeachingEventRegistration.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Models/Crm/BaseModelTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Upgrade to latest version of FluentValidation
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Mocks/MockModel.cs
  GetIntoTeachingApi/Mocks/MockRelatedModel.cs
  GetIntoTeachingApi/Models/Crm/ApplicationChoice.cs
  GetIntoTeachingApi/Models/Crm/ApplicationForm.cs
  GetIntoTeachingApi/Models/Crm/ApplicationInterview.cs
  GetIntoTeachingApi/Models/Crm/ApplicationReference.cs
  GetIntoTeachingApi/Models/Crm/BaseModel.cs
  GetIntoTeachingApi/Models/Crm/CallbackBookingQuota.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/CandidatePastTeachingPosition.cs
  GetIntoTeachingApi/Models/Crm/CandidatePrivacyPolicy.cs
  GetIntoTeachingApi/Models/Crm/CandidateQualification.cs
  GetIntoTeachingApi/Models/Crm/CandidateSchoolExperience.cs
  GetIntoTeachingApi/Models/Crm/PhoneCall.cs
  GetIntoTeachingApi/Models/Crm/PrivacyPolicy.cs
  GetIntoTeachingApi/Models/Crm/TeachingEvent.cs
  GetIntoTeachingApi/Models/Crm/TeachingEventBuilding.cs
  GetIntoTeachingApi/Models/Crm/TeachingEventRegistration.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Models/Crm/BaseModelTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Enable anonymous readonly access to Grafana
  terraform/paas/monitoring.tf
Labels: DevOps

Enable anonymous readonly access to Grafana
  terraform/paas/monitoring.tf
Labels: DevOps

GiT services traffic dashboard
  monitoring/grafana/dashboards/git_services_traffic.json
Labels: Monitoring

GiT services traffic dashboard
  monitoring/grafana/dashboards/git_services_traffic.json
Labels: Monitoring

Remove action workflow
  .github/workflows/restart_prometheus.yml
Labels: DevOps

Remove action workflow
  .github/workflows/restart_prometheus.yml
Labels: DevOps

Various dependency updates
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Various dependency updates
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Use explicit DateTime
  GetIntoTeachingApiTests/Jobs/ClaimCallbackBookingSlotJobTests.cs
Labels: Test

Use explicit DateTime
  GetIntoTeachingApiTests/Jobs/ClaimCallbackBookingSlotJobTests.cs
Labels: Test

Update GSE delayed job alerting rules
  monitoring/prometheus/alert.rules
Labels: Monitoring

Update GSE delayed job alerting rules
  monitoring/prometheus/alert.rules
Labels: Monitoring

Fix alert rule conditional
  monitoring/prometheus/alert.rules
Labels: Monitoring

Fix alert rule conditional
  monitoring/prometheus/alert.rules
Labels: Monitoring

Remove unused SecondaryEmail attribute from Candidate
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Utils/Redactor.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
Labels: VisualCSharp, Test

Remove unused SecondaryEmail attribute from Candidate
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Utils/Redactor.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
Labels: VisualCSharp, Test

Update SE delayed job route
  terraform/paas/dev.env.tfvars
Labels: DevOps

Update SE delayed job route
  terraform/paas/dev.env.tfvars
Labels: DevOps

Remove unused sandbox environment
  terraform/paas/sandbox.bk.vars
  terraform/paas/sandbox.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps

Remove unused sandbox environment
  terraform/paas/sandbox.bk.vars
  terraform/paas/sandbox.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps

Various dependency updates
  GetIntoTeachingApi/AppStart/DatabaseUtility.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Helpers/NotThreadSafeResourceCollection.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventSearchRequestTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Various dependency updates
  GetIntoTeachingApi/AppStart/DatabaseUtility.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Helpers/NotThreadSafeResourceCollection.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventSearchRequestTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Update postcode CSV URL
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApiTests/Jobs/LocationSyncJobTests.cs
Labels: VisualCSharp, Test

Update postcode CSV URL
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApiTests/Jobs/LocationSyncJobTests.cs
Labels: VisualCSharp, Test

Update Terraform StatusCake provider to 2.0.3
  terraform/paas/provider.tf
  terraform/paas/statuscake.tf
  terraform/paas/variables.tf
Labels: DevOps

Update Terraform StatusCake provider to 2.0.3
  terraform/paas/provider.tf
  terraform/paas/statuscake.tf
  terraform/paas/variables.tf
Labels: DevOps

Tweak alert rules to be more lenient
  monitoring/prometheus/alert.rules
Labels: Monitoring

Tweak alert rules to be more lenient
  monitoring/prometheus/alert.rules
Labels: Monitoring

Upgrade Terraform to version 1.2.8
  .github/workflows/actions/deploy/action.yml
  terraform/paas/.gitignore
  terraform/paas/.terraform.lock.hcl
  terraform/paas/dev.bk.vars
  terraform/paas/production.bk.vars
  terraform/paas/provider.tf
  terraform/paas/test.bk.vars
  terraform/paas/variables.tf
Labels: DevOps

Upgrade Terraform to version 1.2.8
  .github/workflows/actions/deploy/action.yml
  terraform/paas/.gitignore
  terraform/paas/.terraform.lock.hcl
  terraform/paas/dev.bk.vars
  terraform/paas/production.bk.vars
  terraform/paas/provider.tf
  terraform/paas/test.bk.vars
  terraform/paas/variables.tf
Labels: DevOps

Increase HighJobsWaiting threshold
  monitoring/prometheus/alert.rules
Labels: Monitoring

Increase HighJobsWaiting threshold
  monitoring/prometheus/alert.rules
Labels: Monitoring

Fix prometheus reference to SE staging
  terraform/paas/production.env.tfvars
Labels: DevOps

Fix prometheus reference to SE staging
  terraform/paas/production.env.tfvars
Labels: DevOps

Add Prometheus targets for dev/staging Sidekiq instances
  terraform/paas/dev.env.tfvars
  terraform/paas/production.env.tfvars
Labels: DevOps

Add Prometheus targets for dev/staging Sidekiq instances
  terraform/paas/dev.env.tfvars
  terraform/paas/production.env.tfvars
Labels: DevOps

Pin azurerm provider version
  terraform/paas/.terraform.lock.hcl
  terraform/paas/provider.tf
Labels: DevOps

Pin azurerm provider version
  terraform/paas/.terraform.lock.hcl
  terraform/paas/provider.tf
Labels: DevOps
