Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

Migrate local development secrets to Azure keyvault
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  Makefile
  README.md
Labels: none

Migrate local development secrets to Azure keyvault
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  Makefile
  README.md
Labels: none

Update CRM models for new Apply data set
  GetIntoTeachingApi/Models/Crm/ApplicationChoice.cs
  GetIntoTeachingApi/Models/Crm/ApplicationForm.cs
  GetIntoTeachingApi/Models/Crm/ApplicationInterview.cs
  GetIntoTeachingApi/Models/Crm/ApplicationReference.cs
  GetIntoTeachingApi/Models/Crm/Validators/ApplicationChoiceValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/ApplicationFormValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/ApplicationInterviewValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/ApplicationReferenceValidator.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Models/ApplicationReferenceTests.cs
  GetIntoTeachingApiTests/Models/Crm/ApplicationChoiceTests.cs
  GetIntoTeachingApiTests/Models/Crm/ApplicationFormTests.cs
  GetIntoTeachingApiTests/Models/Crm/ApplicationInterviewTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ApplicationChoiceValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ApplicationInterviewValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ApplicationReferenceValidatorTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Update Apply API response models
  GetIntoTeachingApi/Models/FindApply/ApplicationChoice.cs
  GetIntoTeachingApi/Models/FindApply/ApplicationForm.cs
  GetIntoTeachingApi/Models/FindApply/Course.cs
  GetIntoTeachingApi/Models/FindApply/Interview.cs
  GetIntoTeachingApi/Models/FindApply/Provider.cs
  GetIntoTeachingApi/Models/FindApply/Reference.cs
  GetIntoTeachingApiTests/Models/FindApply/ApplicationChoiceTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ApplicationFormTests.cs
  GetIntoTeachingApiTests/Models/FindApply/CourseTests.cs
  GetIntoTeachingApiTests/Models/FindApply/InterviewTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ProviderTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ReferenceTests.cs
Labels: VisualCSharp, Test

Update CRM models for new Apply data set
  GetIntoTeachingApi/Models/Crm/ApplicationChoice.cs
  GetIntoTeachingApi/Models/Crm/ApplicationForm.cs
  GetIntoTeachingApi/Models/Crm/ApplicationInterview.cs
  GetIntoTeachingApi/Models/Crm/ApplicationReference.cs
  GetIntoTeachingApi/Models/Crm/Validators/ApplicationChoiceValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/ApplicationFormValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/ApplicationInterviewValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/ApplicationReferenceValidator.cs
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Models/ApplicationReferenceTests.cs
  GetIntoTeachingApiTests/Models/Crm/ApplicationChoiceTests.cs
  GetIntoTeachingApiTests/Models/Crm/ApplicationFormTests.cs
  GetIntoTeachingApiTests/Models/Crm/ApplicationInterviewTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ApplicationChoiceValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ApplicationInterviewValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ApplicationReferenceValidatorTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Update Apply API response models
  GetIntoTeachingApi/Models/FindApply/ApplicationChoice.cs
  GetIntoTeachingApi/Models/FindApply/ApplicationForm.cs
  GetIntoTeachingApi/Models/FindApply/Course.cs
  GetIntoTeachingApi/Models/FindApply/Interview.cs
  GetIntoTeachingApi/Models/FindApply/Provider.cs
  GetIntoTeachingApi/Models/FindApply/Reference.cs
  GetIntoTeachingApiTests/Models/FindApply/ApplicationChoiceTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ApplicationFormTests.cs
  GetIntoTeachingApiTests/Models/FindApply/CourseTests.cs
  GetIntoTeachingApiTests/Models/FindApply/InterviewTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ProviderTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ReferenceTests.cs
Labels: VisualCSharp, Test

Create mappings from Find/Apply models to CRM models
  GetIntoTeachingApi/Models/Crm/ApplicationChoice.cs
  GetIntoTeachingApi/Models/Crm/ApplicationInterview.cs
  GetIntoTeachingApi/Models/Crm/ApplicationReference.cs
  GetIntoTeachingApi/Models/Crm/Validators/ApplicationChoiceValidator.cs
  GetIntoTeachingApi/Models/FindApply/ApplicationChoice.cs
  GetIntoTeachingApi/Models/FindApply/ApplicationForm.cs
  GetIntoTeachingApi/Models/FindApply/Candidate.cs
  GetIntoTeachingApi/Models/FindApply/Interview.cs
  GetIntoTeachingApi/Models/FindApply/Reference.cs
  GetIntoTeachingApiTests/Models/Crm/ApplicationChoiceTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ApplicationChoiceValidatorTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ApplicationChoiceTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ApplicationFormTests.cs
  GetIntoTeachingApiTests/Models/FindApply/CandidateTests.cs
  GetIntoTeachingApiTests/Models/FindApply/InterviewTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ReferenceTests.cs
Labels: VisualCSharp, Test

Create mappings from Find/Apply models to CRM models
  GetIntoTeachingApi/Models/Crm/ApplicationChoice.cs
  GetIntoTeachingApi/Models/Crm/ApplicationInterview.cs
  GetIntoTeachingApi/Models/Crm/ApplicationReference.cs
  GetIntoTeachingApi/Models/Crm/Validators/ApplicationChoiceValidator.cs
  GetIntoTeachingApi/Models/FindApply/ApplicationChoice.cs
  GetIntoTeachingApi/Models/FindApply/ApplicationForm.cs
  GetIntoTeachingApi/Models/FindApply/Candidate.cs
  GetIntoTeachingApi/Models/FindApply/Interview.cs
  GetIntoTeachingApi/Models/FindApply/Reference.cs
  GetIntoTeachingApiTests/Models/Crm/ApplicationChoiceTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ApplicationChoiceValidatorTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ApplicationChoiceTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ApplicationFormTests.cs
  GetIntoTeachingApiTests/Models/FindApply/CandidateTests.cs
  GetIntoTeachingApiTests/Models/FindApply/InterviewTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ReferenceTests.cs
Labels: VisualCSharp, Test

Use new v1.2 Apply API url
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApiTests/Jobs/FindApplySyncJobTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Add UpsertApplicationFormJob
  GetIntoTeachingApi/Jobs/UpsertApplicationFormJob.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Jobs/UpsertApplicationFormJobTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

Rename UpsertModelJob to UpsertModelWithCandidateIdJob
  GetIntoTeachingApi/Jobs/UpsertModelWithCandidateIdJob.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Jobs/UpsertModelWithCandidateIdJobTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

Minor tweaks to Find/Apply modelling
  GetIntoTeachingApi/Models/Crm/ApplicationForm.cs
  GetIntoTeachingApi/Models/Crm/ApplicationReference.cs
  GetIntoTeachingApi/Models/FindApply/ApplicationChoice.cs
  GetIntoTeachingApi/Models/FindApply/ApplicationForm.cs
  GetIntoTeachingApi/Models/FindApply/ApplicationResponse.cs
  GetIntoTeachingApi/Models/FindApply/Course.cs
  GetIntoTeachingApi/Models/FindApply/Reference.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncV12JobTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ApplicationFormTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ApplicationResponseTests.cs
Labels: VisualCSharp, Test

Rename UpsertModelJob to UpsertModelWithCandidateIdJob
  GetIntoTeachingApi/Jobs/UpsertModelWithCandidateIdJob.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Jobs/UpsertModelWithCandidateIdJobTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

Queue new Find/Apply candidate sync job for v1.2
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncV12Job.cs
  GetIntoTeachingApi/Jobs/FindApplySyncJob.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncV12JobTests.cs
  GetIntoTeachingApiTests/Jobs/FindApplySyncJobTests.cs
Labels: VisualCSharp, Test

Minor tweaks to Find/Apply modelling
  GetIntoTeachingApi/Models/Crm/ApplicationForm.cs
  GetIntoTeachingApi/Models/Crm/ApplicationReference.cs
  GetIntoTeachingApi/Models/FindApply/ApplicationChoice.cs
  GetIntoTeachingApi/Models/FindApply/ApplicationForm.cs
  GetIntoTeachingApi/Models/FindApply/ApplicationResponse.cs
  GetIntoTeachingApi/Models/FindApply/Course.cs
  GetIntoTeachingApi/Models/FindApply/Reference.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncV12JobTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ApplicationFormTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ApplicationResponseTests.cs
Labels: VisualCSharp, Test

Add UpsertApplicationFormJob
  GetIntoTeachingApi/Jobs/UpsertApplicationFormJob.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Jobs/UpsertApplicationFormJobTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

Add generic method to retrieve Find/Apply objects from CRM
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Models/Crm/ApplicationChoice.cs
  GetIntoTeachingApi/Models/Crm/ApplicationForm.cs
  GetIntoTeachingApi/Models/Crm/ApplicationInterview.cs
  GetIntoTeachingApi/Models/Crm/ApplicationReference.cs
  GetIntoTeachingApi/Models/IHasFindApplyId.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Queue new Find/Apply candidate sync job for v1.2
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncV12Job.cs
  GetIntoTeachingApi/Jobs/FindApplySyncJob.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncV12JobTests.cs
  GetIntoTeachingApiTests/Jobs/FindApplySyncJobTests.cs
Labels: VisualCSharp, Test

Use new v1.2 Apply API url
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApiTests/Jobs/FindApplySyncJobTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Add generic method to retrieve Find/Apply objects from CRM
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Models/Crm/ApplicationChoice.cs
  GetIntoTeachingApi/Models/Crm/ApplicationForm.cs
  GetIntoTeachingApi/Models/Crm/ApplicationInterview.cs
  GetIntoTeachingApi/Models/Crm/ApplicationReference.cs
  GetIntoTeachingApi/Models/IHasFindApplyId.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Add CRM models for v1.2 of Apply API integration
  GetIntoTeachingApi/Models/Crm/ApplicationChoice.cs
  GetIntoTeachingApi/Models/Crm/ApplicationForm.cs
  GetIntoTeachingApi/Models/Crm/ApplicationInterview.cs
  GetIntoTeachingApi/Models/Crm/ApplicationReference.cs
  GetIntoTeachingApi/Models/Crm/Validators/ApplicationChoiceValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/ApplicationFormValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/ApplicationInterviewValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/ApplicationReferenceValidator.cs
  GetIntoTeachingApi/Models/IHasFindApplyId.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Models/Crm/ApplicationChoiceTests.cs
  GetIntoTeachingApiTests/Models/Crm/ApplicationFormTests.cs
  GetIntoTeachingApiTests/Models/Crm/ApplicationInterviewTests.cs
  GetIntoTeachingApiTests/Models/Crm/ApplicationReferenceTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ApplicationChoiceValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ApplicationInterviewValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ApplicationReferenceValidatorTests.cs
Labels: VisualCSharp, Test

Sync additional pick list items for new CRM models
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Sync additional pick list items for new CRM models
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Add CRM models for v1.2 of Apply API integration
  GetIntoTeachingApi/Models/Crm/ApplicationChoice.cs
  GetIntoTeachingApi/Models/Crm/ApplicationForm.cs
  GetIntoTeachingApi/Models/Crm/ApplicationInterview.cs
  GetIntoTeachingApi/Models/Crm/ApplicationReference.cs
  GetIntoTeachingApi/Models/Crm/Validators/ApplicationChoiceValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/ApplicationFormValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/ApplicationInterviewValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/ApplicationReferenceValidator.cs
  GetIntoTeachingApi/Models/IHasFindApplyId.cs
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Models/Crm/ApplicationChoiceTests.cs
  GetIntoTeachingApiTests/Models/Crm/ApplicationFormTests.cs
  GetIntoTeachingApiTests/Models/Crm/ApplicationInterviewTests.cs
  GetIntoTeachingApiTests/Models/Crm/ApplicationReferenceTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ApplicationChoiceValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ApplicationInterviewValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ApplicationReferenceValidatorTests.cs
Labels: VisualCSharp, Test

Extract contract test logic into base class
  GetIntoTeachingApiTests/Contracts/BaseTests.cs
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
Labels: Test

Extract contract test logic into base class
  GetIntoTeachingApiTests/Contracts/BaseTests.cs
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
Labels: Test

Add ApplyCandidateApi contract tests
  GetIntoTeachingApiTests/Contracts/ApplyCandidateApiTests.cs
  GetIntoTeachingApiTests/Contracts/Data/application_forms.json
  GetIntoTeachingApiTests/Contracts/Data/candidates.json
  GetIntoTeachingApiTests/Contracts/Data/teacher_training_adviser/candidates.json
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_a_new_candidaite_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_a_new_candidaite_and_no_application_form.json
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_an_existing_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidaite_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidaite_and_no_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_application_form.json
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Helpers/ContractCrmService.cs
  GetIntoTeachingApiTests/Helpers/ContractTestGitWebApplicationFactory.cs
  GetIntoTeachingApiTests/Helpers/ContractTestOrganizationServiceAdapter.cs
Labels: Test

Add ApplyCandidateApi contract tests
  GetIntoTeachingApiTests/Contracts/ApplyCandidateApiTests.cs
  GetIntoTeachingApiTests/Contracts/Data/application_forms.json
  GetIntoTeachingApiTests/Contracts/Data/candidates.json
  GetIntoTeachingApiTests/Contracts/Data/teacher_training_adviser/candidates.json
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_a_new_candidaite_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_a_new_candidaite_and_no_application_form.json
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_an_existing_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidaite_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidaite_and_no_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_application_form.json
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Helpers/ContractCrmService.cs
  GetIntoTeachingApiTests/Helpers/ContractTestGitWebApplicationFactory.cs
  GetIntoTeachingApiTests/Helpers/ContractTestOrganizationServiceAdapter.cs
Labels: Test

Updated Apply models for API v1.2
  GetIntoTeachingApi/Models/FindApply/ApplicationChoice.cs
  GetIntoTeachingApi/Models/FindApply/ApplicationForm.cs
  GetIntoTeachingApi/Models/FindApply/ApplicationResponse.cs
  GetIntoTeachingApi/Models/FindApply/Candidate.cs
  GetIntoTeachingApi/Models/FindApply/Course.cs
  GetIntoTeachingApi/Models/FindApply/Interview.cs
  GetIntoTeachingApi/Models/FindApply/Provider.cs
  GetIntoTeachingApi/Models/FindApply/Reference.cs
  GetIntoTeachingApiTests/Models/FindApply/ApplicationChoiceTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ApplicationFormTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ApplicationResponseTests.cs
  GetIntoTeachingApiTests/Models/FindApply/CandidateTests.cs
  GetIntoTeachingApiTests/Models/FindApply/CourseTests.cs
  GetIntoTeachingApiTests/Models/FindApply/InterviewTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ProviderTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ReferenceTests.cs
Labels: VisualCSharp, Test

Updated Apply models for API v1.2
  GetIntoTeachingApi/Models/FindApply/ApplicationChoice.cs
  GetIntoTeachingApi/Models/FindApply/ApplicationForm.cs
  GetIntoTeachingApi/Models/FindApply/ApplicationResponse.cs
  GetIntoTeachingApi/Models/FindApply/Candidate.cs
  GetIntoTeachingApi/Models/FindApply/Course.cs
  GetIntoTeachingApi/Models/FindApply/Interview.cs
  GetIntoTeachingApi/Models/FindApply/Provider.cs
  GetIntoTeachingApi/Models/FindApply/Reference.cs
  GetIntoTeachingApiTests/Models/FindApply/ApplicationChoiceTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ApplicationFormTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ApplicationResponseTests.cs
  GetIntoTeachingApiTests/Models/FindApply/CandidateTests.cs
  GetIntoTeachingApiTests/Models/FindApply/CourseTests.cs
  GetIntoTeachingApiTests/Models/FindApply/InterviewTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ProviderTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ReferenceTests.cs
Labels: VisualCSharp, Test

Add generic Find/Apply CRM query
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Helpers/ContractCrmService.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Add job to upsert an ApplicationForm and related models
  GetIntoTeachingApi/Jobs/UpsertApplicationFormJob.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Jobs/UpsertApplicationFormJobTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

Rename UpsertModelJob to clarify intent
  GetIntoTeachingApi/Jobs/UpsertModelWithCandidateIdJob.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Jobs/UpsertModelWithCandidateIdJobTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

Add generic Find/Apply CRM query
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Helpers/ContractCrmService.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Rename UpsertModelJob to clarify intent
  GetIntoTeachingApi/Jobs/UpsertModelWithCandidateIdJob.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Jobs/UpsertModelWithCandidateIdJobTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

Add job to upsert an ApplicationForm and related models
  GetIntoTeachingApi/Jobs/UpsertApplicationFormJob.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Jobs/UpsertApplicationFormJobTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

Use UpsertApplicationForm job when syncing Apply API
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
Labels: VisualCSharp, Test

Use UpsertApplicationForm job when syncing Apply API
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
Labels: VisualCSharp, Test

Ensure Apply API url is correct depending on features
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Ensure Apply API url is correct depending on features
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml
