Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml

Remove legacy shared secret authentication method
  GetIntoTeachingApi/Auth/ApiClientHandler.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Auth/ApiClientHandlerTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Remove legacy shared secret authentication method
  GetIntoTeachingApi/Auth/ApiClientHandler.cs
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Auth/ApiClientHandlerTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Refactor actions to exchange access tokens for candidate data
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
Labels: VisualCSharp, Test

Refactor actions to exchange access tokens for candidate data
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
Labels: VisualCSharp, Test

Remove Production Step
  .github/workflows/build.yml
Labels: DevOps

Delete cve.yml
  .github/workflows/cve.yml
Labels: DevOps

Remove Production Step (#481)
  .github/workflows/build.yml
  .github/workflows/cve.yml
Labels: DevOps

Remove Production Step (#481)
  .github/workflows/build.yml
  .github/workflows/cve.yml
Labels: DevOps

Remove deprecated access token endpoints
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
Labels: VisualCSharp, Test

Remove deprecated access token endpoints
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
Labels: VisualCSharp, Test

Moved Service Plan Definitions to Variables
  terraform/paas/application.tf
  terraform/paas/data.tf
  terraform/paas/services.tf
  terraform/paas/variables.tf
  tests/manual/testAlert.sh
Labels: DevOps

Update CrmService to support magic links
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Exchange magic link token for a prefilled MailingListAddMember
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
Labels: VisualCSharp, Test

Exchange magic link token for a prefilled MailingListAddMember
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
Labels: VisualCSharp, Test

Add endpoint to generate candidate magic link tokens
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

Add magic link token generator service
  GetIntoTeachingApi/Services/CandidateMagicLinkTokenService.cs
  GetIntoTeachingApi/Services/ICandidateMagicLinkTokenService.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Services/CandidateMagicLinkTokenServiceTests.cs
Labels: VisualCSharp, Test

Add magic link token fields to candidate
  GetIntoTeachingApi/Attributes/EntityFieldAttribute.cs
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApiTests/Mocks/Models.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/MappingInfoTests.cs
Labels: VisualCSharp, Test

Add magic link token generator service
  GetIntoTeachingApi/Services/CandidateMagicLinkTokenService.cs
  GetIntoTeachingApi/Services/ICandidateMagicLinkTokenService.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Services/CandidateMagicLinkTokenServiceTests.cs
Labels: VisualCSharp, Test

Add magic link token fields to candidate
  GetIntoTeachingApi/Attributes/EntityFieldAttribute.cs
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApiTests/Mocks/Models.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/MappingInfoTests.cs
Labels: VisualCSharp, Test

Update CrmService to support magic links
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Add endpoint to generate candidate magic link tokens
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

Set expiry date on magic link tokens
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Services/CandidateMagicLinkTokenService.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Services/CandidateMagicLinkTokenServiceTests.cs
Labels: VisualCSharp, Test

Set expiry date on magic link tokens
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Services/CandidateMagicLinkTokenService.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Services/CandidateMagicLinkTokenServiceTests.cs
Labels: VisualCSharp, Test

Prevent multiple use of magic link tokens
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Services/CandidateMagicLinkTokenService.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Services/CandidateMagicLinkTokenServiceTests.cs
Labels: VisualCSharp, Test

Prevent multiple use of magic link tokens
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Services/CandidateMagicLinkTokenService.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Services/CandidateMagicLinkTokenServiceTests.cs
Labels: VisualCSharp, Test

Encapsulate magic link token exchange into result model
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Models/CandidateMagicLinkExchangeResult.cs
  GetIntoTeachingApi/OperationFilters/AuthOperationFilter.cs
  GetIntoTeachingApi/Services/CandidateMagicLinkTokenService.cs
  GetIntoTeachingApi/Services/ICandidateMagicLinkTokenService.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Models/CandidateMagicLinkExchangeResultTests.cs
  GetIntoTeachingApiTests/Services/CandidateMagicLinkTokenServiceTests.cs
Labels: VisualCSharp, Test

Encapsulate magic link token exchange into result model
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Models/CandidateMagicLinkExchangeResult.cs
  GetIntoTeachingApi/OperationFilters/AuthOperationFilter.cs
  GetIntoTeachingApi/Services/CandidateMagicLinkTokenService.cs
  GetIntoTeachingApi/Services/ICandidateMagicLinkTokenService.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Models/CandidateMagicLinkExchangeResultTests.cs
  GetIntoTeachingApiTests/Services/CandidateMagicLinkTokenServiceTests.cs
Labels: VisualCSharp, Test

Add API client for the Dynamics CRM
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Fixtures/clients.yml
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

Serialize enums as strings
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

Serialize enums as strings
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

Ignore model attribute mappings by environment
  GetIntoTeachingApi/Attributes/EntityFieldAttribute.cs
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApiTests/Mocks/Models.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
Labels: VisualCSharp, Test

Ignore model attribute mappings by environment
  GetIntoTeachingApi/Attributes/EntityFieldAttribute.cs
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApiTests/Mocks/Models.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
Labels: VisualCSharp, Test

Remove endpoint to create magic link tokens
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Remove endpoint to create magic link tokens
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Add metric to track MagicLinkTokenGenerationJob
  GetIntoTeachingApi/Services/IMetricService.cs
  GetIntoTeachingApi/Services/MetricService.cs
  GetIntoTeachingApiTests/Services/MetricServiceTests.cs
Labels: VisualCSharp, Test

Add metric to track MagicLinkTokenGenerationJob
  GetIntoTeachingApi/Services/IMetricService.cs
  GetIntoTeachingApi/Services/MetricService.cs
  GetIntoTeachingApiTests/Services/MetricServiceTests.cs
Labels: VisualCSharp, Test

Add method to retrieve candidates that require magic link tokens
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Add job to generate magic link tokens
  GetIntoTeachingApi/Jobs/JobConfiguration.cs
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Jobs/MagicLinkTokenGenerationJobTests.cs
Labels: VisualCSharp, Test

Add job to generate magic link tokens
  GetIntoTeachingApi/Jobs/JobConfiguration.cs
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Jobs/MagicLinkTokenGenerationJobTests.cs
Labels: VisualCSharp, Test

Add method to retrieve candidates that require magic link tokens
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test
