Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApi/**/*.cs'

Test:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApiTests/**/*'

Monitoring:
- changed-files:
  - any-glob-to-any-file: 'monitoring/**/*'

DevOps:
- changed-files:
  - any-glob-to-any-file: 'terraform/**/*'
  - any-glob-to-any-file: '.github/**/*.yml'

Docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: 'docker-compose.yml'

Work complete for degree inference and applying to the mailing list add member endpoint.
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Controllers/GetIntoTeaching/MailingListController.cs
  GetIntoTeachingApi/Models/Crm/CandidateQualification.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatus.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Common/ChainEvaluationHandler.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Common/Extensions/ChainEvaluationHandlerExtensions.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Common/IChainEvaluationHandler.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Common/IEvaluator.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/CompositionRoot.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/CurrentYearProvider.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/DegreeStatusDomainService.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Evaluators/DegreeStatusInferenceRequest.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Evaluators/InferAlreadyHasDegree.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Evaluators/InferFinalYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Evaluators/InferFirstYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Evaluators/InferSecondYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/GraduationYear.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/ICurrentYearProvider.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/IDegreeStatusDomainService.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/IInferDegreeStatus.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/Readme.txt
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/PartialIntegration/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/CurrentYearProviderTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/DegreeStatusDomainServiceTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferAlreadyHasDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFinalYearOfDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFirstYearOfDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferSecondYearOfDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/GraduationYearTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/TestDoubles/ChainEvaluationHandlerStub.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/TestDoubles/CurrentYearProviderTestDouble.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TestDoubles/CurrentYearProviderTestDouble.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TestDoubles/DegreeStatusDomainServiceTestDouble.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Work complete for degree inference and applying to the mailing list add member endpoint.
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Controllers/GetIntoTeaching/MailingListController.cs
  GetIntoTeachingApi/Models/Crm/CandidateQualification.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatus.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Common/ChainEvaluationHandler.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Common/Extensions/ChainEvaluationHandlerExtensions.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Common/IChainEvaluationHandler.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Common/IEvaluator.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/CompositionRoot.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/CurrentYearProvider.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/DegreeStatusDomainService.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Evaluators/DegreeStatusInferenceRequest.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Evaluators/InferAlreadyHasDegree.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Evaluators/InferFinalYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Evaluators/InferFirstYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Evaluators/InferSecondYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/GraduationYear.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/ICurrentYearProvider.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/IDegreeStatusDomainService.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/IInferDegreeStatus.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/Readme.txt
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/PartialIntegration/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/CurrentYearProviderTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/DegreeStatusDomainServiceTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferAlreadyHasDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFinalYearOfDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFirstYearOfDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferSecondYearOfDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/GraduationYearTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/TestDoubles/ChainEvaluationHandlerStub.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/TestDoubles/CurrentYearProviderTestDouble.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TestDoubles/CurrentYearProviderTestDouble.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TestDoubles/DegreeStatusDomainServiceTestDouble.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Added CurrentYearProvider tests
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/CurrentYearProviderTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TestDoubles/CurrentYearProviderTestDouble.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TestDoubles/DegreeStatusDomainServiceTestDouble.cs
Labels: Test

Added CurrentYearProvider tests
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/CurrentYearProviderTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TestDoubles/CurrentYearProviderTestDouble.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TestDoubles/DegreeStatusDomainServiceTestDouble.cs
Labels: Test

Added tests around GraduationYear
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/GraduationYear.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/GraduationYearTests.cs
Labels: VisualCSharp, Test

Added tests around GraduationYear
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/GraduationYear.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/GraduationYearTests.cs
Labels: VisualCSharp, Test

Dealt with code smells raised by SonarQube
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Common/ChainEvaluationHandler.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/PartialIntegration/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/CurrentYearProviderTests.cs
Labels: VisualCSharp, Test

Dealt with code smells raised by SonarQube
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Common/ChainEvaluationHandler.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/PartialIntegration/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/CurrentYearProviderTests.cs
Labels: VisualCSharp, Test

Made changes suggested by Carlos in PR
  GetIntoTeachingApi/Controllers/GetIntoTeaching/MailingListController.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Common/Extensions/ChainEvaluationHandlerExtensions.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/GraduationYear.cs
Labels: VisualCSharp

Made changes suggested by Carlos in PR
  GetIntoTeachingApi/Controllers/GetIntoTeaching/MailingListController.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Common/Extensions/ChainEvaluationHandlerExtensions.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/GraduationYear.cs
Labels: VisualCSharp

Update get into teaching api workflows to use ga wif
  .github/workflows/actions/deploy_v2/action.yml
  .github/workflows/build-and-deploy.yml
  .github/workflows/build-no-cache.yml
  .github/workflows/manual.yml
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/trello.yml
  Makefile
  README.md
  global_config/development.sh
  global_config/production.sh
  global_config/test.sh
  terraform/aks/.terraform.lock.hcl
  terraform/aks/config/development.tfvars.json
  terraform/aks/config/production.tfvars.json
  terraform/aks/config/test.tfvars.json
  terraform/aks/provider.tf
  terraform/aks/variables.tf
Labels: DevOps

Update get into teaching api workflows to use ga wif
  .github/workflows/actions/deploy_v2/action.yml
  .github/workflows/build-and-deploy.yml
  .github/workflows/build-no-cache.yml
  .github/workflows/manual.yml
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/trello.yml
  Makefile
  README.md
  global_config/development.sh
  global_config/production.sh
  global_config/test.sh
  terraform/aks/.terraform.lock.hcl
  terraform/aks/config/development.tfvars.json
  terraform/aks/config/production.tfvars.json
  terraform/aks/config/test.tfvars.json
  terraform/aks/provider.tf
  terraform/aks/variables.tf
Labels: DevOps

Revert "Merge pull request #1501 from DFE-Digital/fix-schools-experience-creation-channels"
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Jobs/ContactChannelCandidateWrapper.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/ContactChannelCreation.cs
  GetIntoTeachingApi/Models/Crm/ICreateContactChannel.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/ContactChannelCreationValidator.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/GetIntoTeachingCallback.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_no_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Jobs/ApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/ContactChannelCandidateWrapperTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
  GetIntoTeachingApiTests/Models/Crm/ContactChannelCreationTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ContactChannelCreationValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/GetIntoTeachingCallbackTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/GetIntoTeachingCallbackValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/MailingListAddMemberValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidatorTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/SchoolsExperienceSignUpValidatorTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

Revert "Merge pull request #1501 from DFE-Digital/fix-schools-experience-creation-channels"
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Jobs/ContactChannelCandidateWrapper.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/ContactChannelCreation.cs
  GetIntoTeachingApi/Models/Crm/ICreateContactChannel.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/ContactChannelCreationValidator.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/GetIntoTeachingCallback.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_no_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Jobs/ApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/ContactChannelCandidateWrapperTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
  GetIntoTeachingApiTests/Models/Crm/ContactChannelCreationTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ContactChannelCreationValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/GetIntoTeachingCallbackTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/GetIntoTeachingCallbackValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/MailingListAddMemberValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidatorTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/SchoolsExperienceSignUpValidatorTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

WIP
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
Labels: VisualCSharp

WIP
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
Labels: VisualCSharp

Changes made based on feedback from Martyn W in PR
  GetIntoTeachingApi/Models/Crm/CandidateQualification.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/IInferDegreeStatus.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/MailingListAddMemberValidator.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/PartialIntegration/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/MailingListAddMemberValidatorTests.cs
Labels: VisualCSharp, Test

Changes made based on feedback from Martyn W in PR
  GetIntoTeachingApi/Models/Crm/CandidateQualification.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/IInferDegreeStatus.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/MailingListAddMemberValidator.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/PartialIntegration/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/MailingListAddMemberValidatorTests.cs
Labels: VisualCSharp, Test

Wired-up Situation (life stage) parameter in mailing list controller.
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
Labels: VisualCSharp

Wired-up Situation (life stage) parameter in mailing list controller.
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
Labels: VisualCSharp

Added tests
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
Labels: Test

Added tests
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
Labels: Test

Relaxed the degree status validation on the Teacher Training Adviser endpoint, given feedback from Martyn W
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Relaxed the degree status validation on the Teacher Training Adviser endpoint, given feedback from Martyn W
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Relaxed degree status Id verification on events endpoint
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidator.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidatorTests.cs
Labels: VisualCSharp, Test

Relaxed degree status Id verification on events endpoint
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidator.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidatorTests.cs
Labels: VisualCSharp, Test

Returned degree status Id validation check to teacher training advisor and events funnels until graduation year logic is implemented.
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidator.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidatorTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Returned degree status Id validation check to teacher training advisor and events funnels until graduation year logic is implemented.
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidator.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidatorTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Update MailingListAddMember.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
Labels: VisualCSharp

Update MailingListAddMember.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
Labels: VisualCSharp

Added picklist item controller test for candidate situation and aligned url namespace
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
Labels: VisualCSharp, Test

Added picklist item controller test for candidate situation and aligned url namespace
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
Labels: VisualCSharp, Test

Added candidate situation to picklist and updated mailing list API to allow life stage (situation) to be passed.
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
Labels: VisualCSharp, Test

Aligned with correct attribute name for situation picklist and mapped sync of situations to db utility store
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

Modified entity name key for situation picklist item
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
Labels: Test

Added candidate situation to picklist and updated mailing list API to… (#1505)
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
Labels: VisualCSharp, Test

Added candidate situation to picklist and updated mailing list API to… (#1505)
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
Labels: VisualCSharp, Test

Modified service collection extensions to reduce concurrent hangfire background processes to 1, and changed DbContext to transient.
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
Labels: VisualCSharp

Revert "Added candidate situation to picklist and updated mailing list API to… (#1505)"
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
Labels: VisualCSharp, Test

Revert "Added candidate situation to picklist and updated mailing list API to… (#1505)"
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
Labels: VisualCSharp, Test
