Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

Move subscription logic into separate class
  GetIntoTeachingApi/Models/MailingListAddMember.cs
  GetIntoTeachingApi/Models/SubscriptionConfigurer.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeachingEventAddAttendee.cs
Labels: VisualCSharp

Return all 'Online Events' on distance-based search
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Return all 'Online Events' on distance-based search
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Statuscake Merged
  .github/workflows/deploy.yml
  terraform/paas/dev.env.tfvars
  terraform/paas/production.env.tfvars
  terraform/paas/provider.tf
  terraform/paas/review.env.tfvars
  terraform/paas/statuscake.tf
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
  terraform/statuscake/backend.tf
  terraform/statuscake/provider.tf
  terraform/statuscake/test.bk.vars
  terraform/statuscake/test.env.tfvars
  terraform/statuscake/variables.tf
Labels: DevOps

Statuscake Merged (#432)
  .github/workflows/deploy.yml
  terraform/paas/dev.env.tfvars
  terraform/paas/production.env.tfvars
  terraform/paas/provider.tf
  terraform/paas/review.env.tfvars
  terraform/paas/statuscake.tf
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
  terraform/statuscake/backend.tf
  terraform/statuscake/provider.tf
  terraform/statuscake/test.bk.vars
  terraform/statuscake/test.env.tfvars
  terraform/statuscake/variables.tf
Labels: DevOps

Statuscake Merged (#432)
  .github/workflows/deploy.yml
  terraform/paas/dev.env.tfvars
  terraform/paas/production.env.tfvars
  terraform/paas/provider.tf
  terraform/paas/review.env.tfvars
  terraform/paas/statuscake.tf
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
  terraform/statuscake/backend.tf
  terraform/statuscake/provider.tf
  terraform/statuscake/test.bk.vars
  terraform/statuscake/test.env.tfvars
  terraform/statuscake/variables.tf
Labels: DevOps

Allow event search with only start after date
  GetIntoTeachingApi/Models/Validators/TeachingEventSearchRequestValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventSearchRequestValidatorTests.cs
Labels: VisualCSharp, Test

Allow event search with only start after date
  GetIntoTeachingApi/Models/Validators/TeachingEventSearchRequestValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventSearchRequestValidatorTests.cs
Labels: VisualCSharp, Test

Sync archived teaching events
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Sync archived teaching events
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Removed List of Default Status Codes
  terraform/paas/production.env.tfvars
  terraform/paas/statuscake.tf
  terraform/paas/test.env.tfvars
Labels: DevOps

Added monitoring variables to deployment workflow
  .github/workflows/deploy.yml
  .github/workflows/monitoring.yml
  .github/workflows/monitoring_prod.yml
Labels: DevOps

Removed List of Default Status Codes (#436)
  terraform/paas/production.env.tfvars
  terraform/paas/statuscake.tf
  terraform/paas/test.env.tfvars
Labels: DevOps

Removed List of Default Status Codes (#436)
  terraform/paas/production.env.tfvars
  terraform/paas/statuscake.tf
  terraform/paas/test.env.tfvars
Labels: DevOps

Added monitoring variables to deployment workflow (#437)
  .github/workflows/deploy.yml
  .github/workflows/monitoring.yml
  .github/workflows/monitoring_prod.yml
Labels: DevOps

Added monitoring variables to deployment workflow (#437)
  .github/workflows/deploy.yml
  .github/workflows/monitoring.yml
  .github/workflows/monitoring_prod.yml
Labels: DevOps

Neutralized Tests
  terraform/paas/production.env.tfvars
  terraform/paas/test.env.tfvars
Labels: DevOps

Neutralized Tests
  terraform/paas/production.env.tfvars
  terraform/paas/test.env.tfvars
Labels: DevOps

Development InfluxDB Imported
  terraform/paas/monitoring.tf
Labels: DevOps

Development InfluxDB Imported (#438)
  terraform/paas/monitoring.tf
Labels: DevOps

Development InfluxDB Imported (#438)
  terraform/paas/monitoring.tf
Labels: DevOps

Development InfluxDB Imported
  terraform/paas/dev.env.tfvars
  terraform/paas/production.env.tfvars
  terraform/paas/review.env.tfvars
  terraform/paas/services.tf
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps

Devops/monitor/merge/influx (#439)
  terraform/paas/dev.env.tfvars
  terraform/paas/production.env.tfvars
  terraform/paas/review.env.tfvars
  terraform/paas/services.tf
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps

Devops/monitor/merge/influx (#439)
  terraform/paas/dev.env.tfvars
  terraform/paas/production.env.tfvars
  terraform/paas/review.env.tfvars
  terraform/paas/services.tf
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps

Created new unique name for key
  terraform/paas/monitoring.tf
Labels: DevOps

Devops/monitor/merge/influx (#440)
  terraform/paas/monitoring.tf
Labels: DevOps

Devops/monitor/merge/influx (#440)
  terraform/paas/monitoring.tf
Labels: DevOps

Import Production state
  terraform/paas/production.env.tfvars
Labels: DevOps

Import Production state (#441)
  terraform/paas/production.env.tfvars
Labels: DevOps

Import Production state (#441)
  terraform/paas/production.env.tfvars
Labels: DevOps

Change distance filter to work in database
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Change distance filter to work in database
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Resolve merge conflicts after rebase
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

Resolve merge conflicts after rebase
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

Development Monitoring Delivered in main pipeline
  terraform/paas/dev.env.tfvars
  terraform/paas/monitoring.tf
  terraform/paas/network.tf
  terraform/paas/production.env.tfvars
  terraform/paas/route.tf
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps

Keep InfluxDB Safe
  terraform/monitoring/future/alertmanager.tf
  terraform/monitoring/modules.tf
  terraform/monitoring/provider.tf
  terraform/monitoring/services.tf
  terraform/monitoring/space.tf
  terraform/monitoring/testAlert.sh
  terraform/paas/dev.env.tfvars
  terraform/paas/monitoring.tf
  terraform/paas/production.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps

Devops/monitor/merge/prod influx (#442)
  terraform/monitoring/future/alertmanager.tf
  terraform/monitoring/modules.tf
  terraform/monitoring/provider.tf
  terraform/monitoring/services.tf
  terraform/monitoring/space.tf
  terraform/monitoring/testAlert.sh
  terraform/paas/dev.env.tfvars
  terraform/paas/monitoring.tf
  terraform/paas/network.tf
  terraform/paas/production.env.tfvars
  terraform/paas/route.tf
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps

Devops/monitor/merge/prod influx (#442)
  terraform/monitoring/future/alertmanager.tf
  terraform/monitoring/modules.tf
  terraform/monitoring/provider.tf
  terraform/monitoring/services.tf
  terraform/monitoring/space.tf
  terraform/monitoring/testAlert.sh
  terraform/paas/dev.env.tfvars
  terraform/paas/monitoring.tf
  terraform/paas/network.tf
  terraform/paas/production.env.tfvars
  terraform/paas/route.tf
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps

Use HTTPS rather than GIT
  terraform/paas/monitoring.tf
Labels: DevOps

Use HTTPS rather than GIT
  terraform/paas/monitoring.tf
Labels: DevOps

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml
