Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

Add Client model/validations
  GetIntoTeachingApi/Models/Client.cs
  GetIntoTeachingApi/Models/Validators/ClientValidator.cs
  GetIntoTeachingApiTests/Models/ClientTests.cs
  GetIntoTeachingApiTests/Models/Validators/ClientValidatorTests.cs
Labels: VisualCSharp, Test

Add Client model/validations
  GetIntoTeachingApi/Models/Client.cs
  GetIntoTeachingApi/Models/Validators/ClientValidator.cs
  GetIntoTeachingApiTests/Models/ClientTests.cs
  GetIntoTeachingApiTests/Models/Validators/ClientValidatorTests.cs
Labels: VisualCSharp, Test

Add ClientManager to load API clients from YAML
  GetIntoTeachingApi/Fixtures/clients.yml
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Services/ClientManager.cs
  GetIntoTeachingApi/Services/IClientManager.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Services/ClientManagerTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Add ClientManager to load API clients from YAML
  GetIntoTeachingApi/Fixtures/clients.yml
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Services/ClientManager.cs
  GetIntoTeachingApi/Services/IClientManager.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Services/ClientManagerTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Add development API key for admin client
  GetIntoTeachingApi/Properties/launchSettings.json
Labels: none

Add ApiClientHandler for authenticating clients
  GetIntoTeachingApi/Auth/ApiClientHandler.cs
  GetIntoTeachingApi/Auth/ApiClientSchemaOptions.cs
  GetIntoTeachingApi/Auth/SharedSecretHandler.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Auth/ApiClientHandlerTests.cs
  GetIntoTeachingApiTests/Auth/SharedSecretHandlerTests.cs
Labels: VisualCSharp, Test

Add ApiClientHandler for authenticating clients
  GetIntoTeachingApi/Auth/ApiClientHandler.cs
  GetIntoTeachingApi/Auth/ApiClientSchemaOptions.cs
  GetIntoTeachingApi/Auth/SharedSecretHandler.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Auth/ApiClientHandlerTests.cs
  GetIntoTeachingApiTests/Auth/SharedSecretHandlerTests.cs
Labels: VisualCSharp, Test

Encorporate SharedSecretHandler into ApiClientHandler
  GetIntoTeachingApi/Auth/ApiClientHandler.cs
  GetIntoTeachingApi/Auth/SharedSecretHandler.cs
  GetIntoTeachingApi/Auth/SharedSecretSchemeOptions.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Auth/ApiClientHandlerTests.cs
  GetIntoTeachingApiTests/Auth/SharedSecretHandlerTests.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: VisualCSharp, Test

Encorporate SharedSecretHandler into ApiClientHandler
  GetIntoTeachingApi/Auth/ApiClientHandler.cs
  GetIntoTeachingApi/Auth/SharedSecretHandler.cs
  GetIntoTeachingApi/Auth/SharedSecretSchemeOptions.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Auth/ApiClientHandlerTests.cs
  GetIntoTeachingApiTests/Auth/SharedSecretHandlerTests.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: VisualCSharp, Test

Apply Admin role to existing controllers
  GetIntoTeachingApi/Controllers/CallbackBookingQuotasController.cs
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Controllers/PrivacyPoliciesController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApiTests/Controllers/CallbackBookingQuotasControllerTests.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: VisualCSharp, Test

Apply Admin role to existing controllers
  GetIntoTeachingApi/Controllers/CallbackBookingQuotasController.cs
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Controllers/PrivacyPoliciesController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApiTests/Controllers/CallbackBookingQuotasControllerTests.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: VisualCSharp, Test

Update subscriptions to not opt TTA candidates into post/bulk post
  GetIntoTeachingApi/Services/SubscriptionManager.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Services/SubscriptionManagerTests.cs
Labels: VisualCSharp, Test

Update subscriptions to not opt TTA candidates into post/bulk post
  GetIntoTeachingApi/Services/SubscriptionManager.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Services/SubscriptionManagerTests.cs
Labels: VisualCSharp, Test

Add GiT services as API clients
  GetIntoTeachingApi/Fixtures/clients.yml
Labels: none

Add GiT services as API clients
  GetIntoTeachingApi/Fixtures/clients.yml
Labels: none

Assign GiT API client roles
  GetIntoTeachingApi/Controllers/CallbackBookingQuotasController.cs
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApiTests/Controllers/CallbackBookingQuotasControllerTests.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
Labels: VisualCSharp, Test

Assign GiT API client roles
  GetIntoTeachingApi/Controllers/CallbackBookingQuotasController.cs
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApiTests/Controllers/CallbackBookingQuotasControllerTests.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
Labels: VisualCSharp, Test

Remove environment name from API key variable name
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApi/Services/ClientManager.cs
  GetIntoTeachingApiTests/Services/ClientManagerTests.cs
Labels: VisualCSharp, Test

Remove environment name from API key variable name
  GetIntoTeachingApi/Services/ClientManager.cs
  GetIntoTeachingApiTests/Services/ClientManagerTests.cs
Labels: VisualCSharp, Test

Initial Migratrion to Azure Secrets
  .github/workflows/cve.yml
  .github/workflows/deploy.yml
  .github/workflows/fix-network-policy.yml
  terraform/paas/application.tf
  terraform/paas/data.tf
  terraform/paas/dev.env.tfvars
  terraform/paas/monitoring.tf
  terraform/paas/production.env.tfvars
  terraform/paas/provider.tf
  terraform/paas/review.env.tfvars
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps

Initial Migratrion to Azure Secrets (#472)
  .github/workflows/cve.yml
  .github/workflows/deploy.yml
  .github/workflows/fix-network-policy.yml
  terraform/paas/application.tf
  terraform/paas/data.tf
  terraform/paas/dev.env.tfvars
  terraform/paas/monitoring.tf
  terraform/paas/production.env.tfvars
  terraform/paas/provider.tf
  terraform/paas/review.env.tfvars
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps

Initial Migratrion to Azure Secrets (#472)
  .github/workflows/cve.yml
  .github/workflows/deploy.yml
  .github/workflows/fix-network-policy.yml
  terraform/paas/application.tf
  terraform/paas/data.tf
  terraform/paas/dev.env.tfvars
  terraform/paas/monitoring.tf
  terraform/paas/production.env.tfvars
  terraform/paas/provider.tf
  terraform/paas/review.env.tfvars
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps

Release must not be Draft
  .github/workflows/build.yml
  .github/workflows/manual.yml
Labels: DevOps

All workflows added
  .github/workflows/build.yml
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Mistyped ACTIONS-API-ACCESS_TOKEN
  .github/workflows/build.yml
Labels: DevOps

Devops/azure secrets (#475)
  .github/workflows/build.yml
  .github/workflows/manual.yml
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Devops/azure secrets (#475)
  .github/workflows/build.yml
  .github/workflows/manual.yml
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Fix bug that only appears in Deploy
  .github/workflows/build.yml
Labels: DevOps

Fix bug that only appears in Deploy (#476)
  .github/workflows/build.yml
Labels: DevOps

Fix bug that only appears in Deploy (#476)
  .github/workflows/build.yml
Labels: DevOps

Update manual.yml
  .github/workflows/manual.yml
Labels: DevOps

Update manual.yml
  .github/workflows/manual.yml
Labels: DevOps

Update manual.yml
  .github/workflows/manual.yml
Labels: DevOps

Update manual.yml
  .github/workflows/manual.yml
Labels: DevOps

Update manual.yml
  .github/workflows/manual.yml
Labels: DevOps

Update manual.yml
  .github/workflows/manual.yml
Labels: DevOps

Enable per-client rate limit rules
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/RateLimiting/ApiClientRateLimitConfiguration.cs
  GetIntoTeachingApi/RateLimiting/ApiClientResolveContributor.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/appsettings.json
Labels: VisualCSharp

Enable per-client rate limit rules
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApi/RateLimiting/ApiClientRateLimitConfiguration.cs
  GetIntoTeachingApi/RateLimiting/ApiClientResolveContributor.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/appsettings.json
Labels: VisualCSharp

Add API client details to README
  README.md
Labels: none

Add API client details to README
  README.md
Labels: none

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml
