Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

Improve Network Policies (#928)
  .github/workflows/build.yml
  .github/workflows/manual.yml
  terraform/paas/dev.env.tfvars
  terraform/paas/monitoring.tf
  terraform/paas/network.tf
  terraform/paas/production.env.tfvars
  terraform/paas/provider.tf
  terraform/paas/sandbox.env.tfvars
  terraform/paas/space.tf
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps

Improve Network Policies (#928)
  .github/workflows/build.yml
  .github/workflows/manual.yml
  terraform/paas/dev.env.tfvars
  terraform/paas/monitoring.tf
  terraform/paas/network.tf
  terraform/paas/production.env.tfvars
  terraform/paas/provider.tf
  terraform/paas/sandbox.env.tfvars
  terraform/paas/space.tf
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps

Update GitHub action dependencies
  .github/workflows/actions/deploy/action.yml
  .github/workflows/build.yml
  .github/workflows/check_alert_rules.yml
  .github/workflows/manual.yml
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Update various dependencies
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Update various dependencies
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Update GitHub action dependencies
  .github/workflows/actions/deploy/action.yml
  .github/workflows/build.yml
  .github/workflows/check_alert_rules.yml
  .github/workflows/manual.yml
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Update tests for FluentAssertion changes
  GetIntoTeachingApiTests/Models/GetIntoTeaching/GetIntoTeachingCallbackTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: Test

Update tests for FluentAssertion changes
  GetIntoTeachingApiTests/Models/GetIntoTeaching/GetIntoTeachingCallbackTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: Test

Update to latest Pgsql packages
  GetIntoTeachingApi/Database/GetIntoTeachingDbContext.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Program.cs
Labels: VisualCSharp

Update to latest Pgsql packages
  GetIntoTeachingApi/Database/GetIntoTeachingDbContext.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Program.cs
Labels: VisualCSharp

Revert "Update various dependencies"
  .github/workflows/actions/deploy/action.yml
  .github/workflows/build.yml
  .github/workflows/check_alert_rules.yml
  .github/workflows/manual.yml
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
  GetIntoTeachingApi/Database/GetIntoTeachingDbContext.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Models/GetIntoTeaching/GetIntoTeachingCallbackTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test, DevOps

Revert "Update various dependencies"
  .github/workflows/actions/deploy/action.yml
  .github/workflows/build.yml
  .github/workflows/check_alert_rules.yml
  .github/workflows/manual.yml
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
  GetIntoTeachingApi/Database/GetIntoTeachingDbContext.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Models/GetIntoTeaching/GetIntoTeachingCallbackTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test, DevOps

Remove Cypress tests on deploy
  .github/workflows/build.yml
Labels: DevOps

Remove Cypress tests on deploy
  .github/workflows/build.yml
Labels: DevOps

Fix LocationSyncJob for when CSV header row is missing
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApiTests/Fixtures/ukpostcodes_no_header_row.csv.zip
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Jobs/LocationSyncJobTests.cs
Labels: VisualCSharp, Test

Fix LocationSyncJob for when CSV header row is missing
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApiTests/Fixtures/ukpostcodes_no_header_row.csv.zip
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Jobs/LocationSyncJobTests.cs
Labels: VisualCSharp, Test

Skip malformed CSV rows
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApiTests/Fixtures/ukpostcodes_malformed_rows.csv.zip
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Jobs/LocationSyncJobTests.cs
Labels: VisualCSharp, Test

Skip malformed CSV rows
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApiTests/Fixtures/ukpostcodes_malformed_rows.csv.zip
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Jobs/LocationSyncJobTests.cs
Labels: VisualCSharp, Test

Update tests for FluentAssertion changes
  GetIntoTeachingApiTests/Models/GetIntoTeaching/GetIntoTeachingCallbackTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: Test

Update various dependencies
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Update various dependencies
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Update GitHub action dependencies
  .github/workflows/actions/deploy/action.yml
  .github/workflows/build.yml
  .github/workflows/check_alert_rules.yml
  .github/workflows/manual.yml
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Update to latest Pgsql packages
  GetIntoTeachingApi/Database/GetIntoTeachingDbContext.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Program.cs
Labels: VisualCSharp

Update tests for FluentAssertion changes
  GetIntoTeachingApiTests/Models/GetIntoTeaching/GetIntoTeachingCallbackTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: Test

Update to latest Pgsql packages
  GetIntoTeachingApi/Database/GetIntoTeachingDbContext.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Program.cs
Labels: VisualCSharp

Update GitHub action dependencies
  .github/workflows/actions/deploy/action.yml
  .github/workflows/build.yml
  .github/workflows/check_alert_rules.yml
  .github/workflows/manual.yml
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Migrate Hangfire database to new storage provider
  GetIntoTeachingApi/Database/DbConfiguration.cs
  GetIntoTeachingApi/Program.cs
Labels: VisualCSharp

Migrate Hangfire database to new storage provider
  GetIntoTeachingApi/Database/DbConfiguration.cs
  GetIntoTeachingApi/Program.cs
Labels: VisualCSharp

Use new schema name for postgres adapter
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/Database/DbConfiguration.cs
  GetIntoTeachingApi/Program.cs
Labels: VisualCSharp

Use new schema name for postgres adapter
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/Database/DbConfiguration.cs
  GetIntoTeachingApi/Program.cs
Labels: VisualCSharp

Update various dependencies
  .github/workflows/build.yml
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test, DevOps

Update various dependencies
  .github/workflows/build.yml
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test, DevOps

Update school experience statuses
  GetIntoTeachingApi/Models/Crm/CandidateSchoolExperience.cs
Labels: VisualCSharp

Update school experience statuses
  GetIntoTeachingApi/Models/Crm/CandidateSchoolExperience.cs
Labels: VisualCSharp

Add alerts for a high number of CSP violations
  monitoring/prometheus/alert.rules
Labels: Monitoring

Add alerts for a high number of CSP violations
  monitoring/prometheus/alert.rules
Labels: Monitoring

Keyvault for local development secrets
  Makefile
Labels: none

Keyvault for local development secrets
  Makefile
Labels: none

Remove Logging comment to dump local secrets to .env
  Makefile
Labels: none

Remove Logging comment to dump local secrets to .env
  Makefile
Labels: none

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml
