Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

Various dependency updates
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Various dependency updates
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Address code climate warnings
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

Address code climate warnings
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

Fix response type of matchback endpoint
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
Labels: VisualCSharp

Fix response type of matchback endpoint
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
Labels: VisualCSharp

Testing sonar cloud
  README.md
Labels: none

Testing sonar cloud
  README.md
Labels: none

Remove redundant array
  GetIntoTeachingApi/Jobs/ClaimCallbackBookingSlotJob.cs
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApi/Jobs/UpsertApplicationFormJob.cs
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Jobs/UpsertModelWithCandidateIdJob.cs
  GetIntoTeachingApiTests/Jobs/ClaimCallbackBookingSlotJobTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertApplicationFormJobTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertModelWithCandidateIdJobTests.cs
Labels: VisualCSharp, Test

Remove redundant array
  GetIntoTeachingApi/Jobs/ClaimCallbackBookingSlotJob.cs
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApi/Jobs/UpsertApplicationFormJob.cs
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Jobs/UpsertModelWithCandidateIdJob.cs
  GetIntoTeachingApiTests/Jobs/ClaimCallbackBookingSlotJobTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertApplicationFormJobTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertModelWithCandidateIdJobTests.cs
Labels: VisualCSharp, Test

Remove LookupItem class
  GetIntoTeachingApi/Database/GetIntoTeachingDbContext.cs
  GetIntoTeachingApi/Migrations/20230227083702_RemoveLookupItems.Designer.cs
  GetIntoTeachingApi/Migrations/20230227083702_RemoveLookupItems.cs
  GetIntoTeachingApi/Models/LookupItem.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/MailingListAddMemberValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidatorTests.cs
  GetIntoTeachingApiTests/Models/LookupItemTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/SchoolsExperienceSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Remove LookupItem class
  GetIntoTeachingApi/Database/GetIntoTeachingDbContext.cs
  GetIntoTeachingApi/Migrations/20230227083702_RemoveLookupItems.Designer.cs
  GetIntoTeachingApi/Migrations/20230227083702_RemoveLookupItems.cs
  GetIntoTeachingApi/Models/LookupItem.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/MailingListAddMemberValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidatorTests.cs
  GetIntoTeachingApiTests/Models/LookupItemTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/SchoolsExperienceSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Remove unused address fields from adviser sign up
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_no_teacher_reference_number_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_teacher_reference_number_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_returning_existing_data_change_address.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

Remove unused address fields from adviser sign up
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_no_teacher_reference_number_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_teacher_reference_number_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_returning_existing_data_change_address.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

Ensure CRM email takes presedence over Apply
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
  GetIntoTeachingApiTests/Jobs/ApplyCandidateSyncJobTests.cs
Labels: VisualCSharp, Test

Ensure CRM email takes presedence over Apply
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
  GetIntoTeachingApiTests/Jobs/ApplyCandidateSyncJobTests.cs
Labels: VisualCSharp, Test

Add SecondaryEmail field
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Utils/Redactor.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
Labels: VisualCSharp, Test

Add SecondaryEmail field
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Utils/Redactor.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
Labels: VisualCSharp, Test

Write Apply email to SecondaryEmail field
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
  GetIntoTeachingApiTests/Jobs/ApplyCandidateSyncJobTests.cs
Labels: VisualCSharp, Test

Write Apply email to SecondaryEmail field
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
  GetIntoTeachingApiTests/Jobs/ApplyCandidateSyncJobTests.cs
Labels: VisualCSharp, Test

Reconcile equivalent email hosts
  GetIntoTeachingApi/Fixtures/equivalent_email_hosts.yml
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Utils/EmailReconciler.cs
  GetIntoTeachingApi/env.dev
  GetIntoTeachingApi/env.prod
  GetIntoTeachingApi/env.test
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
  GetIntoTeachingApiTests/Utils/EmailReconcilerTests.cs
Labels: VisualCSharp, Test

Reconcile equivalent email hosts
  GetIntoTeachingApi/Fixtures/equivalent_email_hosts.yml
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Utils/EmailReconciler.cs
  GetIntoTeachingApi/env.dev
  GetIntoTeachingApi/env.prod
  GetIntoTeachingApi/env.test
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
  GetIntoTeachingApiTests/Utils/EmailReconcilerTests.cs
Labels: VisualCSharp, Test

Always retain existing candidate email
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Jobs/ApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

Always retain existing candidate email
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Jobs/ApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

Matchback on secondary email address
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/env.dev
  GetIntoTeachingApi/env.prod
  GetIntoTeachingApi/env.test
  GetIntoTeachingApiTests/Models/Crm/BaseModelTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Matchback on secondary email address
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/env.dev
  GetIntoTeachingApi/env.prod
  GetIntoTeachingApi/env.test
  GetIntoTeachingApiTests/Models/Crm/BaseModelTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Fix error on email query from Dynamics
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Fix error on email query from Dynamics
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Rename fixtures directory to conig
  GetIntoTeachingApi/Config/clients.yml
  GetIntoTeachingApi/Config/equivalent_email_hosts.yml
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Services/ClientManager.cs
  GetIntoTeachingApi/Utils/EmailReconciler.cs
  README.md
Labels: VisualCSharp

Rename fixtures directory to conig
  GetIntoTeachingApi/Config/clients.yml
  GetIntoTeachingApi/Config/equivalent_email_hosts.yml
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Services/ClientManager.cs
  GetIntoTeachingApi/Utils/EmailReconciler.cs
  README.md
Labels: VisualCSharp

Remove ShouldMapRelationship hook
  GetIntoTeachingApi/Models/Crm/BaseModel.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

Remove ShouldMapRelationship hook
  GetIntoTeachingApi/Models/Crm/BaseModel.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

Remove ShouldMap hook from BaseModel
  GetIntoTeachingApi/Models/Crm/BaseModel.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/TeachingEventRegistration.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/TeachingEventRegistrationTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
  README.md
Labels: VisualCSharp, Test

Remove ShouldMap hook from BaseModel
  GetIntoTeachingApi/Models/Crm/BaseModel.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/TeachingEventRegistration.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/TeachingEventRegistrationTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
  README.md
Labels: VisualCSharp, Test

Update ApplyBackfillJob to accept a date
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApi/Jobs/ApplyBackfillJob.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Jobs/ApplyBackfillJobTests.cs
Labels: VisualCSharp, Test

Update ApplyBackfillJob to accept a date
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApi/Jobs/ApplyBackfillJob.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Jobs/ApplyBackfillJobTests.cs
Labels: VisualCSharp, Test

Expose adviser assignemnt status
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

Expose adviser assignemnt status
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

Relax ExistingCandidateRequest validation
  GetIntoTeachingApi/Models/Validators/ExistingCandidateRequestValidator.cs
  GetIntoTeachingApiTests/Models/Validators/ExistingCandidateRequestValidatorTests.cs
Labels: VisualCSharp, Test

Relax ExistingCandidateRequest validation
  GetIntoTeachingApi/Models/Validators/ExistingCandidateRequestValidator.cs
  GetIntoTeachingApiTests/Models/Validators/ExistingCandidateRequestValidatorTests.cs
Labels: VisualCSharp, Test

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml
