Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

bugfix
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

Update README.md
  README.md
  terraform/aks/data.tf
Labels: DevOps

Update README.md
  README.md
  terraform/aks/data.tf
Labels: DevOps

Adding conditional to include PR number in backend config in tfstate if review environment
  Makefile
Labels: none

Adding conditional to include PR number in backend config in tfstate if review environment
  Makefile
Labels: none

Correcting aks_env name
  .github/workflows/build-and-deploy.yml
  README.md
  terraform/aks/application.tf
Labels: DevOps

Correcting aks_env name
  .github/workflows/build-and-deploy.yml
  README.md
  terraform/aks/application.tf
Labels: DevOps

Modify healthcheck to only pass on healthy
  tests/confidence/healthcheck.sh
Labels: none

Modify healthcheck to only pass on healthy
  tests/confidence/healthcheck.sh
Labels: none

Correcting delete review action tf-file
  .github/workflows/delete_review_app.yml
Labels: DevOps

Correcting delete review action tf-file
  .github/workflows/delete_review_app.yml
Labels: DevOps

Correct delete review action input parameters
  .github/workflows/delete_review_app.yml
Labels: DevOps

Correct delete review action input parameters
  .github/workflows/delete_review_app.yml
Labels: DevOps

WIP - added ability for API to deal with multi-choice picklist items.
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Helpers/ContractCrmService.cs
Labels: VisualCSharp, Test

Added tests for multiple picklist items in Store
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Removed unused const in tests
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test

work in progress
  GetIntoTeachingApi/Jobs/ContactChannelCandidateWrapper.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/ICreateContactChannel.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/GetIntoTeachingCallback.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

work in progress
  GetIntoTeachingApi/Jobs/ContactChannelCandidateWrapper.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/ICreateContactChannel.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/GetIntoTeachingCallback.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

remove env properties
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/GetIntoTeachingCallbackTests.cs
Labels: VisualCSharp, Test

remove env properties
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/GetIntoTeachingCallbackTests.cs
Labels: VisualCSharp, Test

wip contract test fixes
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_no_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_no_teacher_reference_number_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_teacher_reference_number_in_the_uk_and_telephone.json
Labels: Test

wip contract test fixes
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_no_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_no_teacher_reference_number_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_teacher_reference_number_in_the_uk_and_telephone.json
Labels: Test

contract test updates
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_no_teacher_reference_number_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_teacher_reference_number_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_returning_existing_data_change_address.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
Labels: Test

contract test updates
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_no_teacher_reference_number_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_teacher_reference_number_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_returning_existing_data_change_address.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
Labels: Test

Testing
  README.md
Labels: none

Testing
  README.md
Labels: none

Update ICreateContactChannel.cs
  GetIntoTeachingApi/Models/Crm/ICreateContactChannel.cs
Labels: VisualCSharp

Update ICreateContactChannel.cs
  GetIntoTeachingApi/Models/Crm/ICreateContactChannel.cs
Labels: VisualCSharp

Corrected some test issues with multi-sync in Store
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Corrected removal of sentry registration
  GetIntoTeachingApi/Program.cs
Labels: VisualCSharp

Removed ImmutableList from picklistIds
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

Added additional guard against null of empty picklistIds
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

Re-added CrmService test.
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: Test

Initial commit
  GetIntoTeachingApi/Controllers/GetIntoTeaching/MailingListController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DegreeStatusInference.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

Revised TeacherTrainingAdvisor contract tests
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
Labels: Test

add additional creation channel logic
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Models/Crm/AdditionalEventsContactChannel.cs
  GetIntoTeachingApi/Models/Crm/AdditionalMailingListContactChannel.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/IAdditionalContactChannel.cs
  GetIntoTeachingApi/Models/Crm/ICreateContactChannel.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/GetIntoTeachingCallback.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
Labels: VisualCSharp

add additional creation channel logic
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Models/Crm/AdditionalEventsContactChannel.cs
  GetIntoTeachingApi/Models/Crm/AdditionalMailingListContactChannel.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/IAdditionalContactChannel.cs
  GetIntoTeachingApi/Models/Crm/ICreateContactChannel.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/GetIntoTeachingCallback.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
Labels: VisualCSharp

removing redundant code
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/ICreateContactChannel.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

removing redundant code
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/ICreateContactChannel.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

Align deployment workflow with CD pattern
  .github/workflows/build-and-deploy.yml
Labels: DevOps

.github/labeler.yml:

---

VisualCSharp:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApi/**/*.cs'

Test:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApiTests/**/*'

Monitoring:
- changed-files:
  - any-glob-to-any-file: 'monitoring/**/*'

DevOps:
- changed-files:
  - any-glob-to-any-file: 'terraform/**/*'
  - any-glob-to-any-file: '.github/**/*.yml'

Docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: 'docker-compose.yml'
