Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

Registered DI container dependencies.
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
Labels: VisualCSharp

Aligned CandidateContactChannelCreations migration naming
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/CandidateContactChannelCreationsSqlRepository.cs
  GetIntoTeachingApi/Migrations/20252072313301_AddCandidateCandidateContactChannelCreationsTable.cs
  GetIntoTeachingApi/Migrations/GetIntoTeachingDbContextModelSnapshot.cs
  GetIntoTeachingApi/Models/CandidateContactChannelCreations.cs
Labels: VisualCSharp

Aligned CandidateContactChannelCreations migration naming
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/CandidateContactChannelCreationsSqlRepository.cs
  GetIntoTeachingApi/Migrations/20252072313301_AddCandidateCandidateContactChannelCreationsTable.cs
  GetIntoTeachingApi/Migrations/GetIntoTeachingDbContextModelSnapshot.cs
  GetIntoTeachingApi/Models/CandidateContactChannelCreations.cs
Labels: VisualCSharp

wip
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/CandidateContactChannelCreationsSqlRepository.cs
  GetIntoTeachingApi/Jobs/UpsertStrategies/ContactChannelCreationSanitisationUpsertStrategy .cs
Labels: VisualCSharp

wip
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/CandidateContactChannelCreationsSqlRepository.cs
  GetIntoTeachingApi/Jobs/UpsertStrategies/ContactChannelCreationSanitisationUpsertStrategy .cs
Labels: VisualCSharp

Changed db context lifetime to scoped
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
Labels: VisualCSharp

Changed db context lifetime to scoped
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
Labels: VisualCSharp

more wip
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/CandidateContactChannelCreationsSqlRepository.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/ContactChannelCreationSaveRequest.cs
  GetIntoTeachingApi/Jobs/UpsertStrategies/ContactChannelCreationSanitisationUpsertStrategy .cs
Labels: VisualCSharp

more wip
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/CandidateContactChannelCreationsSqlRepository.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/ContactChannelCreationSaveRequest.cs
  GetIntoTeachingApi/Jobs/UpsertStrategies/ContactChannelCreationSanitisationUpsertStrategy .cs
Labels: VisualCSharp

Added additional logic to check for existing candidate channel creation records
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/CandidateContactChannelCreationsSqlRepository.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/ContactChannelCreationSaveRequest.cs
  GetIntoTeachingApi/Jobs/UpsertStrategies/ContactChannelCreationSanitisationUpsertStrategy .cs
Labels: VisualCSharp

Added additional logic to check for existing candidate channel creation records
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/CandidateContactChannelCreationsSqlRepository.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/ContactChannelCreationSaveRequest.cs
  GetIntoTeachingApi/Jobs/UpsertStrategies/ContactChannelCreationSanitisationUpsertStrategy .cs
Labels: VisualCSharp

Some tidy-up
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/CandidateContactChannelCreationsSqlRepository.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/ContactChannelCreationSaveRequest.cs
  GetIntoTeachingApi/Jobs/UpsertStrategies/ContactChannelCreationSanitisationUpsertStrategy .cs
  GetIntoTeachingApi/Jobs/UpsertStrategies/ICrmlUpsertStrategy.cs
Labels: VisualCSharp

Some tidy-up
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/CandidateContactChannelCreationsSqlRepository.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/ContactChannelCreationSaveRequest.cs
  GetIntoTeachingApi/Jobs/UpsertStrategies/ContactChannelCreationSanitisationUpsertStrategy .cs
  GetIntoTeachingApi/Jobs/UpsertStrategies/ICrmlUpsertStrategy.cs
Labels: VisualCSharp

Hopefully sorted dbcontext scoping
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/CandidateContactChannelCreationsSqlRepository.cs
Labels: VisualCSharp

Hopefully sorted dbcontext scoping
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/CandidateContactChannelCreationsSqlRepository.cs
Labels: VisualCSharp

Started to build out tests
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/CandidateContactChannelCreationsSqlRepository.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationDuplicateSanitisationRuleTests.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationSanitisationRulesHandlerTests.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/TestDoubles/ContactChannelCreationTestDouble.cs
Labels: VisualCSharp, Test

Started to build out tests
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/CandidateContactChannelCreationsSqlRepository.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationDuplicateSanitisationRuleTests.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationSanitisationRulesHandlerTests.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/TestDoubles/ContactChannelCreationTestDouble.cs
Labels: VisualCSharp, Test

Add job to process collection of ContactChannelCreations
  GetIntoTeachingApi/Jobs/UpsertContactCreationChannelsJob.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
Labels: VisualCSharp

Add job to process collection of ContactChannelCreations
  GetIntoTeachingApi/Jobs/UpsertContactCreationChannelsJob.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
Labels: VisualCSharp

Update ContactChannelCreationDuplicateSanitisationRuleTests.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationDuplicateSanitisationRuleTests.cs
Labels: Test

Update ContactChannelCreationDuplicateSanitisationRuleTests.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationDuplicateSanitisationRuleTests.cs
Labels: Test

Update ContactChannelCreationSanitisationRulesHandlerTests.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationSanitisationRulesHandlerTests.cs
Labels: Test

Update ContactChannelCreationSanitisationRulesHandlerTests.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationSanitisationRulesHandlerTests.cs
Labels: Test

Update ContactChannelCreationSanitisationRulesHandlerTests.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationSanitisationRulesHandlerTests.cs
Labels: Test

Update ContactChannelCreationSanitisationRulesHandlerTests.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationSanitisationRulesHandlerTests.cs
Labels: Test

Added new repository to update directly to the CRM.
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/CandidateContactChannelCreationsCrmRepository.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/ContactChannelCreationSaveRequest.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Helpers/ContractCrmService.cs
Labels: VisualCSharp, Test

Added new repository to update directly to the CRM.
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/CandidateContactChannelCreationsCrmRepository.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/ContactChannelCreationSaveRequest.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Helpers/ContractCrmService.cs
Labels: VisualCSharp, Test

Adding a GetCandidateContactCreations to the CRM service
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/CandidateContactChannelCreationsCrmRepository.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Helpers/ContractCrmService.cs
Labels: VisualCSharp, Test

Adding a GetCandidateContactCreations to the CRM service
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/CandidateContactChannelCreationsCrmRepository.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Helpers/ContractCrmService.cs
Labels: VisualCSharp, Test

stripped back the reliance on the SQL repository for capturing snapshots now we have a revised approach for accessing these records directly from the CRM that works reliably.
  GetIntoTeachingApi/Database/GetIntoTeachingDbContext.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/CandidateContactChannelCreationsCrmRepository.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/CandidateContactChannelCreationsSqlRepository.cs
  GetIntoTeachingApi/Migrations/20252072313301_AddCandidateCandidateContactChannelCreationsTable.Designer.cs
  GetIntoTeachingApi/Migrations/20252072313301_AddCandidateCandidateContactChannelCreationsTable.cs
  GetIntoTeachingApi/Migrations/GetIntoTeachingDbContextModelSnapshot.cs
  GetIntoTeachingApi/Services/CrmService.cs
Labels: VisualCSharp

stripped back the reliance on the SQL repository for capturing snapshots now we have a revised approach for accessing these records directly from the CRM that works reliably.
  GetIntoTeachingApi/Database/GetIntoTeachingDbContext.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/CandidateContactChannelCreationsCrmRepository.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/CandidateContactChannelCreationsSqlRepository.cs
  GetIntoTeachingApi/Migrations/20252072313301_AddCandidateCandidateContactChannelCreationsTable.Designer.cs
  GetIntoTeachingApi/Migrations/20252072313301_AddCandidateCandidateContactChannelCreationsTable.cs
  GetIntoTeachingApi/Migrations/GetIntoTeachingDbContextModelSnapshot.cs
  GetIntoTeachingApi/Services/CrmService.cs
Labels: VisualCSharp

Tweak route names for new picklists
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
Labels: VisualCSharp

Tweak route names for new picklists
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
Labels: VisualCSharp

Update CrmService.cs
  GetIntoTeachingApi/Services/CrmService.cs
Labels: VisualCSharp

Update CrmService.cs
  GetIntoTeachingApi/Services/CrmService.cs
Labels: VisualCSharp

Update CrmService.cs
  GetIntoTeachingApi/Services/CrmService.cs
Labels: VisualCSharp

Update CrmService.cs
  GetIntoTeachingApi/Services/CrmService.cs
Labels: VisualCSharp

Add missing Fact attribute to test method
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
Labels: Test

Add missing Fact attribute to test method
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
Labels: Test

Test completion and code consolidation - ready for review.
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/CandidateContactChannelCreationsCrmRepository.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/ContactChannelCreationSaveRequest.cs
  GetIntoTeachingApi/Jobs/UpsertModelWithCandidateIdJob.cs
  GetIntoTeachingApi/Jobs/UpsertStrategies/ContactChannelCreationSanitisationUpsertStrategy.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/CandidateSanitisationDeduplicateApplyChannelRuleTests.DELETEME
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationDuplicateSanitisationRuleTests.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationSanitisationRulesHandlerTests.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/CandidateContactChannelCreationsCrmRepositoryTests.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/TestDoubles/CandidateContactChannelCreationsCrmRepositoryTestDoubles.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/TestDoubles/ContactChannelCreationDuplicateSanitisationRulesHandlerTestDouble.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/TestDoubles/CrmServiceTestDouble.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/TestDoubles/SaveResultBuilder.cs
  GetIntoTeachingApiTests/Jobs/UpsertModelWithCandidateIdJobTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertStrategies/ContactChannelCreationSanitisationUpsertStrategyTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

.github/labeler.yml:

---

VisualCSharp:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApi/**/*.cs'

Test:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApiTests/**/*'

Monitoring:
- changed-files:
  - any-glob-to-any-file: 'monitoring/**/*'

DevOps:
- changed-files:
  - any-glob-to-any-file: 'terraform/**/*'
  - any-glob-to-any-file: '.github/**/*.yml'

Docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: 'docker-compose.yml'
