Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

Align deployment workflow with CD pattern
  .github/workflows/build-and-deploy.yml
Labels: DevOps

Modified validation to accommodate null degree status ID
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
Labels: VisualCSharp

Fixed a few test issues
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Initial commit - added event accessibility picklist endpoint (#1547)
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Helpers/ContractCrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Initial commit - added event accessibility picklist endpoint (#1547)
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Helpers/ContractCrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Reused the code built and applied to the mailing list (#1554)
  GetIntoTeachingApi/Controllers/GetIntoTeaching/MailingListController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DegreeStatusInference.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Reused the code built and applied to the mailing list (#1554)
  GetIntoTeachingApi/Controllers/GetIntoTeaching/MailingListController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DegreeStatusInference.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Adding monitoring
  .github/workflows/build-and-deploy.yml
Labels: DevOps

Adding monitoring
  .github/workflows/build-and-deploy.yml
Labels: DevOps

Removed mailing list feature funnel endpoints and supporting tests.
  GetIntoTeachingApi/Controllers/GetIntoTeaching/MailingListController.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/MailingListAddMemberValidator.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/PartialIntegration/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/MailingListAddMemberValidatorTests.cs
Labels: VisualCSharp, Test

Testing notifications:
  .github/workflows/build-and-deploy.yml
Labels: DevOps

Testing notifications:
  .github/workflows/build-and-deploy.yml
Labels: DevOps

Modifying build and depoy workflow
  .github/workflows/build-and-deploy.yml
Labels: DevOps

Modifying build and depoy workflow
  .github/workflows/build-and-deploy.yml
Labels: DevOps

Initial commit
  GetIntoTeachingApi/Attributes/EntityFieldAttribute.cs
  GetIntoTeachingApi/Migrations/20200814063617_AccessibilityOptionsToTeachingEvent.Designer.cs
  GetIntoTeachingApi/Migrations/20200814063617_AccessibilityOptionsToTeachingEvent.cs
  GetIntoTeachingApi/Models/Crm/BaseModel.cs
  GetIntoTeachingApi/Models/Crm/TeachingEvent.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventSearchRequest.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Re-instated sentry dependency registration
  GetIntoTeachingApi/Program.cs
Labels: VisualCSharp

Update env.review
  GetIntoTeachingApi/env.review
Labels: none

Update env.review
  GetIntoTeachingApi/env.review
Labels: none

Use default values for subscription channel IDs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Services/SubscriptionManager.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Services/SubscriptionManagerTests.cs
Labels: VisualCSharp, Test

Use default values for subscription channel IDs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Services/SubscriptionManager.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Services/SubscriptionManagerTests.cs
Labels: VisualCSharp, Test

trigger deployment
  README.md
Labels: none

Revised approach for retrieving muliSelectPickListItems.
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Helpers/ContractCrmService.cs
  GetIntoTeachingApiTests/Helpers/MockOrganizationServiceAdapter.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Update-API-to-include-(optional)-accessibility-information-to-teaching-events (#1558)
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/Attributes/EntityFieldAttribute.cs
  GetIntoTeachingApi/Migrations/20200814063617_AccessibilityOptionsToTeachingEvent.Designer.cs
  GetIntoTeachingApi/Migrations/20200814063617_AccessibilityOptionsToTeachingEvent.cs
  GetIntoTeachingApi/Models/Crm/BaseModel.cs
  GetIntoTeachingApi/Models/Crm/TeachingEvent.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventSearchRequest.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Helpers/ContractCrmService.cs
  GetIntoTeachingApiTests/Helpers/MockOrganizationServiceAdapter.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
  README.md
Labels: VisualCSharp, Test

Update-API-to-include-(optional)-accessibility-information-to-teaching-events (#1558)
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/Attributes/EntityFieldAttribute.cs
  GetIntoTeachingApi/Migrations/20200814063617_AccessibilityOptionsToTeachingEvent.Designer.cs
  GetIntoTeachingApi/Migrations/20200814063617_AccessibilityOptionsToTeachingEvent.cs
  GetIntoTeachingApi/Models/Crm/BaseModel.cs
  GetIntoTeachingApi/Models/Crm/TeachingEvent.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventSearchRequest.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Helpers/ContractCrmService.cs
  GetIntoTeachingApiTests/Helpers/MockOrganizationServiceAdapter.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
  README.md
Labels: VisualCSharp, Test

Use build-docker-image action
  .github/workflows/build-and-deploy.yml
  Dockerfile
Labels: DevOps, Docker

dr test
  .github/workflows/build-and-deploy.yml
  terraform/aks/config/review.tfvars.json
Labels: DevOps

dr test
  .github/workflows/build-and-deploy.yml
  terraform/aks/config/review.tfvars.json
Labels: DevOps

Disaster recovery test
  README.md
Labels: none

Disaster recovery test
  README.md
Labels: none

Initial commit
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
Labels: VisualCSharp, Test

Initial commit
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
Labels: VisualCSharp, Test

Update GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
Labels: VisualCSharp

Update GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
Labels: VisualCSharp

Add Visa status and location to candidate validator.
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
Labels: VisualCSharp

Add Visa status and location to candidate validator.
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
Labels: VisualCSharp

Temporarily disable Apply sync on production
  GetIntoTeachingApi/env.prod
Labels: none

Temporarily disable Apply sync on production
  GetIntoTeachingApi/env.prod
Labels: none

Initial commit
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

Initial commit
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

Prevent duplicate Apply contact channel creation
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
Labels: VisualCSharp

.github/labeler.yml:

---

VisualCSharp:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApi/**/*.cs'

Test:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApiTests/**/*'

Monitoring:
- changed-files:
  - any-glob-to-any-file: 'monitoring/**/*'

DevOps:
- changed-files:
  - any-glob-to-any-file: 'terraform/**/*'
  - any-glob-to-any-file: '.github/**/*.yml'

Docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: 'docker-compose.yml'
