Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

Revert "Add endpoint to remove locations of unknown source"
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Increase Memory Allocation
  terraform/paas/production.env.tfvars
  terraform/paas/test.env.tfvars
Labels: DevOps

Increase Memory Allocation (#400)
  terraform/paas/production.env.tfvars
  terraform/paas/test.env.tfvars
Labels: DevOps

Increase Memory Allocation (#400)
  terraform/paas/production.env.tfvars
  terraform/paas/test.env.tfvars
Labels: DevOps

Switch rate limiting counters to use Redis
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/RedisConfiguration.cs
  GetIntoTeachingApiTests/Fixtures/vcap_services.json
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Helpers/GetIntoTeachingWebApplicationFactory.cs
  GetIntoTeachingApiTests/Integration/RateLimitingTests.cs
  GetIntoTeachingApiTests/Utils/RedisConfigurationTests.cs
  docker-compose.yml
Labels: VisualCSharp, Test, Docker

Switch rate limiting counters to use Redis
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/RedisConfiguration.cs
  GetIntoTeachingApiTests/Fixtures/vcap_services.json
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Helpers/GetIntoTeachingWebApplicationFactory.cs
  GetIntoTeachingApiTests/Integration/RateLimitingTests.cs
  GetIntoTeachingApiTests/Utils/RedisConfigurationTests.cs
  docker-compose.yml
Labels: VisualCSharp, Test, Docker

Add Redis to health check
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApi/Models/HealthCheckResponse.cs
  GetIntoTeachingApi/Services/IRedisService.cs
  GetIntoTeachingApi/Services/RedisService.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Models/HealthCheckResponseTests.cs
Labels: VisualCSharp, Test

Add Redis to health check
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApi/Models/HealthCheckResponse.cs
  GetIntoTeachingApi/Services/IRedisService.cs
  GetIntoTeachingApi/Services/RedisService.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Models/HealthCheckResponseTests.cs
Labels: VisualCSharp, Test

Remove manual location sync endpoint
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
Labels: VisualCSharp, Test

Remove manual location sync endpoint
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
Labels: VisualCSharp, Test

Remove PEN_TEST_SHARED_SECRET
  GetIntoTeachingApi/Auth/SharedSecretHandler.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Auth/SharedSecretHandlerTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
  terraform/paas/application.tf
  terraform/paas/variables.tf
Labels: VisualCSharp, Test, DevOps

Remove PEN_TEST_SHARED_SECRET
  GetIntoTeachingApi/Auth/SharedSecretHandler.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Auth/SharedSecretHandlerTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
  terraform/paas/application.tf
  terraform/paas/variables.tf
Labels: VisualCSharp, Test, DevOps

Fallback to in-memory store if Redis is unavailable
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Redis/RedisConfiguration.cs
  GetIntoTeachingApi/Redis/RedisRateLimitCounterStore.cs
  GetIntoTeachingApi/Services/RedisService.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Redis/RedisConfigurationTests.cs
Labels: VisualCSharp, Test

Fallback to in-memory store if Redis is unavailable
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Redis/RedisConfiguration.cs
  GetIntoTeachingApi/Redis/RedisRateLimitCounterStore.cs
  GetIntoTeachingApi/Services/RedisService.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Redis/RedisConfigurationTests.cs
Labels: VisualCSharp, Test

Add Redis to health check
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApi/Models/HealthCheckResponse.cs
  GetIntoTeachingApi/Services/IRedisService.cs
  GetIntoTeachingApi/Services/RedisService.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Models/HealthCheckResponseTests.cs
Labels: VisualCSharp, Test

Reflect Redis as non-critical in health check
  GetIntoTeachingApi/Models/HealthCheckResponse.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Models/HealthCheckResponseTests.cs
Labels: VisualCSharp, Test

Switch rate limiting counters to use Redis
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/RedisConfiguration.cs
  GetIntoTeachingApiTests/Database/DbConfigurationTests.cs
  GetIntoTeachingApiTests/Fixtures/vcap_services.json
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Helpers/GetIntoTeachingWebApplicationFactory.cs
  GetIntoTeachingApiTests/Integration/RateLimitingTests.cs
  GetIntoTeachingApiTests/Utils/RedisConfigurationTests.cs
  docker-compose.yml
Labels: VisualCSharp, Test, Docker

Reflect Redis as non-critical in health check
  GetIntoTeachingApi/Models/HealthCheckResponse.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Models/HealthCheckResponseTests.cs
Labels: VisualCSharp, Test

Fallback to in-memory store if Redis is unavailable
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Redis/RedisConfiguration.cs
  GetIntoTeachingApi/Redis/RedisRateLimitCounterStore.cs
  GetIntoTeachingApi/Services/RedisService.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Redis/RedisConfigurationTests.cs
Labels: VisualCSharp, Test

Add Redis to health check
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApi/Models/HealthCheckResponse.cs
  GetIntoTeachingApi/Services/IRedisService.cs
  GetIntoTeachingApi/Services/RedisService.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Models/HealthCheckResponseTests.cs
Labels: VisualCSharp, Test

Fallback to in-memory store if Redis is unavailable
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Redis/RedisConfiguration.cs
  GetIntoTeachingApi/Redis/RedisRateLimitCounterStore.cs
  GetIntoTeachingApi/Services/RedisService.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Redis/RedisConfigurationTests.cs
Labels: VisualCSharp, Test

Switch rate limiting counters to use Redis
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/RedisConfiguration.cs
  GetIntoTeachingApiTests/Database/DbConfigurationTests.cs
  GetIntoTeachingApiTests/Fixtures/vcap_services.json
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Helpers/GetIntoTeachingWebApplicationFactory.cs
  GetIntoTeachingApiTests/Integration/RateLimitingTests.cs
  GetIntoTeachingApiTests/Utils/RedisConfigurationTests.cs
  docker-compose.yml
Labels: VisualCSharp, Test, Docker

Adding terraform review controls
  terraform/paas/production.env.tfvars
  terraform/paas/review.bk.vars
  terraform/paas/review.env.tfvars
  terraform/paas/test.env.tfvars
Labels: DevOps

Added common Deploy method
  .github/workflows/deploy.yml
  .github/workflows/manual.yml
  .github/workflows/prod_statuscake.yml
  .github/workflows/production.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/statuscake.yml
Labels: DevOps

Log request details on validation failure
  GetIntoTeachingApi/Attributes/LogRequestsAttribute.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/LoggableMessageComposer.cs
  GetIntoTeachingApiTests/Attributes/LogRequestsAttributeTests.cs
  GetIntoTeachingApiTests/Utils/LoggableMessageComposerTests.cs
Labels: VisualCSharp, Test

Log request details on validation failure
  GetIntoTeachingApi/Attributes/LogRequestsAttribute.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/LoggableMessageComposer.cs
  GetIntoTeachingApiTests/Attributes/LogRequestsAttributeTests.cs
  GetIntoTeachingApiTests/Utils/LoggableMessageComposerTests.cs
Labels: VisualCSharp, Test

API Workflow Changes
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/dockerbuild.yml
Labels: DevOps

Devops/workflows/automate (#405)
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/dockerbuild.yml
  .github/workflows/manual.yml
  .github/workflows/prod_statuscake.yml
  .github/workflows/production.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/statuscake.yml
  terraform/paas/production.env.tfvars
  terraform/paas/review.bk.vars
  terraform/paas/review.env.tfvars
  terraform/paas/test.env.tfvars
Labels: DevOps

Devops/workflows/automate (#405)
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/dockerbuild.yml
  .github/workflows/manual.yml
  .github/workflows/prod_statuscake.yml
  .github/workflows/production.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/statuscake.yml
  terraform/paas/production.env.tfvars
  terraform/paas/review.bk.vars
  terraform/paas/review.env.tfvars
  terraform/paas/test.env.tfvars
Labels: DevOps

Remove OWASP
  .github/workflows/build.yml
Labels: DevOps

Remove OWASP (#407)
  .github/workflows/build.yml
Labels: DevOps

Remove OWASP (#407)
  .github/workflows/build.yml
Labels: DevOps

Fire and Forget Cypress Tests
  .github/workflows/build.yml
Labels: DevOps

Fire and Forget Cypress Tests (#408)
  .github/workflows/build.yml
Labels: DevOps

Fire and Forget Cypress Tests (#408)
  .github/workflows/build.yml
Labels: DevOps

Only run CrmSyncJob on first boot
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

Only run CrmSyncJob on first boot
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

Move common code from mailing list/event objects into base class
  GetIntoTeachingApi/Models/AddCandidate.cs
  GetIntoTeachingApi/Models/MailingListAddMember.cs
  GetIntoTeachingApi/Models/TeachingEventAddAttendee.cs
  GetIntoTeachingApiTests/Models/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventAddAttendeeTests.cs
Labels: VisualCSharp, Test

Move common code from mailing list/event objects into base class
  GetIntoTeachingApi/Models/AddCandidate.cs
  GetIntoTeachingApi/Models/MailingListAddMember.cs
  GetIntoTeachingApi/Models/TeachingEventAddAttendee.cs
  GetIntoTeachingApiTests/Models/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventAddAttendeeTests.cs
Labels: VisualCSharp, Test

Enable rate limiting in test environment
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml
