Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

Retrieve Logging Endpoint From Secrets
  Makefile
  terraform/paas/data.tf
  terraform/paas/services.tf
  terraform/paas/variables.tf
Labels: DevOps

Retrieve Logging Endpoint From Secrets (#549)
  Makefile
  terraform/paas/data.tf
  terraform/paas/services.tf
  terraform/paas/variables.tf
Labels: DevOps

Retrieve Logging Endpoint From Secrets (#549)
  Makefile
  terraform/paas/data.tf
  terraform/paas/services.tf
  terraform/paas/variables.tf
Labels: DevOps

Update Gov UK Notify library
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
  Dockerfile
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  README.md
Labels: DevOps, Docker

Update Gov UK Notify library
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
  Dockerfile
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  README.md
Labels: DevOps, Docker

Common Delivery Method Used (#552)
  terraform/paas/monitoring.tf
  terraform/paas/sandbox.env.tfvars
  terraform/paas/services.tf
Labels: DevOps

Common Delivery Method Used (#552)
  terraform/paas/monitoring.tf
  terraform/paas/sandbox.env.tfvars
  terraform/paas/services.tf
Labels: DevOps

Add new fields to event/building
  GetIntoTeachingApi/Migrations/20210322100102_AddImageUrlAndProvidersListToTeachingEvent.Designer.cs
  GetIntoTeachingApi/Migrations/20210322100102_AddImageUrlAndProvidersListToTeachingEvent.cs
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApi/Models/TeachingEventBuilding.cs
  GetIntoTeachingApiTests/Models/TeachingEventBuildingTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
Labels: VisualCSharp, Test

Add new fields to event/building
  GetIntoTeachingApi/Migrations/20210322100102_AddImageUrlAndProvidersListToTeachingEvent.Designer.cs
  GetIntoTeachingApi/Migrations/20210322100102_AddImageUrlAndProvidersListToTeachingEvent.cs
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApi/Models/TeachingEventBuilding.cs
  GetIntoTeachingApiTests/Models/TeachingEventBuildingTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
Labels: VisualCSharp, Test

Dropped Grafana ELK credentials
  terraform/paas/monitoring.tf
  terraform/paas/production.env.tfvars
Labels: DevOps

Dropped Grafana ELK credentials (#554)
  terraform/paas/monitoring.tf
  terraform/paas/production.env.tfvars
Labels: DevOps

Dropped Grafana ELK credentials (#554)
  terraform/paas/monitoring.tf
  terraform/paas/production.env.tfvars
Labels: DevOps

Add ReadableId to validator
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
Labels: VisualCSharp, Test

Update name of teaching event add/update endpoint
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
Labels: VisualCSharp, Test

Add ReadableId to validator
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
Labels: VisualCSharp, Test

Test for empty strings
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
Labels: Test

Test for empty strings
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
Labels: Test

More concise syntax for validator tests
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
Labels: Test

Add create teaching event endpoint
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
Labels: VisualCSharp, Test

Add teaching event validator
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
Labels: VisualCSharp, Test

More concise syntax for validator tests
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
Labels: Test

Combine tests to remove duplication
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
Labels: Test

Add create teaching event endpoint
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
Labels: VisualCSharp, Test

Update name of teaching event add/update endpoint
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
Labels: VisualCSharp, Test

Add teaching event validator
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
Labels: VisualCSharp, Test

Add new teaching event status
  GetIntoTeachingApi/Models/TeachingEvent.cs
Labels: VisualCSharp

Add new teaching event status
  GetIntoTeachingApi/Models/TeachingEvent.cs
Labels: VisualCSharp

Combine tests to remove duplication
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
Labels: Test

Update teaching event endpoint to immediately cache building
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Update teaching event endpoint to immediately cache building
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Combine tests to remove duplication
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
Labels: Test

Add create teaching event endpoint
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
Labels: VisualCSharp, Test

Add teaching event validator
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
Labels: VisualCSharp, Test

Test for empty strings
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
Labels: Test

More concise syntax for validator tests
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
Labels: Test

Add create teaching event endpoint
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
Labels: VisualCSharp, Test

More concise syntax for validator tests
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
Labels: Test

Add ReadableId to validator
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
Labels: VisualCSharp, Test

Test for empty strings
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
Labels: Test

Add teaching event validator
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
Labels: VisualCSharp, Test

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml
