Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApi/**/*.cs'

Test:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApiTests/**/*'

Monitoring:
- changed-files:
  - any-glob-to-any-file: 'monitoring/**/*'

DevOps:
- changed-files:
  - any-glob-to-any-file: 'terraform/**/*'
  - any-glob-to-any-file: '.github/**/*.yml'

Docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: 'docker-compose.yml'

WIP - mediator wire up
  GetIntoTeaching/GetIntoTeaching.csproj
  GetIntoTeaching/Infrastructure/Persistence/CandidateBackgroundProcessing/HangfireBackgroundProcessHandler.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateBackgroundProcessing/Processors/UpsertCandidateProcessorRequest.cs
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Controllers/Spencer/SpencersCandidatesController.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
Labels: VisualCSharp

Small refactor to add AddCandidateCreationChannel() method
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
Labels: VisualCSharp

Small refactor to add AddCandidateCreationChannel() method
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
Labels: VisualCSharp

WIP - background process jobs
  GetIntoTeaching.Core/CrossCuttingConcerns/DependencyInjection/ServiceFactoryExtensions.cs
  GetIntoTeaching.Core/CrossCuttingConcerns/Mediator/CompositionRoot.cs
  GetIntoTeaching.Core/CrossCuttingConcerns/Mediator/Extensions/MediatorExtensionscs.cs
  GetIntoTeaching.Core/CrossCuttingConcerns/Mediator/Extensions/ServiceFactory.cs
  GetIntoTeaching.Core/CrossCuttingConcerns/Mediator/IHandler.cs
  GetIntoTeaching.Core/CrossCuttingConcerns/Mediator/IMediator.cs
  GetIntoTeaching.Core/CrossCuttingConcerns/Mediator/Mediator.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/BackgroundProcessorResult.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundJobProcessService.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundJobProcessor.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundJobProcessorRequest.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundProcessHandler.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundProcessor.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundProcessorRequest.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateBackgroundProcessing/HangfireBackgroundProcessingService.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateBackgroundProcessing/Processors/UpsertCandidateProcessor.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateBackgroundProcessing/Processors/UpsertCandidateProcessorRequest.cs
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Controllers/Spencer/SpencersCandidatesController.cs
Labels: VisualCSharp

WIP - background process jobs
  GetIntoTeaching.Core/CrossCuttingConcerns/DependencyInjection/ServiceFactoryExtensions.cs
  GetIntoTeaching.Core/CrossCuttingConcerns/Mediator/CompositionRoot.cs
  GetIntoTeaching.Core/CrossCuttingConcerns/Mediator/Extensions/MediatorExtensionscs.cs
  GetIntoTeaching.Core/CrossCuttingConcerns/Mediator/Extensions/ServiceFactory.cs
  GetIntoTeaching.Core/CrossCuttingConcerns/Mediator/IHandler.cs
  GetIntoTeaching.Core/CrossCuttingConcerns/Mediator/IMediator.cs
  GetIntoTeaching.Core/CrossCuttingConcerns/Mediator/Mediator.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/BackgroundProcessorResult.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundJobProcessService.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundJobProcessor.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundJobProcessorRequest.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundProcessHandler.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundProcessor.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundProcessorRequest.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateBackgroundProcessing/HangfireBackgroundProcessingService.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateBackgroundProcessing/Processors/UpsertCandidateProcessor.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateBackgroundProcessing/Processors/UpsertCandidateProcessorRequest.cs
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Controllers/Spencer/SpencersCandidatesController.cs
Labels: VisualCSharp

add creation channel to mailing list endpoint
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/MailingListAddMemberValidatorTests.cs
Labels: VisualCSharp, Test

add creation channel to mailing list endpoint
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/MailingListAddMemberValidatorTests.cs
Labels: VisualCSharp, Test

WIP - CRM bits and pieces
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundJobProcessorRequest.cs
  GetIntoTeaching.Core/Infrastructure/RelationshipManagement/CrmCommandHandler.cs
  GetIntoTeaching.Core/Infrastructure/RelationshipManagement/ICrmCommandHandler.cs
  GetIntoTeaching.Core/Infrastructure/RelationshipManagement/ICrmCommandQuery.cs
  GetIntoTeaching.Core/Infrastructure/RelationshipManagement/ICrmQuery.cs
  GetIntoTeaching.Core/Infrastructure/RelationshipManagement/ICrmQueryHandler.cs
  GetIntoTeaching.Core/Infrastructure/RelationshipManagement/ICrmServiceClient.cs
  GetIntoTeaching.Core/Infrastructure/RelationshipManagement/ICrmServiceClientProvider.cs
Labels: none

WIP - CRM bits and pieces
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundJobProcessorRequest.cs
  GetIntoTeaching.Core/Infrastructure/RelationshipManagement/CrmCommandHandler.cs
  GetIntoTeaching.Core/Infrastructure/RelationshipManagement/ICrmCommandHandler.cs
  GetIntoTeaching.Core/Infrastructure/RelationshipManagement/ICrmCommandQuery.cs
  GetIntoTeaching.Core/Infrastructure/RelationshipManagement/ICrmQuery.cs
  GetIntoTeaching.Core/Infrastructure/RelationshipManagement/ICrmQueryHandler.cs
  GetIntoTeaching.Core/Infrastructure/RelationshipManagement/ICrmServiceClient.cs
  GetIntoTeaching.Core/Infrastructure/RelationshipManagement/ICrmServiceClientProvider.cs
Labels: none

WIP - build out of crm command handler
  GetIntoTeaching.Core/GetIntoTeaching.Core.csproj
  GetIntoTeaching.Core/Infrastructure/RelationshipManagement/CrmCommandHandler.cs
  GetIntoTeaching.Core/Infrastructure/RelationshipManagement/ICrmCommandHandler.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateManagement/DynamicsCrmCommandHandler.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateManagement/DynamicsCrmQueryHandler.cs
Labels: none

WIP - build out of crm command handler
  GetIntoTeaching.Core/GetIntoTeaching.Core.csproj
  GetIntoTeaching.Core/Infrastructure/RelationshipManagement/CrmCommandHandler.cs
  GetIntoTeaching.Core/Infrastructure/RelationshipManagement/ICrmCommandHandler.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateManagement/DynamicsCrmCommandHandler.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateManagement/DynamicsCrmQueryHandler.cs
Labels: none

WIP - some namespace changes
  GetIntoTeaching.Core/CrossCuttingConcerns/Mediator/IMediator.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/BackgroundProcessorResult.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundJobProcessor.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundJobProcessorRequest.cs
  GetIntoTeaching.Core/Infrastructure/Persistence/CrmCommandHandler.cs
  GetIntoTeaching.Core/Infrastructure/Persistence/ICrmCommandHandler.cs
  GetIntoTeaching.Core/Infrastructure/Persistence/ICrmCommandQuery.cs
  GetIntoTeaching.Core/Infrastructure/Persistence/ICrmQuery.cs
  GetIntoTeaching.Core/Infrastructure/Persistence/ICrmQueryHandler.cs
  GetIntoTeaching.Core/Infrastructure/Persistence/ICrmServiceClient.cs
  GetIntoTeaching.Core/Infrastructure/Persistence/ICrmServiceClientProvider.cs
  GetIntoTeaching.Core/Infrastructure/RelationshipManagement/ICrmServiceClient.cs
  GetIntoTeaching/GetIntoTeaching.csproj
  GetIntoTeaching/Infrastructure/Persistence/BackgroundProcessing/HangfireBackgroundProcessingService.cs
  GetIntoTeaching/Infrastructure/Persistence/BackgroundProcessing/Processors/UpsertCandidateProcessor.cs
  GetIntoTeaching/Infrastructure/Persistence/DynamicsCrmCommandHandler.cs
  GetIntoTeaching/Infrastructure/Persistence/Repositories/CandidateReadOnlyRepository.cs
Labels: none

WIP - some namespace changes
  GetIntoTeaching.Core/CrossCuttingConcerns/Mediator/IMediator.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/BackgroundProcessorResult.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundJobProcessor.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundJobProcessorRequest.cs
  GetIntoTeaching.Core/Infrastructure/Persistence/CrmCommandHandler.cs
  GetIntoTeaching.Core/Infrastructure/Persistence/ICrmCommandHandler.cs
  GetIntoTeaching.Core/Infrastructure/Persistence/ICrmCommandQuery.cs
  GetIntoTeaching.Core/Infrastructure/Persistence/ICrmQuery.cs
  GetIntoTeaching.Core/Infrastructure/Persistence/ICrmQueryHandler.cs
  GetIntoTeaching.Core/Infrastructure/Persistence/ICrmServiceClient.cs
  GetIntoTeaching.Core/Infrastructure/Persistence/ICrmServiceClientProvider.cs
  GetIntoTeaching.Core/Infrastructure/RelationshipManagement/ICrmServiceClient.cs
  GetIntoTeaching/GetIntoTeaching.csproj
  GetIntoTeaching/Infrastructure/Persistence/BackgroundProcessing/HangfireBackgroundProcessingService.cs
  GetIntoTeaching/Infrastructure/Persistence/BackgroundProcessing/Processors/UpsertCandidateProcessor.cs
  GetIntoTeaching/Infrastructure/Persistence/DynamicsCrmCommandHandler.cs
  GetIntoTeaching/Infrastructure/Persistence/Repositories/CandidateReadOnlyRepository.cs
Labels: none

wip - more changes
  GetIntoTeaching.Core/Infrastructure/Persistence/CrmCommandHandler.cs
  GetIntoTeaching.Core/Infrastructure/Persistence/ICrmCommandHandler.cs
  GetIntoTeaching.Core/Infrastructure/Persistence/ICrmQueryHandler.cs
  GetIntoTeaching/Infrastructure/Persistence/DynamicsCrmCommandHandler.cs
Labels: none

wip - more changes
  GetIntoTeaching.Core/Infrastructure/Persistence/CrmCommandHandler.cs
  GetIntoTeaching.Core/Infrastructure/Persistence/ICrmCommandHandler.cs
  GetIntoTeaching.Core/Infrastructure/Persistence/ICrmQueryHandler.cs
  GetIntoTeaching/Infrastructure/Persistence/DynamicsCrmCommandHandler.cs
Labels: none

add creation channels to remaining endpoints
  GetIntoTeachingApi/Models/GetIntoTeaching/GetIntoTeachingCallback.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/GetIntoTeachingCallbackTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/GetIntoTeachingCallbackValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidatorTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/SchoolsExperienceSignUpValidatorTests.cs
Labels: VisualCSharp, Test

add creation channels to remaining endpoints
  GetIntoTeachingApi/Models/GetIntoTeaching/GetIntoTeachingCallback.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/GetIntoTeachingCallbackTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/GetIntoTeachingCallbackValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidatorTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/SchoolsExperienceSignUpValidatorTests.cs
Labels: VisualCSharp, Test

wip - bit more on the query handlers
  GetIntoTeaching.Core/Infrastructure/Persistence/CrmCommandHandler.cs
  GetIntoTeaching.Core/Infrastructure/Persistence/ICrmCommandHandler.cs
  GetIntoTeaching/Infrastructure/Persistence/DynamicsCrmCommandHandler.cs
Labels: none

wip - bit more on the query handlers
  GetIntoTeaching.Core/Infrastructure/Persistence/CrmCommandHandler.cs
  GetIntoTeaching.Core/Infrastructure/Persistence/ICrmCommandHandler.cs
  GetIntoTeaching/Infrastructure/Persistence/DynamicsCrmCommandHandler.cs
Labels: none

Some smallchages
  GetIntoTeaching/Infrastructure/Persistence/BackgroundProcessing/Processors/UpsertCandidateProcessor.cs
  GetIntoTeaching/Infrastructure/Persistence/DynamicsCrmCommandHandler.cs
  GetIntoTeachingApi/Controllers/Spencer/SpencersCandidatesController.cs
Labels: VisualCSharp

Some smallchages
  GetIntoTeaching/Infrastructure/Persistence/BackgroundProcessing/Processors/UpsertCandidateProcessor.cs
  GetIntoTeaching/Infrastructure/Persistence/DynamicsCrmCommandHandler.cs
  GetIntoTeachingApi/Controllers/Spencer/SpencersCandidatesController.cs
Labels: VisualCSharp

Made changes to force code reuse and keep SonarQube happy
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/ContactChannelCreation.cs
  GetIntoTeachingApi/Models/Crm/ContactChannelCreations.cs
  GetIntoTeachingApi/Models/Crm/ICreateContactChannel.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/GetIntoTeachingCallback.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/GetIntoTeachingCallbackTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

Made changes to force code reuse and keep SonarQube happy
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/ContactChannelCreation.cs
  GetIntoTeachingApi/Models/Crm/ContactChannelCreations.cs
  GetIntoTeachingApi/Models/Crm/ICreateContactChannel.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/GetIntoTeachingCallback.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/GetIntoTeachingCallbackTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

Initial config setup
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Program.cs
Labels: VisualCSharp

WIP - added http request correlation id in support of Serilog
  GetIntoTeachingApi/Adapters/IPerformContextAdapter.cs
  GetIntoTeachingApi/Adapters/PerformContextAdapter.cs
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/HttpContextCorrelationIdProvider.cs
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/IHttpContextCorrelationIdProvider.cs
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/CorrelationIdLogEnricher.cs
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/LogEventExtensions.cs
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/Serilog/Middleware/SerilogCorrelationIdMiddleware.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/appsettings.json
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

WIP - logging correlation id - tidy-up
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/CorrelationIdLogEnricher.cs
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/LogEventExtensions.cs
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/Serilog/Middleware/SerilogCorrelationIdMiddleware.cs
Labels: VisualCSharp

Fixed dependency issue
  GetIntoTeaching.Core/GetIntoTeaching.Core.csproj
  GetIntoTeachingApi/AppStart/Startup.cs
Labels: VisualCSharp

Fixed dependency issue
  GetIntoTeaching.Core/GetIntoTeaching.Core.csproj
  GetIntoTeachingApi/AppStart/Startup.cs
Labels: VisualCSharp

WIP - logging
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/HttpContextCorrelationIdProvider.cs
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/Serilog/Middleware/SerilogCorrelationIdMiddleware.cs
  GetIntoTeachingApi/Jobs/BaseJob.cs
  GetIntoTeachingApi/Jobs/FilterAttributes/CorrelationIdFilter.cs
  GetIntoTeachingApi/Jobs/FilterAttributes/CorrelationIdFilterAttribute.cs
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/CorrelationIdLogEnricherTests.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/LogEventExtensionsTests.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/TestDoubles/Builders/HttpContextBuilder.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/TestDoubles/HttpContextAccessorTestDouble.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/TestDoubles/HttpContextCorrelationIdProviderTestDouble.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/TestDoubles/LogEventBuilderTestDouble.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/TestDoubles/LogEventPropertyFactoryTestDouble.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/HttpContextCorrelationIdProviderTests.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/Middleware/SerilogCorrelationIdMiddlewareTests.cs
  GetIntoTeachingApiTests/Jobs/FilterAttributes/CorrelationIdFilterTests.cs
Labels: VisualCSharp, Test

Removed ContactChannelCreations object which encapsulated list of ContactChannelCreation types given the attribute was masked from the underlying reflection property values extractor.
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/ContactChannelCreations.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/GetIntoTeachingCallbackTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

Removed ContactChannelCreations object which encapsulated list of ContactChannelCreation types given the attribute was masked from the underlying reflection property values extractor.
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/ContactChannelCreations.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/GetIntoTeachingCallbackTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

WIP
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/CorrelationIdLogEnricher.cs
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/Serilog/Middleware/SerilogCorrelationIdMiddleware.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/CorrelationIdLogEnricherTests.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/TestDoubles/Builders/HttpContextBuilder.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/TestDoubles/HttpContextAccessorTestDouble.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/TestDoubles/HttpContextTestDouble.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/TestDoubles/LogEventBuilderTestDouble.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/TestDoubles/LogEventTestDouble.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: VisualCSharp, Test

update apply api method to set contact creation channel
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Jobs/ContactChannelCandidateWrapper.cs
Labels: VisualCSharp

update apply api method to set contact creation channel
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Jobs/ContactChannelCandidateWrapper.cs
Labels: VisualCSharp

WIP - logging correlation ID
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/CorrelationIdLogEnricherTests.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/TestDoubles/LogEventPropertyFactoryTestDouble.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/TestDoubles/LogEventTestDouble.cs
Labels: Test

Corrected syntax error
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/TestDoubles/LogEventTestDouble.cs
Labels: Test

Removed async from correlation ID middleware
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/Serilog/Middleware/SerilogCorrelationIdMiddleware.cs
Labels: VisualCSharp

made service client provider get method generic
  GetIntoTeaching.Core/Infrastructure/Persistence/CrmCommandHandler.cs
  GetIntoTeaching.Core/Infrastructure/Persistence/ICrmQueryHandler.cs
  GetIntoTeaching.Core/Infrastructure/Persistence/ICrmServiceClient.cs
  GetIntoTeaching.Core/Infrastructure/Persistence/ICrmServiceClientProvider.cs
  GetIntoTeaching/Infrastructure/Persistence/DynamicsCrmCommandHandler.cs
Labels: none

made service client provider get method generic
  GetIntoTeaching.Core/Infrastructure/Persistence/CrmCommandHandler.cs
  GetIntoTeaching.Core/Infrastructure/Persistence/ICrmQueryHandler.cs
  GetIntoTeaching.Core/Infrastructure/Persistence/ICrmServiceClient.cs
  GetIntoTeaching.Core/Infrastructure/Persistence/ICrmServiceClientProvider.cs
  GetIntoTeaching/Infrastructure/Persistence/DynamicsCrmCommandHandler.cs
Labels: none

WIP - building out test coverage
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/Common/CorrelationPropertyKeys.cs
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/HttpContextCorrelationIdProvider.cs
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/CorrelationIdLogEnricher.cs
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/LogEventExtensions.cs
  GetIntoTeachingApi/CrossCuttingConcerns/Logging/Serilog/Middleware/SerilogCorrelationIdMiddleware.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/CorrelationIdLogEnricherTests.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/TestDoubles/HttpContextAccessorTestDouble.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/TestDoubles/HttpContextTestDouble.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/TestDoubles/LogEventPropertyFactoryTestDouble.cs
  GetIntoTeachingApiTests/CrossCuttingConcerns/Logging/Serilog/CustomEnrichers/TestDoubles/LogEventTestDouble.cs
Labels: VisualCSharp, Test
