Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

Collect metric on in person event result counts
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApi/Services/IMetricService.cs
  GetIntoTeachingApi/Services/MetricService.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
  GetIntoTeachingApiTests/Services/MetricServiceTests.cs
Labels: VisualCSharp, Test

Update event search dashboard to show in-person results
  monitoring/grafana/dashboards/get_into_teaching_api_event_search.json
Labels: Monitoring

Update event search dashboard to show in-person results
  monitoring/grafana/dashboards/get_into_teaching_api_event_search.json
Labels: Monitoring

Fix controller annotations
  GetIntoTeachingApi/Controllers/TeachingEventBuildingsController.cs
Labels: VisualCSharp

Fix controller annotations
  GetIntoTeachingApi/Controllers/TeachingEventBuildingsController.cs
Labels: VisualCSharp

Update teaching event sync to get buildings from the db
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Update teaching event sync to get buildings from the db
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Ensure teaching event is connected to a building when saved
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test

Ensure teaching event is connected to a building when saved
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test

Correct metric name
  monitoring/grafana/dashboards/get_into_teaching_api_event_search.json
Labels: Monitoring

Correct metric name
  monitoring/grafana/dashboards/get_into_teaching_api_event_search.json
Labels: Monitoring

Create trello.yml
  .github/workflows/trello.yml
Labels: DevOps

Fixed Bracket
  .github/workflows/trello.yml
Labels: DevOps

Create trello.yml (#541)
  .github/workflows/trello.yml
Labels: DevOps

Create trello.yml (#541)
  .github/workflows/trello.yml
Labels: DevOps

Add attribute tests
  GetIntoTeachingApi/Controllers/TeachingEventBuildingsController.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventBuildingsControllerTests.cs
Labels: VisualCSharp, Test

Add attribute tests
  GetIntoTeachingApi/Controllers/TeachingEventBuildingsController.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventBuildingsControllerTests.cs
Labels: VisualCSharp, Test

Fix false negatives in attribute tests
  GetIntoTeachingApiTests/Controllers/LookupItemsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
Labels: Test

Fix false negatives in attribute tests
  GetIntoTeachingApiTests/Controllers/LookupItemsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
Labels: Test

Fix test name
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
Labels: Test

Fix test name
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
Labels: Test

Add tests to ensure that a sync removes cached buildings not in CRM
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test

Add tests to ensure that a sync removes cached buildings not in CRM
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test

Common Delivery Method Used
  terraform/paas/monitoring.tf
  terraform/paas/sandbox.env.tfvars
  terraform/paas/services.tf
Labels: DevOps

Serialize attribute names to camelCase instead of PascalCase
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Utils/JsonExtensions.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Jobs/MagicLinkTokenGenerationJobTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
  GetIntoTeachingApiTests/Utils/JsonExtensionsTests.cs
  README.md
Labels: VisualCSharp, Test

Serialize attribute names to camelCase instead of PascalCase
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Utils/JsonExtensions.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Jobs/MagicLinkTokenGenerationJobTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
  GetIntoTeachingApiTests/Utils/JsonExtensionsTests.cs
  README.md
Labels: VisualCSharp, Test

Add utilty class to redact sensitive data from JSON
  GetIntoTeachingApi/Utils/Redactor.cs
  GetIntoTeachingApiTests/Utils/RedactorTests.cs
  README.md
Labels: VisualCSharp, Test

Log out request/response payloads
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Middleware/RequestResponseLoggingMiddleware.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/RequestResponseLoggingMiddlewareExtensions.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Middleware/RequestResponseLoggingMiddlewareTests.cs
Labels: VisualCSharp, Test

Log out request/response payloads
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Middleware/RequestResponseLoggingMiddleware.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/RequestResponseLoggingMiddlewareExtensions.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Middleware/RequestResponseLoggingMiddlewareTests.cs
Labels: VisualCSharp, Test

Add utilty class to redact sensitive data from JSON
  GetIntoTeachingApi/Utils/Redactor.cs
  GetIntoTeachingApiTests/Utils/RedactorTests.cs
  README.md
Labels: VisualCSharp, Test

Log out JSON job payloads
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
Labels: VisualCSharp, Test

Log out JSON job payloads
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
Labels: VisualCSharp, Test

Attach correlation IDs to logs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

Attach correlation IDs to logs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

Revert "Attach correlation IDs to logs"
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

Revert "Attach correlation IDs to logs"
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

Update search radius to match new values
  monitoring/grafana/dashboards/get_into_teaching_api_event_search.json
Labels: Monitoring

Update search radius to match new values
  monitoring/grafana/dashboards/get_into_teaching_api_event_search.json
Labels: Monitoring

Fix Swagger annotation
  GetIntoTeachingApi/Controllers/TeachingEventBuildingsController.cs
Labels: VisualCSharp

Fix Swagger annotation
  GetIntoTeachingApi/Controllers/TeachingEventBuildingsController.cs
Labels: VisualCSharp

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml
