Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApi/**/*.cs'

Test:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApiTests/**/*'

Monitoring:
- changed-files:
  - any-glob-to-any-file: 'monitoring/**/*'

DevOps:
- changed-files:
  - any-glob-to-any-file: 'terraform/**/*'
  - any-glob-to-any-file: '.github/**/*.yml'

Docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: 'docker-compose.yml'

updating application choice
  GetIntoTeachingApi/Models/Apply/ApplicationChoice.cs
Labels: VisualCSharp

adding in test env var
  GetIntoTeachingApi/env.test
Labels: none

reverting and defaulting null value
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/env.test
Labels: VisualCSharp

Update production postgres sku to v5
  terraform/aks/config/production.tfvars.json
Labels: DevOps

pin 3rd party github actions
  .github/workflows/build-and-deploy.yml
  .github/workflows/pull_request.yml
Labels: DevOps

Remove test path from PR workflow
  .github/workflows/pull_request.yml
Labels: DevOps

Update ignore list on pull request
  .github/workflows/build-and-deploy.yml
Labels: DevOps

Restore Azure login step to manual release
  .github/workflows/manual.yml
Labels: DevOps

Changed build-docker-image action to dependabot update branch
  .github/workflows/build-no-cache.yml
Labels: DevOps

Updated build-docker-image to dependabot update for setup-buildx-action
  .github/workflows/build-no-cache.yml
Labels: DevOps

Updated build-docker-image to dependabot update for login-action
  .github/workflows/build-no-cache.yml
Labels: DevOps

Add GraduationYear to adviser sign-up payload
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

update contract tests
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_not_final_year_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
Labels: Test

candidate access token
  doc-spec/CandidatesControllerAccessTokens.md
  doc-spec/TeacherTrainingAdviserCandidatesControllerExchangeAccessToken.md
Labels: none

The rest
  doc-spec/CallbacksController.md
  doc-spec/OperationsController.md
  doc-spec/PrivacyPoliciesController.md
  doc-spec/TeacherTrainingAdviserCandidatesController.md
  doc-spec/TeacherTrainingAdviserCandidatesControllerMatchback.md
  endpoints-analysis.md
Labels: none

Added spec for pick list items endpoints
  docs/crm-api-spec.md
Labels: none

candidate access token
  crm-spec/CandidatesControllerAccessTokens.md
  crm-spec/TeacherTrainingAdviserCandidatesControllerExchangeAccessToken.md
  crm-spec/TeacherTrainingAdviserCandidatesControllerMatchback.md
  crm-spec/TeacherTrainingAdviserCandidatesControllerSignUp.md
Labels: none

update
  crm-spec/TeacherTrainingAdviserCandidatesControllerMatchback.md
  crm-spec/TeacherTrainingAdviserCandidatesControllerSignUp.md
  docs/crm_upsert_specs/CandidatesControllerAccessTokens.md
  docs/crm_upsert_specs/TeacherTrainingAdviserCandidatesControllerExchangeAccessToken.md
Labels: none

new error format
  docs/crm_upsert_specs/CandidatesControllerAccessTokens.md
  docs/crm_upsert_specs/TeacherTrainingAdviserCandidatesControllerExchangeAccessToken.md
Labels: none

Added all other GET endpoints
  docs/crm-api-spec.md
Labels: none

update doc
  docs/crm_upsert_specs/CandidatesControllerAccessTokens.md
  docs/crm_upsert_specs/TeacherTrainingAdviserCandidatesControllerExchangeAccessToken.md
Labels: none

Run PR workflow for docs changes
  .github/workflows/pull_request.yml
Labels: DevOps

Stop ignoring docs/** in CI workflows
  .github/workflows/build-and-deploy.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Update sonarcloud.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

PR - 2683 - New GitHub action validate infra workflow
  .github/workflows/validate-infrastructure.yml
  Makefile
Labels: DevOps

TTA sign up and matchback POST endpoints
  docs/crm_upsert_specs/TeacherTrainingAdviserCandidatesControllerMatchback.md
Labels: none

fix
  docs/crm_upsert_specs/TeacherTrainingAdviserCandidatesControllerSignUp.md
Labels: none

PR feedback
  docs/crm_upsert_specs/TeacherTrainingAdviserCandidatesControllerSignUp.md
Labels: none

PR comment
  docs/crm_upsert_specs/TeacherTrainingAdviserCandidatesControllerMatchback.md
Labels: none

update doc
  docs/crm_upsert_specs/TeacherTrainingAdviserCandidatesControllerMatchback.md
  docs/crm_upsert_specs/TeacherTrainingAdviserCandidatesControllerSignUp.md
Labels: none

new error format
  docs/crm_upsert_specs/TeacherTrainingAdviserCandidatesControllerMatchback.md
Labels: none

GIT endpoints
  docs/crm_upsert_specs/GetIntoTeachingCallbacksControllerBook.md
  docs/crm_upsert_specs/GetIntoTeachingCallbacksControllerExchangeAccessToken.md
  docs/crm_upsert_specs/GetIntoTeachingCallbacksControllerMatchback.md
Labels: none

PR - 2683 - Missing with var and removing domains
  .github/workflows/validate-infrastructure.yml
Labels: DevOps

school experience
  docs/crm_upsert_specs/SchoolsExperienceCandidatesControllerSignUp.md
Labels: none

School experience endpoints
  docs/crm_upsert_specs/SchoolsExperienceCandidatesControllerAddSchoolExperience.md
  docs/crm_upsert_specs/SchoolsExperienceCandidatesControllerExchangeAccessToken.md
Labels: none

Documentation for mailing list endpoints
  docs/crm_upsert_specs/MailingListControllerMembers.md
  docs/crm_upsert_specs/MailingListControllerMembersExchangeAccessToken.md
Labels: none

Pr comments
  docs/crm_upsert_specs/SchoolsExperienceCandidatesControllerAddSchoolExperience.md
  docs/crm_upsert_specs/SchoolsExperienceCandidatesControllerSignUp.md
Labels: none

pr comments
  docs/crm_upsert_specs/MailingListControllerMembers.md
Labels: none

Remove proposed change from /api/schools_experience/candidates
  docs/crm_upsert_specs/SchoolsExperienceCandidatesControllerSignUp.md
Labels: none

Operation documents
  docs/crm_upsert_specs/OperationsControllerBackfillApplyCandidates.md
  docs/crm_upsert_specs/OperationsControllerBackfillApplyCandidatesFromIds.md
  docs/crm_upsert_specs/OperationsControllerPauseCrmIntegration.md
  docs/crm_upsert_specs/OperationsControllerResumeCrmIntegration.md
Labels: none
