Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApi/**/*.cs'

Test:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApiTests/**/*'

Monitoring:
- changed-files:
  - any-glob-to-any-file: 'monitoring/**/*'

DevOps:
- changed-files:
  - any-glob-to-any-file: 'terraform/**/*'
  - any-glob-to-any-file: '.github/**/*.yml'

Docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: 'docker-compose.yml'

Prevent duplicate Apply contact channel creation
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
Labels: VisualCSharp

Added store updates for initial picklist hydration, as well as new picklist items for citizenship, visa status, and location.
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
Labels: VisualCSharp, Test

Added store updates for initial picklist hydration, as well as new picklist items for citizenship, visa status, and location.
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
Labels: VisualCSharp, Test

Added citizenship, visa status and location to picklist items.
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
Labels: VisualCSharp, Test

Added citizenship, visa status and location to picklist items.
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
Labels: VisualCSharp, Test

Fix for multiple apply contact channel records
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Jobs/CandidateChannelConfigurationHandler.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/env.prod
  GetIntoTeachingApiTests/Jobs/ApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/CandidateChannelConfigurationHandlerTests.cs
Labels: VisualCSharp, Test

Fix for multiple apply contact channel records
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Jobs/CandidateChannelConfigurationHandler.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/env.prod
  GetIntoTeachingApiTests/Jobs/ApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/CandidateChannelConfigurationHandlerTests.cs
Labels: VisualCSharp, Test

Handle CRM FaultException when loading ContactChannelCreation
  GetIntoTeachingApi/Services/CrmService.cs
Labels: VisualCSharp

Handle CRM FaultException when loading ContactChannelCreation
  GetIntoTeachingApi/Services/CrmService.cs
Labels: VisualCSharp

Modified MailingListAddMember to allow nullable Citizenship.
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
Labels: VisualCSharp

Modified MailingListAddMember to allow nullable Citizenship.
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
Labels: VisualCSharp

Building sanitisation rule handler
  GetIntoTeachingApi/Jobs/ApplyBackfillJob.cs
  GetIntoTeachingApi/Jobs/CandidateSanitisation/CandidateSanitisationDeduplicateApplyChannelRule.cs
  GetIntoTeachingApi/Jobs/CandidateSanitisation/CandidateSanitisationRulesHandler.cs
  GetIntoTeachingApi/Jobs/CandidateSanitisation/ICandidateSanitisationRule.cs
  GetIntoTeachingApi/Jobs/CandidateSanitisation/ICandidateSanitisationRulesHandler.cs
  GetIntoTeachingApiTests/Jobs/CandidateSanitisation/CandidateSanitisationDeduplicateApplyChannelRuleTests.cs
Labels: VisualCSharp, Test

Building sanitisation rule handler
  GetIntoTeachingApi/Jobs/ApplyBackfillJob.cs
  GetIntoTeachingApi/Jobs/CandidateSanitisation/CandidateSanitisationDeduplicateApplyChannelRule.cs
  GetIntoTeachingApi/Jobs/CandidateSanitisation/CandidateSanitisationRulesHandler.cs
  GetIntoTeachingApi/Jobs/CandidateSanitisation/ICandidateSanitisationRule.cs
  GetIntoTeachingApi/Jobs/CandidateSanitisation/ICandidateSanitisationRulesHandler.cs
  GetIntoTeachingApiTests/Jobs/CandidateSanitisation/CandidateSanitisationDeduplicateApplyChannelRuleTests.cs
Labels: VisualCSharp, Test

Add extra test, refactor
  GetIntoTeachingApi/Jobs/CandidateSanitisation/CandidateSanitisationDeduplicateApplyChannelRule.cs
  GetIntoTeachingApiTests/Jobs/CandidateSanitisation/CandidateSanitisationDeduplicateApplyChannelRuleTests.cs
Labels: VisualCSharp, Test

Add extra test, refactor
  GetIntoTeachingApi/Jobs/CandidateSanitisation/CandidateSanitisationDeduplicateApplyChannelRule.cs
  GetIntoTeachingApiTests/Jobs/CandidateSanitisation/CandidateSanitisationDeduplicateApplyChannelRuleTests.cs
Labels: VisualCSharp, Test

update tests
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Jobs/CandidateChannelConfigurationHandler.cs
  GetIntoTeachingApi/Jobs/CandidateSanitisation/CandidateSanitisationRulesHandler.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Jobs/ApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/CandidateChannelConfigurationHandlerTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

update tests
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Jobs/CandidateChannelConfigurationHandler.cs
  GetIntoTeachingApi/Jobs/CandidateSanitisation/CandidateSanitisationRulesHandler.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Jobs/ApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/CandidateChannelConfigurationHandlerTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

Refactoring over existing creation channel sanitisation tests and refactor of rule
  GetIntoTeachingApi/Jobs/CandidateSanitisation/CandidateSanitisationDeduplicateApplyChannelRule.cs
  GetIntoTeachingApiTests/Jobs/CandidateSanitisation/CandidateSanitisationDeduplicateApplyChannelRuleTests.cs
  GetIntoTeachingApiTests/Jobs/CandidateSanitisation/TestDoubles/CandidateBuilder.cs
  GetIntoTeachingApiTests/Jobs/CandidateSanitisation/TestDoubles/ContactChannelCreationTestDouble.cs
  GetIntoTeachingApiTests/Jobs/CandidateSanitisation/TestDoubles/CrmServiceTestDouble.cs
Labels: VisualCSharp, Test

Refactoring over existing creation channel sanitisation tests and refactor of rule
  GetIntoTeachingApi/Jobs/CandidateSanitisation/CandidateSanitisationDeduplicateApplyChannelRule.cs
  GetIntoTeachingApiTests/Jobs/CandidateSanitisation/CandidateSanitisationDeduplicateApplyChannelRuleTests.cs
  GetIntoTeachingApiTests/Jobs/CandidateSanitisation/TestDoubles/CandidateBuilder.cs
  GetIntoTeachingApiTests/Jobs/CandidateSanitisation/TestDoubles/ContactChannelCreationTestDouble.cs
  GetIntoTeachingApiTests/Jobs/CandidateSanitisation/TestDoubles/CrmServiceTestDouble.cs
Labels: VisualCSharp, Test

Removed redundant tests
  GetIntoTeachingApiTests/Jobs/ApplyCandidateSyncJobTests.cs
Labels: Test

Removed redundant tests
  GetIntoTeachingApiTests/Jobs/ApplyCandidateSyncJobTests.cs
Labels: Test

genericifying the sanitisation rules
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Jobs/CandidateSanitisation/CandidateSanitisationRulesHandler.cs
  GetIntoTeachingApi/Jobs/CandidateSanitisation/ICandidateSanitisationRule.cs
  GetIntoTeachingApi/Jobs/CandidateSanitisation/ICandidateSanitisationRulesHandler.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/CandidateModelSanitisation/CandidateSanitisationDeduplicateApplyChannelRule.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/CandidateModelSanitisation/CrmModelSanitisationRulesHandler.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationSanitisationRule.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationSanitisationRulesHandler.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ICrmModelSanitisationRule.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ICrmModelSanitisationRulesHandler.cs
  GetIntoTeachingApi/Jobs/UpsertModelWithCandidateIdJob.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

genericifying the sanitisation rules
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Jobs/CandidateSanitisation/CandidateSanitisationRulesHandler.cs
  GetIntoTeachingApi/Jobs/CandidateSanitisation/ICandidateSanitisationRule.cs
  GetIntoTeachingApi/Jobs/CandidateSanitisation/ICandidateSanitisationRulesHandler.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/CandidateModelSanitisation/CandidateSanitisationDeduplicateApplyChannelRule.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/CandidateModelSanitisation/CrmModelSanitisationRulesHandler.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationSanitisationRule.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationSanitisationRulesHandler.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ICrmModelSanitisationRule.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ICrmModelSanitisationRulesHandler.cs
  GetIntoTeachingApi/Jobs/UpsertModelWithCandidateIdJob.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

Create ContactChannelCreationSchoolExperienceSanitisationRule.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationSchoolExperienceSanitisationRule.cs
Labels: VisualCSharp

Create ContactChannelCreationSchoolExperienceSanitisationRule.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationSchoolExperienceSanitisationRule.cs
Labels: VisualCSharp

Aligned all changes - now working
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/CandidateModelSanitisation/CrmModelSanitisationRulesHandler.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationSanitisationRule.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ICrmModelSanitisationRule.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ICrmModelSanitisationRulesHandler.cs
  GetIntoTeachingApi/Jobs/UpsertModelWithCandidateIdJob.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Jobs/CandidateSanitisation/CandidateSanitisationDeduplicateApplyChannelRuleTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

Aligned all changes - now working
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/CandidateModelSanitisation/CrmModelSanitisationRulesHandler.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationSanitisationRule.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ICrmModelSanitisationRule.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ICrmModelSanitisationRulesHandler.cs
  GetIntoTeachingApi/Jobs/UpsertModelWithCandidateIdJob.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Jobs/CandidateSanitisation/CandidateSanitisationDeduplicateApplyChannelRuleTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

More WIP
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/CandidateModelSanitisation/CandidateSanitisationDeduplicateApplyChannelRule.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/CandidateModelSanitisation/CrmModelSanitisationRulesHandler.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationDuplicateSanitisationRule.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationSanitisationRequestWrapper.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationSanitisationRule.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationSanitisationRulesHandler.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationSchoolExperienceSanitisationRule.cs
  GetIntoTeachingApi/Jobs/UpsertModelWithCandidateIdJob.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/CandidateSanitisationDeduplicateApplyChannelRuleTests.DELETEME
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationDuplicateSanitisationRuleTests.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/TestDoubles/CandidateBuilder.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/TestDoubles/ContactChannelCreationTestDouble.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/TestDoubles/CrmServiceTestDouble.cs
  GetIntoTeachingApiTests/Jobs/UpsertModelWithCandidateIdJobTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

More WIP
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/CandidateModelSanitisation/CandidateSanitisationDeduplicateApplyChannelRule.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/CandidateModelSanitisation/CrmModelSanitisationRulesHandler.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationDuplicateSanitisationRule.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationSanitisationRequestWrapper.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationSanitisationRule.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationSanitisationRulesHandler.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationSchoolExperienceSanitisationRule.cs
  GetIntoTeachingApi/Jobs/UpsertModelWithCandidateIdJob.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/CandidateSanitisationDeduplicateApplyChannelRuleTests.DELETEME
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationDuplicateSanitisationRuleTests.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/TestDoubles/CandidateBuilder.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/TestDoubles/ContactChannelCreationTestDouble.cs
  GetIntoTeachingApiTests/Jobs/CrmModelSanitisation/TestDoubles/CrmServiceTestDouble.cs
  GetIntoTeachingApiTests/Jobs/UpsertModelWithCandidateIdJobTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

more wip
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/Jobs/ApplyBackfillJob.cs
  GetIntoTeachingApi/Jobs/UpsertModelWithCandidateIdJob.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Helpers/ContractCrmService.cs
Labels: VisualCSharp, Test

more wip
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/Jobs/ApplyBackfillJob.cs
  GetIntoTeachingApi/Jobs/UpsertModelWithCandidateIdJob.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Helpers/ContractCrmService.cs
Labels: VisualCSharp, Test

Added strategy to isolate upsert for greater testability and created repository abstraction to save and retrieve creation channel records
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationDuplicateSanitisationRule.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationSanitisationRequestWrapper.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationSanitisationRulesHandler.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/ContactChannelCreationSaveRequest.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/ICandidateContactChannelCreationsRepository.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/SaveResult.cs
  GetIntoTeachingApi/Jobs/UpsertStrategies/ContactChannelCreationUpsertStrategy .cs
  GetIntoTeachingApi/Jobs/UpsertStrategies/ICrmlUpsertStrategy.cs
Labels: VisualCSharp

Added strategy to isolate upsert for greater testability and created repository abstraction to save and retrieve creation channel records
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationDuplicateSanitisationRule.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationSanitisationRequestWrapper.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/ContactChannelCreationSanitisationRulesHandler.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/ContactChannelCreationSaveRequest.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/ICandidateContactChannelCreationsRepository.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/SaveResult.cs
  GetIntoTeachingApi/Jobs/UpsertStrategies/ContactChannelCreationUpsertStrategy .cs
  GetIntoTeachingApi/Jobs/UpsertStrategies/ICrmlUpsertStrategy.cs
Labels: VisualCSharp

Wired-up the new upsert strategy into the upserter.
  GetIntoTeachingApi/Jobs/UpsertModelWithCandidateIdJob.cs
  GetIntoTeachingApi/Jobs/UpsertStrategies/ContactChannelCreationSanitisationUpsertStrategy .cs
  GetIntoTeachingApiTests/Jobs/UpsertModelWithCandidateIdJobTests.cs
Labels: VisualCSharp, Test

Wired-up the new upsert strategy into the upserter.
  GetIntoTeachingApi/Jobs/UpsertModelWithCandidateIdJob.cs
  GetIntoTeachingApi/Jobs/UpsertStrategies/ContactChannelCreationSanitisationUpsertStrategy .cs
  GetIntoTeachingApiTests/Jobs/UpsertModelWithCandidateIdJobTests.cs
Labels: VisualCSharp, Test

EF core work - created model, extended snapshot, and created migration
  GetIntoTeachingApi/Database/GetIntoTeachingDbContext.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/CandidateContactChannelCreationsRepository.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/ContactChannelCreationSaveRequest.cs
  GetIntoTeachingApi/Jobs/UpsertStrategies/ContactChannelCreationSanitisationUpsertStrategy .cs
  GetIntoTeachingApi/Migrations/20252072313301_AddCandidateCandidateContactChannelCreationsTable.Designer.cs
  GetIntoTeachingApi/Migrations/20252072313301_AddCandidateCandidateContactChannelCreationsTable.cs
  GetIntoTeachingApi/Models/CandidateContactChannelCreations.cs
Labels: VisualCSharp

EF core work - created model, extended snapshot, and created migration
  GetIntoTeachingApi/Database/GetIntoTeachingDbContext.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/CandidateContactChannelCreationsRepository.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/ContactChannelCreationSaveRequest.cs
  GetIntoTeachingApi/Jobs/UpsertStrategies/ContactChannelCreationSanitisationUpsertStrategy .cs
  GetIntoTeachingApi/Migrations/20252072313301_AddCandidateCandidateContactChannelCreationsTable.Designer.cs
  GetIntoTeachingApi/Migrations/20252072313301_AddCandidateCandidateContactChannelCreationsTable.cs
  GetIntoTeachingApi/Models/CandidateContactChannelCreations.cs
Labels: VisualCSharp

Wired everything up
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/CandidateContactChannelCreationsRepository.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/CandidateContactChannelCreationsSqlRepository.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/SaveResult.cs
  GetIntoTeachingApi/Jobs/UpsertStrategies/ContactChannelCreationSanitisationUpsertStrategy .cs
Labels: VisualCSharp

Wired everything up
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/CandidateContactChannelCreationsRepository.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/CandidateContactChannelCreationsSqlRepository.cs
  GetIntoTeachingApi/Jobs/CrmModelSanitisation/ContactChannelCreationModelSanitisation/Repositories/SaveResult.cs
  GetIntoTeachingApi/Jobs/UpsertStrategies/ContactChannelCreationSanitisationUpsertStrategy .cs
Labels: VisualCSharp

Registered DI container dependencies.
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
Labels: VisualCSharp
