Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml

Map additional attributes on Find/Apply models
  GetIntoTeachingApi/Models/FindApply/ApplicationForm.cs
  GetIntoTeachingApi/Models/FindApply/CandidateAttributes.cs
  GetIntoTeachingApiTests/Models/FindApply/ApplicationFormTests.cs
  GetIntoTeachingApiTests/Models/FindApply/CandidateAttributesTests.cs
Labels: VisualCSharp, Test

Map additional attributes on Find/Apply models
  GetIntoTeachingApi/Models/FindApply/ApplicationForm.cs
  GetIntoTeachingApi/Models/FindApply/CandidateAttributes.cs
  GetIntoTeachingApiTests/Models/FindApply/ApplicationFormTests.cs
  GetIntoTeachingApiTests/Models/FindApply/CandidateAttributesTests.cs
Labels: VisualCSharp, Test

Add extension to convert to PascalCase
  GetIntoTeachingApi/Utils/StringExtensions.cs
  GetIntoTeachingApiTests/Utils/StringExtensionsTests.cs
Labels: VisualCSharp, Test

Add extension to convert to PascalCase
  GetIntoTeachingApi/Utils/StringExtensions.cs
  GetIntoTeachingApiTests/Utils/StringExtensionsTests.cs
Labels: VisualCSharp, Test

Sync additional Find/Apply data to CRM
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Map Find/Apply modelling to CRM entities
  GetIntoTeachingApi/Models/Crm/ApplicationForm.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/Validators/ApplicationFormValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Models/Crm/ApplicationFormTests.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ApplicationFormValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
Labels: VisualCSharp, Test

Map Find/Apply modelling to CRM entities
  GetIntoTeachingApi/Models/Crm/ApplicationForm.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/Validators/ApplicationFormValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Models/Crm/ApplicationFormTests.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ApplicationFormValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
Labels: VisualCSharp, Test

Sync additional Find/Apply data to CRM
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Update to use latest FluentAssertion methods
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/CallbacksControllerTests.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/ModelBinders/TrimStringModelBinderTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/GetIntoTeachingCallbackTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Services/CandidateMagicLinkTokenServiceTests.cs
  GetIntoTeachingApiTests/Services/DateTimeProviderTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test

Update to use latest FluentAssertion methods
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/CallbacksControllerTests.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/ModelBinders/TrimStringModelBinderTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/GetIntoTeachingCallbackTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Services/CandidateMagicLinkTokenServiceTests.cs
  GetIntoTeachingApiTests/Services/DateTimeProviderTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test

Update dependencies
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Update dependencies
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Address deprecation warnings for FluentValidation
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidatePastTeachingPositionValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidatePrivacyPolicyValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateQualificationValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/PhoneCallValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/TeachingEventRegistrationValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/TeachingEventValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/GetIntoTeachingCallbackValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/MailingListAddMemberValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventSearchRequestValidatorTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/ClassroomExperienceNoteValidatorTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/SchoolsExperienceSignUpValidatorTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/ClientValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/ExistingCandidateRequestValidatorTests.cs
Labels: Test

Update FluentValidation
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
Labels: none

Address deprecation warnings for FluentValidation
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidatePastTeachingPositionValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidatePrivacyPolicyValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateQualificationValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/PhoneCallValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/TeachingEventRegistrationValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/TeachingEventValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/GetIntoTeachingCallbackValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/MailingListAddMemberValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventSearchRequestValidatorTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/ClassroomExperienceNoteValidatorTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/SchoolsExperienceSignUpValidatorTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/ClientValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/ExistingCandidateRequestValidatorTests.cs
Labels: Test

Update FluentValidation
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
Labels: none

Fix deprecation warnings for FluentValidation
  GetIntoTeachingApiTests/Models/Crm/Validators/ApplicationFormValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
Labels: Test

Fix deprecation warnings for FluentValidation
  GetIntoTeachingApiTests/Models/Crm/Validators/ApplicationFormValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
Labels: Test

Switch EntityFieldAttribute Ignored attribute to use features
  GetIntoTeachingApi/Attributes/EntityFieldAttribute.cs
  GetIntoTeachingApi/Mocks/MockModel.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApiTests/Models/Crm/BaseModelTests.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
Labels: VisualCSharp, Test

Support environment-based feature switches
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApi/Utils/StringExtensions.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
  GetIntoTeachingApiTests/Utils/StringExtensionsTests.cs
Labels: VisualCSharp, Test

Support environment-based feature switches
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApi/Utils/StringExtensions.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
  GetIntoTeachingApiTests/Utils/StringExtensionsTests.cs
Labels: VisualCSharp, Test

Switch EntityFieldAttribute Ignored attribute to use features
  GetIntoTeachingApi/Attributes/EntityFieldAttribute.cs
  GetIntoTeachingApi/Mocks/MockModel.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApiTests/Models/Crm/BaseModelTests.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
Labels: VisualCSharp, Test

Only run Apply sync job when feature is on
  GetIntoTeachingApi/AppStart/Startup.cs
Labels: VisualCSharp

Only run Apply sync job when feature is on
  GetIntoTeachingApi/AppStart/Startup.cs
Labels: VisualCSharp

Only sync apply-related pick list items when feature is on
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Only sync apply-related pick list items when feature is on
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

Add Name attribute to ApplicationForm
  GetIntoTeachingApi/Models/Crm/ApplicationForm.cs
  GetIntoTeachingApiTests/Models/Crm/ApplicationFormTests.cs
Labels: VisualCSharp, Test

Add Name attribute to ApplicationForm
  GetIntoTeachingApi/Models/Crm/ApplicationForm.cs
  GetIntoTeachingApiTests/Models/Crm/ApplicationFormTests.cs
Labels: VisualCSharp, Test

Update with feature switch details
  README.md
Labels: none

Update with feature switch details
  README.md
Labels: none

Fix heading markdown
  README.md
Labels: none

Fix heading markdown
  README.md
Labels: none

Update FreeMapToolsUrl with new CSV path
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApiTests/Jobs/LocationSyncJobTests.cs
Labels: VisualCSharp, Test

Update FreeMapToolsUrl with new CSV path
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApiTests/Jobs/LocationSyncJobTests.cs
Labels: VisualCSharp, Test

Prometheus Restart
  .github/workflows/restart_prometheus.yml
Labels: DevOps

Check for zip bombs before extracting postcodes
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApi/Utils/BombFoundException.cs
  GetIntoTeachingApi/Utils/ZipFileChecker.cs
Labels: VisualCSharp

Check for zip bombs before extracting postcodes
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApi/Utils/BombFoundException.cs
  GetIntoTeachingApi/Utils/ZipFileChecker.cs
Labels: VisualCSharp

Prometheus Restart (#772)
  .github/workflows/restart_prometheus.yml
Labels: DevOps

Prometheus Restart (#772)
  .github/workflows/restart_prometheus.yml
Labels: DevOps

Make zip file checker configurable so that it can be tested easily
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApi/Utils/ZipFileChecker.cs
  GetIntoTeachingApiTests/Fixtures/zip-bomb-fixtures/25kb-uncompressed_1kb-compressed.zip
  GetIntoTeachingApiTests/Fixtures/zip-bomb-fixtures/contains-two-files.zip
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Utils/ZipFileCheckerTests.cs
Labels: VisualCSharp, Test
