Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

Rename docs/runbooks/high-database-connections.md to docs/runbooks/alerts/high-database-connections.md
  docs/runbooks/alerts/high-database-connections.md
Labels: none

Rename docs/runbooks/high-google-api-calls.md to docs/runbooks/alerts/high-google-api-calls.md
  docs/runbooks/alerts/high-google-api-calls.md
Labels: none

Rename docs/runbooks/high-google-api-calls.md to docs/runbooks/alerts/high-google-api-calls.md
  docs/runbooks/alerts/high-google-api-calls.md
Labels: none

Update and rename docs/runbooks/high-memory.md to docs/runbooks/alerts/high-memory.md
  docs/runbooks/alerts/high-memory.md
Labels: none

Update and rename docs/runbooks/high-memory.md to docs/runbooks/alerts/high-memory.md
  docs/runbooks/alerts/high-memory.md
Labels: none

Update and rename docs/runbooks/too-many-requests.md to docs/runbooks/alerts/too-many-requests.md
  docs/runbooks/alerts/too-many-requests.md
Labels: none

Update and rename docs/runbooks/too-many-requests.md to docs/runbooks/alerts/too-many-requests.md
  docs/runbooks/alerts/too-many-requests.md
Labels: none

Support matchback Schools Experience requests
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/Models/Validators/SchoolsExperienceSignUpValidator.cs
  GetIntoTeachingApi/appsettings.json
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Integration/RateLimitTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/Validators/SchoolsExperienceSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Add Schools Experience fields to Candidate model
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Utils/Redactor.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/Validators/CandidateValidatorTests.cs
Labels: VisualCSharp, Test

Support matchback Schools Experience requests
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/Models/Validators/SchoolsExperienceSignUpValidator.cs
  GetIntoTeachingApi/appsettings.json
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Integration/RateLimitTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/Validators/SchoolsExperienceSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Add Schools Experience fields to Candidate model
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Utils/Redactor.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/Validators/CandidateValidatorTests.cs
Labels: VisualCSharp, Test

Add endpoint to associate classroom experience notes with candidates
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Utils/Redactor.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: VisualCSharp, Test

Remove default values from Candidate model
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/MailingListAddMember.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeachingEventAddAttendee.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventAddAttendeeTests.cs
Labels: VisualCSharp, Test

Add endpoint to associate classroom experience notes with candidates
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Utils/Redactor.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: VisualCSharp, Test

Remove default values from Candidate model
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/MailingListAddMember.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeachingEventAddAttendee.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventAddAttendeeTests.cs
Labels: VisualCSharp, Test

Add modelling for classroom experience
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/ClassroomExperienceNote.cs
  GetIntoTeachingApi/Models/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/Validators/ClassroomExperienceNoteValidator.cs
  GetIntoTeachingApi/Utils/StringExtensions.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/ClassroomExperienceNoteTests.cs
  GetIntoTeachingApiTests/Models/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/ClassroomExperienceNoteValidatorTests.cs
  GetIntoTeachingApiTests/Utils/StringExtensionsTests.cs
Labels: VisualCSharp, Test

Add modelling for classroom experience
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/ClassroomExperienceNote.cs
  GetIntoTeachingApi/Models/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/Validators/ClassroomExperienceNoteValidator.cs
  GetIntoTeachingApi/Utils/StringExtensions.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/ClassroomExperienceNoteTests.cs
  GetIntoTeachingApiTests/Models/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/ClassroomExperienceNoteValidatorTests.cs
  GetIntoTeachingApiTests/Utils/StringExtensionsTests.cs
Labels: VisualCSharp, Test

Add OrganizationServiceContext DeleteLink method
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Add OrganizationServiceContext DeleteLink method
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Make LINQ statements more efficient
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

Make LINQ statements more efficient
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

Update `ShouldMap` to take `Context`
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/TeachingEventRegistration.cs
Labels: VisualCSharp

Update `ShouldMap` to take `Context`
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/TeachingEventRegistration.cs
Labels: VisualCSharp

Enable SchoolsExperience to issue verification codes
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

Enable SchoolsExperience to issue verification codes
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

Default country to UK for SE sign up
  GetIntoTeachingApi/Models/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/Models/Validators/SchoolsExperienceSignUpValidator.cs
  GetIntoTeachingApiTests/Models/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/Validators/SchoolsExperienceSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Default country to UK for SE sign up
  GetIntoTeachingApi/Models/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/Models/Validators/SchoolsExperienceSignUpValidator.cs
  GetIntoTeachingApiTests/Models/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/Validators/SchoolsExperienceSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Default secondary email/telephone on SE sign up
  GetIntoTeachingApi/Models/SchoolsExperienceSignUp.cs
  GetIntoTeachingApiTests/Models/SchoolsExperienceSignUpTests.cs
Labels: VisualCSharp, Test

Default secondary email/telephone on SE sign up
  GetIntoTeachingApi/Models/SchoolsExperienceSignUp.cs
  GetIntoTeachingApiTests/Models/SchoolsExperienceSignUpTests.cs
Labels: VisualCSharp, Test

Remove validation on DBS certificate date
  GetIntoTeachingApi/Models/Validators/CandidateValidator.cs
  GetIntoTeachingApiTests/Models/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/SchoolsExperienceSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Remove validation on DBS certificate date
  GetIntoTeachingApi/Models/Validators/CandidateValidator.cs
  GetIntoTeachingApiTests/Models/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/SchoolsExperienceSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Make SecondaryPreferredTeachingSubjectId optional
  GetIntoTeachingApi/Models/Validators/SchoolsExperienceSignUpValidator.cs
  GetIntoTeachingApiTests/Models/Validators/SchoolsExperienceSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Make SecondaryPreferredTeachingSubjectId optional
  GetIntoTeachingApi/Models/Validators/SchoolsExperienceSignUpValidator.cs
  GetIntoTeachingApiTests/Models/Validators/SchoolsExperienceSignUpValidatorTests.cs
Labels: VisualCSharp, Test

Call `DeleteLink` on `TeachingEvent` when `Building` is removed
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Call `DeleteLink` on `TeachingEvent` when `Building` is removed
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Added Postgres Database Monitoring
  terraform/paas/monitoring.tf
Labels: DevOps

Added Postgres Database Monitoring (#633)
  terraform/paas/monitoring.tf
Labels: DevOps

Added Postgres Database Monitoring (#633)
  terraform/paas/monitoring.tf
Labels: DevOps

Update docker-compose ports
  GetIntoTeachingApiTests/Helpers/DatabaseFixture.cs
  GetIntoTeachingApiTests/Helpers/DatabaseTests.cs
  docker-compose.yml
Labels: Test, Docker

Update docker-compose ports
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApiTests/Helpers/DatabaseFixture.cs
  GetIntoTeachingApiTests/Helpers/DatabaseTests.cs
  docker-compose.yml
Labels: Test, Docker

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml
