Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml

Sort entities and attributes prior to comparison
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
Labels: Test

Add Prometheus alert for any CSP violations that include `Google`
  monitoring/prometheus/alert.rules
Labels: Monitoring

Add Prometheus alert for any CSP violations that include `Google`
  monitoring/prometheus/alert.rules
Labels: Monitoring

Ignore legacy paths in HighNotFound alert
  monitoring/prometheus/alert.rules
Labels: Monitoring

Ignore legacy paths in HighNotFound alert
  monitoring/prometheus/alert.rules
Labels: Monitoring

Revert "Add Prometheus alert for any CSP violations that include `Google`"
  monitoring/prometheus/alert.rules
Labels: Monitoring

Revert "Add Prometheus alert for any CSP violations that include `Google`"
  monitoring/prometheus/alert.rules
Labels: Monitoring

Swallow errors when there are concurrent requests to add a postcode
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

Swallow errors when there are concurrent requests to add a postcode
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

Fix existing Grafana CSP panels
  monitoring/grafana/dashboards/csp_violations.json
Labels: Monitoring

Fix existing Grafana CSP panels
  monitoring/grafana/dashboards/csp_violations.json
Labels: Monitoring

Add a Grafana table of Google CSP violations
  monitoring/grafana/dashboards/csp_violations.json
Labels: Monitoring

Add a Grafana table of Google CSP violations
  monitoring/grafana/dashboards/csp_violations.json
Labels: Monitoring

Add Prometheus config
  monitoring/alertmanager/alertmanager.yml
  terraform/paas/variables.tf
Labels: Monitoring, DevOps

Add Prometheus config
  monitoring/alertmanager/alertmanager.yml
  terraform/paas/variables.tf
Labels: Monitoring, DevOps

Add daily alert if /there are Google CSP violations
  monitoring/prometheus/alert.rules
Labels: Monitoring

Add daily alert if /there are Google CSP violations
  monitoring/prometheus/alert.rules
Labels: Monitoring

Revert "Add google csp table grafana"
  monitoring/alertmanager/alertmanager.yml
  monitoring/grafana/dashboards/csp_violations.json
  monitoring/prometheus/alert.rules
  terraform/paas/variables.tf
Labels: Monitoring, DevOps

Revert "Add google csp table grafana"
  monitoring/alertmanager/alertmanager.yml
  monitoring/grafana/dashboards/csp_violations.json
  monitoring/prometheus/alert.rules
  terraform/paas/variables.tf
Labels: Monitoring, DevOps

Revert "Revert "Add google csp table grafana""
  monitoring/alertmanager/alertmanager.yml
  monitoring/grafana/dashboards/csp_violations.json
  monitoring/prometheus/alert.rules
  terraform/paas/variables.tf
Labels: Monitoring, DevOps

Revert "Revert "Add google csp table grafana""
  monitoring/alertmanager/alertmanager.yml
  monitoring/grafana/dashboards/csp_violations.json
  monitoring/prometheus/alert.rules
  terraform/paas/variables.tf
Labels: Monitoring, DevOps

Add stricter validation to teaching event readable ID (partial URL)
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/TeachingEventUpsertOperationValidator.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventUpsertOperationValidatorTests.cs
Labels: VisualCSharp, Test

Add stricter validation to teaching event readable ID (partial URL)
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/TeachingEventUpsertOperationValidator.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventUpsertOperationValidatorTests.cs
Labels: VisualCSharp, Test

Use FluentValidation test helpers
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventUpsertOperationValidatorTests.cs
Labels: Test

Use FluentValidation test helpers
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventUpsertOperationValidatorTests.cs
Labels: Test

Make sure readable Id cannot start with hyphen or underscore
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/TeachingEventUpsertOperationValidator.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventUpsertOperationValidatorTests.cs
Labels: VisualCSharp, Test

Make sure readable Id cannot start with hyphen or underscore
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/TeachingEventUpsertOperationValidator.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventUpsertOperationValidatorTests.cs
Labels: VisualCSharp, Test

Allow ChannelId to be specified on TeacherTrainingAdviserSignUp
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Services/SubscriptionManager.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Services/SubscriptionManagerTests.cs
Labels: VisualCSharp, Test

Allow ChannelId to be specified on TeacherTrainingAdviserSignUp
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Services/SubscriptionManager.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Services/SubscriptionManagerTests.cs
Labels: VisualCSharp, Test

Validate TeacherTrainingAdviserSubscriptionChannelId
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/teacher_training_adviser_subscription_channels.json
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
Labels: VisualCSharp, Test

Validate TeacherTrainingAdviserSubscriptionChannelId
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/teacher_training_adviser_subscription_channels.json
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
Labels: VisualCSharp, Test

Add test CSP violation alert
  monitoring/prometheus/alert.rules
Labels: Monitoring

Add test CSP violation alert
  monitoring/prometheus/alert.rules
Labels: Monitoring

Add `daily` label to Google CSP violations alert
  monitoring/alertmanager/alertmanager.yml
  monitoring/prometheus/alert.rules
  terraform/paas/variables.tf
Labels: Monitoring, DevOps

Add `daily` label to Google CSP violations alert
  monitoring/alertmanager/alertmanager.yml
  monitoring/prometheus/alert.rules
  terraform/paas/variables.tf
Labels: Monitoring, DevOps

Allow exchanging unverified request for event sign up
  GetIntoTeachingApi/Controllers/GetIntoTeaching/TeachingEventsController.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/TeachingEventsControllerTests.cs
Labels: VisualCSharp, Test

Allow exchanging unverified request for event sign up
  GetIntoTeachingApi/Controllers/GetIntoTeaching/TeachingEventsController.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/TeachingEventsControllerTests.cs
Labels: VisualCSharp, Test

Prevent access to personal data for unverified candidates
  GetIntoTeachingApi/Controllers/GetIntoTeaching/TeachingEventsController.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
Labels: VisualCSharp, Test

Prevent access to personal data for unverified candidates
  GetIntoTeachingApi/Controllers/GetIntoTeaching/TeachingEventsController.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
Labels: VisualCSharp, Test

Use differernt channel for unverified walk-in registrations
  GetIntoTeachingApi/Models/Crm/TeachingEventRegistration.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidator.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidatorTests.cs
Labels: VisualCSharp, Test
