Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

.github/labeler.yml:

---

VisualCSharp:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApi/**/*.cs'

Test:
- changed-files:
  - any-glob-to-any-file: 'GetIntoTeachingApiTests/**/*'

Monitoring:
- changed-files:
  - any-glob-to-any-file: 'monitoring/**/*'

DevOps:
- changed-files:
  - any-glob-to-any-file: 'terraform/**/*'
  - any-glob-to-any-file: '.github/**/*.yml'

Docker:
- changed-files:
  - any-glob-to-any-file: 'Dockerfile'
  - any-glob-to-any-file: 'docker-compose.yml'

Initisl commit
  GetIntoTeaching/GetIntoTeaching.csproj
  GetIntoTeaching/Infrastructure/Persistence/CandidateManagement/Common/DynamicsCrmQueryHandler.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateManagement/Common/ICommandHandler.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateManagement/Common/IQueryHandler.cs
  GetIntoTeachingApi.sln
Labels: none

Added some infra for CRM and data processing
  GetIntoTeaching/GetIntoTeaching.csproj
  GetIntoTeaching/Infrastructure/Persistence/CandidateEventProcessing/Common/IEventProcessor.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateManagement/Common/IQueryHandler.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateManagement/DynamicsCrmQueryHandler.cs
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Controllers/Spencer/SpencersCandidatesController.cs
  GetIntoTeachingApi/Program.cs
Labels: VisualCSharp

Added some infra for CRM and data processing
  GetIntoTeaching/GetIntoTeaching.csproj
  GetIntoTeaching/Infrastructure/Persistence/CandidateEventProcessing/Common/IEventProcessor.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateManagement/Common/IQueryHandler.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateManagement/DynamicsCrmQueryHandler.cs
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Controllers/Spencer/SpencersCandidatesController.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/Properties/launchSettings.json
Labels: VisualCSharp

Added Core layer
  GetIntoTeaching.Core/Domain/AggregateRoot.cs
  GetIntoTeaching.Core/Domain/Entity.cs
  GetIntoTeaching.Core/Domain/IDomainEvent.cs
  GetIntoTeaching.Core/Domain/IDomainService.cs
  GetIntoTeaching.Core/Domain/ValueObject.cs
  GetIntoTeaching.Core/GetIntoTeaching.Core.csproj
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundProcessor.cs
  GetIntoTeaching.Core/Infrastructure/RelationshipManagement/ICrmCommandHandler.cs
  GetIntoTeaching.Core/Infrastructure/RelationshipManagement/ICrmQueryHandler.cs
  GetIntoTeaching/Domain/Candidate.cs
  GetIntoTeaching/Domain/CandidateIdentifier.cs
  GetIntoTeaching/Domain/CandidateName.cs
  GetIntoTeaching/Domain/CandidateProfile.cs
  GetIntoTeaching/Domain/CandidateProfileIdentifier.cs
  GetIntoTeaching/GetIntoTeaching.csproj
  GetIntoTeaching/Infrastructure/Persistence/CandidateManagement/DynamicsCrmQueryHandler.cs
  GetIntoTeachingApi.sln
Labels: none

Added Core layer
  GetIntoTeaching.Core/Domain/AggregateRoot.cs
  GetIntoTeaching.Core/Domain/Entity.cs
  GetIntoTeaching.Core/Domain/IDomainEvent.cs
  GetIntoTeaching.Core/Domain/IDomainService.cs
  GetIntoTeaching.Core/Domain/ValueObject.cs
  GetIntoTeaching.Core/GetIntoTeaching.Core.csproj
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundProcessor.cs
  GetIntoTeaching.Core/Infrastructure/RelationshipManagement/ICrmCommandHandler.cs
  GetIntoTeaching.Core/Infrastructure/RelationshipManagement/ICrmQueryHandler.cs
  GetIntoTeaching/Domain/Candidate.cs
  GetIntoTeaching/Domain/CandidateIdentifier.cs
  GetIntoTeaching/Domain/CandidateName.cs
  GetIntoTeaching/Domain/CandidateProfile.cs
  GetIntoTeaching/Domain/CandidateProfileIdentifier.cs
  GetIntoTeaching/GetIntoTeaching.csproj
  GetIntoTeaching/Infrastructure/Persistence/CandidateManagement/DynamicsCrmQueryHandler.cs
  GetIntoTeachingApi.sln
Labels: none

WIP - domain bits and bobs
  GetIntoTeaching/GetIntoTeaching.csproj
  GetIntoTeaching/Infrastructure/Persistence/CandidateBackgroundProcessing/HangfireBackgroundProcessor.cs
Labels: none

WIP - domain bits and bobs
  GetIntoTeaching/GetIntoTeaching.csproj
  GetIntoTeaching/Infrastructure/Persistence/CandidateBackgroundProcessing/HangfireBackgroundProcessor.cs
Labels: none

Update TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
Labels: VisualCSharp

Update TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
Labels: VisualCSharp

rollback whitespace changes
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
Labels: VisualCSharp

rollback whitespace changes
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
Labels: VisualCSharp

rollback whitespace changes
  GetIntoTeachingApi/Database/GetIntoTeachingDbContext.cs
Labels: VisualCSharp

rollback whitespace changes
  GetIntoTeachingApi/Database/GetIntoTeachingDbContext.cs
Labels: VisualCSharp

rollback whitespace changes
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

rollback whitespace changes
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

Create ContactChannelCreationValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ContactChannelCreationValidatorTests.cs
Labels: Test

Create ContactChannelCreationValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ContactChannelCreationValidatorTests.cs
Labels: Test

add tests
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: Test

add tests
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: Test

add more tests
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: Test

add more tests
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: Test

add broken test for ContactChannelCreation
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: Test

add broken test for ContactChannelCreation
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: Test

wip - background processor build out
  GetIntoTeaching.Core/Application/UseCase/IUseCase.cs
  GetIntoTeaching.Core/Application/UseCase/IUseCaseRequest.cs
  GetIntoTeaching.Core/Domain/AggregateRoot.cs
  GetIntoTeaching.Core/GetIntoTeaching.Core.csproj
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundProcessHandler.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundProcessor.cs
  GetIntoTeaching/Application/UseCases/TeacherTrainingAdviser/SignUpCandidateUseCase.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateBackgroundProcessing/HangfireBackgroundProcessHandler.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateBackgroundProcessing/HangfireBackgroundProcessor.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateBackgroundProcessing/Processors/UpsertCandidateProcessor.cs
Labels: none

wip - background processor build out
  GetIntoTeaching.Core/Application/UseCase/IUseCase.cs
  GetIntoTeaching.Core/Application/UseCase/IUseCaseRequest.cs
  GetIntoTeaching.Core/Domain/AggregateRoot.cs
  GetIntoTeaching.Core/GetIntoTeaching.Core.csproj
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundProcessHandler.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundProcessor.cs
  GetIntoTeaching/Application/UseCases/TeacherTrainingAdviser/SignUpCandidateUseCase.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateBackgroundProcessing/HangfireBackgroundProcessHandler.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateBackgroundProcessing/HangfireBackgroundProcessor.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateBackgroundProcessing/Processors/UpsertCandidateProcessor.cs
  GetIntoTeachingApi/Properties/launchSettings.json
Labels: none

Still very much WIP
  GetIntoTeaching.Core/CompositionRoot.cs
  GetIntoTeaching.Core/CrossCuttingConcerns/DependencyInjection/KeyedServiceRegistrationDictionary.cs
  GetIntoTeaching.Core/GetIntoTeaching.Core.csproj
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundProcessHandler.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundProcessor.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundProcessorRequest.cs
  GetIntoTeaching/Application/DomainServices/DomainServiceExample.cs
  GetIntoTeaching/Application/Repositories/ICandidateReadOnlyRepository.cs
  GetIntoTeaching/Application/UseCases/TeacherTrainingAdviser/AssignCandidateToTrainingAdviserUseCase.cs
  GetIntoTeaching/Application/UseCases/TeacherTrainingAdviser/SignUpCandidateUseCase.cs
  GetIntoTeaching/Domain/Services/IDomainServiceExample.cs
  GetIntoTeaching/GetIntoTeaching.csproj
  GetIntoTeaching/Infrastructure/Persistence/CandidateBackgroundProcessing/HangfireBackgroundProcessHandler.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateBackgroundProcessing/Processors/UpsertCandidateProcessor.cs
Labels: none

Still very much WIP
  GetIntoTeaching.Core/CompositionRoot.cs
  GetIntoTeaching.Core/CrossCuttingConcerns/DependencyInjection/KeyedServiceRegistrationDictionary.cs
  GetIntoTeaching.Core/GetIntoTeaching.Core.csproj
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundProcessHandler.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundProcessor.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundProcessorRequest.cs
  GetIntoTeaching/Application/DomainServices/DomainServiceExample.cs
  GetIntoTeaching/Application/Repositories/ICandidateReadOnlyRepository.cs
  GetIntoTeaching/Application/UseCases/TeacherTrainingAdviser/AssignCandidateToTrainingAdviserUseCase.cs
  GetIntoTeaching/Application/UseCases/TeacherTrainingAdviser/SignUpCandidateUseCase.cs
  GetIntoTeaching/Domain/Services/IDomainServiceExample.cs
  GetIntoTeaching/GetIntoTeaching.csproj
  GetIntoTeaching/Infrastructure/Persistence/CandidateBackgroundProcessing/HangfireBackgroundProcessHandler.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateBackgroundProcessing/Processors/UpsertCandidateProcessor.cs
Labels: none

A bit more on background processors
  GetIntoTeaching.Core/Application/UseCase/Response.cs
  GetIntoTeaching.Core/CrossCuttingConcerns/DependencyInjection/KeyedServiceRegistrationDictionary.cs
  GetIntoTeaching.Core/CrossCuttingConcerns/DependencyInjection/KeyedServiceRegistrations.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundProcessHandler.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundProcessor.cs
  GetIntoTeaching/Application/UseCases/TeacherTrainingAdviser/AssignCandidateToTrainingAdviserUseCase.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateBackgroundProcessing/HangfireBackgroundProcessHandler.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateBackgroundProcessing/Processors/UpsertCandidateProcessor.cs
Labels: none

A bit more on background processors
  GetIntoTeaching.Core/Application/UseCase/Response.cs
  GetIntoTeaching.Core/CrossCuttingConcerns/DependencyInjection/KeyedServiceRegistrationDictionary.cs
  GetIntoTeaching.Core/CrossCuttingConcerns/DependencyInjection/KeyedServiceRegistrations.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundProcessHandler.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundProcessor.cs
  GetIntoTeaching/Application/UseCases/TeacherTrainingAdviser/AssignCandidateToTrainingAdviserUseCase.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateBackgroundProcessing/HangfireBackgroundProcessHandler.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateBackgroundProcessing/Processors/UpsertCandidateProcessor.cs
Labels: none

Build out of domain services and added test projects
  GetIntoTeaching.Core.Tests/GetIntoTeaching.Core.Tests.csproj
  GetIntoTeaching.Core.Tests/UnitTest1.cs
  GetIntoTeaching.Tests/GetIntoTeaching.Tests.csproj
  GetIntoTeaching.Tests/UnitTest1.cs
  GetIntoTeaching/Application/DomainServices/CandidateRegistrationService.cs
  GetIntoTeaching/Application/DomainServices/DomainServiceExample.cs
  GetIntoTeaching/Domain/Services/ICandidateRegistrationService.cs
  GetIntoTeaching/Domain/Services/IDomainServiceExample.cs
  GetIntoTeaching/Infrastructure/Persistence/Repositories/CandidateReadOnlyRepository.cs
  GetIntoTeachingApi.sln
Labels: none

Build out of domain services and added test projects
  GetIntoTeaching.Core.Tests/GetIntoTeaching.Core.Tests.csproj
  GetIntoTeaching.Core.Tests/UnitTest1.cs
  GetIntoTeaching.Tests/GetIntoTeaching.Tests.csproj
  GetIntoTeaching.Tests/UnitTest1.cs
  GetIntoTeaching/Application/DomainServices/CandidateRegistrationService.cs
  GetIntoTeaching/Application/DomainServices/DomainServiceExample.cs
  GetIntoTeaching/Domain/Services/ICandidateRegistrationService.cs
  GetIntoTeaching/Domain/Services/IDomainServiceExample.cs
  GetIntoTeaching/Infrastructure/Persistence/Repositories/CandidateReadOnlyRepository.cs
  GetIntoTeachingApi.sln
Labels: none

Extended domain event contract
  GetIntoTeaching.Core/Domain/IDomainEvent.cs
Labels: none

Extended domain event contract
  GetIntoTeaching.Core/Domain/IDomainEvent.cs
Labels: none

Corrected verification on Upsert_WithContactChannelCreation_SavesContactChannelCreations test
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: Test

Corrected verification on Upsert_WithContactChannelCreation_SavesContactChannelCreations test
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: Test

tweak logic for CreationChannel field
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
Labels: VisualCSharp

tweak logic for CreationChannel field
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
Labels: VisualCSharp

Added mediator
  GetIntoTeaching.Core/CrossCuttingConcerns/DependencyInjection/KeyedServiceRegistrationDictionary.cs
  GetIntoTeaching.Core/CrossCuttingConcerns/DependencyInjection/KeyedServiceRegistrations.cs
  GetIntoTeaching.Core/CrossCuttingConcerns/Mediator/Extensions/MediatorExtensionscs.cs
  GetIntoTeaching.Core/CrossCuttingConcerns/Mediator/Extensions/ServiceFactory.cs
  GetIntoTeaching.Core/CrossCuttingConcerns/Mediator/IHandler.cs
  GetIntoTeaching.Core/CrossCuttingConcerns/Mediator/IMediator.cs
  GetIntoTeaching.Core/CrossCuttingConcerns/Mediator/IRequest.cs
  GetIntoTeaching.Core/CrossCuttingConcerns/Mediator/Mediator.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundProcessHandler.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundProcessor.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundProcessorRequest.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateBackgroundProcessing/HangfireBackgroundProcessHandler.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateBackgroundProcessing/Processors/UpsertCandidateProcessor.cs
  GetIntoTeachingApi/Controllers/Spencer/SpencersCandidatesController.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
Labels: VisualCSharp

Added mediator
  GetIntoTeaching.Core/CrossCuttingConcerns/DependencyInjection/KeyedServiceRegistrationDictionary.cs
  GetIntoTeaching.Core/CrossCuttingConcerns/DependencyInjection/KeyedServiceRegistrations.cs
  GetIntoTeaching.Core/CrossCuttingConcerns/Mediator/Extensions/MediatorExtensionscs.cs
  GetIntoTeaching.Core/CrossCuttingConcerns/Mediator/Extensions/ServiceFactory.cs
  GetIntoTeaching.Core/CrossCuttingConcerns/Mediator/IHandler.cs
  GetIntoTeaching.Core/CrossCuttingConcerns/Mediator/IMediator.cs
  GetIntoTeaching.Core/CrossCuttingConcerns/Mediator/IRequest.cs
  GetIntoTeaching.Core/CrossCuttingConcerns/Mediator/Mediator.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundProcessHandler.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundProcessor.cs
  GetIntoTeaching.Core/Infrastructure/BackgroundProcessing/IBackgroundProcessorRequest.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateBackgroundProcessing/HangfireBackgroundProcessHandler.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateBackgroundProcessing/Processors/UpsertCandidateProcessor.cs
  GetIntoTeachingApi/Controllers/Spencer/SpencersCandidatesController.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
Labels: VisualCSharp

WIP - mediator wire up
  GetIntoTeaching/GetIntoTeaching.csproj
  GetIntoTeaching/Infrastructure/Persistence/CandidateBackgroundProcessing/HangfireBackgroundProcessHandler.cs
  GetIntoTeaching/Infrastructure/Persistence/CandidateBackgroundProcessing/Processors/UpsertCandidateProcessorRequest.cs
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Controllers/Spencer/SpencersCandidatesController.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
Labels: VisualCSharp
