Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

Require first name on matchback
  GetIntoTeachingApi/Models/Validators/ExistingCandidateRequestValidator.cs
  GetIntoTeachingApiTests/Models/Validators/ExistingCandidateRequestValidatorTests.cs
Labels: VisualCSharp, Test

Require first name on matchback
  GetIntoTeachingApi/Models/Validators/ExistingCandidateRequestValidator.cs
  GetIntoTeachingApiTests/Models/Validators/ExistingCandidateRequestValidatorTests.cs
Labels: VisualCSharp, Test

Revert "Require first name on matchback"
  GetIntoTeachingApi/Models/Validators/ExistingCandidateRequestValidator.cs
  GetIntoTeachingApiTests/Models/Validators/ExistingCandidateRequestValidatorTests.cs
Labels: VisualCSharp, Test

Revert "Require first name on matchback"
  GetIntoTeachingApi/Models/Validators/ExistingCandidateRequestValidator.cs
  GetIntoTeachingApiTests/Models/Validators/ExistingCandidateRequestValidatorTests.cs
Labels: VisualCSharp, Test

Grant GetIntoTeaching role access to adviser sign up
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/appsettings.json
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Integration/RateLimitTests.cs
Labels: VisualCSharp, Test

Grant GetIntoTeaching role access to adviser sign up
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/appsettings.json
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Integration/RateLimitTests.cs
Labels: VisualCSharp, Test

Sync events over the last 12 months
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

Sync events over the last 12 months
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

Fix metrics erroring out after update
  GetIntoTeachingApi/AppStart/PrometheusMetrics.cs
  GetIntoTeachingApi/AppStart/Startup.cs
Labels: VisualCSharp

Fix metrics erroring out after update
  GetIntoTeachingApi/AppStart/PrometheusMetrics.cs
  GetIntoTeachingApi/AppStart/Startup.cs
Labels: VisualCSharp

Update architecture diagram
  docs/architecture/architecture.drawio
  docs/architecture/architecture.png
Labels: none

Update architecture diagram
  docs/architecture/architecture.drawio
  docs/architecture/architecture.png
Labels: none

Add deployment details to README
  README.md
Labels: none

Add deployment details to README
  README.md
Labels: none

Add useful links and secret details
  README.md
Labels: none

Add useful links and secret details
  README.md
Labels: none

Minor updates to README
  README.md
Labels: none

Minor updates to README
  README.md
Labels: none

Re-structure README and add TOC
  README.md
Labels: none

Re-structure README and add TOC
  README.md
Labels: none

Disable auth for Hangfire in development
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  README.md
Labels: VisualCSharp

Disable auth for Hangfire in development
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  README.md
Labels: VisualCSharp

Various dependency updates
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Various dependency updates
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Various dependency updates
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Various dependency updates
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Add Teaching Event Building validator
  GetIntoTeachingApi/Models/Validators/TeachingEventBuildingValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventBuildingValidatorTests.cs
Labels: VisualCSharp, Test

Add Teaching Event Building validator
  GetIntoTeachingApi/Models/Validators/TeachingEventBuildingValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventBuildingValidatorTests.cs
Labels: VisualCSharp, Test

Update validation rules
  GetIntoTeachingApi/Models/Validators/TeachingEventBuildingValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventBuildingValidatorTests.cs
Labels: VisualCSharp, Test

Update validation rules
  GetIntoTeachingApi/Models/Validators/TeachingEventBuildingValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventBuildingValidatorTests.cs
Labels: VisualCSharp, Test

Add GiT adviser sign ups panel
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

Add GiT adviser sign ups panel
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

Add matchback API to callback
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/Controllers/GetIntoTeaching/CallbacksController.cs
  GetIntoTeachingApi/Controllers/GetIntoTeaching/MailingListController.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/CallbacksControllerTests.cs
Labels: VisualCSharp, Test

Add matchback API to callback
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/Controllers/GetIntoTeaching/CallbacksController.cs
  GetIntoTeachingApi/Controllers/GetIntoTeaching/MailingListController.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/CallbacksControllerTests.cs
Labels: VisualCSharp, Test

Replace operation ID as it's already exists in the another endpoint
  GetIntoTeachingApi/Controllers/GetIntoTeaching/CallbacksController.cs
Labels: VisualCSharp

Replace operation ID as it's already exists in the another endpoint
  GetIntoTeachingApi/Controllers/GetIntoTeaching/CallbacksController.cs
Labels: VisualCSharp

Deploy azure resources for terraform
  Makefile
  global_config/development.sh
Labels: none

Deploy azure resources for terraform
  Makefile
  global_config/development.sh
Labels: none

Deploy Postgres
  .gitignore
  Makefile
  global_config/development.sh
  terraform/aks/.terraform.lock.hcl
  terraform/aks/cluster_data.tf
  terraform/aks/config/development_aks.tfvars.json
  terraform/aks/config/development_aks_Terrafile
  terraform/aks/databases.tf
  terraform/aks/provider.tf
  terraform/aks/variables.tf
Labels: DevOps

Deploy Postgres
  .gitignore
  Makefile
  global_config/development.sh
  terraform/aks/.terraform.lock.hcl
  terraform/aks/cluster_data.tf
  terraform/aks/config/development_aks.tfvars.json
  terraform/aks/config/development_aks_Terrafile
  terraform/aks/databases.tf
  terraform/aks/provider.tf
  terraform/aks/variables.tf
Labels: DevOps

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml
