Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

Add contract tests for v1.2 of Apply API integration
  GetIntoTeachingApiTests/Contracts/ApplyCandidateApiTests.cs
  GetIntoTeachingApiTests/Contracts/Data/application_choices.json
  GetIntoTeachingApiTests/Contracts/Data/application_forms.json
  GetIntoTeachingApiTests/Contracts/Data/application_interviews.json
  GetIntoTeachingApiTests/Contracts/Data/application_references.json
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_a_new_candidaite_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_a_new_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_an_existing_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidaite_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Helpers/ContractCrmService.cs
Labels: Test

Add contract tests for v1.2 of Apply API integration
  GetIntoTeachingApiTests/Contracts/ApplyCandidateApiTests.cs
  GetIntoTeachingApiTests/Contracts/Data/application_choices.json
  GetIntoTeachingApiTests/Contracts/Data/application_forms.json
  GetIntoTeachingApiTests/Contracts/Data/application_interviews.json
  GetIntoTeachingApiTests/Contracts/Data/application_references.json
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_a_new_candidaite_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_a_new_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_an_existing_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidaite_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Helpers/ContractCrmService.cs
Labels: Test

Clean up contract tests
  GetIntoTeachingApiTests/Contracts/ApplyCandidateApiTests.cs
  GetIntoTeachingApiTests/Contracts/BaseTests.cs
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
Labels: Test

Clean up contract tests
  GetIntoTeachingApiTests/Contracts/ApplyCandidateApiTests.cs
  GetIntoTeachingApiTests/Contracts/BaseTests.cs
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
Labels: Test

Workflow to rebuild master docker image
  .github/workflows/build-no-cache.yml
Labels: DevOps

Workflow to rebuild master docker image
  .github/workflows/build-no-cache.yml
Labels: DevOps

Changed base image tag to alpine
  Dockerfile
Labels: Docker

Changed base image tag to alpine
  Dockerfile
Labels: Docker

Revert "Changed base image tag to alpine"
  Dockerfile
Labels: Docker

Revert "Changed base image tag to alpine"
  Dockerfile
Labels: Docker

Commented out snyk task in build-no-cache
  .github/workflows/build-no-cache.yml
Labels: DevOps

Commented out snyk task in build-no-cache
  .github/workflows/build-no-cache.yml
Labels: DevOps

Remove references to ACTIONS-API-ACCESS-TOKEN
  .github/workflows/build.yml
  .github/workflows/manual.yml
Labels: DevOps

Remove references to ACTIONS-API-ACCESS-TOKEN
  .github/workflows/build.yml
  .github/workflows/manual.yml
Labels: DevOps

Migrate non-secret environment variables into .env files
  .gitignore
  GetIntoTeachingApi/.env.dev
  GetIntoTeachingApi/.env.production
  GetIntoTeachingApi/.env.staging
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
  Makefile
  README.md
Labels: VisualCSharp, Test

Migrate non-secret environment variables into .env files
  .gitignore
  GetIntoTeachingApi/.env.dev
  GetIntoTeachingApi/.env.production
  GetIntoTeachingApi/.env.staging
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
  Makefile
  README.md
Labels: VisualCSharp, Test

Fix dotenv environment names
  GetIntoTeachingApi/.env.prod
  GetIntoTeachingApi/.env.test
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Fix dotenv environment names
  GetIntoTeachingApi/.env.prod
  GetIntoTeachingApi/.env.test
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

Fix dotenv file path
  GetIntoTeachingApi/AppStart/Startup.cs
Labels: VisualCSharp

Fix dotenv file path
  GetIntoTeachingApi/AppStart/Startup.cs
Labels: VisualCSharp

Remove GITHUB_TOKEN when not necessary
  .github/workflows/actions/deploy/action.yml
  .github/workflows/build-no-cache.yml
  .github/workflows/build.yml
  .github/workflows/manual.yml
  .github/workflows/pull_request.yml
  .github/workflows/restart_prometheus.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/trello.yml
Labels: DevOps

Remove GITHUB_TOKEN when not necessary
  .github/workflows/actions/deploy/action.yml
  .github/workflows/build-no-cache.yml
  .github/workflows/build.yml
  .github/workflows/manual.yml
  .github/workflows/pull_request.yml
  .github/workflows/restart_prometheus.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/trello.yml
Labels: DevOps

Remove dot prefix from env files
  .gitignore
  GetIntoTeachingApi/.env.dev
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/env.dev
  GetIntoTeachingApi/env.prod
  GetIntoTeachingApi/env.test
Labels: VisualCSharp

Remove dot prefix from env files
  .gitignore
  GetIntoTeachingApi/.env.dev
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/env.dev
  GetIntoTeachingApi/env.prod
  GetIntoTeachingApi/env.test
Labels: VisualCSharp

Add GSE alert rules for job runners
  monitoring/prometheus/alert.rules
Labels: Monitoring

Add GSE alert rules for job runners
  monitoring/prometheus/alert.rules
Labels: Monitoring

Increase HighJobsWaiting threshold
  monitoring/prometheus/alert.rules
Labels: Monitoring

Increase HighJobsWaiting threshold
  monitoring/prometheus/alert.rules
Labels: Monitoring

Fix the build badge at the top of the README
  README.md
Labels: none

Fix the build badge at the top of the README
  README.md
Labels: none

Various dependency updates
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/PickListItem.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Helpers/ContractTestOrganizationServiceAdapter.cs
  GetIntoTeachingApiTests/Models/PickListItemTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Various dependency updates
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/PickListItem.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Helpers/ContractTestOrganizationServiceAdapter.cs
  GetIntoTeachingApiTests/Models/PickListItemTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

Add new date fields to ApplicationReference
  GetIntoTeachingApi/Models/Crm/ApplicationReference.cs
  GetIntoTeachingApi/Models/FindApply/Reference.cs
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_a_new_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_an_existing_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Models/Crm/ApplicationReferenceTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ReferenceTests.cs
Labels: VisualCSharp, Test

Add new date fields to ApplicationReference
  GetIntoTeachingApi/Models/Crm/ApplicationReference.cs
  GetIntoTeachingApi/Models/FindApply/Reference.cs
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_a_new_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_an_existing_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Models/Crm/ApplicationReferenceTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ReferenceTests.cs
Labels: VisualCSharp, Test

Update Hangfire.Core/AspNetCore
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
Labels: none

Update Hangfire.Core/AspNetCore
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
Labels: none

Fix Makefile naming of env file
  Makefile
  README.md
Labels: none

Fix Makefile naming of env file
  Makefile
  README.md
Labels: none

Various dependency updates
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

Various dependency updates
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml
