Repository DFE-Digital/get-into-teaching-api, changes with the labels that .github/labeler.yml gives for each.
All labels: VisualCSharp, Test, Monitoring, DevOps, Docker

Set theme jekyll-theme-tactile
  docs/_config.yml
Labels: none

Rename docs/runbooks/index.md to docs/index.md
  docs/index.md
Labels: none

Rename docs/runbooks/index.md to docs/index.md
  docs/index.md
Labels: none

Update high-cpu.md
  docs/runbooks/high-cpu.md
Labels: none

Update high-cpu.md
  docs/runbooks/high-cpu.md
Labels: none

Update _config.yml
  docs/_config.yml
Labels: none

Update _config.yml
  docs/_config.yml
Labels: none

Update _config.yml
  docs/_config.yml
Labels: none

Update _config.yml
  docs/_config.yml
Labels: none

Update _config.yml
  docs/_config.yml
Labels: none

Update _config.yml
  docs/_config.yml
Labels: none

Build Badge Corrected
  README.md
Labels: none

Build Badge Corrected
  README.md
Labels: none

Use lookup() to extract secrets
  terraform/paas/monitoring.tf
  terraform/paas/provider.tf
Labels: DevOps

Update sonarcloud.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

Use lookup() to extract secrets (#622)
  terraform/paas/monitoring.tf
Labels: DevOps

Use lookup() to extract secrets (#622)
  terraform/paas/monitoring.tf
Labels: DevOps

Add Schools Experience API client
  GetIntoTeachingApi/Fixtures/clients.yml
  GetIntoTeachingApi/Models/Validators/ClientValidator.cs
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApi/appsettings.json
  GetIntoTeachingApiTests/Integration/RateLimitTests.cs
  GetIntoTeachingApiTests/Models/Validators/ClientValidatorTests.cs
Labels: VisualCSharp, Test

Add Schools Experience API client
  GetIntoTeachingApi/Fixtures/clients.yml
  GetIntoTeachingApi/Models/Validators/ClientValidator.cs
  GetIntoTeachingApi/appsettings.json
  GetIntoTeachingApiTests/Integration/RateLimitTests.cs
  GetIntoTeachingApiTests/Models/Validators/ClientValidatorTests.cs
Labels: VisualCSharp, Test

Rename Telephone to AddressTelephone
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Models/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Utils/Redactor.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/Validators/CandidateValidatorTests.cs
Labels: VisualCSharp, Test

Rename Telephone to AddressTelephone
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Models/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Utils/Redactor.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/Validators/CandidateValidatorTests.cs
Labels: VisualCSharp, Test

Update trello.yml
  .github/workflows/trello.yml
Labels: DevOps

Update trello.yml
  .github/workflows/trello.yml
Labels: DevOps

Accept Telephone or AddressTelephone
  GetIntoTeachingApi/Models/Validators/TeacherTrainingAdviserSignUpValidator.cs
Labels: VisualCSharp

Accept Telephone or AddressTelephone
  GetIntoTeachingApi/Models/Validators/TeacherTrainingAdviserSignUpValidator.cs
Labels: VisualCSharp

Remove the `Telephone` field from request models
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Models/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventAddAttendeeValidatorTests.cs
Labels: VisualCSharp, Test

Remove the `Telephone` field from request models
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Models/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventAddAttendeeValidatorTests.cs
Labels: VisualCSharp, Test

Create build_fails_at_release.md
  docs/runbooks/pipelines/build_fails_at_release.md
Labels: none

Create build_fails_at_release.md
  docs/runbooks/pipelines/build_fails_at_release.md
Labels: none

Rename docs/runbooks/client-approaching-rate-limit.md to docs/runbooks/alerts/client-approaching-rate-limit.md
  docs/runbooks/alerts/client-approaching-rate-limit.md
Labels: none

Rename docs/runbooks/client-approaching-rate-limit.md to docs/runbooks/alerts/client-approaching-rate-limit.md
  docs/runbooks/alerts/client-approaching-rate-limit.md
Labels: none

Rename docs/runbooks/client-approaching-rate-limit_create-access-token.md to docs/runbooks/alerts/client-approaching-rate-limit_create-access-token.md
  docs/runbooks/alerts/client-approaching-rate-limit_create-access-token.md
Labels: none

Rename docs/runbooks/client-approaching-rate-limit_create-access-token.md to docs/runbooks/alerts/client-approaching-rate-limit_create-access-token.md
  docs/runbooks/alerts/client-approaching-rate-limit_create-access-token.md
Labels: none

Rename docs/runbooks/failed-jobs.md to docs/runbooks/alerts/failed-jobs.md
  docs/runbooks/alerts/failed-jobs.md
Labels: none

Rename docs/runbooks/failed-jobs.md to docs/runbooks/alerts/failed-jobs.md
  docs/runbooks/alerts/failed-jobs.md
Labels: none

Rename docs/runbooks/google-api-errors.md to docs/runbooks/alerts/google-api-errors.md
  docs/runbooks/alerts/google-api-errors.md
Labels: none

Rename docs/runbooks/google-api-errors.md to docs/runbooks/alerts/google-api-errors.md
  docs/runbooks/alerts/google-api-errors.md
Labels: none

Rename docs/runbooks/high-cpu.md to docs/runbooks/alerts/high-cpu.md
  docs/runbooks/alerts/high-cpu.md
Labels: none

Rename docs/runbooks/high-cpu.md to docs/runbooks/alerts/high-cpu.md
  docs/runbooks/alerts/high-cpu.md
Labels: none

Rename docs/runbooks/high-database-connections.md to docs/runbooks/alerts/high-database-connections.md
  docs/runbooks/alerts/high-database-connections.md
Labels: none

.github/labeler.yml:

---

VisualCSharp:
  - GetIntoTeachingApi/**/*.cs

Test:
  - GetIntoTeachingApiTests/**/*

Monitoring:
  - monitoring/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-compose.yml
