Repository DFE-Digital/get-into-teaching-api, pull requests merged in 2020-12, with the labels that each got.

#388 Use fallback booking quotas when CRM is unavailable
  GetIntoTeachingApi/Controllers/CallbackBookingQuotasController.cs
  GetIntoTeachingApi/Services/CallbackBookingService.cs
  GetIntoTeachingApi/Services/ICallbackBookingService.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Controllers/CallbackBookingQuotasControllerTests.cs
  GetIntoTeachingApiTests/Helpers/LoggerTestHelpers.cs
  GetIntoTeachingApiTests/Services/CallbackBookingServiceTests.cs
Labels: Test, VisualCSharp

#390 Use correct coordinate system in GeocodeClientAdapter
  GetIntoTeachingApi/Adapters/GeocodeClientAdapter.cs
Labels: VisualCSharp

#391 Add source column to Location table
  GetIntoTeachingApi/Migrations/20201203132339_AddSourceColumnToLocation.Designer.cs
  GetIntoTeachingApi/Migrations/20201203132339_AddSourceColumnToLocation.cs
  GetIntoTeachingApi/Migrations/GetIntoTeachingDbContextModelSnapshot.cs
  GetIntoTeachingApi/Models/Location.cs
Labels: VisualCSharp

#393 Bind to Redis
  terraform/paas/application.tf
Labels: DevOps

#395 Correct postcodes with unknown sources
  GetIntoTeachingApi/Adapters/GeocodeClientAdapter.cs
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApi/Jobs/LocationBatchJob.cs
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApi/Models/Location.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Jobs/LocationBatchJobTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test, VisualCSharp

#392 Allow GET requests to be cached privately for 5m
  GetIntoTeachingApi/Attributes/PrivateShortTermResponseCacheAttribute.cs
  GetIntoTeachingApi/Controllers/PrivacyPoliciesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Controllers/TypesController.cs
  GetIntoTeachingApiTests/Attributes/PrivateShortTermResponseCacheAttributeTests.cs
  GetIntoTeachingApiTests/Controllers/PrivacyPoliciesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TypesControllerTests.cs
Labels: Test, VisualCSharp

#398 Increase rate limit thresholds
  GetIntoTeachingApi/appsettings.json
  GetIntoTeachingApiTests/Integration/RateLimitingTests.cs
  monitoring/grafana/dashboards/get_into_teaching_api.json
  monitoring/prometheus/alert.rules
Labels: Monitoring, Test

#397 Add endpoint to remove locations of unknown source
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test, VisualCSharp

#399 Revert "Add endpoint to remove locations of unknown source"
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test, VisualCSharp

#400 Increase Memory Allocation
  terraform/paas/production.env.tfvars
  terraform/paas/test.env.tfvars
Labels: DevOps

#401 Remove manual location sync endpoint
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
Labels: Test, VisualCSharp

#389 Update postcode regex to match app
  GetIntoTeachingApi/Models/Location.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventSearchRequestValidatorTests.cs
Labels: Test, VisualCSharp

#402 Remove PEN_TEST_SHARED_SECRET
  GetIntoTeachingApi/Auth/SharedSecretHandler.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Auth/SharedSecretHandlerTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
  terraform/paas/application.tf
  terraform/paas/variables.tf
Labels: DevOps, Test, VisualCSharp

#405 Devops/workflows/automate
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/dockerbuild.yml
  .github/workflows/manual.yml
  .github/workflows/prod_statuscake.yml
  .github/workflows/production.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/statuscake.yml
  terraform/paas/production.env.tfvars
  terraform/paas/review.bk.vars
  terraform/paas/review.env.tfvars
  terraform/paas/test.env.tfvars
Labels: DevOps

#407 Remove OWASP
  .github/workflows/build.yml
Labels: DevOps

#406 Log request details on validation failure
  GetIntoTeachingApi/Attributes/LogRequestsAttribute.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/LoggableMessageComposer.cs
  GetIntoTeachingApiTests/Attributes/LogRequestsAttributeTests.cs
  GetIntoTeachingApiTests/Utils/LoggableMessageComposerTests.cs
Labels: Test, VisualCSharp

#408 Fire and Forget Cypress Tests
  .github/workflows/build.yml
Labels: DevOps

#409 Only run CrmSyncJob on first boot
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

#396 Switch RateLimiting counters to be backed by Redis
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/HealthCheckResponse.cs
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApi/Redis/RedisConfiguration.cs
  GetIntoTeachingApi/Redis/RedisRateLimitCounterStore.cs
  GetIntoTeachingApi/Services/IRedisService.cs
  GetIntoTeachingApi/Services/RedisService.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Database/DbConfigurationTests.cs
  GetIntoTeachingApiTests/Fixtures/vcap_services.json
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Helpers/GetIntoTeachingWebApplicationFactory.cs
  GetIntoTeachingApiTests/Integration/RateLimitingTests.cs
  GetIntoTeachingApiTests/Models/HealthCheckResponseTests.cs
  GetIntoTeachingApiTests/Redis/RedisConfigurationTests.cs
  docker-compose.yml
Labels: Docker, Test, VisualCSharp

#412 Enable rate limiting in test environment
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

#413 Revert "Enable rate limiting in test environment"
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

#414 Fix Duplicate Tagging Issue
  .github/workflows/build.yml
Labels: DevOps

#415 Better way to get PR
  .github/workflows/build.yml
Labels: DevOps

#416 Release Creation Skipped
  .github/workflows/build.yml
Labels: DevOps

#417 Replaced process with library
  .github/workflows/build.yml
Labels: DevOps

#418 Optimize location sync job
  GetIntoTeachingApi/Jobs/LocationBatchJob.cs
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApi/Models/Location.cs
  GetIntoTeachingApi/Services/IMetricService.cs
  GetIntoTeachingApi/Services/MetricService.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Jobs/LocationBatchJobTests.cs
  GetIntoTeachingApiTests/Jobs/LocationSyncJobTests.cs
  GetIntoTeachingApiTests/Services/MetricServiceTests.cs
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring, Test, VisualCSharp

#419 Scope Source enum to Location model
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApi/Models/Location.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Jobs/LocationSyncJobTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test, VisualCSharp

#422 Common code for release
  .github/workflows/build.yml
  .github/workflows/publish_release.yml
Labels: DevOps

#421 Inject ICrmService into the Store
  GetIntoTeachingApi/Jobs/CrmSyncJob.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Jobs/CrmSyncJobTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test, VisualCSharp

#425 Slack Deploy and Notifiy on Release
  .github/common_environment.yml
  .github/image.png
  .github/workflows/build.yml
  .github/workflows/cve.yml
  .github/workflows/deploy.yml
  .github/workflows/manual.yml
  .github/workflows/publish_release.yml
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

#426 Dry up validation with custom property validator
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/Validators/CandidatePastTeachingPositionValidator.cs
  GetIntoTeachingApi/Models/Validators/CandidateQualificationValidator.cs
  GetIntoTeachingApi/Models/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/Validators/PhoneCallValidator.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventRegistrationValidator.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventSearchRequestValidator.cs
  GetIntoTeachingApi/Validators/LookupItemIdValidator.cs
  GetIntoTeachingApi/Validators/PickListItemIdValidator.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Validators/LookupItemIdValidatorTests.cs
  GetIntoTeachingApiTests/Validators/PickListItemIdValidatorTests.cs
Labels: Test, VisualCSharp

#427 Ensure set-environment is configured
  .github/workflows/build.yml
  .github/workflows/publish_release.yml
Labels: DevOps
