Repository DFE-Digital/get-into-teaching-api, pull requests merged in 2021-11, with the labels that each got.

#840 DRY out Secrets
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/fix-network-policy.yml
  .github/workflows/manual.yml
  .github/workflows/pull_request.yml
  .github/workflows/restart_prometheus.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/trello.yml
  terraform/paas/data.tf
  terraform/paas/monitoring.tf
  terraform/paas/provider.tf
Labels: DevOps

#841 Bug fix - Left in debug code
  terraform/paas/monitoring.tf
Labels: DevOps

#849 Change Monitoring Cloud Foundry credentials to a read only set.
  terraform/paas/monitoring.tf
Labels: DevOps

#834 Ensure FindApplyCandidateSyncJob is atomic
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

#851 Cache candidate while CRM is down
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

#852 Add an `AddClassroomExperienceNoteJob` so that request can be queued
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Jobs/AddClassroomExperienceNoteJob.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Helpers/BackgroundJobMock.cs
  GetIntoTeachingApiTests/Helpers/PerformContextMock.cs
  GetIntoTeachingApiTests/Jobs/AddClassroomExperienceNoteJobTests.cs
Labels: VisualCSharp, Test

#853 Sync new Apply API fields
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Models/Crm/ApplicationForm.cs
  GetIntoTeachingApi/Models/Crm/Validators/ApplicationFormValidator.cs
  GetIntoTeachingApi/Models/FindApply/ApplicationForm.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Models/Crm/ApplicationFormTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ApplicationFormValidatorTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ApplicationFormTests.cs
Labels: VisualCSharp, Test

#854 Throw exception when `AddClassroomExperienceNoteJob` job fails
  GetIntoTeachingApi/Jobs/AddClassroomExperienceNoteJob.cs
  GetIntoTeachingApiTests/Helpers/BackgroundJobMock.cs
  GetIntoTeachingApiTests/Helpers/PerformContextMock.cs
  GetIntoTeachingApiTests/Jobs/AddClassroomExperienceNoteJobTests.cs
Labels: VisualCSharp, Test

#855 Fix candidate Id not being set before being sent to job
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Jobs/AddClassroomExperienceNoteJob.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

#858 Dynamically map recruitment cycle year
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Models/Crm/ApplicationForm.cs
Labels: VisualCSharp

#859 Add field to track which welcome guide variant was served
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
Labels: VisualCSharp, Test

#860 Ensure correct method is called when the ID is API generated
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Models/Crm/BaseModel.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Models/Crm/BaseModelTests.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/TeachingEventRegistrationTests.cs
  GetIntoTeachingApiTests/Models/Crm/TeachingEventTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

#861 Enable welcome guide variant field in test/prod
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
Labels: VisualCSharp, Test

#862 Update `NewEntity` to handle when the model has an upfront ID
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/Models/Crm/BaseModel.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Helpers/ContractTestOrganizationServiceAdapter.cs
  GetIntoTeachingApiTests/Models/Crm/BaseModelTests.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/TeachingEventRegistrationTests.cs
  GetIntoTeachingApiTests/Models/Crm/TeachingEventTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

#863 Update dependencies ahead of .NET Core 6
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

#868 Remove feature flag for candidate sign up when CRM integration paused
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

#869 Reduce event archive size to 4 months
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

#870 Add JsonIgnore attribute to `HasUpfrontId` property
  GetIntoTeachingApi/Models/Crm/BaseModel.cs
Labels: VisualCSharp

#874 Fix engagement panels
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring
