Repository DFE-Digital/get-into-teaching-api, pull requests merged in 2021-06, with the labels that each got.

#637 Remove teaching event relationships
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: Test, VisualCSharp

#649 Update CdsServiceClient
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/PickListItem.cs
  GetIntoTeachingApiTests/Models/PickListItemTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: Test, VisualCSharp

#651 Format international phone numbers
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
Labels: Test, VisualCSharp

#652 Update CdsServiceClient (take 2)
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/CandidatePastTeachingPosition.cs
  GetIntoTeachingApi/Models/CandidateQualification.cs
  GetIntoTeachingApi/Models/PickListItem.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Models/CandidatePastTeachingPositionTests.cs
  GetIntoTeachingApiTests/Models/CandidateQualificationTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/PickListItemTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: Test, VisualCSharp

#653 Revert "Update CdsServiceClient (take 2)"
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/CandidatePastTeachingPosition.cs
  GetIntoTeachingApi/Models/CandidateQualification.cs
  GetIntoTeachingApi/Models/PickListItem.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Models/CandidatePastTeachingPositionTests.cs
  GetIntoTeachingApiTests/Models/CandidateQualificationTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/PickListItemTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: Test, VisualCSharp

#654 Update CdsServiceClient (take 3)
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/CandidatePastTeachingPosition.cs
  GetIntoTeachingApi/Models/CandidateQualification.cs
  GetIntoTeachingApi/Models/PickListItem.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Models/CandidatePastTeachingPositionTests.cs
  GetIntoTeachingApiTests/Models/CandidateQualificationTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/PickListItemTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: Test, VisualCSharp

#655 Make logical name explicit for all EntityReference attributes
  GetIntoTeachingApi/Models/TeachingEventRegistration.cs
  GetIntoTeachingApiTests/Models/TeachingEventRegistrationTests.cs
Labels: Test, VisualCSharp

#656 Add logging for when UpsertCandidateJob throws
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
Labels: Test, VisualCSharp

#657 Revert "Update CdsServiceClient (take 3)"
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/CandidatePastTeachingPosition.cs
  GetIntoTeachingApi/Models/CandidateQualification.cs
  GetIntoTeachingApi/Models/PickListItem.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Models/CandidatePastTeachingPositionTests.cs
  GetIntoTeachingApiTests/Models/CandidateQualificationTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/PickListItemTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: Test, VisualCSharp

#658 Tweak telephone validation length
  GetIntoTeachingApi/Models/Validators/CandidateValidator.cs
  GetIntoTeachingApiTests/Models/Validators/CandidateValidatorTests.cs
Labels: Test, VisualCSharp

#659 Update CdsServiceClient
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/CandidatePastTeachingPosition.cs
  GetIntoTeachingApi/Models/CandidatePrivacyPolicy.cs
  GetIntoTeachingApi/Models/CandidateQualification.cs
  GetIntoTeachingApi/Models/PickListItem.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Models/CandidatePastTeachingPositionTests.cs
  GetIntoTeachingApiTests/Models/CandidatePrivacyPolicyTests.cs
  GetIntoTeachingApiTests/Models/CandidateQualificationTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/PickListItemTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: Test, VisualCSharp

#660 Conditionally set teaching event sign up attributes
  GetIntoTeachingApi/Models/TeachingEventAddAttendee.cs
  GetIntoTeachingApiTests/Models/TeachingEventAddAttendeeTests.cs
Labels: Test, VisualCSharp

#661 DNS Scrapes
  monitoring/prometheus/scrapes.yml.tmpl
  terraform/paas/dev.env.tfvars
  terraform/paas/monitoring.tf
  terraform/paas/production.env.tfvars
Labels: DevOps, Monitoring

#662 Updates to international dialing logic
  GetIntoTeachingApi/Models/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Utils/StringExtensions.cs
  GetIntoTeachingApiTests/Models/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Utils/StringExtensionsTests.cs
Labels: Test, VisualCSharp

#663 Fix new event error
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: Test, VisualCSharp

#664 Link event to building by ID only when saving in the CRM
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
Labels: VisualCSharp

#665 Don't set null option set values on SE sign up
  GetIntoTeachingApi/Models/SchoolsExperienceSignUp.cs
  GetIntoTeachingApiTests/Models/SchoolsExperienceSignUpTests.cs
Labels: Test, VisualCSharp

#667 Split CandidateUpserter into multiple, atomic jobs
  GetIntoTeachingApi/Jobs/ClaimCallbackBookingSlotJob.cs
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Jobs/UpsertModelJob.cs
  GetIntoTeachingApi/Models/CandidatePastTeachingPosition.cs
  GetIntoTeachingApi/Models/CandidatePrivacyPolicy.cs
  GetIntoTeachingApi/Models/CandidateQualification.cs
  GetIntoTeachingApi/Models/IHasCandidateId.cs
  GetIntoTeachingApi/Models/PhoneCall.cs
  GetIntoTeachingApi/Models/TeachingEventRegistration.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApi/Services/NotifyService.cs
  GetIntoTeachingApiTests/Jobs/ClaimCallbackBookingSlotJobTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertModelJobTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: Test, VisualCSharp

#668 Add panel for SE sign ups
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

#669 Optimize candidate match back queries
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: Test, VisualCSharp

#670 On match back failure log error to Sentry
  GetIntoTeachingApi/Controllers/CandidatesController.cs
Labels: VisualCSharp

#671 Enable GetIntoTeaching role on callback quotas
  GetIntoTeachingApi/Controllers/CallbackBookingQuotasController.cs
  GetIntoTeachingApiTests/Controllers/CallbackBookingQuotasControllerTests.cs
Labels: Test, VisualCSharp

#672 Apply rate limiting to event upsert endpoint
  GetIntoTeachingApi/appsettings.json
  GetIntoTeachingApiTests/Integration/RateLimitTests.cs
Labels: Test

#673 Enable the GiT app to book callbacks
  GetIntoTeachingApi/Controllers/GetIntoTeaching/CallbacksController.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/GetIntoTeachingCallback.cs
  GetIntoTeachingApi/Models/Validators/GetIntoTeachingCallbackValidator.cs
  GetIntoTeachingApi/appsettings.json
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/CallbacksControllerTests.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Integration/RateLimitTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeachingCallbackTests.cs
  GetIntoTeachingApiTests/Models/Validators/GetIntoTeachingCallbackValidatorTests.cs
Labels: Test, VisualCSharp

#675 Attempt to speed up `UpsertTeachingEvent`
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: Test, VisualCSharp

#676 Run MagicLinkTokenGenerationJob hourly
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

#677 Integrate with the Find & Apply candidates API
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Jobs/FindApplySyncJob.cs
  GetIntoTeachingApi/Jobs/JobConfiguration.cs
  GetIntoTeachingApi/Models/AppSettings.cs
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/FindApply/Candidate.cs
  GetIntoTeachingApi/Models/FindApply/CandidateAttributes.cs
  GetIntoTeachingApi/Models/FindApply/Response.cs
  GetIntoTeachingApi/Models/IAppSettings.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApi/Services/IMetricService.cs
  GetIntoTeachingApi/Services/MetricService.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/FindApplySyncJobTests.cs
  GetIntoTeachingApiTests/Models/AppSettingsTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/FindApply/CandidateAttributesTests.cs
  GetIntoTeachingApiTests/Models/FindApply/CandidateTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ResponseTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
  GetIntoTeachingApiTests/Services/MetricServiceTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: Test, VisualCSharp

#678 Tidy upsert teaching event action
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test, VisualCSharp

#680 Only write FindApplyId attribute on sync job
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
Labels: VisualCSharp

#681 Fix MagicLinkTokenGenerationJob
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
  GetIntoTeachingApiTests/Jobs/MagicLinkTokenGenerationJobTests.cs
Labels: Test, VisualCSharp

#679 Configure DataProtection to persist in Redis
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

#682 Reduce magic link batch size
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
  GetIntoTeachingApiTests/Jobs/MagicLinkTokenGenerationJobTests.cs
Labels: Test, VisualCSharp

#683 Optimize magic link candidate query
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: Test, VisualCSharp

#685 Add basic auth to Hangfire dashboard
  GetIntoTeachingApi/Auth/HangfireDashboardEnvironmentAuthorizationFilter.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Auth/HangfireDashboardEnvironmentAuthorizationFilterTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: Test, VisualCSharp

#688 Revert "Add basic auth to Hangfire dashboard"
  GetIntoTeachingApi/Auth/HangfireDashboardAuthorizationFilter.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Auth/HangfireDashboardAuthorizationFilterTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: Test, VisualCSharp

#689 Remove un-necessary load of subscription relation
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: Test, VisualCSharp

#691 Ignore FindApplyId in production
  GetIntoTeachingApi/Models/Candidate.cs
Labels: VisualCSharp

#690 Update to ASP.NET Core 5
  .github/workflows/pull_request.yml
  Dockerfile
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApi/Models/Validators/CandidatePastTeachingPositionValidator.cs
  GetIntoTeachingApi/Models/Validators/CandidateQualificationValidator.cs
  GetIntoTeachingApi/Models/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/Validators/PhoneCallValidator.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventRegistrationValidator.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventSearchRequestValidator.cs
  GetIntoTeachingApi/RateLimiting/ApiClientRateLimitConfiguration.cs
  GetIntoTeachingApi/RateLimiting/ApiClientResolveContributor.cs
  GetIntoTeachingApi/Redis/RedisRateLimitCounterStore.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Validators/LookupItemIdValidator.cs
  GetIntoTeachingApi/Validators/PickListItemIdValidator.cs
  GetIntoTeachingApi/Validators/PostcodeValidator.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Helpers/GitWebApplicationFactory.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
  GetIntoTeachingApiTests/Services/ClientManagerTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
  GetIntoTeachingApiTests/Validators/LookupItemIdValidatorTests.cs
  GetIntoTeachingApiTests/Validators/PickListItemIdValidatorTests.cs
  GetIntoTeachingApiTests/Validators/PostcodeValidatorTests.cs
Labels: DevOps, Docker, Test, VisualCSharp
