Repository DFE-Digital/get-into-teaching-api, pull requests merged in 2021-02, with the labels that each got.

#463 Use CopyPRtoRelease
  .github/workflows/build.yml
Labels: DevOps

#464 Abstract master index check from DbConfiguration
  GetIntoTeachingApi/Database/DbConfiguration.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: Test, VisualCSharp

#465 Add Client model/validations
  GetIntoTeachingApi/Models/Client.cs
  GetIntoTeachingApi/Models/Validators/ClientValidator.cs
  GetIntoTeachingApiTests/Models/ClientTests.cs
  GetIntoTeachingApiTests/Models/Validators/ClientValidatorTests.cs
Labels: Test, VisualCSharp

#466 Load API client definitions from YAML
  GetIntoTeachingApi/Fixtures/clients.yml
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Services/ClientManager.cs
  GetIntoTeachingApi/Services/IClientManager.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Services/ClientManagerTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: Test, VisualCSharp

#470 Update subscriptions to not opt TTA candidates into post/bulk post
  GetIntoTeachingApi/Services/SubscriptionManager.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Services/SubscriptionManagerTests.cs
Labels: Test, VisualCSharp

#471 Add GiT services as API clients
  GetIntoTeachingApi/Controllers/CallbackBookingQuotasController.cs
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Fixtures/clients.yml
  GetIntoTeachingApiTests/Controllers/CallbackBookingQuotasControllerTests.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
Labels: Test, VisualCSharp

#473 Remove environment name from API key variable name
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApi/Services/ClientManager.cs
  GetIntoTeachingApiTests/Services/ClientManagerTests.cs
Labels: Test, VisualCSharp

#472 Initial Migration to Azure Secrets
  .github/workflows/cve.yml
  .github/workflows/deploy.yml
  .github/workflows/fix-network-policy.yml
  terraform/paas/application.tf
  terraform/paas/data.tf
  terraform/paas/dev.env.tfvars
  terraform/paas/monitoring.tf
  terraform/paas/production.env.tfvars
  terraform/paas/provider.tf
  terraform/paas/review.env.tfvars
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps

#476 Fix bug that only appears in Deploy
  .github/workflows/build.yml
Labels: DevOps

#469 Enable rate limiting per API client service
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApi/RateLimiting/ApiClientRateLimitConfiguration.cs
  GetIntoTeachingApi/RateLimiting/ApiClientResolveContributor.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/appsettings.json
Labels: VisualCSharp

#479 Refactor actions to exchange access tokens for candidate data
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
Labels: Test, VisualCSharp

#481 Remove Production Step
  .github/workflows/build.yml
  .github/workflows/cve.yml
Labels: DevOps

#478 Remove legacy shared secret authentication method
  GetIntoTeachingApi/Auth/ApiClientHandler.cs
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Auth/ApiClientHandlerTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: Test, VisualCSharp

#483 Remove deprecated access token endpoints
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
Labels: Test, VisualCSharp

#480 Initial support for magic link tokens
  GetIntoTeachingApi/Attributes/EntityFieldAttribute.cs
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Services/CandidateMagicLinkTokenService.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICandidateMagicLinkTokenService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Mocks/Models.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/MappingInfoTests.cs
  GetIntoTeachingApiTests/Services/CandidateMagicLinkTokenServiceTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: Test, VisualCSharp

#485 Expire magic link tokens after 48hrs/first use
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/CandidateMagicLinkExchangeResult.cs
  GetIntoTeachingApi/OperationFilters/AuthOperationFilter.cs
  GetIntoTeachingApi/Services/CandidateMagicLinkTokenService.cs
  GetIntoTeachingApi/Services/ICandidateMagicLinkTokenService.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Models/CandidateMagicLinkExchangeResultTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Services/CandidateMagicLinkTokenServiceTests.cs
Labels: Test, VisualCSharp

#487 Serialize enums as strings
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

#488 Ignore model attribute mappings by environment
  GetIntoTeachingApi/Attributes/EntityFieldAttribute.cs
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApiTests/Mocks/Models.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
Labels: Test, VisualCSharp

#489 Remove endpoint to create magic link tokens
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: Test, VisualCSharp

#490 Add job to generate magic link tokens
  GetIntoTeachingApi/Jobs/JobConfiguration.cs
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApi/Services/IMetricService.cs
  GetIntoTeachingApi/Services/MetricService.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Jobs/MagicLinkTokenGenerationJobTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
  GetIntoTeachingApiTests/Services/MetricServiceTests.cs
Labels: Test, VisualCSharp

#494 Add panels for magic link generation/usage
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

#493 Database Migration
  terraform/paas/production.env.tfvars
  terraform/paas/sandbox.bk.vars
  terraform/paas/sandbox.env.tfvars
  terraform/paas/services.tf
  terraform/paas/variables.tf
Labels: DevOps

#499 Fix build error in pipeline
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

#496 Increase magic link token generation batch size
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
  GetIntoTeachingApiTests/Jobs/MagicLinkTokenGenerationJobTests.cs
Labels: Test, VisualCSharp

#495 Minor bug fixes for magic link mechanism
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
Labels: Test, VisualCSharp

#491 Enable magic links in production
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
Labels: Test, VisualCSharp

#500 Relex validation on returning teacher sign ups
  GetIntoTeachingApi/Models/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: Test, VisualCSharp

#501 Convert empty strings to null on serialize/deserialize operations
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/EmptyStringToNullJsonConverter.cs
  GetIntoTeachingApiTests/Utils/EmptyStringToNullJsonConverterTests.cs
Labels: Test, VisualCSharp

#502 Improve Release note
  .github/workflows/manual.yml
Labels: DevOps

#503 Sanitize invalid CRM postcodes
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Validators/PostcodeValidator.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Validators/PostcodeValidatorTests.cs
Labels: Test, VisualCSharp

#505 Rationalise DB - Create Database
  terraform/paas/application.tf
  terraform/paas/dev.env.tfvars
  terraform/paas/production.env.tfvars
  terraform/paas/sandbox.env.tfvars
  terraform/paas/services.tf
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps

#504 Trim/nullify empty strings coming into/out of the API
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/JsonConverters/EmptyStringToNullJsonConverter.cs
  GetIntoTeachingApi/JsonConverters/TrimStringJsonConverter.cs
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/JsonConverters/EmptyStringToNullJsonConverterTests.cs
  GetIntoTeachingApiTests/JsonConverters/TrimStringJsonConverterTests.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
Labels: Test, VisualCSharp

#477 Add test coverage to client-level rate limits
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Helpers/DatabaseFixture.cs
  GetIntoTeachingApiTests/Helpers/GitWebApplicationFactory.cs
  GetIntoTeachingApiTests/Integration/RateLimitTests.cs
Labels: Test, VisualCSharp

#506 Remove action to simulate an error
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
Labels: Test, VisualCSharp

#508 Run DB migration earlier in startup
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

#507 Devops/rationalise db
  terraform/paas/application.tf
Labels: DevOps

#511 Support explicitly setting the type on the sign up request model
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
Labels: Test, VisualCSharp

#512 Return NoResult instead of Failure when Authorization header missing
  GetIntoTeachingApi/Auth/ApiClientHandler.cs
  GetIntoTeachingApiTests/Auth/ApiClientHandlerTests.cs
Labels: Test, VisualCSharp

#513 Stop inferring returning teacher status from other attributes
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
  GetIntoTeachingApiTests/Services/SubscriptionManagerTests.cs
Labels: Test, VisualCSharp

#514 Clean up TeacherTrainingAdviserSignUpValidator/Tests
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: Test, VisualCSharp
