Repository DFE-Digital/get-into-teaching-api, pull requests merged in 2021-04, with the labels that each got.

#568 Set buildingId before saving in CRM
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
Labels: Test, VisualCSharp

#571 Establish link for existing entities
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
Labels: Test, VisualCSharp

#572 Fix TeachingEvent not linking to Buildings
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
Labels: Test, VisualCSharp

#573 Correct TeachingEvent.BuildingId CRM reference
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
Labels: Test, VisualCSharp

#574 Reduce job lock durations
  GetIntoTeachingApi/Jobs/CrmSyncJob.cs
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
Labels: VisualCSharp

#575 Increase HighNotFound threshold
  monitoring/prometheus/alert.rules
Labels: Monitoring

#576 Remove event start at greater than now validation criteria
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
Labels: Test, VisualCSharp

#577 Added Infrastructure Alerts
  monitoring/prometheus/alert.rules
Labels: Monitoring

#578 Infrastructure Bug Fix
  monitoring/prometheus/alert.rules
Labels: Monitoring

#580 Add dashboard for app page insights
  monitoring/grafana/dashboards/app_page_insights.json
Labels: Monitoring

#581 Add HTTP Errors Dashboard
  Dockerfile
  monitoring/grafana/dashboards/http_errors.json
Labels: Docker, Monitoring

#582 Remove GoogleApiErrors alert
  monitoring/prometheus/alert.rules
Labels: Monitoring

#583 Revert "Remove GoogleApiErrors alert"
  monitoring/prometheus/alert.rules
Labels: Monitoring

#585 Add crm name teaching event
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
Labels: Test, VisualCSharp

#584 Only validate readableId of existing event when it has changed
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test, VisualCSharp

#586 Remove PLAN
  .github/workflows/deploy.yml
Labels: DevOps

#588 Add TTA service feedback dashboard
  monitoring/grafana/dashboards/service_feedback.json
Labels: Monitoring

#589 Restrict Alerts to Production
  monitoring/prometheus/alert.rules
Labels: Monitoring

#590 Remove unique readable id validation
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
Labels: Test, VisualCSharp

#591 Only validate ReadableId on upsert action
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Models/TeachingEventUpsertOperation.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventUpsertOperationValidator.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventUpsertOperationTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventUpsertOperationValidatorTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test, VisualCSharp

#592 Add CRM time zone property
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
Labels: Test, VisualCSharp

#593 Remove CrmETag
  GetIntoTeachingApi/Attributes/CrmETagAttribute.cs
  GetIntoTeachingApi/Controllers/LookupItemsController.cs
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Controllers/PrivacyPoliciesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventBuildingsController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApiTests/Attributes/CrmETagAttributeTests.cs
  GetIntoTeachingApiTests/Controllers/LookupItemsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PrivacyPoliciesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventBuildingsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
Labels: Test, VisualCSharp

#594 Add preset labels to all custom metrics
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Helpers/DatabaseTests.cs
  GetIntoTeachingApiTests/Services/MetricServiceTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: Test, VisualCSharp

#597 Correct VCAP_APPLICATION env var name
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApiTests/Helpers/DatabaseTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: Test, VisualCSharp

#598 Improve logging around potential duplicate Candidates
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
Labels: Test, VisualCSharp

#596 Switch off logging to logit.io is development
  terraform/paas/dev.env.tfvars
Labels: DevOps

#595 Only notify slack on master branch changes
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
Labels: DevOps

#599 Use master branch of Prometheus
  terraform/paas/monitoring.tf
Labels: DevOps

#600 Make error response format consistent on manual validation
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
Labels: Test, VisualCSharp

#602 Log postcode when we query Google Geocoding API
  GetIntoTeachingApi/Adapters/GeocodeClientAdapter.cs
Labels: VisualCSharp

#603 Increase HighNotFound alert threshold
  monitoring/prometheus/alert.rules
Labels: Monitoring

#605 Moving to GHCR from Docker hub
  .github/common_environment.yml
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
  terraform/paas/application.tf
  terraform/paas/data.tf
Labels: DevOps

#606 Adding Deployments Dashboard
  monitoring/grafana/dashboards/deployments.yml
Labels: Monitoring

#607 Allow overseas candidates to schedule a callback
  GetIntoTeachingApi/Models/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: Test, VisualCSharp
