Repository DFE-Digital/get-into-teaching-api, pull requests merged in 2021-09, with the labels that each got.

#752 Format logging in JSON with Serilog
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/appsettings.Development.json
  GetIntoTeachingApi/appsettings.json
Labels: VisualCSharp

#748 Check for zip bombs before extracting postcodes
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApi/Utils/BombFoundException.cs
  GetIntoTeachingApi/Utils/ZipFileChecker.cs
  GetIntoTeachingApiTests/Fixtures/zip-bomb-fixtures/25kb-uncompressed_1kb-compressed.zip
  GetIntoTeachingApiTests/Fixtures/zip-bomb-fixtures/contains-two-files.zip
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Utils/ZipFileCheckerTests.cs
Labels: VisualCSharp, Test

#773 Allow multiple event types in event search
  GetIntoTeachingApi/Controllers/GetIntoTeaching/TeachingEventsController.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventSearchRequest.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/TeachingEventSearchRequestValidator.cs
  GetIntoTeachingApi/Services/MetricService.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApi/Validators/PickListItemIdValidator.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventSearchRequestTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventSearchRequestValidatorTests.cs
  GetIntoTeachingApiTests/Services/MetricServiceTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

#774 Increase GoogleApiErrors alert threshold
  monitoring/prometheus/alert.rules
Labels: Monitoring

#776 Extend comma separated attribute so that it can handle complex types
  GetIntoTeachingApi/Attributes/CommaSeparatedAttribute.cs
  GetIntoTeachingApi/Attributes/CommaSeparatedQueryStringAttribute.cs
  GetIntoTeachingApi/Controllers/GetIntoTeaching/TeachingEventsController.cs
  GetIntoTeachingApi/Utils/CommaSeparatedQueryStringConvention.cs
  GetIntoTeachingApi/Utils/CommaSeparatedQueryStringValueProvider.cs
  GetIntoTeachingApi/Utils/CommaSeparatedQueryStringValueProviderFactory.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Utils/CommaSeparatedQueryStringValueProviderFactoryTests.cs
  GetIntoTeachingApiTests/Utils/CommaSeparatedQueryStringValueProviderTests.cs
Labels: VisualCSharp, Test

#778 Bulk update dependencies
  GetIntoTeachingApi/AppStart/ApplicationBuilderExtensions.cs
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: VisualCSharp, Test

#780 Revert "Bulk update dependencies"
  GetIntoTeachingApi/AppStart/ApplicationBuilderExtensions.cs
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: VisualCSharp, Test

#777 Map phase/status to FindApply application forms
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Models/Crm/ApplicationForm.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/Validators/ApplicationFormValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/FindApply/ApplicationForm.cs
  GetIntoTeachingApi/Models/FindApply/CandidateAttributes.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Models/Crm/ApplicationFormTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ApplicationFormValidatorTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ApplicationFormTests.cs
  GetIntoTeachingApiTests/Models/FindApply/CandidateAttributesTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

#781 Bulk update dependencies take #2
  GetIntoTeachingApi/AppStart/ApplicationBuilderExtensions.cs
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: VisualCSharp, Test

#783 Undo remapping of QT events to TTT
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

#775 Remove TypeId parameter from events search
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventSearchRequest.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/TeachingEventSearchRequestValidator.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventSearchRequestTests.cs
Labels: VisualCSharp, Test

#791 Make first/last name optional on Candidate
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidatorTests.cs
Labels: VisualCSharp, Test

#792 Sync new Apply candidates to the CRM
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/ExistingCandidateRequest.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Models/Crm/BaseModelTests.cs
  GetIntoTeachingApiTests/Models/ExistingCandidateRequestTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

#793 Terraform Statuscake Provider Change
  terraform/paas/provider.tf
Labels: DevOps

#794 Use FluentAssertions.Json in contract test assertion
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

#795 Add Prometheus alert for any CSP violations that include `Google`
  monitoring/prometheus/alert.rules
Labels: Monitoring

#797 Revert "Add Prometheus alert for any CSP violations that include `Google`"
  monitoring/prometheus/alert.rules
Labels: Monitoring

#800 Add google csp table grafana
  monitoring/alertmanager/alertmanager.yml
  monitoring/grafana/dashboards/csp_violations.json
  monitoring/prometheus/alert.rules
  terraform/paas/variables.tf
Labels: DevOps, Monitoring

#801 Revert "Add google csp table grafana"
  monitoring/alertmanager/alertmanager.yml
  monitoring/grafana/dashboards/csp_violations.json
  monitoring/prometheus/alert.rules
  terraform/paas/variables.tf
Labels: DevOps, Monitoring

#803 Stricter partial URL validation
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/TeachingEventUpsertOperationValidator.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventUpsertOperationValidatorTests.cs
Labels: VisualCSharp, Test
