Repository DFE-Digital/get-into-teaching-api, pull requests merged in 2021-12, with the labels that each got.

#876 Label TOTP metrics with service reference
  GetIntoTeachingApi/Auth/ApiClientHandler.cs
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Controllers/GetIntoTeaching/CallbacksController.cs
  GetIntoTeachingApi/Controllers/GetIntoTeaching/MailingListController.cs
  GetIntoTeachingApi/Controllers/GetIntoTeaching/TeachingEventsController.cs
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Models/ExistingCandidateRequest.cs
  GetIntoTeachingApi/Services/CandidateAccessTokenService.cs
  GetIntoTeachingApi/Services/MetricService.cs
  GetIntoTeachingApiTests/Auth/ApiClientHandlerTests.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/CallbacksControllerTests.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Helpers/ControllerBaseExtensions.cs
  GetIntoTeachingApiTests/Services/CandidateAccessTokenServiceTests.cs
  GetIntoTeachingApiTests/Services/MetricServiceTests.cs
Labels: VisualCSharp, Test

#877 Add new panels for TOTP success rates
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

#867 Upgrade to ASP.NET Core 6
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
  Dockerfile
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApi/Services/CandidateMagicLinkTokenService.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: DevOps, VisualCSharp, Test, Docker

#880 Add panels for per-transaction verification code success rates
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

#878 Take latest application form for contact-level
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
Labels: VisualCSharp, Test

#881 Fix various linting warnings
  GetIntoTeachingApi/Adapters/GeocodeClientAdapter.cs
  GetIntoTeachingApi/AppStart/SwaggerDefinitionsFilter.cs
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Controllers/GetIntoTeaching/TeachingEventsController.cs
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Database/GetIntoTeachingDbContextFactory.cs
  GetIntoTeachingApi/Jobs/ClaimCallbackBookingSlotJob.cs
  GetIntoTeachingApi/Jobs/FindApplyBackfillJob.cs
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Jobs/FindApplySyncJob.cs
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Jobs/UpsertModelJob.cs
  GetIntoTeachingApi/Middleware/RequestResponseLoggingMiddleware.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/ExistingCandidateRequest.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/NotifyService.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApi/Services/SubscriptionManager.cs
  GetIntoTeachingApi/Utils/BombFoundException.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/GeometryExtensions.cs
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Helpers/DatabaseTests.cs
  GetIntoTeachingApiTests/Helpers/QueryableExtensions.cs
  GetIntoTeachingApiTests/Jobs/ClaimCallbackBookingSlotJobTests.cs
  GetIntoTeachingApiTests/Jobs/FindApplySyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertModelJobTests.cs
  GetIntoTeachingApiTests/Middleware/RequestResponseLoggingMiddlewareTests.cs
  GetIntoTeachingApiTests/Models/Crm/BaseModelTests.cs
  GetIntoTeachingApiTests/Services/CandidateMagicLinkTokenServiceTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
  GetIntoTeachingApiTests/Services/SubscriptionManagerTests.cs
Labels: VisualCSharp, Test

#882 Minor linting fixes
  GetIntoTeachingApiTests/Services/PaginatorClientTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: Test

#885 Grafana directory traversal
  terraform/paas/monitoring.tf
Labels: DevOps

#883 Configure NETAnalyzer static code analysis
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/Adapters/GeocodeClientAdapter.cs
  GetIntoTeachingApi/AppStart/SwaggerDefinitionsFilter.cs
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Controllers/GetIntoTeaching/TeachingEventsController.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/GlobalSuppressions.cs
  GetIntoTeachingApi/Jobs/BaseJob.cs
  GetIntoTeachingApi/Jobs/ClaimCallbackBookingSlotJob.cs
  GetIntoTeachingApi/Jobs/FindApplyBackfillJob.cs
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Jobs/FindApplySyncJob.cs
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Jobs/UpsertModelJob.cs
  GetIntoTeachingApi/Middleware/RequestResponseLoggingMiddleware.cs
  GetIntoTeachingApi/Models/ExistingCandidateRequest.cs
  GetIntoTeachingApi/Models/Location.cs
  GetIntoTeachingApi/Models/SchoolsExperience/ClassroomExperienceNote.cs
  GetIntoTeachingApi/Services/ClientManager.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/NotifyService.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApi/Utils/StringExtensions.cs
  GetIntoTeachingApiTests/Services/ClientManagerTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

#879 Se entity
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/CandidateSchoolExperience.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateSchoolExperienceValidator.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Jobs/AddClassroomExperienceNoteJobTests.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateSchoolExperienceTests.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateSchoolExperienceValidatorTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

#886 Add cookie opt-in panel to apps dashboard
  monitoring/grafana/dashboards/get_into_teaching_apps.json
Labels: Monitoring
