Repository DFE-Digital/get-into-teaching-api, pull requests merged in 2021-08, with the labels that each got.

#735 Add IsWalkIn attribute to TeachingEventAddAttendee
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
Labels: VisualCSharp

#738 Add total callbacks booked Grafana panel
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

#731 Handle candidates re-signing up with a closed adviser status take #2
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: Test, VisualCSharp

#739 Map AdviserStatusId from Candidate
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

#741 Bug fix to support empty array in GetCandidates method
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

#742 Remove redundant AlreadySubscribedToTeacherTrainingAdviser attribute
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: VisualCSharp, Test

#743 Rate limit admin role
  GetIntoTeachingApi/appsettings.json
  GetIntoTeachingApiTests/Integration/RateLimitTests.cs
Labels: Test

#744 Fix flakey contract tests
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
Labels: Test

#745 Secure HTTP response headers
  GetIntoTeachingApi/AppStart/ResponseHeaders.cs
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Program.cs
Labels: VisualCSharp

#749 Improve wait logic around contract test job queue
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
Labels: Test

#754 Add contract test for re-subscribing to a TTA
  GetIntoTeachingApiTests/Contracts/Data/teacher_training_adviser/candidates.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_when_in_a_closed_state_not_returning_existing_data_change_country.json
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

#757 Update dependencies to latest versions
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/CallbacksControllerTests.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/ModelBinders/TrimStringModelBinderTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/GetIntoTeachingCallbackTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Services/CandidateMagicLinkTokenServiceTests.cs
  GetIntoTeachingApiTests/Services/DateTimeProviderTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test

#759 Update FluentValidation dependency
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidatePastTeachingPositionValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidatePrivacyPolicyValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateQualificationValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/PhoneCallValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/TeachingEventRegistrationValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/TeachingEventValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/GetIntoTeachingCallbackValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/MailingListAddMemberValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventSearchRequestValidatorTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/ClassroomExperienceNoteValidatorTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/SchoolsExperienceSignUpValidatorTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/ClientValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/ExistingCandidateRequestValidatorTests.cs
Labels: Test

#756 Sync additional data to the CRM from the Apply API
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Models/Crm/ApplicationForm.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/Validators/ApplicationFormValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/FindApply/ApplicationForm.cs
  GetIntoTeachingApi/Models/FindApply/CandidateAttributes.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApi/Utils/StringExtensions.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Models/Crm/ApplicationFormTests.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ApplicationFormValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ApplicationFormTests.cs
  GetIntoTeachingApiTests/Models/FindApply/CandidateAttributesTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
  GetIntoTeachingApiTests/Utils/StringExtensionsTests.cs
Labels: VisualCSharp, Test

#762 Fix deprecation warnings for FluentValidation
  GetIntoTeachingApiTests/Models/Crm/Validators/ApplicationFormValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
Labels: Test

#761 Support feature switching for Apply API sync
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Attributes/EntityFieldAttribute.cs
  GetIntoTeachingApi/Mocks/MockModel.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApi/Utils/StringExtensions.cs
  GetIntoTeachingApiTests/Models/Crm/BaseModelTests.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
  GetIntoTeachingApiTests/Utils/StringExtensionsTests.cs
Labels: VisualCSharp, Test

#765 Add Name attribute to ApplicationForm
  GetIntoTeachingApi/Models/Crm/ApplicationForm.cs
  GetIntoTeachingApiTests/Models/Crm/ApplicationFormTests.cs
Labels: VisualCSharp, Test

#768 Update FreeMapToolsUrl with new CSV path
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApiTests/Jobs/LocationSyncJobTests.cs
Labels: VisualCSharp, Test

#772 Prometheus Restart
  .github/workflows/restart_prometheus.yml
Labels: DevOps
