Repository DFE-Digital/get-into-teaching-api, pull requests merged in 2021-03, with the labels that each got.

#515 Validate CRM responses when mapping to BaseModel subclasses
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApi/Models/CallbackBookingQuota.cs
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/CandidatePastTeachingPosition.cs
  GetIntoTeachingApi/Models/CandidatePrivacyPolicy.cs
  GetIntoTeachingApi/Models/CandidateQualification.cs
  GetIntoTeachingApi/Models/PhoneCall.cs
  GetIntoTeachingApi/Models/PrivacyPolicy.cs
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApi/Models/TeachingEventBuilding.cs
  GetIntoTeachingApi/Models/TeachingEventRegistration.cs
  GetIntoTeachingApi/Models/Validators/CandidatePastTeachingPositionValidator.cs
  GetIntoTeachingApi/Models/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/Validators/PhoneCallValidator.cs
  GetIntoTeachingApi/Models/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Mocks/Models.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/Validators/CandidatePastTeachingPositionValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/PhoneCallValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
  README.md
Labels: Test, VisualCSharp

#517 Add change tracking to models/only update CRM with changed attributes
  GetIntoTeachingApi/FodyWeavers.xml
  GetIntoTeachingApi/FodyWeavers.xsd
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Mocks/MockModel.cs
  GetIntoTeachingApi/Mocks/MockRelatedModel.cs
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApi/Models/MailingListAddMember.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeachingEventAddAttendee.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
  GetIntoTeachingApiTests/Models/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/MappingInfoTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventAddAttendeeTests.cs
Labels: Test, VisualCSharp

#518 New Chart to add resource display
  monitoring/grafana/dashboards/resources.json
Labels: DevOps, Monitoring

#520 Ignore change tracking on relationships
  GetIntoTeachingApi/Models/BaseModel.cs
Labels: VisualCSharp

#521 Validate Azure Keys
  .github/workflows/deploy.yml
Labels: DevOps

#522 Manually serialize Hangfire payloads
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Mocks/MockModel.cs
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/JsonExtensions.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Jobs/MagicLinkTokenGenerationJobTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
Labels: Test, VisualCSharp

#523 Serialization bug fixes
  GetIntoTeachingApi/Attributes/LogRequestsAttribute.cs
  GetIntoTeachingApi/Attributes/LoggableAttribute.cs
  GetIntoTeachingApi/Attributes/SensitiveDataAttribute.cs
  GetIntoTeachingApi/Controllers/CallbackBookingQuotasController.cs
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Controllers/LookupItemsController.cs
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Controllers/PrivacyPoliciesController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Models/CallbackBookingQuota.cs
  GetIntoTeachingApi/Models/HealthCheckResponse.cs
  GetIntoTeachingApi/Models/LookupItem.cs
  GetIntoTeachingApi/Models/MailingListAddMember.cs
  GetIntoTeachingApi/Models/MappingInfo.cs
  GetIntoTeachingApi/Models/PickListItem.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApi/Models/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Models/TeachingEventBuilding.cs
  GetIntoTeachingApi/Models/TeachingEventSearchRequest.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/LoggableMessageComposer.cs
  GetIntoTeachingApiTests/Attributes/LogRequestsAttributeTests.cs
  GetIntoTeachingApiTests/Controllers/CallbackBookingQuotasControllerTests.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/LookupItemsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PrivacyPoliciesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Models/CallbackBookingQuotaTests.cs
  GetIntoTeachingApiTests/Models/HealthCheckResponseTests.cs
  GetIntoTeachingApiTests/Models/LookupItemTests.cs
  GetIntoTeachingApiTests/Models/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/MappingInfoTests.cs
  GetIntoTeachingApiTests/Models/PickListItemTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventBuildingTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventSearchRequestTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
  GetIntoTeachingApiTests/Utils/LoggableMessageComposerTests.cs
Labels: Test, VisualCSharp

#519 Record metrics on event search results
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Services/IMetricService.cs
  GetIntoTeachingApi/Services/MetricService.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Services/MetricServiceTests.cs
Labels: Test, VisualCSharp

#524 Swap Newtonsoft.Json to System.Text.Json
  GetIntoTeachingApi/Database/DbConfiguration.cs
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApi/Redis/RedisConfiguration.cs
  GetIntoTeachingApi/Redis/RedisRateLimitCounterStore.cs
  GetIntoTeachingApiTests/Helpers/DatabaseFixture.cs
Labels: Test, VisualCSharp

#531 Add panel showing event search results by search radius
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

#529 Influx DB Upgraded to SMALL in Production
  terraform/paas/application.tf
  terraform/paas/data.tf
  terraform/paas/monitoring.tf
  terraform/paas/production.env.tfvars
  terraform/paas/services.tf
  terraform/paas/variables.tf
Labels: DevOps

#532 Optimise metrics by removing high-cardinality labels
  GetIntoTeachingApi/Adapters/GeocodeClientAdapter.cs
  GetIntoTeachingApi/Services/CandidateAccessTokenService.cs
  GetIntoTeachingApi/Services/MetricService.cs
  GetIntoTeachingApiTests/Services/CandidateAccessTokenServiceTests.cs
  GetIntoTeachingApiTests/Services/MetricServiceTests.cs
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring, Test, VisualCSharp

#528 Format postcodes before sending to the API
  GetIntoTeachingApi/Models/Location.cs
  GetIntoTeachingApi/Models/MailingListAddMember.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Utils/ApplicationExtensions.cs
  GetIntoTeachingApi/Utils/StringExtensions.cs
  GetIntoTeachingApiTests/Models/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Utils/StringExtensionsTests.cs
Labels: Test, VisualCSharp

#533 Add event search dashboard
  monitoring/grafana/dashboards/get_into_teaching_api.json
  monitoring/grafana/dashboards/get_into_teaching_api_event_search.json
Labels: Monitoring

#534 Use Newtonsoft.Json for Hangfire payloads
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/JsonExtensions.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
  README.md
Labels: Test, VisualCSharp

#537 Logit logs
  monitoring/grafana/dashboards/logit_logs.json
  monitoring/grafana/dashboards/resources.json
Labels: Monitoring

#535 Moved ELK Datasource for Grafana to common module
  monitoring/grafana/datasources/elasticsearch.yml.tmpl
  terraform/paas/monitoring.tf
Labels: DevOps, Monitoring

#536 Remove telephone from MailingListAddMember
  GetIntoTeachingApi/Models/MailingListAddMember.cs
  GetIntoTeachingApiTests/Models/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/Validators/MailingListAddMemberValidatorTests.cs
Labels: Test, VisualCSharp

#538 Record in-person event search result metrics
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApi/Services/IMetricService.cs
  GetIntoTeachingApi/Services/MetricService.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
  GetIntoTeachingApiTests/Services/MetricServiceTests.cs
  monitoring/grafana/dashboards/get_into_teaching_api_event_search.json
Labels: Monitoring, Test, VisualCSharp

#530 Update action return types to use AspNetCore.Http.StatusCodes
  GetIntoTeachingApi/Controllers/CallbackBookingQuotasController.cs
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Controllers/LookupItemsController.cs
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Controllers/PrivacyPoliciesController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
Labels: VisualCSharp

#539 Correct in-person event search metric name
  monitoring/grafana/dashboards/get_into_teaching_api_event_search.json
Labels: Monitoring

#541 Create trello.yml
  .github/workflows/trello.yml
Labels: DevOps

#544 Serialize attribute names to camelCase instead of PascalCase
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Utils/JsonExtensions.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Jobs/MagicLinkTokenGenerationJobTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
  GetIntoTeachingApiTests/Utils/JsonExtensionsTests.cs
  README.md
Labels: Test, VisualCSharp

#543 Improved request/response and job payload logging
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Middleware/RequestResponseLoggingMiddleware.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/Redactor.cs
  GetIntoTeachingApi/Utils/RequestResponseLoggingMiddlewareExtensions.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
  GetIntoTeachingApiTests/Middleware/RequestResponseLoggingMiddlewareTests.cs
  GetIntoTeachingApiTests/Utils/RedactorTests.cs
  README.md
Labels: Test, VisualCSharp

#545 Attach correlation IDs to logs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

#527 Teaching event buildings
  GetIntoTeachingApi/Controllers/TeachingEventBuildingsController.cs
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/LookupItemsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventBuildingsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test, VisualCSharp

#546 Revert "Attach correlation IDs to logs"
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Startup.cs
Labels: VisualCSharp

#547 Update search radius to match new values
  monitoring/grafana/dashboards/get_into_teaching_api_event_search.json
Labels: Monitoring

#548 Fix Swagger annotation
  GetIntoTeachingApi/Controllers/TeachingEventBuildingsController.cs
Labels: VisualCSharp

#549 Retrieve Logging Endpoint From Secrets
  Makefile
  terraform/paas/data.tf
  terraform/paas/services.tf
  terraform/paas/variables.tf
Labels: DevOps

#552 Common Delivery Method Used
  terraform/paas/monitoring.tf
  terraform/paas/sandbox.env.tfvars
  terraform/paas/services.tf
Labels: DevOps

#551 Update Gov UK Notify library
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
  Dockerfile
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  README.md
Labels: DevOps, Docker

#554 Dropped Grafana ELK credentials
  terraform/paas/monitoring.tf
  terraform/paas/production.env.tfvars
Labels: DevOps

#555 Update teaching event
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test, VisualCSharp

#556 Update email validator
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
Labels: VisualCSharp

#557 Remove validation for fields
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
Labels: Test, VisualCSharp

#558 Handle non-unique partial URL
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: Test, VisualCSharp

#561 Fix test environment for integration tests
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Helpers/DatabaseFixture.cs
  GetIntoTeachingApiTests/Helpers/DatabaseTests.cs
  GetIntoTeachingApiTests/Integration/RateLimitTests.cs
Labels: Test, VisualCSharp

#562 Make DateTime.UtcNow mockable
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/CandidatePrivacyPolicy.cs
  GetIntoTeachingApi/Models/MailingListAddMember.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Models/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/Validators/ExistingCandidateRequestValidator.cs
  GetIntoTeachingApi/Models/Validators/MailingListAddMemberValidator.cs
  GetIntoTeachingApi/Models/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventAddAttendeeValidator.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventValidator.cs
  GetIntoTeachingApi/Services/CallbackBookingService.cs
  GetIntoTeachingApi/Services/CandidateAccessTokenService.cs
  GetIntoTeachingApi/Services/CandidateMagicLinkTokenService.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/DateTimeProvider.cs
  GetIntoTeachingApi/Services/IDateTimeProvider.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApi/Services/SubscriptionManager.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
  GetIntoTeachingApiTests/Models/CandidatePrivacyPolicyTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/ExistingCandidateRequestValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/MailingListAddMemberValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventAddAttendeeValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventValidatorTests.cs
  GetIntoTeachingApiTests/Services/CallbackBookingServiceTests.cs
  GetIntoTeachingApiTests/Services/CandidateAccessTokenServiceTests.cs
  GetIntoTeachingApiTests/Services/CandidateMagicLinkTokenServiceTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
  GetIntoTeachingApiTests/Services/DateTimeProviderTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
  GetIntoTeachingApiTests/Services/SubscriptionManagerTests.cs
Labels: Test, VisualCSharp

#550 Add mechanism to pause/resume the CRM integration
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Controllers/OperationsController.cs
  GetIntoTeachingApi/Fixtures/clients.yml
  GetIntoTeachingApi/Jobs/CrmSyncJob.cs
  GetIntoTeachingApi/Jobs/MagicLinkTokenGenerationJob.cs
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Models/AppSettings.cs
  GetIntoTeachingApi/Models/HealthCheckResponse.cs
  GetIntoTeachingApi/Models/IAppSettings.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/IRedisService.cs
  GetIntoTeachingApi/Services/RedisService.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Jobs/CrmSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/MagicLinkTokenGenerationJobTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
  GetIntoTeachingApiTests/Models/AppSettingsTests.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: Test, VisualCSharp

#564 Add status filter to teaching event search
  GetIntoTeachingApi/Models/TeachingEventSearchRequest.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Models/TeachingEventSearchRequestTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test, VisualCSharp

#565 Save teaching event/building independently
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test, VisualCSharp
