Repository DFE-Digital/get-into-teaching-api, pull requests merged in 2021-01, with the labels that each got.

#432 Status cake deployment Merged with main deployment
  .github/workflows/deploy.yml
  terraform/paas/dev.env.tfvars
  terraform/paas/production.env.tfvars
  terraform/paas/provider.tf
  terraform/paas/review.env.tfvars
  terraform/paas/statuscake.tf
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
  terraform/statuscake/backend.tf
  terraform/statuscake/provider.tf
  terraform/statuscake/test.bk.vars
  terraform/statuscake/test.env.tfvars
  terraform/statuscake/variables.tf
Labels: DevOps

#431 Return all 'Online Events' on distance-based search
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Models/TeachingEventTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test, VisualCSharp

#435 Allow event search with only start after date
  GetIntoTeachingApi/Models/Validators/TeachingEventSearchRequestValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventSearchRequestValidatorTests.cs
Labels: Test, VisualCSharp

#436 Removed List of Default Status Codes
  terraform/paas/production.env.tfvars
  terraform/paas/statuscake.tf
  terraform/paas/test.env.tfvars
Labels: DevOps

#437 Added monitoring variables to deployment workflow
  .github/workflows/deploy.yml
  .github/workflows/monitoring.yml
  .github/workflows/monitoring_prod.yml
Labels: DevOps

#440 Devops/monitor/merge/influx
  terraform/paas/monitoring.tf
Labels: DevOps

#441 Merge Monitoring with Main Deployments
  terraform/paas/production.env.tfvars
Labels: DevOps

#433 Change distance filter to work in database
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test, VisualCSharp

#434 Sync archived teaching events
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test, VisualCSharp

#442 Devops/monitor/merge/prod influx
  terraform/monitoring/future/alertmanager.tf
  terraform/monitoring/modules.tf
  terraform/monitoring/provider.tf
  terraform/monitoring/services.tf
  terraform/monitoring/space.tf
  terraform/monitoring/testAlert.sh
  terraform/paas/dev.env.tfvars
  terraform/paas/monitoring.tf
  terraform/paas/network.tf
  terraform/paas/production.env.tfvars
  terraform/paas/route.tf
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps

#430 Add TeachingEventsByType response model
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Models/TeachingEventsByType.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventsByTypeTests.cs
Labels: Test, VisualCSharp

#444 set all variables to default
  terraform/paas/variables.tf
Labels: DevOps

#445 Added missing variable
  terraform/paas/monitoring.tf
Labels: DevOps

#446 Devops/monitoring/networks
  terraform/paas/monitoring.tf
  terraform/paas/network.tf
  terraform/paas/variables.tf
Labels: DevOps

#449 Use ID rather than BLUE/GREEN ID
  terraform/paas/network.tf
Labels: DevOps

#450 Devops/fix deploy
  terraform/paas/network.tf
Labels: DevOps

#447 Remove x_teaching_events_indexed_by_type endpoints
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Services/IStore.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test, VisualCSharp

#451 Switched monitoring deployment on
  terraform/paas/production.env.tfvars
Labels: DevOps

#448 Collect metrics for Timed One Time Passwords (TOTPs)
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Services/CandidateAccessTokenService.cs
  GetIntoTeachingApi/Services/ICandidateAccessTokenService.cs
  GetIntoTeachingApi/Services/IMetricService.cs
  GetIntoTeachingApi/Services/MetricService.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeacherTrainingAdviser/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Controllers/TeachingEventsControllerTests.cs
  GetIntoTeachingApiTests/Services/CandidateAccessTokenServiceTests.cs
  GetIntoTeachingApiTests/Services/MetricServiceTests.cs
Labels: Test, VisualCSharp

#453 Remove old monitoring Terraform and add fix for Policies
  .github/workflows/fix-network-policy.yml
  terraform/monitoring/applications.tf
  terraform/monitoring/backend.tf
  terraform/monitoring/dev.bk.vars
  terraform/monitoring/dev.env.tfvars
  terraform/monitoring/domain.tf
  terraform/monitoring/modules.tf
  terraform/monitoring/monitor.bk.vars
  terraform/monitoring/monitor.env.tfvars
  terraform/monitoring/network.tf
  terraform/monitoring/routes.tf
  terraform/monitoring/variables.tf
Labels: DevOps, Review

#455 Automatic Run Fix Network Policies
  .github/workflows/manual.yml
Labels: DevOps, Review

#454 Automatically run Fix network Policies
  .github/workflows/build.yml
Labels: DevOps, Review

#456 Add TOTP metrics to engagement row
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring

#457 Simplify the service request models
  GetIntoTeachingApi/Models/MailingListAddMember.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Services/SubscriptionManager.cs
  GetIntoTeachingApiTests/Models/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Services/SubscriptionManagerTests.cs
Labels: Test, VisualCSharp

#458 Rename GovPaas Organisation
  terraform/paas/variables.tf
Labels: DevOps, Do Not Merge

#460 Better Release Body
  .github/workflows/build.yml
Labels: DevOps
