Repository DFE-Digital/get-into-teaching-api, pull requests merged in 2021-07, with the labels that each got.

#692 Add basic auth to Hangfire dashboard (take 2)
  GetIntoTeachingApi/Auth/HangfireDashboardEnvironmentAuthorizationFilter.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Auth/HangfireDashboardEnvironmentAuthorizationFilterTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: Test, VisualCSharp

#695 Implement more Dependabot
  .github/dependabot.yml
Labels: DevOps

#694 Run dev/test deployments in parallel
  .github/workflows/build.yml
Labels: DevOps

#687 Clean up startup
  GetIntoTeachingApi/AppStart/ApplicationBuilderExtensions.cs
  GetIntoTeachingApi/AppStart/DatabaseUtility.cs
  GetIntoTeachingApi/AppStart/HangfireJobs.cs
  GetIntoTeachingApi/AppStart/PrometheusMetricLabels.cs
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/ApplicationExtensions.cs
  GetIntoTeachingApiTests/Integration/RateLimitTests.cs
Labels: Test, VisualCSharp

#711 Sync teaching events up to 9 months old
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

#713 Increase HighNotFound alert threshold
  monitoring/prometheus/alert.rules
Labels: Monitoring

#560 Add initial support for contract testing
  GetIntoTeachingApiTests/Contracts/Data/callback_booking_quotas.json
  GetIntoTeachingApiTests/Contracts/Data/lookup_items/countries.json
  GetIntoTeachingApiTests/Contracts/Data/lookup_items/teaching_subjects.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/adviser_eligibilities.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/adviser_requirements.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/assignment_status.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/channels.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/event_subscription_channels.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/gcse_status.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/initial_teacher_training_years.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/journey_stages.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/mailing_list_subscription_channels.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/preferred_education_phases.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/retake_gcse_status.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/types.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/past_teaching_position/education_phases.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/phone_call/channels.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/qualification/degree_status.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/qualification/types.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/qualification/uk_degree_grades.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/subscription/types.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/teaching_event/status.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/teaching_event/types.json
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/teaching_event_registration/channels.json
  GetIntoTeachingApiTests/Contracts/Data/privacy_policy.json
  GetIntoTeachingApiTests/Contracts/Data/state.json
  GetIntoTeachingApiTests/Contracts/Data/teacher_training_adviser/candidates.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_primary_has_retaking_gcses_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_no_teacher_reference_number_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_teacher_reference_number_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Input/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_returning_existing_data_change_address.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_primary_has_retaking_gcses_overseas.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_equivalent_degree_secondary_has_gcses_is_in_uk.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_primary_has_gcses_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_has_degree_secodary_retaking_gcses_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_not_returning_studying_for_degree_primary_has_retaking_gcses_overseas_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_no_teacher_reference_number_overseas_and_no_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_a_new_candidate_returning_teacher_reference_number_in_the_uk_and_telephone.json
  GetIntoTeachingApiTests/Contracts/Output/TeacherTrainingAdviser/sign_up_with_an_existing_candidate_returning_existing_data_change_address.json
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Helpers/ContractCallbackBookingService.cs
  GetIntoTeachingApiTests/Helpers/ContractTestGitWebApplicationFactory.cs
  GetIntoTeachingApiTests/Helpers/ContractTestInputDataAttributep.cs
  GetIntoTeachingApiTests/Helpers/ContractTestOrganizationServiceAdapter.cs
  GetIntoTeachingApiTests/Helpers/ContractTestState.cs
  README.md
Labels: Test

#715 Sync Question Time events as Train to Teach
  GetIntoTeachingApi/Models/TeachingEvent.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test, VisualCSharp

#716 Fix flakey contract tests
  GetIntoTeachingApiTests/Helpers/ContractTestOrganizationServiceAdapter.cs
Labels: Test

#717 Add Swagger definitions filter
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/AppStart/SwaggerDefinitionsFilter.cs
  GetIntoTeachingApi/Attributes/SwaggerIgnoreAttribute.cs
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/CandidatePastTeachingPosition.cs
  GetIntoTeachingApi/Models/CandidatePrivacyPolicy.cs
  GetIntoTeachingApi/Models/CandidateQualification.cs
  GetIntoTeachingApi/Models/PhoneCall.cs
  GetIntoTeachingApiTests/Models/CandidatePastTeachingPositionTests.cs
  GetIntoTeachingApiTests/Models/CandidatePrivacyPolicyTests.cs
  GetIntoTeachingApiTests/Models/CandidateQualificationTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/PhoneCallTests.cs
Labels: Test, VisualCSharp

#708 Remove relationship entity mapping from `BaseModel`
  GetIntoTeachingApi/Models/BaseModel.cs
  GetIntoTeachingApiTests/Models/BaseModelTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  README.md
Labels: Test, VisualCSharp

#718 Swagger ignore TeachingEventRegistration
  GetIntoTeachingApi/Models/TeachingEventRegistration.cs
  GetIntoTeachingApiTests/Models/TeachingEventRegistrationTests.cs
Labels: Test, VisualCSharp

#709 Map related model validation errors to request model
  GetIntoTeachingApi/Controllers/GetIntoTeaching/CallbacksController.cs
  GetIntoTeachingApi/Controllers/MailingListController.cs
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeacherTrainingAdviser/CandidatesController.cs
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
  GetIntoTeachingApi/Models/Validators/GetIntoTeachingCallbackValidator.cs
  GetIntoTeachingApi/Models/Validators/MailingListAddMemberValidator.cs
  GetIntoTeachingApi/Models/Validators/SchoolsExperienceSignUpValidator.cs
  GetIntoTeachingApi/Models/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApi/Models/Validators/TeachingEventAddAttendeeValidator.cs
  GetIntoTeachingApi/Utils/ValidationResultExtensions.cs
  GetIntoTeachingApiTests/Utils/ValidationResultExtensionsTests.cs
  README.md
Labels: Test, VisualCSharp

#721 Re-introduce OperationId
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
Labels: VisualCSharp

#714 Updates to GetIntoTeachingCallbackBooking modelling
  GetIntoTeachingApi/Models/Crm/PhoneCall.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/GetIntoTeachingCallback.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/GetIntoTeachingCallbackValidator.cs
  GetIntoTeachingApiTests/Models/Crm/PhoneCallTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/GetIntoTeachingCallbackTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/GetIntoTeachingCallbackValidatorTests.cs
Labels: Test, VisualCSharp

#724 Check if candidate can re-subcsribe based on adviser status
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: Test, VisualCSharp

#728 Handle candidates re-signing up with a closed adviser status
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: Test, VisualCSharp

#730 Revert "Handle candidates re-signing up with a closed adviser status"
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
Labels: Test, VisualCSharp
