Repository DFE-Digital/get-into-teaching-api, pull requests merged in 2021-10, with the labels that each got.

#805 Allow ChannelId to be specified on TeacherTrainingAdviserSignUp
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApi/Services/SubscriptionManager.cs
  GetIntoTeachingApiTests/Contracts/Data/pick_list_items/candidate/teacher_training_adviser_subscription_channels.json
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Services/SubscriptionManagerTests.cs
Labels: VisualCSharp, Test

#802 Revert "Revert "Add google csp table grafana""
  monitoring/grafana/dashboards/csp_violations.json
  monitoring/prometheus/alert.rules
Labels: Monitoring

#799 Swallow errors when there are concurrent requests to add a postcode
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

#817 Fix swagger documentation for backfill endpoint
  GetIntoTeachingApi/Controllers/OperationsController.cs
Labels: VisualCSharp
