Repository DFE-Digital/get-into-teaching-api, pull requests merged in 2021-05, with the labels that each got.

#608 Update read-only queries to non-tracking
  GetIntoTeachingApi/Services/Store.cs
Labels: VisualCSharp

#604 In-memory cache postcodes that can't be geocoded
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: Test, VisualCSharp

#601 Support compact logging of verbose requests/responses
  GetIntoTeachingApi/Middleware/IRequestResponseLoggingConfiguration.cs
  GetIntoTeachingApi/Middleware/RequestResponseLoggingConfiguration.cs
  GetIntoTeachingApi/Middleware/RequestResponseLoggingMiddleware.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Middleware/RequestResponseLoggingConfigurationTests.cs
  GetIntoTeachingApiTests/Middleware/RequestResponseLoggingMiddlewareTests.cs
Labels: Test, VisualCSharp

#612 Update Cloud Foundry Provider Version
  terraform/paas/provider.tf
Labels: DevOps

#609 Run Books Added
  docs/runbooks/client-approaching-rate-limit.md
  docs/runbooks/client-approaching-rate-limit_create-access-token.md
  docs/runbooks/failed-jobs.md
  docs/runbooks/google-api-errors.md
  docs/runbooks/high-cpu.md
  docs/runbooks/high-database-connections.md
  docs/runbooks/high-google-api-calls.md
  docs/runbooks/high-memory.md
  docs/runbooks/too-many-requests.md
  monitoring/prometheus/tests.yml
Labels: Monitoring

#622 Use lookup() to extract secrets
  terraform/paas/monitoring.tf
Labels: DevOps

#621 Add Schools Experience API client
  GetIntoTeachingApi/Fixtures/clients.yml
  GetIntoTeachingApi/Models/Validators/ClientValidator.cs
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApi/appsettings.json
  GetIntoTeachingApiTests/Integration/RateLimitTests.cs
  GetIntoTeachingApiTests/Models/Validators/ClientValidatorTests.cs
Labels: Test, VisualCSharp

#623 Rename Telephone to AddressTelephone
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Models/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Utils/Redactor.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/Validators/CandidateValidatorTests.cs
Labels: Test, VisualCSharp

#624 Accept Telephone or AddressTelephone
  GetIntoTeachingApi/Models/Validators/TeacherTrainingAdviserSignUpValidator.cs
Labels: VisualCSharp

#625 Remove the `Telephone` field from request models
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Models/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventAddAttendeeValidatorTests.cs
Labels: Test, VisualCSharp

#627 Add initial support for Schools Experience service
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/ClassroomExperienceNote.cs
  GetIntoTeachingApi/Models/MailingListAddMember.cs
  GetIntoTeachingApi/Models/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Models/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Models/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/Validators/ClassroomExperienceNoteValidator.cs
  GetIntoTeachingApi/Models/Validators/SchoolsExperienceSignUpValidator.cs
  GetIntoTeachingApi/Utils/Redactor.cs
  GetIntoTeachingApi/Utils/StringExtensions.cs
  GetIntoTeachingApi/appsettings.json
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Integration/RateLimitTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/ClassroomExperienceNoteTests.cs
  GetIntoTeachingApiTests/Models/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Models/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/ClassroomExperienceNoteValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/SchoolsExperienceSignUpValidatorTests.cs
  GetIntoTeachingApiTests/Utils/StringExtensionsTests.cs
Labels: Test, VisualCSharp

#629 Enable SchoolsExperience to issue verification codes
  GetIntoTeachingApi/Controllers/CandidatesController.cs
  GetIntoTeachingApiTests/Controllers/CandidatesControllerTests.cs
Labels: Test, VisualCSharp

#630 Minor tweaks for Schools Experience
  GetIntoTeachingApi/Models/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/Models/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/Validators/SchoolsExperienceSignUpValidator.cs
  GetIntoTeachingApiTests/Models/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/Validators/SchoolsExperienceSignUpValidatorTests.cs
Labels: Test, VisualCSharp

#633 Added Postgres Database Monitoring
  terraform/paas/monitoring.tf
Labels: DevOps

#634 Change SchoolsExperience upsert to be synchronous
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Jobs/UpsertCandidateJob.cs
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApi/Services/ICandidateUpserter.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Helpers/DatabaseFixture.cs
  GetIntoTeachingApiTests/Helpers/DatabaseTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
  docker-compose.yml
Labels: Docker, Test, VisualCSharp

#631 Make SecondaryPreferredTeachingSubjectId optional
  GetIntoTeachingApi/Models/Validators/SchoolsExperienceSignUpValidator.cs
  GetIntoTeachingApiTests/Models/Validators/SchoolsExperienceSignUpValidatorTests.cs
Labels: Test, VisualCSharp

#635 Fix return type of SE upsert method
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
Labels: Test, VisualCSharp

#636 Create check_alert_rules.yml
  .github/workflows/check_alert_rules.yml
Labels: DevOps

#638 Add SwaggerRequestBody annotation
  GetIntoTeachingApi/Controllers/TeachingEventsController.cs
Labels: VisualCSharp

#639 Validate against array of strings instead of regex
  GetIntoTeachingApi/Models/Validators/ClassroomExperienceNoteValidator.cs
Labels: VisualCSharp

#640 Support retrieving multiple SE sign ups
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: Test, VisualCSharp

#641 Add FullName property to SE sign up
  GetIntoTeachingApi/Models/SchoolsExperienceSignUp.cs
  GetIntoTeachingApiTests/Models/SchoolsExperienceSignUpTests.cs
Labels: Test, VisualCSharp

#642 Expose MasterId for SchoolsExperienceSignUp
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/SchoolsExperienceSignUp.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperienceSignUpTests.cs
Labels: Test, VisualCSharp

#643 Add merged attribute to SchoolsExperienceSignUp
  GetIntoTeachingApi/Models/Candidate.cs
  GetIntoTeachingApi/Models/SchoolsExperienceSignUp.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperienceSignUpTests.cs
Labels: Test, VisualCSharp

#644 Change SchoolUrn to be 6 digit int
  GetIntoTeachingApi/Models/ClassroomExperienceNote.cs
  GetIntoTeachingApi/Models/Validators/ClassroomExperienceNoteValidator.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Models/CandidateTests.cs
  GetIntoTeachingApiTests/Models/ClassroomExperienceNoteTests.cs
  GetIntoTeachingApiTests/Models/Validators/ClassroomExperienceNoteValidatorTests.cs
Labels: Test, VisualCSharp

#645 Make date optional in ClassroomExperienceNote
  GetIntoTeachingApi/Models/ClassroomExperienceNote.cs
  GetIntoTeachingApi/Models/Validators/ClassroomExperienceNoteValidator.cs
  GetIntoTeachingApiTests/Models/ClassroomExperienceNoteTests.cs
  GetIntoTeachingApiTests/Models/Validators/ClassroomExperienceNoteValidatorTests.cs
Labels: Test, VisualCSharp

#647 Add support for comma-separated query string values
  GetIntoTeachingApi/Attributes/CommaSeparatedAttribute.cs
  GetIntoTeachingApi/Attributes/CommaSeparatedQueryStringAttribute.cs
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Startup.cs
  GetIntoTeachingApi/Utils/CommaSeparatedQueryStringConvention.cs
  GetIntoTeachingApi/Utils/CommaSeparatedQueryStringValueProvider.cs
  GetIntoTeachingApi/Utils/CommaSeparatedQueryStringValueProviderFactory.cs
  GetIntoTeachingApiTests/Utils/CommaSeparatedQueryStringValueProviderFactoryTests.cs
  GetIntoTeachingApiTests/Utils/CommaSeparatedQueryStringValueProviderTests.cs
Labels: Test, VisualCSharp
