Repository DFE-Digital/get-into-teaching-api, pull requests merged in 2022-07, with the labels that each got.

#1017 [592] Grafana GiT services traffic dashboard
  monitoring/grafana/dashboards/git_services_traffic.json
  terraform/paas/monitoring.tf
Labels: DevOps, Monitoring

#1021 Remove action workflow
  .github/workflows/restart_prometheus.yml
Labels: DevOps

#1029 Various dependency updates
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Jobs/ClaimCallbackBookingSlotJobTests.cs
Labels: Test
