Repository DFE-Digital/get-into-teaching-api, pull requests merged in 2022-04, with the labels that each got.

#956 Update school experience statuses
  GetIntoTeachingApi/Models/Crm/CandidateSchoolExperience.cs
Labels: VisualCSharp

#959 [559] Local development keyvault
  Makefile
Labels: DevOps

#958 Add alerts for a high number of CSP violations
  monitoring/prometheus/alert.rules
Labels: Monitoring

#962 Updated CRM models for Apply API v1.2
  GetIntoTeachingApi/Models/Crm/ApplicationChoice.cs
  GetIntoTeachingApi/Models/Crm/ApplicationForm.cs
  GetIntoTeachingApi/Models/Crm/ApplicationInterview.cs
  GetIntoTeachingApi/Models/Crm/ApplicationReference.cs
  GetIntoTeachingApi/Models/Crm/Validators/ApplicationChoiceValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/ApplicationFormValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/ApplicationInterviewValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/ApplicationReferenceValidator.cs
  GetIntoTeachingApi/Models/IHasFindApplyId.cs
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Models/Crm/ApplicationChoiceTests.cs
  GetIntoTeachingApiTests/Models/Crm/ApplicationFormTests.cs
  GetIntoTeachingApiTests/Models/Crm/ApplicationInterviewTests.cs
  GetIntoTeachingApiTests/Models/Crm/ApplicationReferenceTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ApplicationChoiceValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ApplicationInterviewValidatorTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ApplicationReferenceValidatorTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

#967 Add contract tests for the Apply API integration
  GetIntoTeachingApiTests/Contracts/ApplyCandidateApiTests.cs
  GetIntoTeachingApiTests/Contracts/BaseTests.cs
  GetIntoTeachingApiTests/Contracts/Data/application_forms.json
  GetIntoTeachingApiTests/Contracts/Data/candidates.json
  GetIntoTeachingApiTests/Contracts/Data/teacher_training_adviser/candidates.json
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_a_new_candidaite_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_a_new_candidaite_and_no_application_form.json
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_an_existing_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidaite_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidaite_and_no_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Helpers/ContractCrmService.cs
  GetIntoTeachingApiTests/Helpers/ContractTestGitWebApplicationFactory.cs
  GetIntoTeachingApiTests/Helpers/ContractTestOrganizationServiceAdapter.cs
Labels: Test

#963 Updated Apply models for API v1.2
  GetIntoTeachingApi/Models/FindApply/ApplicationChoice.cs
  GetIntoTeachingApi/Models/FindApply/ApplicationForm.cs
  GetIntoTeachingApi/Models/FindApply/ApplicationResponse.cs
  GetIntoTeachingApi/Models/FindApply/Candidate.cs
  GetIntoTeachingApi/Models/FindApply/Course.cs
  GetIntoTeachingApi/Models/FindApply/Interview.cs
  GetIntoTeachingApi/Models/FindApply/Provider.cs
  GetIntoTeachingApi/Models/FindApply/Reference.cs
  GetIntoTeachingApiTests/Models/FindApply/ApplicationChoiceTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ApplicationFormTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ApplicationResponseTests.cs
  GetIntoTeachingApiTests/Models/FindApply/CandidateTests.cs
  GetIntoTeachingApiTests/Models/FindApply/CourseTests.cs
  GetIntoTeachingApiTests/Models/FindApply/InterviewTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ProviderTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ReferenceTests.cs
Labels: VisualCSharp, Test

#964 Add ApplicationFormUpsert job
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Jobs/UpsertApplicationFormJob.cs
  GetIntoTeachingApi/Jobs/UpsertModelWithCandidateIdJob.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Helpers/ContractCrmService.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertApplicationFormJobTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertModelWithCandidateIdJobTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

#965 Support v1.2 of the Apply candidate API
  GetIntoTeachingApi/Jobs/FindApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApiTests/Jobs/FindApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

#969 Add contract tests for v1.2 of the Apply API integration
  GetIntoTeachingApiTests/Contracts/ApplyCandidateApiTests.cs
  GetIntoTeachingApiTests/Contracts/BaseTests.cs
  GetIntoTeachingApiTests/Contracts/Data/application_choices.json
  GetIntoTeachingApiTests/Contracts/Data/application_forms.json
  GetIntoTeachingApiTests/Contracts/Data/application_interviews.json
  GetIntoTeachingApiTests/Contracts/Data/application_references.json
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_a_new_candidaite_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_a_new_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_an_existing_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidaite_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/TeacherTrainingAdviserTests.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Helpers/ContractCrmService.cs
Labels: Test

#970 Workflow to rebuild master docker image
  .github/workflows/build-no-cache.yml
  Dockerfile
Labels: DevOps, Docker

#971 Remove references to ACTIONS-API-ACCESS-TOKEN
  .github/workflows/build.yml
  .github/workflows/manual.yml
Labels: DevOps
