Repository DFE-Digital/get-into-teaching-api, pull requests merged in 2022-05, with the labels that each got.

#972 Migrate non-secret environment variables into .env files
  .gitignore
  GetIntoTeachingApi/.env.dev
  GetIntoTeachingApi/.env.production
  GetIntoTeachingApi/.env.staging
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
  Makefile
  README.md
Labels: VisualCSharp, Test

#973 Fix dotenv environment names
  GetIntoTeachingApi/.env.prod
  GetIntoTeachingApi/.env.test
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

#974 Fix dotenv file path
  GetIntoTeachingApi/AppStart/Startup.cs
Labels: VisualCSharp

#975 [528] Remove GITHUB_TOKEN when not necessary
  .github/workflows/actions/deploy/action.yml
  .github/workflows/build-no-cache.yml
  .github/workflows/build.yml
  .github/workflows/manual.yml
  .github/workflows/pull_request.yml
  .github/workflows/restart_prometheus.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/trello.yml
Labels: DevOps

#979 Increase HighJobsWaiting threshold
  monitoring/prometheus/alert.rules
Labels: Monitoring

#989 Various dependency updates
  GetIntoTeachingApi/Adapters/IOrganizationServiceAdapter.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Models/PickListItem.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Helpers/ContractTestOrganizationServiceAdapter.cs
  GetIntoTeachingApiTests/Models/PickListItemTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

#995 Add new date fields to ApplicationReference
  GetIntoTeachingApi/Models/Crm/ApplicationReference.cs
  GetIntoTeachingApi/Models/FindApply/Reference.cs
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_a_new_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Input/ApplyCandidateApi/sync_with_an_existing_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Models/Crm/ApplicationReferenceTests.cs
  GetIntoTeachingApiTests/Models/FindApply/ReferenceTests.cs
Labels: VisualCSharp, Test
