Repository DFE-Digital/get-into-teaching-api, pull requests merged in 2022-10, with the labels that each got.

#1081 Attempt to make the health check more robust
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
  GetIntoTeachingApi/Adapters/OrganizationServiceAdapter.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

#1088 [701] Pin github actions to major version
  .github/workflows/actions/deploy/action.yml
  .github/workflows/build-no-cache.yml
  .github/workflows/build.yml
Labels: DevOps

#1089 Add a GSE alert for CSRF token errors
  monitoring/prometheus/alert.rules
Labels: Monitoring

#1091 Allow event search with radius but without postcode
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/TeachingEventSearchRequestValidator.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventSearchRequestValidatorTests.cs
  GetIntoTeachingApiTests/Services/StoreTests.cs
Labels: VisualCSharp, Test

#1093 Various dependency updates (inc major version bumps)
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Mocks/MockModel.cs
  GetIntoTeachingApi/Mocks/MockRelatedModel.cs
  GetIntoTeachingApi/Models/Crm/ApplicationChoice.cs
  GetIntoTeachingApi/Models/Crm/ApplicationForm.cs
  GetIntoTeachingApi/Models/Crm/ApplicationInterview.cs
  GetIntoTeachingApi/Models/Crm/ApplicationReference.cs
  GetIntoTeachingApi/Models/Crm/BaseModel.cs
  GetIntoTeachingApi/Models/Crm/CallbackBookingQuota.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/CandidatePastTeachingPosition.cs
  GetIntoTeachingApi/Models/Crm/CandidatePrivacyPolicy.cs
  GetIntoTeachingApi/Models/Crm/CandidateQualification.cs
  GetIntoTeachingApi/Models/Crm/CandidateSchoolExperience.cs
  GetIntoTeachingApi/Models/Crm/PhoneCall.cs
  GetIntoTeachingApi/Models/Crm/PrivacyPolicy.cs
  GetIntoTeachingApi/Models/Crm/TeachingEvent.cs
  GetIntoTeachingApi/Models/Crm/TeachingEventBuilding.cs
  GetIntoTeachingApi/Models/Crm/TeachingEventRegistration.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Helpers/ContractTestOrganizationServiceAdapter.cs
  GetIntoTeachingApiTests/Helpers/GitWebApplicationFactory.cs
  GetIntoTeachingApiTests/Helpers/MockOrganizationServiceAdapter.cs
  GetIntoTeachingApiTests/Models/Crm/BaseModelTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

#1094 Remove unused event search endpoint
  GetIntoTeachingApi/Controllers/GetIntoTeaching/TeachingEventsController.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/TeachingEventsControllerTests.cs
Labels: VisualCSharp, Test
