Repository DFE-Digital/get-into-teaching-api, pull requests merged in 2022-01, with the labels that each got.

#896 Add candidate ID parameter to add school experience action
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

#893 Remove unused fields from the SchoolExperienceSignUp
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/Models/SchoolsExperience/Validators/SchoolsExperienceSignUpValidator.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/SchoolsExperienceSignUpValidatorTests.cs
Labels: VisualCSharp, Test

#895 Output v3 Open API specification
  GetIntoTeachingApi/AppStart/Startup.cs
Labels: VisualCSharp

#892 Get candidates with different primary and secondary phone numbers
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Services/CrmService.cs
  GetIntoTeachingApi/Services/ICrmService.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

#900 Use address telephone instead of telephone as primary number
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/SchoolsExperienceSignUpValidatorTests.cs
Labels: VisualCSharp, Test

#901 Workflow/enhancements
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/fix-network-policy.yml
  .github/workflows/manual.yml
  .github/workflows/restart_prometheus.yml
Labels: DevOps

#902 Ignore assets in HighNotFound app alert
  monitoring/prometheus/alert.rules
Labels: Monitoring

#903 Add new event search endpoint (ungrouped)
  GetIntoTeachingApi/Controllers/GetIntoTeaching/TeachingEventsController.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/TeachingEventsControllerTests.cs
Labels: VisualCSharp, Test

#904 Remove feature flag from endpoint to add a new CandidateSchoolExperience
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
Labels: VisualCSharp, Test

#907 Use compact JSON in production logs
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/appsettings.Production.json
  GetIntoTeachingApi/appsettings.json
Labels: VisualCSharp

#908 Revert "Use compact JSON in production logs"
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/appsettings.Production.json
  GetIntoTeachingApi/appsettings.json
Labels: VisualCSharp

#909 Use compact JSON in production logs (Take 2)
  GetIntoTeachingApi/Program.cs
  GetIntoTeachingApi/appsettings.Production.json
  GetIntoTeachingApi/appsettings.Staging.json
  GetIntoTeachingApi/appsettings.json
Labels: VisualCSharp

#906 Remove ClassroomExperienceNote model and endpoint
  GetIntoTeachingApi/Controllers/SchoolsExperience/CandidatesController.cs
  GetIntoTeachingApi/Jobs/AddClassroomExperienceNoteJob.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/SchoolsExperience/ClassroomExperienceNote.cs
  GetIntoTeachingApi/Models/SchoolsExperience/Validators/ClassroomExperienceNoteValidator.cs
  GetIntoTeachingApiTests/Controllers/SchoolsExperience/CandidatesControllerTests.cs
  GetIntoTeachingApiTests/Jobs/AddClassroomExperienceNoteJobTests.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/ClassroomExperienceNoteTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/ClassroomExperienceNoteValidatorTests.cs
Labels: VisualCSharp, Test
