Repository DFE-Digital/get-into-teaching-api, pull requests merged in 2022-08, with the labels that each got.

#1035 Update GSE delayed job alerting rules
  monitoring/prometheus/alert.rules
Labels: Monitoring

#1036 Fix alert rule conditional
  monitoring/prometheus/alert.rules
Labels: Monitoring

#1038 Remove unused SecondaryEmail attribute from Candidate
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Utils/Redactor.cs
  GetIntoTeachingApiTests/Models/Crm/CandidateTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
Labels: VisualCSharp, Test

#1044 [660] Update SE delayed job route
  terraform/paas/dev.env.tfvars
  terraform/paas/sandbox.bk.vars
  terraform/paas/sandbox.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps

#1045 Various dependency updates
  GetIntoTeachingApi/AppStart/DatabaseUtility.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApi/Properties/launchSettings.json
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
  GetIntoTeachingApiTests/Helpers/NotThreadSafeResourceCollection.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventSearchRequestTests.cs
  GetIntoTeachingApiTests/Utils/EnvTests.cs
Labels: VisualCSharp, Test

#1046 Update postcode CSV URL
  GetIntoTeachingApi/Jobs/LocationSyncJob.cs
  GetIntoTeachingApiTests/Jobs/LocationSyncJobTests.cs
Labels: VisualCSharp, Test

#1048 Update Terraform StatusCake provider to 2.0.3
  terraform/paas/provider.tf
  terraform/paas/statuscake.tf
  terraform/paas/variables.tf
Labels: DevOps, Review
