Repository DFE-Digital/get-into-teaching-api, pull requests merged in 2022-09, with the labels that each got.

#1051 Upgrade Terraform to version 1.2.8
  .github/workflows/actions/deploy/action.yml
  terraform/paas/.gitignore
  terraform/paas/.terraform.lock.hcl
  terraform/paas/dev.bk.vars
  terraform/paas/production.bk.vars
  terraform/paas/provider.tf
  terraform/paas/test.bk.vars
  terraform/paas/variables.tf
Labels: DevOps, Review

#1056 Fix prometheus reference to SE staging
  terraform/paas/production.env.tfvars
Labels: DevOps

#1059 Add Prometheus targets for dev/staging Sidekiq instances
  terraform/paas/dev.env.tfvars
  terraform/paas/production.env.tfvars
Labels: DevOps

#1060 Pin azurerm provider version
  terraform/paas/.terraform.lock.hcl
  terraform/paas/provider.tf
Labels: DevOps, Review

#1063 Add Prometheus target for sidekiq production
  terraform/paas/production.env.tfvars
Labels: DevOps

#1062 Update job alerts for Sidekiq
  monitoring/prometheus/alert.rules
Labels: Monitoring

#1065 Support Get into Teaching events
  GetIntoTeachingApi/Models/Crm/TeachingEvent.cs
  GetIntoTeachingApiTests/Services/CrmServiceTests.cs
Labels: VisualCSharp, Test

#1070 Re-instate stricter TeachingEvent.ReadableId validation
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/TeachingEventUpsertOperationValidator.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventUpsertOperationValidatorTests.cs
Labels: VisualCSharp, Test
