Repository DFE-Digital/get-into-teaching-api, pull requests merged in 2022-11, with the labels that each got.

#1102 Increase CSP violation threshold in app
  monitoring/prometheus/alert.rules
Labels: Monitoring

#1090 Stop using set-output in workflows
  .github/workflows/actions/deploy/action.yml
  .github/workflows/build-no-cache.yml
  .github/workflows/build.yml
Labels: DevOps, Review, github_actions

#1110 Upgrade to .NET Core 7
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
  Dockerfile
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: DevOps, Test, Docker

#1114 Increase CdsSeviceClient timeout
  GetIntoTeachingApi/Adapters/CdsServiceClientWrapper.cs
Labels: VisualCSharp
