Repository DFE-Digital/get-into-teaching-api, pull requests merged in 2023-06, with the labels that each got.

#1245 Add matchback API to mailing list
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/Controllers/GetIntoTeaching/CallbacksController.cs
  GetIntoTeachingApi/Controllers/GetIntoTeaching/MailingListController.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/CallbacksControllerTests.cs
Labels: VisualCSharp, Test

#1246 Replace operation ID as it's already exists in the another endpoint
  GetIntoTeachingApi/Controllers/GetIntoTeaching/CallbacksController.cs
Labels: VisualCSharp

#1252 Deploy Redis
  terraform/aks/config/development_aks.tfvars.json
  terraform/aks/databases.tf
  terraform/aks/variables.tf
Labels: DevOps

#1250 Various dependency updates
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

#1254 Add google localised domains to white list them from the alert rule
  monitoring/prometheus/alert.rules
Labels: Monitoring
