Repository DFE-Digital/get-into-teaching-api, pull requests merged in 2023-05, with the labels that each got.

#1233 Update architecture/deployment documentation
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  README.md
  docs/architecture/architecture.drawio
  docs/architecture/architecture.png
Labels: VisualCSharp

#1234 Various dependency updates
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

#587 Add Teaching Event Building validator
  GetIntoTeachingApi/Models/Validators/TeachingEventBuildingValidator.cs
  GetIntoTeachingApiTests/Models/Validators/TeachingEventBuildingValidatorTests.cs
Labels: VisualCSharp, Test

#1238 Various dependency updates
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

#1242 Add GiT adviser sign ups panel
  monitoring/grafana/dashboards/get_into_teaching_api.json
Labels: Monitoring
