Repository DFE-Digital/get-into-teaching-api, pull requests merged in 2023-07, with the labels that each got.

#1264 Add aks env name for new config structure
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
Labels: VisualCSharp

#1265 Add env var to check redis connection string is present
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
Labels: VisualCSharp

#1266 Add additional env var to disable prometheus metrics
  .github/workflows/build.yml
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Utils/Env.cs
  GetIntoTeachingApi/Utils/IEnv.cs
Labels: DevOps, VisualCSharp

#1267 Add clarity to exclusion domain in the alert rule
  monitoring/prometheus/alert.rules
Labels: Monitoring

#1269 Bump up versions of the libraries
  GetIntoTeachingApi/GetIntoTeachingApi.csproj
  GetIntoTeachingApiTests/GetIntoTeachingApiTests.csproj
Labels: Test

#1268 Fix redis configuration in case redis connection string is used for aks
  .github/workflows/build.yml
  GetIntoTeachingApi/Services/RedisService.cs
Labels: DevOps, VisualCSharp

#1276 Add healthcheck for aks probe
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Controllers/OperationsController.cs
Labels: VisualCSharp

#1271 Deploy application
  .gitignore
  Makefile
  terraform/aks/.terraform.lock.hcl
  terraform/aks/application.tf
  terraform/aks/config/development_aks.tfvars.json
  terraform/aks/databases.tf
  terraform/aks/provider.tf
  terraform/aks/variables.tf
Labels: DevOps

#1277 Update Azure Redis Max Memory policy
  terraform/aks/databases.tf
Labels: DevOps
