Repository DFE-Digital/get-into-teaching-api, pull requests merged in 2025-03, with the labels that each got.

#1504 Revert Merge pull request #1501
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Jobs/ApplyCandidateSyncJob.cs
  GetIntoTeachingApi/Jobs/ContactChannelCandidateWrapper.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/ContactChannelCreation.cs
  GetIntoTeachingApi/Models/Crm/ICreateContactChannel.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/Crm/Validators/ContactChannelCreationValidator.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/GetIntoTeachingCallback.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/TeachingEventAddAttendee.cs
  GetIntoTeachingApi/Models/SchoolsExperience/SchoolsExperienceSignUp.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUp.cs
  GetIntoTeachingApi/Services/CandidateUpserter.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_a_new_candidate_and_no_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_application_form.json
  GetIntoTeachingApiTests/Contracts/Output/ApplyCandidateApi/sync_with_an_existing_candidate_and_fully_populated_application_form.json
  GetIntoTeachingApiTests/Controllers/OperationsControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Jobs/ApplyCandidateSyncJobTests.cs
  GetIntoTeachingApiTests/Jobs/ContactChannelCandidateWrapperTests.cs
  GetIntoTeachingApiTests/Jobs/UpsertCandidateJobTests.cs
  GetIntoTeachingApiTests/Models/Crm/ContactChannelCreationTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/ContactChannelCreationValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/GetIntoTeachingCallbackTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TeachingEventAddAttendeeTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/GetIntoTeachingCallbackValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/MailingListAddMemberValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/TeachingEventAddAttendeeValidatorTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/SchoolsExperienceSignUpTests.cs
  GetIntoTeachingApiTests/Models/SchoolsExperience/Validators/SchoolsExperienceSignUpValidatorTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/TeacherTrainingAdviserSignUpTests.cs
  GetIntoTeachingApiTests/Services/CandidateUpserterTests.cs
Labels: VisualCSharp, Test

#1503 Work to infer the degree status from the graduation year provided.
  GetIntoTeachingApi/AppStart/Startup.cs
  GetIntoTeachingApi/Controllers/GetIntoTeaching/MailingListController.cs
  GetIntoTeachingApi/Models/Crm/CandidateQualification.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatus.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Common/ChainEvaluationHandler.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Common/Extensions/ChainEvaluationHandlerExtensions.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Common/IChainEvaluationHandler.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Common/IEvaluator.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/CompositionRoot.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/CurrentYearProvider.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/DegreeStatusDomainService.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Evaluators/DegreeStatusInferenceRequest.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Evaluators/InferAlreadyHasDegree.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Evaluators/InferFinalYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Evaluators/InferFirstYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/Evaluators/InferSecondYearOfDegree.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/GraduationYear.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/ICurrentYearProvider.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/DomainServices/IDegreeStatusDomainService.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/IInferDegreeStatus.cs
  GetIntoTeachingApi/Models/Crm/DegreeStatusInference/Readme.txt
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/Validators/MailingListAddMemberValidator.cs
  GetIntoTeachingApi/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidator.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/PartialIntegration/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/CurrentYearProviderTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/DegreeStatusDomainServiceTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferAlreadyHasDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFinalYearOfDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferFirstYearOfDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/Evaluators/InferSecondYearOfDegreeTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/GraduationYearTests.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/TestDoubles/ChainEvaluationHandlerStub.cs
  GetIntoTeachingApiTests/Models/Crm/DomainServices/DegreeStatusInference/TestDoubles/CurrentYearProviderTestDouble.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TestDoubles/CurrentYearProviderTestDouble.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/TestDoubles/DegreeStatusDomainServiceTestDouble.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/Validators/MailingListAddMemberValidatorTests.cs
  GetIntoTeachingApiTests/Models/TeacherTrainingAdviser/Validators/TeacherTrainingAdviserSignUpValidatorTests.cs
Labels: VisualCSharp, Test

#1502 Update get into teaching api workflows to use ga wif
  .github/workflows/actions/deploy_v2/action.yml
  .github/workflows/build-and-deploy.yml
  .github/workflows/build-no-cache.yml
  .github/workflows/manual.yml
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/trello.yml
  Makefile
  README.md
  global_config/development.sh
  global_config/production.sh
  global_config/test.sh
  terraform/aks/.terraform.lock.hcl
  terraform/aks/config/development.tfvars.json
  terraform/aks/config/production.tfvars.json
  terraform/aks/config/test.tfvars.json
  terraform/aks/provider.tf
  terraform/aks/variables.tf
Labels: DevOps

#1505 Added candidate situation to picklist and updated mailing list API to…
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
Labels: VisualCSharp, Test

#1506 Revert Added candidate situation to picklist
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
Labels: VisualCSharp, Test

#1509 So/so/7577 update api to pass life stage data to crm new
  GetIntoTeachingApi/Controllers/PickListItemsController.cs
  GetIntoTeachingApi/Models/Crm/Candidate.cs
  GetIntoTeachingApi/Models/Crm/Validators/CandidateValidator.cs
  GetIntoTeachingApi/Models/GetIntoTeaching/MailingListAddMember.cs
  GetIntoTeachingApi/Services/Store.cs
  GetIntoTeachingApiTests/Controllers/GetIntoTeaching/MailingListControllerTests.cs
  GetIntoTeachingApiTests/Controllers/PickListItemsControllerTests.cs
  GetIntoTeachingApiTests/Models/Crm/Validators/CandidateValidatorTests.cs
  GetIntoTeachingApiTests/Models/GetIntoTeaching/MailingListAddMemberTests.cs
Labels: VisualCSharp, Test

#1508 Implement agreed fixes to address Apply data synch issues
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
Labels: VisualCSharp

#1507 Move workflow secrets to github
  .github/workflows/build-and-deploy.yml
  .github/workflows/build-no-cache.yml
  .github/workflows/pull_request.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/trello.yml
Labels: DevOps

#1515 Temporary revert concurrent hangfire background processes from 1 back to 20
  GetIntoTeachingApi/AppStart/ServiceCollectionExtensions.cs
Labels: VisualCSharp
